<table>
    <thead>
    <tr>
        <th>{{ 'Category'|trans }}</th>
        {% for year in 2008..2013 %}
            <th>{{ year }}</th>
        {% endfor %}

    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <td> Category </td>
            {% for year in 2008..2013 %}
                <td>$ {{ row }}000 </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>