{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Purchase Requisition'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_purchase_order_garment',{'mode':'list'})}}"><i class="fa fa-th-large"></i> Requisition Order</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'pending' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_purchase_order_garment',{'mode':'pending'})}}"><i class="fa fa-th-large"></i> Pending Requisition</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'partial' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_purchase_order_garment',{'mode':'partial'})}}"><i class="fa fa-th-large"></i> Partial Requisition</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archive' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_purchase_order_garment',{'mode':'archive'})}}"><i class="feather icon-file"></i> Archive</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <form action="" method="get">
                                <tr role="row">
                                    <td colspan="2">{{ form_widget(searchForm.requisitionNo) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.jobRequisition) }}</td>
                                    <td>{{ form_widget(searchForm.unit) }}</td>
                                    <td>{{ form_widget(searchForm.createdBy) }}</td>
                                    <td>{{ form_widget(searchForm.department) }}</td>
                                    <td>{{ form_widget(searchForm.priority) }}</td>
                                    <td colspan="2"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                    <td colspan="2"><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                    <td colspan="3">{{ form_widget(searchForm.keyword) }}</td>
                                    <td>{{ form_widget(searchForm.filter) }}</td>
                                </tr>
                                <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                {{ form_widget(searchForm._token) }}
                                </form>
                                {%  set sort = app.request.query.get('sort') %}
                                {%  set direction = app.request.query.get('direction') %}
                                <tr>
                                    <th{% if pagination.isSorted('e.created') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created', 'e.created') }}<span>{% if( direction == 'desc' and sort == 'e.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Received</th>
                                    <th scope="col">Created By</th>
                                    <th{% if pagination.isSorted('e.requisitionNo') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Requisition No.', 'e.requisitionNo') }}<span>{% if( direction == 'desc' and sort == 'e.requisitionNo') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('jobRequisition') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Job Approval', 'jobRequisition') }}<span>{% if( direction == 'desc' and sort == 'jobRequisition') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('unit') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Comapny Unit', 'unit') }}<span>{% if( direction == 'desc' and sort == 'unit') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('sec.section') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Section', 'sec.section') }}<span>{% if( direction == 'desc' and sort == 'sec.section') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Department', 'd.name') }}<span>{% if( direction == 'desc' and sort == 'd.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Priority', 'p.name') }}<span>{% if( direction == 'desc' and sort == 'p.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">PR QTY</th>
                                    <th scope="col">RFQ QTY</th>
                                    <th scope="col">WO QTY</th>
                                    <th scope="col">Recv QTY</th>
                                    <th scope="col">Workorder</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            <td>
                                                {{ entity.created|date('d-m-Y') }}<br/>
                                                {% set difference = date(entity.created).diff(date("now"|date)) %}
                                                {% set leftDays = difference.format('Days %a Hours %H') %}
                                                {{ leftDays }}
                                            </td>
                                            <td scope="col">{{ entity.updated|date('d-m-Y h:i a') }}</td>
                                            <td scope="col">{{ entity.createdBy }}</td>
                                            <td scope="col"><a target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.id,'mode':'preview'}) }}">{{ entity.requisitionNo }}</a></td>
                                            <td scope="col">
                                                {% if entity.jobRequisition %}
                                                <a target="_blank" href="{{ path('procure_jobrequisition_preview',{'id':entity.jobRequisition,'mode':'preview'}) }}">{{ entity.jobRequisitionNo }}</a>
                                                {% endif %}
                                            </td>
                                            <td scope="col">{% if entity.unit is not empty %}{{ entity.unit }}{% endif %}</td>
                                            <td scope="col">{% if entity.section is not empty %}{{ entity.section }}{% endif %}</td>
                                            <td scope="col">{% if entity.department is not empty %}{{ entity.department }}{% endif %}</td>
                                            <td scope="col">{{ entity.priority }}</td>
                                            <td scope="col">{{ entity.subTotal|number_format(2) }}</td>
                                            <td scope="col">{{ entity.quantity }}</td>
                                            <td scope="col">{{ entity.issueQuantity }}</td>
                                            <td scope="col">{{ entity.workorderQuantity }}</td>
                                            <td scope="col">{{ entity.receiveQuantity }}</td>
                                            <td scope="col">
                                                {% if workOrders[entity.requisitionNo] is defined and workOrders[entity.requisitionNo] is not empty %}
                                                    {% for tender in workOrders[entity.requisitionNo] %}
                                                        <a  target="_blank" href="{{ path('procure_tender_garments_workorder_preview',{'id':tender['workOrderId'],'mode':'preview'}) }}"><b> {{ tender['workOrderInvoice'] }}</b></a>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td scope="col text-center">
                                                <div class="btn-group" >
                                                    <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                    {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_PROCUREMENT_TENDER','ROLE_PROCUREMENT_ADMIN']) and app.user.checkBundle(['procurement']) and entity.process != 'Closed' and entity.waitingProcess == 'Approved' %}
                                                    <a class='btn btn-mini green-bg white-font' href='{{ path('procure_tender_topr_garments',{'id':entity.id}) }}' id='{{ entity.id }}' >Process <i class='feather icon-arrow-right'></i></a>
                                                    {% endif %}
                                                    {% if entity.process != "Closed" %}
                                                        <div class="dropdown">
                                                            <button type="button" class="btn btn-mini btn-notify dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                                                            <div class="dropdown-content">
                                                                <a class="" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Print Preview</a>
                                                                {% if (app.user.hasRoles(['ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN'])  and entity.waitingProcess == "Approved" and entity.isRevised != 1 and entity.issueQuantity == 0 ) %}
                                                                    <a class='' href='{{ path('procure_purchase_order_garment_revised',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-reverse'></i> Revised </a>
                                                                {% endif %}
                                                                {% if (app.user.hasRoles(['ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN'])  and entity.waitingProcess == "Approved" and entity.isRevised != 1) %}
                                                                    <a class='confirm' href='{{ path('procure_purchase_order_garment_closed',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-close'></i> Closed </a>
                                                                {% endif %}

                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <br/>
                                                {% if entity.quantity > entity.issueQuantity and entity.issueQuantity > 0   %}
                                                    <a class='btn btn-mini yellow-bg white-font' href="javascript:">Partial</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
