{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Item Status'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                            {{ form_start(searchForm, {'attr': {'class': 'form-horizontal right','id':'reportForm','data-action':path('procurement_report_dashboard_ajax_process')}}) }}
                            <div class="col-md-12 table-responsive">
                                <table class="table table-striped table-bordered table-hover display nowrap">
                                    <tr role="row">
                                        <td colspan="3" >{{ form_widget(searchForm.itemName) }}</td>
                                        <td colspan="2" >{{ form_widget(searchForm.requisitionNo) }}</td>
                                        <td>{{ form_widget(searchForm.department) }}</td>
                                        <td>{{ form_widget(searchForm.branch) }}</td>
                                        <td colspan="3"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td colspan="3"><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td><input type="hidden" name="reportMode" id="reportMode">
                                            <button value="req-item-flow" type="button" id="search" name="search" class="btn btn-sm search purple-bg white-font btn">Filter</button></td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </table>
                            </div>
                            </form>
                    </div>
                    <div id="ajaxDataLoad"></div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <script>
        function exportDataTableExcel() {
            let table = document.querySelector("#datatableScroll");
            TableToExcel.convert(table);
        }
    </script>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
