{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Comapny Item Wise PR Report'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                            <a target="_blank" href="{{ path('item_wise_pr_report',{'mode': 'pdf','filterBy': filterBy}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a target="_blank" href="{{ path('item_wise_pr_report',{'mode': 'excel','filterBy': filterBy}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="px-0 py-3">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(searchForm) }}
                                <table class="table table-striped table-bordered table-hover display nowrap item-wise-pr-report-filter">
                                    <thead class="thead-transparent">
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.company,'Company Name: ') }}</th>
                                        <th>{{ form_widget(searchForm.company) }}</th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.department,'Department Name: ') }}</th>
                                        <th>{{ form_widget(searchForm.department) }}</th>
                                    </tr>
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.startDate,'From Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.endDate,'To Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></th>
                                    </tr>
                                    <tr role="row">
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-right">{{ form_widget(searchForm.filter,{'label':'Search'}) }}</th>
                                        {{ form_widget(searchForm._token) }}
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% if filterBy is defined and filterBy is not empty  %}
                        <div class="row">
                            <div class="col-md-12">
                                <iframe src="{{ path('company_pr_report',{'mode':'pdf', 'filterBy': filterBy}) }}" frameborder="0" width="100%" height="500px"></iframe>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered" >
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Unit Name</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Requisition</th>
                                    {% for priority in priorities %}
                                    <th scope="col">{{ priority.name }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% if entities['departments'] is not empty %}
                                    {% set i = 1  %}
                                    {% for entity in entities['departments'] %}
                                          {% for item in entity %}
                                            <tr>
                                                {% if loop.index==1 %}
                                                    <td rowspan="{{ entity|length }}">{{ i }}</td>
                                                    <td rowspan="{{ entity|length }}">{{ item.companyUnit }}</td>
                                                {% endif %}
                                                <td>{{ item.department }}</td>
                                                <td>{{ item.total }}</td>
                                                {% for priority in priorities %}

                                                    <td scope="col">
                                                        {% set keyId = item.unitId~'-'~item.departmentId~'-'~priority.id %}
                                                        {% if entities['priorities'] is defined and entities['priorities'][keyId] is defined is not empty %}{{ entities['priorities'][keyId]}}{% endif %}</td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <style>
        table.item-wise-pr-report-table{
            position: relative;
        }
        table.item-wise-pr-report-table thead tr th {
            position: sticky;
            top: 0;
        }
        table.item-wise-pr-report-filter thead tr th{
            border: 0 !important;
        }
        table.item-wise-pr-report-filter thead tr th:nth-child(odd) {
            /*text-align: right;*/
            width: 13%;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}