<table>
    <thead>
    <tr>
        <th colspan="4" align="center">Unifill Tex Group</th>
    </tr>
    <tr>
        <th colspan="4" align="center">Address: Nassa Heights 47, Level - 03, Bir Uttam AK Khandakar Rd, Dhaka 1212
        </th>
    </tr>
    <tr>
        <th></th>
    </tr>
    <tr>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Supplier Name'|trans }}</th>
        <th>{{ 'Amount'|trans }}</th>
        <th>{{ 'No of W/O'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is not empty %}
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.company }}</td>
                <td>{{ entity.amount|number_format(2) }}</td>
                <td>{{ entity.count }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>