{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ Main Content ] start -->
            <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Report dashboard'|trans }}</h5>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="card">
                    <div class="card-block">
                        <div class="px-0">
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                {{ form_start(searchForm, {'attr': {'class': 'form-horizontal right','id':'reportForm','data-action':path('procurement_report_dashboard_ajax_process')}}) }}
                                <table class="table table-striped table-bordered table-hover display nowrap item-wise-pr-report-filter">
                                        <thead class="thead-transparent">
                                        <tr role="row">
                                            <th>{{ form_label(searchForm.company,'Company Name: ') }}</th>
                                            <th>{{ form_widget(searchForm.company) }}</th>
                                            <th></th>
                                            <th></th>
                                            <th>{{ form_label(searchForm.department,'Department Name: ') }}</th>
                                            <th>{{ form_widget(searchForm.department) }}</th>
                                        </tr>
                                        <tr role="row">
                                            <th>{{ form_label(searchForm.category,'Category: ') }}</th>
                                            <th>{{ form_widget(searchForm.category) }}</th>
                                            <th></th>
                                            <th></th>
                                            <th>{{ form_label(searchForm.section,'Section: ') }}</th>
                                            <th>
                                                {{ form_widget(searchForm.section) }}
                                            </th>
                                        </tr>
                                        <tr role="row">
                                            <th>{{ form_label(searchForm.item,'Item Name: ') }}</th>
                                            <th>{{ form_widget(searchForm.item) }}</th>
                                            <th></th>
                                            <th></th>
                                            <th>{{ form_label(searchForm.itemMode,'Requisition Mode: ') }}</th>
                                            <th>{{ form_widget(searchForm.itemMode) }}</th>
                                        </tr>
                                        <tr role="row">
                                            <th>{{ form_label(searchForm.startDate,'From Date: ') }}</th>
                                            <th><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{ form_label(searchForm.endDate,'To Date: ') }}</th>
                                            <th>
                                                <div class="date-group">{{ form_widget(searchForm.endDate) }}
                                                    <input type="hidden" name="reportMode" id="reportMode" value="">
                                                </div>
                                            </th>
                                        </tr>
                                        <tr role="row">
                                            <th colspan="6">
                                                <div class="card-header"><h5>{{ 'Procurement Reports'|trans }}</h5></div>
                                            </th>
                                        </tr>
                                        <tr role="row">
                                            <td colspan="6">
                                                <div class="grid-dashboard">
                                                    <div class="col-md-12">
                                                    <button type="button" class="btn btn-sm green-bg white-font js-mytooltip col-md-12 search" data-mytooltip-custom-class="download-tooltip"
                                                                data-mytooltip-content="<ul class='mytooltip-li'><li><strong>Required</strong></li><li>Start Date</li><li>End Date</li></ul>"
                                                                data-mytooltip-direction="bottom"
                                                                data-mytooltip-theme="success"
                                                                value="requisition-urgent" >Req. Urget Report</button>
                                                    </div>
                                                    <div class="col-md-12">
                                                    <button type="button" class="btn btn-sm green-bg white-font js-mytooltip col-md-12 search" data-mytooltip-custom-class="download-tooltip"
                                                                data-mytooltip-content="<ul class='mytooltip-li'><li><strong>Required</strong></li><li>Start Date</li><li>End Date</li></ul>"
                                                                data-mytooltip-direction="bottom"
                                                                data-mytooltip-theme="success"
                                                                value="supplier-financial" >Supplier Financial</button>
                                                    </div>
                                                    <div class="col-md-12">
                                                    <button type="button" class="btn btn-sm green-bg white-font js-mytooltip col-md-12 search" data-mytooltip-custom-class="download-tooltip"
                                                                data-mytooltip-content="<ul class='mytooltip-li'><li><strong>Required</strong></li><li>Start Date</li><li>End Date</li></ul>"
                                                                data-mytooltip-direction="bottom"
                                                                data-mytooltip-theme="success"
                                                                value="factory-wo" >Factory wise W/O</button>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-sm green-bg white-font js-mytooltip col-md-12 search" data-mytooltip-custom-class="download-tooltip"
                                                                data-mytooltip-content="<ul class='mytooltip-li'><li><strong>Required</strong></li><li>Start Date</li><li>End Date</li></ul>"
                                                                data-mytooltip-direction="bottom"
                                                                data-mytooltip-theme="success" name="reportMode"
                                                                value="req-item-flow" >Req. wise Item Flow</button>
                                                    </div>
                                                </div>
                                                <div class="grid-dashboard px-0 py-1">
                                                    <div class="col-md-12">
                                                    <button type="button" class="btn btn-sm yellow-bg white-font js-mytooltip col-md-12 search" data-mytooltip-custom-class="download-tooltip"
                                                            data-mytooltip-content="<ul class='mytooltip-li'><li><strong>Required</strong></li><li>Company</li><li>Start Date</li><li>End Date</li></ul>"
                                                            data-mytooltip-direction="bottom"
                                                            data-mytooltip-theme="success"
                                                            value="workorder" >W/O Report</button>
                                                    </div>
                                                    <div class="col-md-12">
                                                    <button type="button" class="btn btn-sm yellow-bg white-font js-mytooltip col-md-12 search" data-mytooltip-custom-class="download-tooltip"
                                                            data-mytooltip-content="<ul class='mytooltip-li'><li><strong>Required</strong></li><li>Start Date</li><li>End Date</li></ul>"
                                                            data-mytooltip-direction="bottom"
                                                            data-mytooltip-theme="success"
                                                            value="wo-inhouse" >In-House Report</button>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-sm yellow-bg white-font js-mytooltip col-md-12 search" data-mytooltip-custom-class="download-tooltip"
                                                                data-mytooltip-content="<ul class='mytooltip-li'><li><strong>Required</strong></li><li>Start Date</li><li>End Date</li></ul>"
                                                                data-mytooltip-direction="bottom"
                                                                data-mytooltip-theme="success"
                                                                value="jobapproval-to-workorder" >Job Approval to Workorder</button>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-sm yellow-bg white-font js-mytooltip col-md-12 search" data-mytooltip-custom-class="download-tooltip"
                                                                data-mytooltip-content="<ul class='mytooltip-li'><li><strong>Required</strong></li><li>Start Date</li><li>End Date</li></ul>"
                                                                data-mytooltip-direction="bottom"
                                                                data-mytooltip-theme="success"
                                                                value="requisition-timeline" >Requisition Approve Timeline</button>
                                                    </div>
                                                </div>
                                                <div class="grid-dashboard px-0 py-1">
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-sm blue-bg white-font js-mytooltip col-md-12 search" data-mytooltip-custom-class="download-tooltip"
                                                                data-mytooltip-content="<ul class='mytooltip-li'><li><strong>Required</strong></li><li>Start Date</li><li>End Date</li></ul>"
                                                                data-mytooltip-direction="bottom"
                                                                data-mytooltip-theme="success"
                                                                value="workorder-item" >Workorder Item</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </thead>
                                    </table>
                                </form>
                                </div>
                            </div>
                        </div>
                        <div id="ajaxDataLoad"></div>
                    </div>
                </div>
            </div>
        <!-- [ Main Content ] end -->
    </div>
    <script>
        function exportDataTableExcel() {
            let table = document.querySelector("#datatableScroll");
            TableToExcel.convert(table);
        }
        function exportHtmlToExcel() {
            let table = document.querySelector("#htmlToExcel");
            TableToExcel.convert(table);
        }
    </script>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/report.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.js-mytooltip').myTooltip({
        'offset': 15,
        'theme': 'light'
    });
{% endblock %}