<div class="card">
    <div class="card-header">
        <h5>{{ 'Requisition Item Status Report'|trans }}</h5>
        <div class="card-header-right">
            <div class="btn-group btn-group-sm" >
                <button id="button-excel" onclick="exportDataTableExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</button>
            </div>
        </div>
    </div>
</div>
<style>
    table{
        border-collapse: collapse;
    }
    table tr td, table tr th{
        border: 1px solid #0a0909;
    }
    table tr td.right, table tr th.right{
        text-align: right;
    }
    table tr td.center, table tr th.center{
        text-align: center;
    }
</style>
<table id="datatableScroll" class="table">
    <thead>
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Req. Created</th>
        <th scope="col">Req No</th>
        <th scope="col">Company Unit</th>
        <th scope="col">Category</th>
        <th scope="col">Process Dept</th>
        <th scope="col">Item Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Size</th>
        <th scope="col">Color</th>
        <th scope="col">UOM</th>
        <th scope="col">Req QTY</th>
        <th scope="col">Req Rate</th>
        <th scope="col">Total Amount</th>
        <th scope="col">W/O QTY</th>
        <th scope="col">W/O Rate</th>
        <th scope="col">W/O Amount</th>
        <th scope="col">In-House QTY</th>
        <th scope="col">Inhouse Rate</th>
        <th scope="col">Inhouse Amount</th>
    </tr>
    </thead>
    <tbody>
    {% if pagination is not empty %}
        {% for item in pagination %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                <th><a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':item.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ item.requisitionNo }}" id="postView-{{ item.requisitionId }}">{{ item.requisitionNo }}</a></th>
                <td>{{ item.unitName }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.department }}</td>
                <td>{{ item.itemName }}</td>
                <td>{{ item.brandName }}</td>
                <td>{{ item.sizeName }}</td>
                <td>{{ item.colorName }}</td>
                <td>{{ item.uom }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ (item.price * item.quantity)|number_format(2) }}</td>
                <td>{{ item.workorderQuantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ (item.price * item.workorderQuantity)|number_format(2) }}</td>
                <td>{{ item.receiveQuantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ (item.price * item.workorderQuantity)|number_format(2) }}</td>
                </tr>

        {% endfor %}
    {% endif %}
    </tbody>
</table>
<script>
    function exportDataTableExcel() {
        let table = document.querySelector("#datatableScroll");
        TableToExcel.convert(table);
    }
</script>