{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Work Order'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {% if mode in ['send-to-vendor','archived'] %}
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'send-to-vendor' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_workorder_archived',{'mode':'send-to-vendor'})}}"><i class="feather icon-file"></i> Send to Vendor</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'archived' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_workorder_archived',{'mode':'archived'})}}"><i class="feather icon-file"></i> Archive</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tender_garments_workorder',{'mode':'list'})}}"><i class="fa fa-th-large"></i> All W/O</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'approve' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tender_garments_workorder',{'mode':'approve'})}}"><i class="feather icon-target"></i> Approve</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_workorder',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'my-archived' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_workorder',{'mode':'my-archived'})}}"><i class="feather icon-file"></i> My Archive</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'inhouse-pending' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_workorder',{'mode':'inhouse-pending'})}}"><i class="feather icon-file"></i> In-house Pending</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'inhouse-partial' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_workorder',{'mode':'inhouse-partial'})}}"><i class="feather icon-file"></i> In-house Partial</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'reject' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_workorder',{'mode':'reject'})}}"><i class="feather icon-file"></i> Rejected</a>
                                    </li>

                                    {#{% if (app.user.hasRoles(['ROLE_DOMAIN'])) %}
                                        <li class="nav-item">
                                            <a class="nav-link red-bg" href="{{ path('procure_tender_garments_workorder_requisition')}}"><i class="feather icon-file"></i> Update Workorder</a>
                                        </li>
                                    {% endif %}#}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-gray">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="2">{{ form_widget(searchForm.invoice) }}</td>
                                        <td colspan="2">{{ form_widget(searchForm.unit) }}</td>
                                        <td colspan="2">{{ form_widget(searchForm.vendor) }}</td>
                                        <td colspan="2"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td colspan="2"><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Created</th>
                                    <th scope="col">Work order</th>
                                    <th scope="col">Requisition</th>
                                    <th scope="col">Company Unit</th>
                                    <th scope="col">Vender/Supplier</th>
                                    <th scope="col">Workorder Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Waiting For</th>
                                    <th scope="col">GRNS</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Amendment</th>
                                    <th scope="col"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in  pagination %}
                                    <tr>
                                        <td>{{ entity.created|date('d-m-Y') }}</td>
                                        <td><a class="entity-show" data-action="{{ path('procure_tender_garments_workorder_show',{'id':entity.id}) }}" href="javascript:" data-title="TP No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><b>{{ entity.invoice }}</b></a></td>
                                        <td scope="col">
                                            {% if(entity.requisitionId) %}
                                                <a  target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.requisitionId,'mode':'preview'}) }}"><b> {{ entity.requisitionNo }}</b></a>
                                            {% elseif workOrders[entity.id] is defined and workOrders[entity.id] is not empty %}
                                                {% for tender in workOrders[entity.id] %}
                                                    <a  target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':tender['requisition'],'mode':'preview'}) }}"><b> {{ tender['requisitionNo'] }}</b></a>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>{% if entity.unit is not empty %}{{ entity.unit }}{% endif %}</td>
                                        <td>{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor }}{% endif %}</td>
                                        <td>{{ entity.workorderDate|date('d-m-Y') }}</td>
                                        <td>{{ entity.total|number_format(2) }}</td>
                                        <td>{% if entity.reportTo is not empty %}{{ entity.reportToName }}{% endif %}</td>
                                        <td>
                                            {% if grns[entity.id] is defined and grns[entity.id] is not empty %}
                                                {% for tender in grns[entity.id] %}
                                                    <span>{{ loop.index }}. </span><a  target="_blank" href="{{ path('procure_tender_garments_receive_preview',{'id':tender['receiveId'],'mode':'preview'}) }}"><b> {{ tender['grn'] }}</b></a><br/>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>{{ entity.process }}{% if entity.process == "Send to Vendor" %}<br/><strong>{{ entity.updated|date('d-m-Y') }}</strong>{% endif %}</td>
                                        <td>
                                            {% if entity.admendmentId %}
                                                <a class="entity-show" data-action="{{ path('procure_tender_garments_workorder_show',{'id':entity.admendmentId}) }}" href="javascript:" data-title="TP No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><b>{{ entity.admendmentInvoice }}</b></a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group" >
                                                {% if entity.waitingProcess == "New" or entity.waitingProcess == "Rejected" %}
                                                    {% if entity.admendmentId %}
                                                        <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_tender_garments_workorder_amendment_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                    {% else %}
                                                        <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_tender_garments_workorder_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                    {% endif %}
                                                        <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_tender_garments_workorder_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                {% endif %}
                                                {% if entity.process == "Approved" and app.user.hasRoles(['ROLE_PROCUREMENT_WORKORDER','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                                                    <a class='btn btn-mini purple-bg white-font' href='{{ path('procure_tender_garments_workorder_sendto_vendor',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-refresh'></i> Send to Vendor</a>
                                                {% endif %}
                                                {% if app.user.id == entity.reportTo %}
                                                    <a class='btn btn-mini purple-bg white-font' data-action='' href='{{ path('procure_tender_garments_workorder_process',{'id':entity.id}) }}' id='postViewdd-{{ entity.id }}' ><i class='feather icon-target'></i> Approve</a>
                                                {% endif %}
                                                <a class="btn btn-mini blue-bg white-font entity-show" href="javascript:" data-action="{{ path('procure_tender_garments_workorder_show',{'id':entity.id}) }}" data-title="Workprder No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                {% if entity.waitingProcess  not in ['New','Rejected'] %}
                                                    <div class="dropdown">
                                                        <button type="button" class="btn btn-mini btn-notify dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                                                        <div class="dropdown-content">
                                                            <a class="" target="_blank" href="{{ path('procure_tender_garments_workorder_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Print Preview</a>
                                                            {% if (app.user.hasRoles(['ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN']) and entity.waitingProcess == "Approved" ) %}
                                                                <a class='red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_tender_garments_workorder_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i> Delete</a>
                                                                <a class='red-font' href='{{ path('procure_tender_garments_workorder_amendment',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-retweet'></i> Amendment</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
