{% if entity.workorderMode == "PO-01" %}
    {% if entity.workOrderItems is not empty %}
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover display nowrap">
                    <thead class="thead-gray">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Requisition No</th>
                        <th scope="col">Category</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Description</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Total Amount(BDT)</th>
                        <th scope="col">Remain. Qty</th>
                        <th scope="col">WO-Qty</th>
                        <th scope="col">Discount</th>
                        <th scope="col">VAT</th>
                        <th scope="col">WO-Total</th>

                    </tr>
                    </thead>
                    <tbody id="invoice">
                    {% set total = 0 %}
                    {% set totalRemainingQty = 0 %}
                    {% set woQty = 0 %}
                    {% set totalDiscount = 0 %}
                    {% set totalVat = 0 %}
                    {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                        {% for item in entity.workOrderItems  %}
                            {% set total = total+item.subTotal %}
                            {% set woQty = woQty + item.quantity %}
                            {% set totalDiscount = totalDiscount + item.discount %}
                            {% set totalVat = totalVat + item.vat %}
                            <tr>
                                <td>{{ loop.index }}.</td>
                                <td>{% if item.requisition  %}<a class="" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisition.id,'mode':'preview'}) }}" >{{ item.requisition.requisitionNo }}</a>{% endif %}</td>
                                <td>{% if item.stockBook.item.category %}{{ item.stockBook.item.category.name }}{% endif %}</td>
                                <td>{{ item.stockBook.stockBookName }}</td>
                                <td>{{ item.stockBook.uom }}</td>
                                <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="description[]" value="{{ item.description }}" id="description-{{ item.id }}" data-id="{{ item.id }}"></td>
                                <td>{{ item.issueQuantity }}</td>
                                <td>{{ item.price|number_format(2) }}</td>
                                <td>{{ (item.price * item.issueQuantity)|number_format(2) }}</td>
                                <td>{{ item.issueQuantity - item.quantity }}</td>
                                <td><input type="text" class="td-input form-control updateWorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="quantity[]" value="{{ item.quantity }}" id="quantity-{{ item.id }}" data-id="{{ item.id }}" max="{{ item.issueQuantity }}" ></td>
                                <td>
                                    <input type="hidden" id="updateId-{{ item.id }}" name="updateId[]" value="{{ item.id }}">
                                    <input type="hidden" id="actualQuantity-{{ item.id }}" name="actualQuantity[]" value="{{ item.issueQuantity }}">
                                    <input type="hidden" class="td-input form-control updateWorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="price[]" value="{{ item.price }}" id="price-{{ item.id }}" data-id="{{ item.id }}" >
                                    <input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="discount[]" value="{{ item.discount }}" id="discount-{{ item.id }}" data-id="{{ item.id }}"></td>
                                <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="vat[]" value="{{ item.vat }}" id="vat-{{ item.id }}" data-id="{{ item.id }}"  ></td>
                                <td id="woSubTotal-{{ item.id }}">{{ item.grandTotal|number_format(2) }}</td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <th colspan="8" class="text-right">Sub-total</th>
                        <th><span>{{ entity.subTotal|number_format(2) }}</span></th>
                        <th class="text-left">{{ totalRemainingQty }}</th>
                        <th class="text-left">{{ woQty }}</th>
                        <th class="text-left">{{ totalDiscount|number_format(2) }}</th>
                        <th class="text-left">{{ totalVat|number_format(2) }}</th>
                        <th><span class="total">{{ entity.total|number_format(2) }}</span></th>
                    </tr>
                    <tr>
                        <td colspan="13" class="text-right">Additional Discount</td>
                        <td> <input type="text" id="additionalDiscount" name="additionalDiscount" autofocus="autofocus" class="number td-input ajaxUpdate form-control" value="{{ entity.additionalDiscount }}" aria-invalid="false"></td>
                    </tr>

                    <tr>
                        <td colspan="13" class="text-right">Total Discount</td>
                        <td id="discount">{{ entity.discount|number_format(2) }}</td>
                    </tr>
                    <tr>
                        <td colspan="13" class="text-right">VAT</td>
                        <td id="vat">{{ entity.vat|number_format(2) }}</td>
                    </tr>
                    <tr>
                        <td colspan="13" class="text-right">Net Total</td>
                        <td class="netTotal">{{ entity.netTotal|number_format(2) }}</td>
                    </tr>

                    <tr>
                        <td colspan="13" class="text-right">Commission(<span id="percent">{{ entity.vendorCommissionPercent }}</span>)%</td>
                        <td id="commission">{{ entity.vendorCommission|number_format(2) }}</td>
                    </tr>
                    <tr>
                        <th colspan="13" class="text-right">Grand Total</th>
                        <th><span class="grandTotal">{{ entity.grandTotal|number_format(2) }}</span></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    {% endif %}
{% else %}
    {% if entity.workOrderItems is not empty %}
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Requisition No</th>
                                <th scope="col">Unit Name</th>
                                <th scope="col">Delivery Location</th>
                                <th scope="col">Description</th>
                                <th scope="col">UOM</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Total Amount(BDT)</th>
                                <th scope="col">Remain. Qty</th>
                                <th scope="col">WO-Qty</th>
                                <th scope="col">WO-Unit Price</th>
                                <th scope="col">Sum(BDT)</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Total(BDT)</th>
                                <th scope="col">Add</th>
                                <th scope="col">VAT</th>
                                <th scope="col">Carring Charge</th>
                                <th scope="col">Grand Total (BDT)</th>
                            </tr>
                            </thead>
                            <tbody id="invoice">
                            {% set subTotal = 0 %}
                            {% set discount = 0 %}
                            {% set total = 0 %}
                            {% set totalCommission = 0 %}
                            {% set totalVat = 0 %}
                            {% set grandTotal = 0 %}
                            {% set totalQuantity = 0 %}
                            {% set carringCharge = 0 %}
                            {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                                {% for item in entity.workOrderItems  %}
                                    {% set subTotal = subTotal + item.subTotal %}
                                    {% set discount = discount + item.discount %}
                                    {% set total = total + item.total %}
                                    {% set totalCommission = totalCommission + item.vendorCommission %}
                                    {% set totalVat = totalVat + item.vat %}
                                    {% set grandTotal = grandTotal + item.grandTotal %}
                                    {% set totalQuantity = totalQuantity + item.quantity %}
                                    {% set carringCharge = carringCharge + item.shippingCharge %}
                                    <tr>
                                        <td>
                                            <input type="hidden" name="tenderVendorId[]" value="{{ item.id }}">
                                            <input type="checkbox" checked="checked" id="statusCheck" name="statusCheck[]" value="{{ item.id }}">
                                        </td>
                                        <td>{% if item.requisition  %}{{ item.requisition.requisitionNo }}{% endif %}</td>
                                        <td>{% if item.requisition.companyUnit %}{{ item.requisition.companyUnit.name }}{% endif %}</td>
                                        <td>
                                            {% if item.requisition.companyUnit %}
                                                {% if item.requisition.companyUnit is defined and item.requisition.companyUnit is not empty and item.requisition.companyUnit.children is not empty %}
                                                    <select class="form-control updateWorkorderItem" data-id="{{ item.id }}" name="wearhouse" id="wearhouse-{{ item.id }}" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}">
                                                        <option value="">Select a wearhouse</option>
                                                        {% for child in item.requisition.companyUnit.children %}
                                                            {% if child.branchType == "sub-branch" %}
                                                                <option {% if item.wearhouse is not empty and child.id == item.wearhouse.id %} selected="selected" {% endif %} value="{{ child.id }}">{{ child.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                {% else %}
                                                    <input type="hidden" name="wearhouse" id="wearhouse-{{ item.id }}" value="">
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>{{ item.stockBook.stockBookName }}</td>
                                        <td>{{ item.stockBook.uom }}</td>
                                        <td>{{ item.tenderItemDetail.issueQuantity }}</td>
                                        <td>{{ item.price|number_format(2) }}</td>
                                        <td>{{ item.subTotal|number_format(2) }}</td>
                                        <td>{{ item.tenderItemDetail.remainigQuantity }}</td>
                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="quantity[]" value="{{ item.quantity }}" id="quantity-{{ item.id }}" data-id="{{ item.id }}" max="{{ item.tenderItemDetail.remainigQuantity }}" ></td>
                                        <td>
                                            <input type="hidden" id="updateId-{{ item.id }}" name="updateId[]" value="{{ item.id }}">
                                            <input type="hidden" id="actualQuantity-{{ item.id }}" name="actualQuantity[]" value="{{ item.tenderItemDetail.remainigQuantity }}">
                                            <input type="hidden" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="price[]" value="{{ item.price }}" id="price-{{ item.id }}" data-id="{{ item.id }}" >
                                            {{ item.price|number_format(2) }}
                                        </td>
                                        <td id="woSubTotal-{{ item.id }}">{{ (item.quantity * item.price)|number_format(2) }}</td>
                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="discount[]" value="{{ item.discount }}" data-id="{{ item.id }}" id="discount-{{ item.id }}"></td>
                                        <td id="total-{{ item.id }}">{{ (item.total)|number_format(2) }}</td>
                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="vendorCommission[]" value="{{ item.vendorCommission }}" id="vendorCommission-{{ item.id }}" data-id="{{ item.id }}"  ></td>
                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="vat[]" value="{{ item.vat }}" id="vat-{{ item.id }}" data-id="{{ item.id }}"  ></td>
                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="shippingCharge[]" value="{{ item.shippingCharge }}" id="shippingCharge-{{ item.id }}" data-id="{{ item.id }}"  ></td>
                                        <td id="grandTotal-{{ item.id }}">{{ (item.grandTotal)|number_format(2) }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <th colspan="10" class="text-right">SUM</th>
                                <th><span>{{ totalQuantity }}</span></th>
                                <th></th>
                                <th><span>{{ subTotal|number_format(2) }}</span></th>
                                <th><span>{{ discount|number_format(2) }}</span></th>
                                <th><span>{{ total|number_format(2) }}</span></th>
                                <th><span>{{ totalCommission|number_format(2) }}</span></th>
                                <th><span>{{ totalVat|number_format(2) }}</span></th>
                                <th><span>{{ carringCharge|number_format(2) }}</span></th>
                                <th><span>{{ grandTotal|number_format(2) }}</span></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    {% endif %}
{% endif %}