{% if entity.workOrderItems is not empty %}
    {% set total = 0 %}
    {% set totalRemainingQty = 0 %}
    {% set woQty = 0 %}
    {% set totalDiscount = 0 %}
    {% set totalVat = 0 %}
    {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
        {% for item in entity.workOrderItems  %}
            {% set total = total+ (item.remaining * item.price) %}
            {% set woQty = woQty + item.remaining %}
            {% set totalDiscount = totalDiscount + item.discount %}
            {% set totalVat = totalVat + item.vat %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td>{% if item.requisition  %}<a class="" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisition.id,'mode':'preview'}) }}" >{{ item.requisition.requisitionNo }}</a>{% endif %}</td>
                <td>{% if item.requisitionItem and item.requisitionItem.category %}{{ item.requisitionItem.category.name }}{% endif %}</td>
                <td>{{ item.stockBook.stockBookName }}</td>
                <td>{{ item.stockBook.uom }}</td>
                <td><input type="text" class="td-input form-control"  name="description[]" value="{{ item.description }}" id="description-{{ item.id }}" data-id="{{ item.id }}"></td>
                <td>{{ item.issueQuantity }}</td>
                <td>{{ item.price|number_format(2) }}</td>
                <td>{{ (item.price * item.issueQuantity)|number_format(2) }}</td>
                <td>{{ item.remaining }}</td>
                <td>
                    <input type="hidden" name="quantity[]" value="{{ item.issueQuantity - item.quantity }}" id="quantity-{{ item.id }}" data-id="{{ item.id }}" max="{{ item.issueQuantity }}" >
                    <input type="hidden" id="updateId-{{ item.id }}" name="updateId[]" value="{{ item.id }}">
                    <input type="hidden" id="actualQuantity-{{ item.id }}" name="actualQuantity[]" value="{{ item.issueQuantity }}">
                    <input type="hidden" class="td-input form-control updateWorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update_amendment',{'invoice':entity.id,'id':item.id}) }}" name="price[]" value="{{ item.price }}" id="price-{{ item.id }}" data-id="{{ item.id }}" >
                    {% if item.remaining > 0 %}
                        <input type="text" class="td-input form-control updateWorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update_amendment',{'invoice':entity.id,'id':item.id}) }}"  name="discount[]" value="{{ item.discount }}" id="discount-{{ item.id }}" data-id="{{ item.id }}">
                    {% endif %}
                </td>
                <td> {% if item.remaining > 0 %}
                        <input type="text" class="td-input form-control updateWorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update_amendment',{'invoice':entity.id,'id':item.id}) }}"  name="vat[]" value="{{ item.vat }}" id="vat-{{ item.id }}" data-id="{{ item.id }}"  >
                    {% endif %}
                </td>
                <td id="woSubTotal-{{ item.id }}">{{ (item.remaining * item.price)|number_format(2) }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    <tr>
        <th colspan="8" class="text-right">Sub-total</th>
        <th><span>{{ entity.subTotal|number_format(2) }}</span></th>
        <th class="text-left">{{ woQty }}</th>
        <th class="text-left">{{ totalDiscount|number_format(2) }}</th>
        <th class="text-left">{{ totalVat|number_format(2) }}</th>
        <th><span class="total">{{ total|number_format(2) }}</span></th>
    </tr>
    <tr>
        <td colspan="12" class="text-right">Additional Discount</td>
        <td> <input type="text" id="additionalDiscount" name="additionalDiscount" autofocus="autofocus" class="number td-input ajaxUpdate form-control" value="{{ entity.additionalDiscount }}" aria-invalid="false"></td>
    </tr>
    <tr>
        <td colspan="12" class="text-right">Total Discount</td>
        <td id="discount">{{ entity.discount|number_format(2) }}</td>
    </tr>
    <tr>
        <td colspan="12" class="text-right">VAT</td>
        <td>{{ entity.vat|number_format(2) }}</td>
    </tr>
    <tr>
        <td colspan="12" class="text-right">Net Total</td>
        <td class="netTotal">{{ total|number_format(2) }}</td>
    </tr>
    <tr>
        {% set vatCommission = ((total * entity.vendorCommissionPercent)/100) %}
        <td colspan="12" class="text-right">Commission(<span id="percent">{{ entity.vendorCommissionPercent }}</span>)%</td>
        <td id="commission">{{ (entity.vendorCommissionPercent  ? vatCommission:0) |number_format(2) }}</td>
    </tr>
    <tr>
        <th colspan="12" class="text-right">Grand Total</th>
        <th><span class="grandTotal">{{ (total+vatCommission)|number_format(2) }}</span></th>
    </tr>
{% endif %}