{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Work Ordrer Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_garments_workorder') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Workorder'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Work Ordrer Request'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>Work Ordrer Details</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','data-action':path('procure_tender_garments_workorder_ajax_update',{'id':entity.id})}}) }}
                                        <div class="form-box-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">{{ "Work Order #"|trans }}</label>
                                                                <div class="col-md-6"><label>{{ entity.invoice }}</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">{{ "Created"|trans }}</label>
                                                                <div class="col-md-6"><label>{{ "now"|date('d-m-Y') }}</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">{{ "Tender CS #"|trans }}</label>
                                                                <div class="col-md-6">
                                                                    <label>
                                                                        {% if entity.tenderComparative is not empty %}
                                                                            <a href="{{ path('procure_tender_garments_comparative_show',{'id':entity.tenderComparative.id}) }}" target="_blank"  data-title="CS  No: {{ entity.tenderComparative.invoice }}" id="postView-{{ entity.tenderComparative.id }}">{{ entity.tenderComparative.invoice }}</a>
                                                                        {% endif %}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">R.F.Q/Direct Workorder</label>
                                                                <div class="col-md-6">
                                                                    <label>
                                                                    {% if entity.tenderComparative.tender is not empty %}
                                                                            <a class="entity-show" data-action="{{ path('procure_tender_garments_show',{'id':entity.tenderComparative.tender.id}) }}" href="javascript:" data-title="R.F.Q/Direct Workorder No: {{ entity.tenderComparative.tender.invoice }}" id="postView-{{ entity.tenderComparative.tender.id }}">{{ entity.tenderComparative.tender.invoice }}</a>
                                                                    {% endif %}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_label(form.condition, 'Template'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                        <div class="col-md-6">
                                                            <span class="is-required"> *</span>
                                                            {{ form_widget(form.condition) }}
                                                            {{ form_errors(form.condition) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">Requisition</label>
                                                                <div class="col-md-6">
                                                                    <label>
                                                                        {% if entity.requisition is not empty %}
                                                                            <a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.requisition.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisition.requisitionNo }}" id="postView-{{ entity.requisition.id }}">{{ entity.requisition.requisitionNo }}</a>
                                                                        {% endif %}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {% if entity.isDirect == 1 %}
                                                                    <label class="col-md-6 text-right">Vendor/Supplier Name</label>
                                                                {% else %}
                                                                {{ form_label(form.tenderVendor, 'Vendor'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                {% endif %}
                                                                <div class="col-md-6">
                                                                    {% if entity.isDirect == 1 %}
                                                                        {{ entity.tenderComparative.tender.directVendor.companyName }}
                                                                    {% else %}
                                                                        <span class="is-required"> *</span>
                                                                        {{ form_widget(form.tenderVendor) }}
                                                                        {{ form_errors(form.tenderVendor) }}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="col-md-6 text-right">{{ "Vender Address"|trans }}</label>
                                                    <div class="col-md-6"> {% if entity.tenderVendor  %}{{ entity.tenderVendor.address|raw }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">{{ "Company Name"|trans }}</label>
                                                                <div class="col-md-6">
                                                                  {#{% if entity.requisition %}  {{ entity.requisition.companyUnit.name }} {% endif %}#}
                                                                    {{ form_widget(form.branch) }}
                                                                    {{ form_errors(form.branch) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">{{ "Wearhouse"|trans }}</label>
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.wearhouse) }}
                                                                    {{ form_errors(form.wearhouse) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.enlistedVendor, 'Supplier'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.enlistedVendor) }}
                                                                    {{ form_errors(form.enlistedVendor) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="col-md-6 text-right">{{ "Enlisted Vendor Address"|trans }}</label>
                                                    <div class="col-md-6">{% if entity.enlistedVendor is not empty %} {{ entity.enlistedVendor.address|raw }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.content, 'Details/Justification'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.content) }}
                                                            {{ form_errors(form.content) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.workorderDate, 'Work order Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.workorderDate) }}
                                                                    {{ form_errors(form.workorderDate) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.paymentMode, 'Payment Mode'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.paymentMode) }}
                                                                    {{ form_errors(form.paymentMode) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.validateDate, 'Validate Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required">*</span>
                                                                    {{ form_widget(form.validateDate) }}
                                                                    {{ form_errors(form.validateDate) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.deliveryMode, 'Delivery Mode'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.deliveryMode) }}
                                                                    {{ form_errors(form.deliveryMode) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.deliveryDate, 'Delivery Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required">*</span>
                                                                    {{ form_widget(form.deliveryDate) }}
                                                                    {{ form_errors(form.deliveryDate) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6"></label>
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.partialPayment) }}
                                                                    {{ form_errors(form.partialPayment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6"></label>
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.partialDelivery) }}
                                                                    {{ form_errors(form.partialDelivery) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"><br/></div>
                                            <div id="workorder-po">
                                                {% if entity.workorderMode == "PO-01" %}
                                                    {% if entity.workOrderItems is not empty %}
                                                        <div class="clearfix"></div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <table class="table table-striped table-bordered table-hover display nowrap">

                                                                    <thead class="thead-gray">
                                                                    <tr>
                                                                        <th colspan="10" class="text-center"><strong>ITEM DETAILS</strong></th>
                                                                        <th colspan="4" class="text-center"><strong>PROCESS DETAILS</strong></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="col">S/N</th>
                                                                        <th scope="col">Requisition No</th>
                                                                        <th scope="col">Category</th>
                                                                        <th scope="col">Item Name</th>
                                                                        <th scope="col">UOM</th>
                                                                        <th scope="col">Description</th>
                                                                        <th scope="col">Qty</th>
                                                                        <th scope="col">Unit Price</th>
                                                                        <th scope="col">Total Amount(BDT)</th>
                                                                        <th scope="col">Remain.Qty</th>
                                                                        <th scope="col">WO-Qty</th>
                                                                        <th scope="col">Discount</th>
                                                                        <th scope="col">VAT</th>
                                                                        <th scope="col">WO-Total</th>

                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="invoice">
                                                                    {% set total = 0 %}
                                                                    {% set totalRemainingQty = 0 %}
                                                                    {% set woQty = 0 %}
                                                                    {% set totalDiscount = 0 %}
                                                                    {% set totalVat = 0 %}
                                                                    {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                                                                        {% for item in entity.workOrderItems  %}
                                                                            {% set total = total+item.subTotal %}
                                                                            {% set woQty = woQty + item.quantity %}
                                                                            {% set totalDiscount = totalDiscount + item.discount %}
                                                                            {% set totalVat = totalVat + item.vat %}
                                                                            <tr>
                                                                                <td>{{ loop.index }}.</td>
                                                                                <td>{% if item.requisition  %}<a class="" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisition.id,'mode':'preview'}) }}" >{{ item.requisition.requisitionNo }}</a>{% endif %}</td>
                                                                                <td>{% if item.requisitionItem and item.requisitionItem.category %}{{ item.requisitionItem.category.name }}{% endif %}</td>
                                                                                <td>{{ item.stockBook.stockBookName }}</td>
                                                                                <td>{{ item.stockBook.uom }}</td>
                                                                                <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="description[]" value="{{ item.description }}" id="description-{{ item.id }}" data-id="{{ item.id }}"></td>
                                                                                <td>{{ item.issueQuantity }}</td>
                                                                                <td>{{ item.price|number_format(2) }}</td>
                                                                                <td>{{ (item.price * item.issueQuantity)|number_format(2) }}</td>
                                                                                <td>{{ item.issueQuantity - item.quantity }}</td>
                                                                                <td><input type="text" class="td-input form-control updateWorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="quantity[]" value="{{ item.quantity }}" id="quantity-{{ item.id }}" data-id="{{ item.id }}" max="{{ item.issueQuantity }}" ></td>
                                                                                <td>
                                                                                    <input type="hidden" id="updateId-{{ item.id }}" name="updateId[]" value="{{ item.id }}">
                                                                                    <input type="hidden" id="actualQuantity-{{ item.id }}" name="actualQuantity[]" value="{{ item.issueQuantity }}">
                                                                                    <input type="hidden" class="td-input form-control updateWorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="price[]" value="{{ item.price }}" id="price-{{ item.id }}" data-id="{{ item.id }}" >
                                                                                    <input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="discount[]" value="{{ item.discount }}" id="discount-{{ item.id }}" data-id="{{ item.id }}"></td>
                                                                                <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="vat[]" value="{{ item.vat }}" id="vat-{{ item.id }}" data-id="{{ item.id }}"  ></td>
                                                                                <td id="woSubTotal-{{ item.id }}">{{ item.grandTotal|number_format(2) }}</td>

                                                                            </tr>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    <tr>
                                                                        <th colspan="8" class="text-right">Sub-total</th>
                                                                        <th><span>{{ entity.subTotal|number_format(2) }}</span></th>
                                                                        <th class="text-left">{{ totalRemainingQty }}</th>
                                                                        <th class="text-left">{{ woQty }}</th>
                                                                        <th class="text-left">{{ totalDiscount|number_format(2) }}</th>
                                                                        <th class="text-left">{{ totalVat|number_format(2) }}</th>
                                                                        <th><span class="total">{{ entity.subTotal|number_format(2) }}</span></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="13" class="text-right">Additional Discount</td>
                                                                        <td> <input type="text" id="additionalDiscount" name="additionalDiscount" autofocus="autofocus" class="number td-input ajaxUpdate form-control" value="{{ entity.additionalDiscount }}" aria-invalid="false"></td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td colspan="13" class="text-right">Total Discount</td>
                                                                        <td id="discount">{{ entity.discount|number_format(2) }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="13" class="text-right">VAT</td>
                                                                        <td>{{ entity.vat|number_format(2) }}</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td colspan="13" class="text-right">Net Total</td>
                                                                        <td class="netTotal">{{ entity.netTotal|number_format(2) }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="13" class="text-right">Commission(<span id="percent">{{ entity.vendorCommissionPercent }}</span>)%</td>
                                                                        <td id="commission">{{ entity.vendorCommission|number_format(2) }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th colspan="13" class="text-right">Grand Total</th>
                                                                        <th><span class="grandTotal">{{ entity.grandTotal|number_format(2) }}</span></th>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    {% endif %}
                                                {% else %}
                                                    {% if entity.workOrderItems is not empty %}
                                                        <div class="clearfix"></div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <table class="table table-striped table-bordered table-hover display nowrap">
                                                                            <thead class="thead-gray">
                                                                            <tr>
                                                                                <th scope="col">S/N</th>
                                                                                <th scope="col">Requisition No</th>
                                                                                <th scope="col">Unit Name</th>
                                                                                <th scope="col">Delivery Location</th>
                                                                                <th scope="col">Category</th>
                                                                                <th scope="col">Description</th>
                                                                                <th scope="col">UOM</th>
                                                                                <th scope="col">Qty</th>
                                                                                <th scope="col">Unit Price</th>
                                                                                <th scope="col">Total Amount(BDT)</th>
                                                                                <th scope="col">Remain. Qty</th>
                                                                                <th scope="col">WO-Qty</th>
                                                                                <th scope="col">WO-Unit Price</th>
                                                                                <th scope="col">Sum(BDT)</th>
                                                                                <th scope="col">Discount</th>
                                                                                <th scope="col">Total(BDT)</th>
                                                                                <th scope="col">Add{% if entity.vendorCommissionPercent > 0 %}(<span id="percent">{{ entity.vendorCommissionPercent }}</span>)%{% endif %}</th>
                                                                                <th scope="col">VAT</th>
                                                                                <th scope="col">Carring Charge</th>
                                                                                <th scope="col">Grand Total (BDT)</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody id="invoice">
                                                                            {% set subTotal = 0 %}
                                                                            {% set discount = 0 %}
                                                                            {% set total = 0 %}
                                                                            {% set totalCommission = 0 %}
                                                                            {% set totalVat = 0 %}
                                                                            {% set grandTotal = 0 %}
                                                                            {% set totalQuantity = 0 %}
                                                                            {% set carringCharge = 0 %}
                                                                            {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                                                                                {% for item in entity.workOrderItems  %}
                                                                                    {% set subTotal = subTotal + item.subTotal %}
                                                                                    {% set discount = discount + item.discount %}
                                                                                    {% set total = total + item.total %}
                                                                                    {% set totalCommission = totalCommission + item.vendorCommission %}
                                                                                    {% set totalVat = totalVat + item.vat %}
                                                                                    {% set grandTotal = grandTotal + item.grandTotal %}
                                                                                    {% set totalQuantity = totalQuantity + item.quantity %}
                                                                                    {% set carringCharge = carringCharge + item.shippingCharge %}
                                                                                    <tr>
                                                                                        <td>
                                                                                            <input type="hidden" name="tenderVendorId[]" value="{{ item.id }}">
                                                                                            <input type="checkbox" checked="checked" id="statusCheck" name="statusCheck[]" value="{{ item.id }}">
                                                                                        </td>
                                                                                        <td>{% if item.requisition  %}<a class="" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisition.id,'mode':'preview'}) }}" >{{ item.requisition.requisitionNo }}</a>{% endif %}</td>
                                                                                        <td>{% if item.requisition.companyUnit %}{{ item.requisition.companyUnit.name }}{% endif %}</td>
                                                                                        <td>
                                                                                            {% if item.requisition.companyUnit %}
                                                                                                {% if item.requisition.companyUnit is defined and item.requisition.companyUnit is not empty and item.requisition.companyUnit.children is not empty %}
                                                                                                    <select class="form-control updateWorkorderItem" data-id="{{ item.id }}" name="wearhouse" id="wearhouse-{{ item.id }}" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}">
                                                                                                        <option value="">Select a wearhouse</option>
                                                                                                        {% for child in item.requisition.companyUnit.children %}
                                                                                                            {% if child.branchType == "sub-branch" %}
                                                                                                                <option {% if item.wearhouse is not empty and child.id == item.wearhouse.id %} selected="selected" {% endif %} value="{{ child.id }}">{{ child.name }}</option>
                                                                                                            {% endif %}
                                                                                                        {% endfor %}
                                                                                                    </select>
                                                                                                {% else %}
                                                                                                    <input type="hidden" name="wearhouse" id="wearhouse-{{ item.id }}" value="">
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        </td>
                                                                                        <td>{% if item.stockBook.item.category %}{{ item.stockBook.item.category.name }}{% endif %}</td>
                                                                                        <td>{{ item.stockBook.stockBookName }}</td>
                                                                                        <td>{{ item.stockBook.uom }}</td>
                                                                                        <td>{{ item.tenderItemDetail.issueQuantity }}</td>
                                                                                        <td>{{ item.price|number_format(2) }}</td>
                                                                                        <td>{{ item.subTotal|number_format(2) }}</td>
                                                                                        <td>{{ item.tenderItemDetail.remainigQuantity }}</td>
                                                                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="quantity[]" value="{{ item.quantity }}" id="quantity-{{ item.id }}" data-id="{{ item.id }}" max="{{ item.tenderItemDetail.remainigQuantity }}" ></td>
                                                                                        <td>
                                                                                            <input type="hidden" id="updateId-{{ item.id }}" name="updateId[]" value="{{ item.id }}">
                                                                                            <input type="hidden" id="actualQuantity-{{ item.id }}" name="actualQuantity[]" value="{{ item.tenderItemDetail.remainigQuantity }}">
                                                                                            <input type="hidden" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="price[]" value="{{ item.price }}" id="price-{{ item.id }}" data-id="{{ item.id }}" >
                                                                                            {{ item.price|number_format(2) }}
                                                                                        </td>
                                                                                        <td id="woSubTotal-{{ item.id }}">{{ (item.quantity * item.price)|number_format(2) }}</td>
                                                                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="discount[]" value="{{ item.discount }}" data-id="{{ item.id }}" id="discount-{{ item.id }}"></td>
                                                                                        <td id="total-{{ item.id }}">{{ (item.total)|number_format(2) }}</td>
                                                                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="vendorCommission[]" value="{{ item.vendorCommission }}" id="vendorCommission-{{ item.id }}" data-id="{{ item.id }}"  ></td>
                                                                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="vat[]" value="{{ item.vat }}" id="vat-{{ item.id }}" data-id="{{ item.id }}"  ></td>
                                                                                        <td><input type="text" class="td-input form-control updatePo2WorkorderItem" data-action="{{ path('procure_tender_garments_workorder_item_update',{'invoice':entity.id,'id':item.id}) }}" name="shippingCharge[]" value="{{ item.shippingCharge }}" id="shippingCharge-{{ item.id }}" data-id="{{ item.id }}"  ></td>
                                                                                        <td id="grandTotal-{{ item.id }}">{{ (item.grandTotal)|number_format(2) }}</td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                            <tr>
                                                                                <th colspan="11" class="text-right">SUM</th>
                                                                                <th><span>{{ totalQuantity }}</span></th>
                                                                                <th></th>
                                                                                <th><span>{{ subTotal|number_format(2) }}</span></th>
                                                                                <th><span>{{ discount|number_format(2) }}</span></th>
                                                                                <th><span>{{ total|number_format(2) }}</span></th>
                                                                                <th><span>{{ totalCommission|number_format(2) }}</span></th>
                                                                                <th><span>{{ totalVat|number_format(2) }}</span></th>
                                                                                <th><span>{{ carringCharge|number_format(2) }}</span></th>
                                                                                <th><span>{{ grandTotal|number_format(2) }}</span></th>
                                                                            </tr>
                                                                            </tbody>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="card-header grey-bg inner-header">
                                                <h5>{{ 'Tender Terms & Conditions'|trans }}</h5>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                {% if entity.conditionItems is defined  and  entity.conditionItems is not empty %}
                                                    {% for keyValue in entity.conditionItems %}
                                                        <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                                                            <div class="row">
                                                                <div class="col-md-1">
                                                                    <input type="checkbox" name="conditionStatus[{{ keyValue.id }}]" {% if keyValue.status == 1 %} checked {% endif %} value="{{ keyValue.status }}">
                                                                    <input type="hidden" name="conditionItem[]"  value="{{ keyValue.id }}">
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <input type="text" name="conditionKey[{{ keyValue.id }}]" id="conditionKey-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="input-group">
                                                                        <textarea name="conditionValue[{{ keyValue.id }}]" id="conditionValue-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter your comments">{{ keyValue.metaValue }}</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                         </div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left"></div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save & Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.vendor').change(function(e){
        var vendor = $(this).val();
        var url = Routing.generate('procure_tender_garments_workorder_vendor',{'id':'{{ entity.id }}'});
        $.get(url,{'vendor':vendor}, function( response ) {
           location.reload();
        });
    });
    $('.condition').change(function(e){
        var condition = $(this).val();
        var url = Routing.generate('procure_tender_garments_workorder_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
            location.reload();
        });
    });
    $('.enlisted').change(function(e){
        var enlisted = 0;
        if($(this).val() > 0){
            var enlisted = $(this).val();
        }
        var url = Routing.generate('procure_tender_garments_workorder_enlisted',{'id':'{{ entity.id }}'});
        $.get(url,{'enlisted':enlisted}, function( response ) {
            location.reload();
        });
    });
    $('.workorderMode').change(function(e){
        var workorderMode = $(this).val();
        var url = Routing.generate('procure_tender_garments_workorder_mode',{'id':'{{ entity.id }}'});
        $.get(url,{'mode':workorderMode}, function( response ) {
        location.reload();
        });
    });
{% endblock %}
