{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <style>
        body {
            color: #313131;
            font-family: sans-serif;
            font-size: 13px;
        }
        .table-item thead tr th{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
        .table-item tbody tr td{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
    </style>
</head>
<body>
    <div style="text-align: center; text-transform: uppercase; margin-bottom: 10px; font-weight: bold">
        <strong>Work Order Detail</strong>

    </div>
    <!-- Header -->
    <div>
        <div style="float: left; width: 30%;">
            <b>Invoice No.</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.invoice }}
        </div>
        <div style="float: left; width: 15%; text-align: right">
            <b>Payment Mode</b>
        </div>
        <div style="float: right; width: 25%;">
            {% if entity.paymentMode is not empty %}{{ entity.paymentMode.name }}{% endif %}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Delivery Mode</b>
        </div>
        <div style="float: left; width: 25%;">
            {% if entity.deliveryMode is not empty %}{{ entity.deliveryMode.name }}{% endif %}
        </div>
        <div style="float: left; width: 15%; text-align: right;">
            <b>Created</b>
        </div>
        <div style="float: right; width: 25%;">
            {{  entity.created|date('d-m-Y')    }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Created By</b>
        </div>
        <div style="float: left; width: 25%;">
             {{ entity.createdBy.name }}
        </div>
        <div style="float: left; width: 15%; text-align: right;">
            <b>CS No.</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.tenderComparative.invoice }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Vendor/Supplier</b>
        </div>
        <div style="float: left; width: 25%;">
            {% if entity.tenderVendor is not empty %}{{ entity.tenderVendor.name }}{% endif %}
        </div>
        <div style="float: left; width: 15%; text-align: right;">
            <b>Created</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.tenderComparative.created|date('d-m-Y') }}
        </div>




        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Created By</b>
        </div>
        <div style="float: left; width: 70%;">
            {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Content</b>
        </div>
        <div style="float: left; width: 70%;">
            {{ entity.content|raw }}
        </div>

        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Terms & Condition</b>
        </div>
        <div style="float: left; width: 70%;">
            {{ entity.terms|raw }}
            <br/>
                        {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                            {% for keyValue in entity.conditionItems %}
                                    <p>{{ loop.index }}. {{ keyValue.metaKey }}</div>
                                    <p>{{ keyValue.metaValue|raw }}</p>
                            {% endfor %}
                        {% endif %}
        </div>
    </div>
    <!-- Header -->


    <!-- Body -->
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Item</b>
            </div>

            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                        <thead class="thead-green">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Description</th>
                            <th scope="col">UOM</th>
                            <th scope="col">WO-Qty</th>
                            <th scope="col">Received Qty</th>
                            <th scope="col">Remaining Qty</th>
                        </tr>
                        </thead>
                        <tbody id="invoice">
                        {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                            {% for item in entity.workOrderItems %}
                                <tr>
                                    <td>{{ loop.index }}.</td>
                                    <td>{{ item.stockBook.stockBookName }}</td>
                                    <td>{{ item.stockBook.uom }}</td>
                                    <td>{{ item.tenderComparativeItem.quantity }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td id="remaining-{{ item.id }}">{{ item.remaining }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
            </div>
        </div>

    <!-- Body -->
</body>
</html>