{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title>{{ entity.invoice }}: {{ entity.created|date('d-m-Y') }}</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>

</head>
<body style="color: #0a0a0a">
{% if mode=='preview' %}
    <div class="container">
        <div class="row" style="background-color: #c0c2ce; font-size: 16px; padding: 5px">
            <div class="col-md-6"><strong>Preview</strong></div>
            <div class="col-md-6 text-right">
                {#                <a class="" style="color: red; padding-right: 10px" target="_blank" href="{{ path('procure_tender_garments_workorder_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i></a>#}
                <a class="btn btn-print print"
                   href="{{ path('procure_tender_garments_workorder_preview',{'id':entity.id,'mode':'print'}) }}"><i
                            class="fa fa-print"></i> Print</a>
            </div>
        </div>
    </div>
{% endif %}
<div class="container mt-2 mb-5" style="border: {{ mode=='preview' ? '1px dotted gray': '' }}">
    <div class="row">
        <div class="col-md-6 text-left" style="text-transform: uppercase"><strong>
                <h3>{% if entity.branch is not empty %}{{ entity.branch.name }}{% endif %}</h3></strong></div>
        <div class="col-md-6 text-right" style="text-transform: uppercase"><strong><h3>Workorder No : {% if entity.invoice is not empty %}{{ entity.invoice }}{% endif %}</h3></strong></div>
    </div>
    {% if entity.wearhouse is not empty %}
        <div class="row">
            <div class="col-md-6"><br/></div>
        </div>
        <div class="row">
            <div class="col-md-6">Ship To : {% if entity.wearhouse is not empty %}{{ entity.wearhouse.name }}
                    <br/>
                    <p>{{ entity.wearhouse.address|raw }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6"><strong>Workorder For</strong></div>
        <div class="col-md-6 text-right"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong style="font-size: 15px">{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor.name }}{% endif %}</strong>
            <p>{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor.address|raw }}{% endif %}</p>
            <p>{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor.phone }}{% endif %}</p>
            <p>{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor.email }}{% endif %}</p>
        </div>
        <div class="col-md-4 text-left">
            <div class="row">
                <div class="col-md-6 text-right">Delivery
                    Required by
                </div>
                <div class="col-md-6 text-left">{{ entity.validateDate|date('d-m-Y') }}</div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">Made for Payment</div>
                <div class="col-md-6 text-left">{% if entity.paymentMode is not empty %}{{ entity.paymentMode.name }}{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">Partial Delivery</div>
                <div class="col-md-6 text-left">{% if entity.partialDelivery == 1 %} Allow {% endif %}</div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">Partial Payment</div>
                <div class="col-md-6 text-left">{% if entity.partialPayment == 1 %} Allow {% endif %}</div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">Validaty Date</div>
                <div class="col-md-6 text-left">{{ entity.validateDate|date('d-m-Y') }}</div>
            </div>
        </div>
        <div class="col-md-4 text-left">
            <div class="row">
                <div class="col-md-6 text-right">PO Date</div>
                <div class="col-md-6 text-left">{{ entity.workorderDate|date('d-m-Y') }}</div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">Requester</div>
                <div class="col-md-6 text-left">{{ entity.createdBy.name }}</div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">Requisition No</div>
                <div class="col-md-6 text-left">
                    {% if entity.requisition is not empty %}
                        {{ entity.requisition.requisitionNo }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">Job Approval No</div>
                <div class="col-md-6 text-left">
                    {% if entity.requisition and entity.requisition.jobRequisition %}
                        {{ entity.requisition.jobRequisition.requisitionNo }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">Delivery Mode</div>
                <div class="col-md-6 text-left">{% if entity.deliveryMode is not empty %}{{ entity.deliveryMode.name }}{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">Send to Vendor</div>
                <div class="col-md-6 text-left">{% if entity.sendToVendor == 1 %}{{ entity.updated|date('d-m-Y') }}{% endif %}</div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            {{ entity.content|raw }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 mb-1"><strong>Item Descriptions</strong></div>
        <div class="col-md-12">
            {% if entity.workorderMode == "PO-01" %}
                <table class="table table-striped table-bordered table-hover display nowrap">
                    <thead class="thead-green">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Requisition no</th>
                        <th scope="col">Category</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="text-center">QTY</th>
                        <th scope="col" class="text-right">Price</th>
                        <th scope="col" class="text-right">Amount(BDT)</th>
                    </tr>
                    </thead>
                    <tbody id="invoice">
                    {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                        {% for item in entity.workOrderItems %}
                            <tr>
                                <td>{{ loop.index }}.</td>
                                <td>{{ item.requisition.requisitionNo }}</td>
                                <td>{% if item.requisitionItem and item.requisitionItem.category %}{{ item.requisitionItem.category.name }}{% endif %}</td>
                                <td>{{ item.stockBook.stockBookName }}</td>
                                <td>{{ item.stockBook.uom }}</td>
                                <td>{{ item.description }}</td>
                                <td class="text-center">{{ item.quantity }}</td>
                                <td class="text-right">{{ item.price }}</td>
                                <td class="text-right">{{ item.subTotal|number_format }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8" class="text-right">Sub Total</td>
                        <th class="text-right"><span class="subTotal">{{ entity.subTotal|number_format }}</span></th>
                    </tr>
                    <tr>
                        <td colspan="8" class="text-right">Discount</td>
                        <td class="text-right"> {{ entity.discount|number_format }}</td>
                    </tr>
                    <tr>
                      <td colspan="8" class="text-right">Net Total</td>
                      <th class="text-right"><span class="subTotal">{{ (entity.subTotal - entity.discount)|number_format }}</span></th>
                    </tr>
                    <tr>
                        <td colspan="8" class="text-right">Total VAT</td>
                        <td class="text-right">{{ entity.vat|number_format }}</td>
                    </tr>
                  {#  <tr>
                        <td colspan="8" class="text-right">Net Total</td>
                        <th class="text-right"><span class="subTotal">{{ entity.netTotal|number_format }}</span></th>
                    </tr>#}
                    <tr>
                        <td colspan="8" class="text-right">Commission(<span
                                    id="percent" class="text-right">{{ entity.vendorCommissionPercent }}</span>)%
                        </td>
                        <td id="commission" class="text-right">{{ entity.vendorCommission|number_format }}</td>
                    </tr>
                    <tr>
                        <th colspan="6" class="text-left">In words : {{ entity.grandTotal|words }}</th>
                        <td colspan="2" class="text-right">Grand Total</td>
                        <th class="text-right"><span class="total">{{ entity.grandTotal|number_format }}</span></th>
                    </tr>
                    </tfoot>
                </table>
            {% else %}
                <table class="table table-striped table-bordered table-hover display nowrap">
                    <thead class="thead-green">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Requisition no</th>
                        <th scope="col">Category</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">QTY</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Total(BDT)</th>
                        <th scope="col">Add</th>
                        <th scope="col">VAT</th>
                        <th scope="col">Carring Charge</th>
                        <th scope="col">Grand Total (BDT)</th>
                    </tr>
                    </thead>
                    <tbody id="invoice">
                    {% set totalQuantity = 0 %}
                    {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                        {% for item in entity.workOrderItems %}
                            {% set totalQuantity = totalQuantity + item.quantity %}
                            <tr>
                                <td>{{ loop.index }}.</td>
                                <td>{{ item.requisition.requisitionNo }}</td>
                                <td>{% if item.stockBook.item.category %}{{ item.stockBook.item.category.name }}{% endif %}</td>
                                <td>{{ item.stockBook.stockBookName }}</td>
                                <td>{{ item.stockBook.uom }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.unitPrice }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.subTotal|number_format(2) }}</td>
                                <td scope="col">{{ item.discount|number_format(2) }}</td>
                                <td scope="col">{{ item.total|number_format(2) }}</td>
                                <td scope="col">{{ item.vendorCommission|number_format(2) }}</td>
                                <td scope="col">{{ item.vat }}</td>
                                <td scope="col">{{ item.shippingCharge }}</td>
                                <td scope="col">{{ item.grandTotal }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7" class="text-right">SUM</th>
                        <th><span>{{ totalQuantity }}</span></th>
                        <th><span>{{ entity.subTotal|number_format(2) }}</span></th>
                        <th><span>{{ entity.discount|number_format(2) }}</span></th>
                        <th><span>{{ entity.total|number_format(2) }}</span></th>
                        <th><span>{{ entity.vendorCommission|number_format(2) }}</span></th>
                        <th><span>{{ entity.vat|number_format(2) }}</span></th>
                        <th><span>{{ entity.shippingCharge|number_format(2) }}</span></th>
                        <th><span>{{ entity.grandTotal|number_format(2) }}</span></th>
                    </tr>
                    </tfoot>
                </table>
            {% endif %}
        </div>
    </div>
    {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
        <div class="row">
            <div class="col-md-2"><strong>Terms & Condition</strong></div>
            <div class="col-md-10">
                <ol>
                    {% for keyValue in entity.conditionItems %}
                        {% if keyValue.status == 1 %}
                            <li>{{ keyValue.metaValue|raw }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12"><br/></div>
    </div>
    <div class="row">
        {% if approvals is not empty %}
            <div class="grid-comment-signature">
                <div class="col-md-12 text-left">
                    <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                        {% if entity.createdBy.profile.signaturePath is not empty %}
                            <img style="height: 60px"
                                 src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                            <br/>
                        {% endif %}
                        {{ entity.createdBy.name }}
                        <br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                    </div>
                </div>
                {% for list in approvals %}
                    {% if list.close == true %}
                        <div class="col-md-12 text-left">
                            <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                                {% if list.assignTo.profile.signaturePath is not empty %}
                                    <img style="height: 60px"
                                         src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                    <br/>
                                {% endif %}
                                {{ list.assignTo.name }}
                                <br/>{% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<style>
    .grid-comment-signature {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }

    .grid-comment-signature {
        grid-template-columns: repeat(4, calc(100% / 4));
    }

</style>
</body>
</html>