
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Company</strong></div>
                            <div class="col-md-8">{% if entity.branch is not empty %}{{ entity.branch.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Ship To</strong></div>
                            <div class="col-md-8">{% if entity.wearhouse is not empty %}{{ entity.wearhouse.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8">{{ entity.createdBy.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Vendor/Supplier</strong></div>
                            <div class="col-md-8">{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor.name }}<br/>{{ entity.tenderVendor.address|raw }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Enlisted Vendor</strong></div>
                            <div class="col-md-8">{% if entity.enlistedVendor is not empty %}{{ entity.enlistedVendor.name }}<br/>{{ entity.enlistedVendor.address|raw }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {#<div class="row">
                            <div class="col-md-4"><strong>Requisition</strong></div>
                            <div class="col-md-8">
                                {% if entity.tenderComparative.tender.requisition is not empty %}
                                    <a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.tenderComparative.tender.requisition.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.tenderComparative.tender.requisition.requisitionNo }}" id="postView-{{ entity.tenderComparative.tender.requisition.id }}">{{ entity.tenderComparative.tender.requisition.requisitionNo }}</a>
                                {% endif %}
                            </div>
                        </div>#}
                        <div class="row">
                            <div class="col-md-4"><strong>Payment Mode</strong></div>
                            <div class="col-md-8">{% if entity.paymentMode is not empty %}{{ entity.paymentMode.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Workorder Date</strong></div>
                            <div class="col-md-8">{{ entity.workorderDate|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Validate Date</strong></div>
                            <div class="col-md-8">{{ entity.validateDate|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Partial Payment</strong></div>
                            <div class="col-md-8">{% if entity.partialPayment == 1 %}Yes{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Partial Delivery</strong></div>
                            <div class="col-md-8">{% if entity.partialDelivery == 1 %}Yes{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Delivery Mode</strong></div>
                            <div class="col-md-8">{% if entity.deliveryMode is not empty %}{{ entity.deliveryMode.name }}{% endif %}</div>
                        </div>
                        {% if entity.tenderComparative is not empty %}
                            <div class="row">
                                <div class="col-md-4"><strong>CS No.</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.invoice }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created By</strong></div>
                                <div class="col-md-8"> {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Content</strong></div>
                    <div class="col-md-10">{{ entity.content|raw }}</div>
                </div>
                {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                    {% for keyValue in entity.conditionItems %}
                        <div class="row">
                            <div class="col-md-2">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                            <div class="col-md-10">{{ keyValue.metaValue|raw }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-header grey-bg inner-header">
                    <h5>Workorder Items</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if entity.workorderMode == "PO-01" %}
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Requisition No.</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">UOM</th>
                                    <th scope="col">QTY</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">SubTotal</th>
                                </tr>
                                </thead>
                                <tbody id="invoice">
                                {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                                    {% for item in entity.workOrderItems %}
                                        <tr>
                                            <td>{{ loop.index }}.</td>
                                            <td><a class="" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisition.id,'mode':'preview'}) }}" >{{ item.requisition.requisitionNo }}</a></td>
                                            <td>{% if item.stockBook.item.category %}{{ item.stockBook.item.category.name }}{% endif %}</td>
                                            <td>{{ item.stockBook.stockBookName }}</td>
                                            <td>{{ item.stockBook.uom }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.unitPrice }}</td>
                                            <td>{{ item.subTotal|number_format(2) }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5" class="text-right">Sub-Total</td><td><span class="subTotal">{{ entity.subTotal|number_format(2) }}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">Discount</td>
                                    <td> {{ entity.discount|number_format(2) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">Total</td>
                                    <td> {{ entity.total|number_format(2) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">VAT</td>
                                    <td>{{ entity.vat|number_format(2) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">TAX/AIT</td>
                                    <td>{{ entity.tax|number_format(2) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">Commission(<span id="percent">{{ entity.vendorCommissionPercent }}</span>)%</td>
                                    <td id="commission">{{ entity.vendorCommission|number_format(2) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">Grand Total</td>
                                    <td><span class="total">{{ entity.grandTotal|number_format(2) }}</span></td>
                                </tr>
                                </tfoot>
                            </table>
                        {% else %}
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Requisition No.</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">UOM</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">QTY</th>
                                    <th scope="col">SubTotal</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Total(BDT)</th>
                                    <th scope="col">Add</th>
                                    <th scope="col">VAT</th>
                                    <th scope="col">Carring Charge</th>
                                    <th scope="col">Grand Total (BDT)</th>
                                </tr>
                                </thead>
                                <tbody id="invoice">
                                {% set totalQuantity = 0 %}
                                {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                                    {% for item in entity.workOrderItems %}
                                        {% set totalQuantity = totalQuantity + item.quantity %}
                                        <tr>
                                            <td>{{ loop.index }}.</td>
                                            <td><a class="" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisition.id,'mode':'preview'}) }}" >{{ item.requisition.id }}</a></td>
                                            <td>{% if item.stockBook.item.category %}{{ item.stockBook.item.category.name }}{% endif %}</td>
                                            <td>{{ item.stockBook.stockBookName }}</td>
                                            <td>{{ item.stockBook.uom }}</td>
                                            <td>{{ item.unitPrice }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.subTotal|number_format(2) }}</td>
                                            <td scope="col">{{ item.discount|number_format(2) }}</td>
                                            <td scope="col">{{ item.total|number_format(2) }}</td>
                                            <td scope="col">{{ item.vendorCOmmission|number_format(2) }}</td>
                                            <td scope="col">{{ item.vat }}</td>
                                            <td scope="col">{{ item.shippingCharge }}</td>
                                            <td scope="col">{{ item.grandTotal }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="4" class="text-right">SUM</th>
                                    <th><span>{{ totalQuantity }}</span></th>
                                    <th><span>{{ entity.subTotal|number_format(2) }}</span></th>
                                    <th><span>{{ entity.discount|number_format(2) }}</span></th>
                                    <th><span>{{ entity.total|number_format(2) }}</span></th>
                                    <th><span>{{ entity.vendorCommission|number_format(2) }}</span></th>
                                    <th><span>{{ entity.vat|number_format(2) }}</span></th>
                                    <th><span>{{ entity.shippingCharge|number_format(2) }}</span></th>
                                    <th><span>{{ entity.grandTotal|number_format(2) }}</span></th>
                                </tr>
                                </tfoot>
                            </table>
                        {% endif %}
                    </div>
                </div>
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_tender_garments_workorder_process',{'id':entity.id})}}) }}
                <div class="form-inner-no-space">
                    <div class="row">
                        <div class="col-md-12 form-box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form_widget(form.comment,{'attr':{'rows':6}}) }}
                                            {{ form_errors(form.comment) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.transferTo, 'Transfer To'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.transferTo) }}
                                            {{ form_errors(form.transferTo) }}
                                        </div>
                                    </div>
                                </div>
                            </div>#}
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <div class="btn-group" >
                                        {% if entity.moduleProcess.approverReject == 1 and entity.reportTo.approvalUser.isRejected == 1  %}
                                            <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                        {% endif %}
                                        <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form) }}
                <br/>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
