{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Terms & Condition'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_condition_new') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Terms & Condition'|trans }}</a>
                            <a href="{{ path('procure_condition')}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Terms & Condition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="dataTable">
                                <thead class="thead-gray">
                                <tr>
                                    <th scope="col">S/N</th>
                                   {# <th scope="col">Department</th>#}
                                    <th scope="col">Name</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Updated</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if entities is not empty  %}
                                    {% for entity in entities  %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                           {# <td>{% if entity.department is not empty %}{{ entity.department.name }}{% endif %}</td>#}
                                            <td>{{ entity.name }}</td>
                                            <td>{{ entity.subject }}</td>
                                            <td>{{ entity.updated|date('d-m-Y') }}</td>
                                            <td>{{ entity.status }}</td>
                                            <td scope="col text-center">
                                                <div class="btn-group" >
                                                    <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_condition_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                    <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_condition_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
