<html>
<head>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('assets/theme/rbs/css/payment.css') }}" type="text/css" rel="stylesheet"/>
</head>
<title>Requisition Slip No: {{ entity.requisitionNo }}</title>
<body class="body">
<div class="row">
    <div class="col-md-12 text-right print-bar">
        <ul class="list-inline" id="grpChkBox">
            <li>
                <button id="printButton" class='btn btn-print print' onclick="print()" ><i class='fa fa-print'></i> Print</button>
            </li>
        </ul>
    </div>
</div>
<div id="print-box">
    <div id="print-area">
        <br/>
        <div class="row"><div class="div-br-30"></div></div>
        <div class="row mt-3">
            <table class="table">
                <tr>
                    <th colspan="2" style="text-align: left">
                        <h2 class="h2">{{ entity.companyUnit.parent.name }}</h2>
                        <h2 class="h2">ADVANCE CLAIM FORM</h2>
                        <strong>Advance through employment details:</strong>
                    </th>
                    <td colspan="2" class="text-right">
                        <strong>Created By: </strong>{{  entity.createdBy.name  }}
                        <br/>
                        <strong>Employee ID: </strong>{{  entity.createdBy.profile.employeeId  }}
                        <br/>
                        <strong>Department: </strong>{% if entity.createdBy.profile.department %}{{ entity.createdBy.profile.department.name  }}{% endif %}
                        <br/>
                        <strong>Mobile: </strong>{{  entity.createdBy.profile.mobile  }}
                        <br/>
                        <strong>Email: </strong>{{  entity.createdBy.email  }}
                    </td>
                </tr>
                {% if entity.mode == "vendor"  %}
                    <tr>
                        <td>Name of Supplier/Service Provider</td>
                        <td>{{ entity.vendor ? entity.vendor.companyName }}</td>
                        <td>Date:</td>
                        <td>{{ entity.created|date('d F Y') }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td>Vendor ID</td>
                        <td>{{ ( entity.vendor ) ? entity.vendor.vendorId : '' }}</td>
                    </tr>
                    <tr>
                        <td>Dept</td>
                        <td>{{ ( entity.processDepartment ) ? entity.processDepartment.name : '' }}</td>
                        <td>Cell</td>
                        <td>{{ ( entity.vendor ) ? entity.vendor.mobile : '' }}</td>
                    </tr>
                    <tr>
                        <td>E-mail ID</td>
                        <td colspan="3">{{ ( entity.vendor ) ? entity.vendor.email : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Name of Employee</td>
                        <td>{{ entity.benificiery.name }}</td>
                        <td>Date:</td>
                        <td>{{ entity.created|date('d F Y') }}</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>{{ ( entity.benificiery.designation ) ? entity.benificiery.designation.name : '' }}</td>
                        <td>Office ID</td>
                        <td>{{ ( entity.benificiery ) ? entity.benificiery.employeeId : '' }}</td>
                    </tr>
                    <tr>
                        <td>Dept</td>
                        <td>{{ ( entity.processDepartment ) ? entity.processDepartment.name : '' }}</td>
                        <td>Cell</td>
                        <td>{{ ( entity.benificiery ) ? entity.benificiery.mobile : '' }}</td>
                    </tr>
                    <tr>
                        <td>E-mail ID</td>
                        <td colspan="3">{{ ( entity.benificiery ) ? entity.benificiery.email : '' }}</td>
                    </tr>
                {% endif %}

            </table>
        </div>
        <div class="row mt-3">
            <table class="table">
                <tr>
                    <th colspan="11" style="text-align: left">
                        Previous advance details are given below ( If Any):
                    </th>
                </tr>
                <tr>
                    <td>Si/No</td>
                    <td>Name of Supplier/Service <br/>Provider/Employee's</td>
                    <td>Purpose of Advance(Specific Head)</td>
                    <td>Advance Receive Date</td>
                    <td>Amount (TK)</td>
                    <td>Total Days(Age)</td>
                    <td>Target Days</td>
                    <td>Overdue (Days)</td>
                    <td>Interest(TK)</td>
                    <td>Commited date of Settlement</td>
                    <td>Remarks</td>
                </tr>
                {% if previous %}
                {% for row in previous %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ (row.benificiery) ? row.benificiery.name : '' }} {{ (row.vendor) ? row.vendor.companyName : '' }}</td>
                    <td>
                        {% if row.additionalItems %}
                            <ul>
                                {% for item in row.additionalItems %}
                                    <li>{{ item.name }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>{{ row.updated|date('d-m-Y') }}</td>
                    <td>{{ row.total|number_format(2) }}</td>
                    <td>{{ row.targetDays }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ row.description|raw }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
        {% if entity.additionalItems is not empty %}
            <div class="row"><div class="div-br-30"></div></div>
            <div class="div-br-30"><strong>Supplier & Vendor/Service provider claimable advance details are given below:</strong></div>
            <div class="row mt-3">
                <table class="table">
                    <tr>
                        <th colspan="11" style="text-align: left">
                            Previous advance details are given below (If Any):
                        </th>
                    </tr>
                    <tr>
                        <td>Si/No</td>
                        <td>Name of Supplier/Service <br/>Provider/Employee's</td>
                        <td>Purpose of Advance(Specific Head)</td>
                        <td>Amount</td>
                        <td>Target Date/Days</td>
                        <td>Remarks</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ (entity.benificiery) ? entity.benificiery.name : '' }} {{ (entity.vendor) ? entity.vendor.companyName : '' }}</td>
                        <td>
                            {% if entity.additionalItems %}
                                <ul>
                                    {% for item in entity.additionalItems %}
                                        <li>{{ item.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td>{{ entity.total|number_format(2) }}</td>
                        <td>{{ (entity.requisitionMode == "AAP" ? entity.targetDays : '') }}</td>
                        <td>{{ entity.description|raw }}</td>
                    </tr>
                    <tr>
                        <td colspan="6" >In words <strong>{{ entity.total|words }}</strong></td>
                    </tr>
                </table>
            </div>
        {% endif %}
        <div class="row"><div class="div-br-30"></div></div>
        <div class="row mt-3">
            <div class="col-md-12">
            {{ entity.content|raw }}
            </div>
        </div>
        <div class="row"><div class="div-br-30"></div></div>
        {% if approvals is not empty %}
            <div class="row"><div class="div-br-30"></div></div>
            <div class="row mt-3">
                <div class="grid-designation ">
                <div class="col-md-12">
                    {% if  entity.createdBy.profile.signaturePath is not empty %}
                        <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                        <br/>
                    {% endif%}
                    {{ entity.createdBy.name }}<br/>
                    {% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                    <p><strong>Concern Person</strong></p>
                </div>
                {% for index,list in approvals %}
                    {% if list.close == true  %}
                        <div class="col-md-12">
                            <div>
                                {% if list.close == true and list.assignTo.profile.signaturePath is not empty %}
                                    <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                    <br/>
                                {% endif%}
                                {{ list.assignTo.name }}<br/>
                                {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>
</div>
<script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
<script>
    function print() {
        var contents = $("#print-area").html();
        var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute", "top": "-1000000px" });
        $("body").append(frame1);
        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        frameDoc.document.open();
        //Create a new HTML document.
        frameDoc.document.write('<html><head><title>requisition_slip_No_{{ entity.requisitionNo }}</title>');
        frameDoc.document.write('</head><body>');
        //Append the external CSS file.
        frameDoc.document.write('<link href="/assets/theme/rbs/css/print.css" rel="stylesheet" type="text/css" />');
        frameDoc.document.write('<link href="/assets/theme/rbs/css/payment.css" rel="stylesheet" type="text/css" />');
        //Append the DIV contents.
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);
    }
</script>
</body>
</html>