{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Slip Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_slip_new',{'mode':'operational'}) }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Operational'|trans }}</a>
                            <a href="{{ path('procure_requisition_slip_new',{'mode':'vendor'}) }}" class="btn btn-sm purple-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Vendor'|trans }}</a>
                            <a href="{{ path('procure_requisition_slip',{'mode':'list'})}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition Slip'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">{{ 'Requisition Slip Request'|trans }} </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="row">
                                <div class="col-md-12 form-box-header"><p>Requisition Slip request details</p></div>
                            </div>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','action':path('procure_requisition_slip_edit',{'id':entity.id}),'data-action':path('procure_requisition_slip_ajax_update',{'id':entity.id})}}) }}
                            <div class="form-box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Requisition Slip No"|trans }}</label>
                                                    <div class="col-md-6">{{ entity.requisitionNo }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Created Date"|trans }}</label>
                                                    <div class="col-md-6">{{ entity.created|date('d-m-Y') }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.companyUnit, 'Company Unit'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.companyUnit) }}
                                                        {{ form_errors(form.companyUnit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.processDepartment, 'Process Department'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.processDepartment) }}
                                                        {{ form_errors(form.processDepartment) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.condition, 'Terms Condition Format'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.condition) }}
                                                        {{ form_errors(form.condition) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.requisitionMode, 'Requisition Mode'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.requisitionMode) }}
                                                        {{ form_errors(form.requisitionMode) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if entity.mode == "vendor" %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.vendor, 'Supplier & Vendor/Service Provider'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            <span class="is-required"> *</span>
                                                            {{ form_widget(form.vendor) }}
                                                            {{ form_errors(form.vendor) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.benificiery, 'Benificiery Provider'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-8">
                                                            <span class="is-required"> *</span>
                                                            {{ form_widget(form.benificiery) }}
                                                            {{ form_errors(form.benificiery) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.targetDays, 'Target Days'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.targetDays) }}
                                                        {{ form_errors(form.targetDays) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.expectedDate, 'Expected Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.expectedDate) }}
                                                        {{ form_errors(form.expectedDate) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.description, 'Justification'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.description) }}
                                                {{ form_errors(form.description) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.content, 'Terms & Condition'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.content) }}
                                                {{ form_errors(form.content) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.file, 'File Attachment'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.file) }}
                                                {{ form_errors(form.file) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-header grey-bg inner-header">
                                        <h5>{{ "Add Particular Item"|trans }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {{ form_start(itemAdditionalForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'additionalItemForm','action':path('procure_requisition_slip_item',{'id':entity.id})}}) }}
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_widget(itemAdditionalForm.name) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_widget(itemAdditionalForm.chargeLine) }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form_widget(itemAdditionalForm.category) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_widget(itemAdditionalForm.quantity) }}{{ form_widget(itemAdditionalForm.price) }}
                                        </div>
                                        <div class="col-md-3">
                                            <div class="btn-group btn-group-mini col-md-12">
                                                {{ form_widget(itemAdditionalForm.description) }} &nbsp;<button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-mini  blue-bg white-font"><i class="feather icon-plus"></i> Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                {{ form_widget(itemAdditionalForm._token) }}
                                {{ form_end(itemAdditionalForm) }}
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                        <thead class="thead-gray">
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Particular</th>
                                            <th scope="col">Charge Line</th>
                                            <th scope="col">Caegory</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Unit Price(BDT)</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Remark</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="invoiceAdditionalItem">
                                        {% if entity.additionalItems is not empty %}
                                            {% for item in entity.additionalItems %}
                                                <tr id="remove-{{ item.id }}">
                                                    <td>{{ loop.index }}</td>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ (item.chargeLine) ? item.chargeLine.name : '' }}</td>
                                                    <td>{{ item.category }}</td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>{{ item.price }}</td>
                                                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                                    <td>{{ item.description }}</td>
                                                    <td><a href="javascript:" class="btn btn-mini btn-danger itemAdditionalRemove" data-action="{{ path('procure_requisition_slip_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                                                </tr>
                                            {% endfor %}
                                            <tr><td colspan="6" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            {% if entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user"  %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ render(controller(
                                            "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                            { 'id': entity.id,'module':entity.module}
                                        )) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% if app.user.id == entity.createdBy.id and entity.process == "New" or app.user.id == entity.createdBy.id and entity.processOrdering == 1  %}
                        <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-6 text-left">
                               {# <div class="btn-group" role="group">
                                    <a class="btn purple-bg white-font form-submit btn" target="_blank" href="{{ path('procure_jobrequisition_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                    <a class="btn blue-bg white-font form-submit btn" target="_blank" href="{{ path('procure_jobrequisition_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i> Print</a>
                                </div>#}
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="btn-group" role="group">
                                    <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                    <button type="button" id="submitRequisitionBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save and Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        #requisition_slip_form_requisitionMode .radio{
            float: left;
            margin-right:15px ;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.condition').change(function(e){
        var condition = $(this).val();
        var url = Routing.generate('requisition_slip_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
        location.reload();
        });
    });
{% endblock %}
