{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Requisition Slip'|trans }}</h5>
                    {% if mode != "archived" %}
                    <div class="card-header-right">
                        {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_slip_new',{'mode':'operational'}) }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Operational'|trans }}</a>
                            <a href="{{ path('procure_requisition_slip_new',{'mode':'vendor'}) }}" class="btn btn-sm purple-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Vendor'|trans }}</a>
                            <a href="{{ path('procure_requisition_slip',{'mode':'list'})}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition Slip'|trans }}</a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {% if mode != "archived" %}
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_slip',{'mode':'list'})}}"><i class="fa fa-th-large"></i> Requisition Slip</a>
                                </li>
                                {% if app.user.hasRoles(['ROLE_APPROVER']) and app.user.checkBundle(['procurement']) %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'approve' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_slip',{'mode':'approve'})}}"><i class="feather icon-target"></i> Approve</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_slip',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'my-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_slip',{'mode':'my-progress'})}}"><i class="feather icon-aperture"></i> My-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archive' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_slip',{'mode':'archive'})}}"><i class="feather icon-file"></i> Archive</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'paymented' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_slip',{'mode':'paymented'})}}"><i class="feather icon-file"></i> Paymented</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead class="thead-transparent">
                                <form action="" method="get">
                                <tr role="row">
                                    <td colspan="2">{{ form_widget(searchForm.requisitionNo) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.requisitionMode) }}</td>
                                    <td>{{ form_widget(searchForm.createdBy) }}</td>
                                    <td>{{ form_widget(searchForm.benificiery) }}</td>
                                    <td>{{ form_widget(searchForm.vendor) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.unit) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.department) }}</td>
                                    <td colspan="2"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                    <td colspan="2"><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                    <td colspan="2">{{ form_widget(searchForm.filter) }}</td>
                                </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                {{ form_widget(searchForm._token) }}
                                </form>
                                {%  set sort = app.request.query.get('sort') %}
                                {%  set direction = app.request.query.get('direction') %}
                                <tr>
                                    <th{% if pagination.isSorted('e.created') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created', 'e.created') }}<span>{% if( direction == 'desc' and sort == 'e.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.updated') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Receive Date', 'e.updated') }}<span>{% if( direction == 'desc' and sort == 'e.updated') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.requisitionNo') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Requisition No.', 'e.requisitionNo') }}<span>{% if( direction == 'desc' and sort == 'e.requisitionNo') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Mode</th>
                                    <th{% if pagination.isSorted('createdBy') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created By', 'createdBy') }}<span>{% if( direction == 'desc' and sort == 'createdBy') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th>Benificiery</th>
                                    <th>Supplier</th>
                                    <th  {% if pagination.isSorted('unit') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Unit', 'unit') }}<span>{% if( direction == 'desc' and sort == 'unit') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Department', 'd.name') }}<span>{% if( direction == 'desc' and sort == 'd.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('expectedDate') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Expected Date', 'expectedDate') }}<span>{% if( direction == 'desc' and sort == 'expectedDate') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('reportToName') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Waiting For', 'e.process') }}
                                        <span>{% if( direction == 'desc' and sort == 'reportToName') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Revised From</th>
                                    <th{% if pagination.isSorted('e.process') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Status', 'e.process') }}
                                        <span>{% if( direction == 'desc' and sort == 'e.process') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Attachment</th>
                                    <th scope="col"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            <td>
                                                {{ entity.created|date('d-m-Y') }}<br/>
                                                {% set difference = date(entity.created).diff(date("now"|date)) %}
                                                {% set leftDays = difference.format('Days %a Hours %H') %}
                                                {{ leftDays }}
                                            </td>
                                            <td>{{ entity.updated|date('d-m-Y') }}</td>
                                            <td scope="col"><a class="entity-show" data-action="{{ path('procure_requisition_slip_show',{'id':entity.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.id }}"><strong>{{ entity.requisitionNo }}</strong></a></td>
                                            <td scope="col">{{ entity.requisitionMode }}</td>
                                            <td scope="col">{{ entity.createdBy }}</td>
                                            <td scope="col">{{ entity.benificiery }}</td>
                                            <td scope="col">{{ entity.vendor }}</td>
                                            <td scope="col">{% if entity.unit is not empty %}{{ entity.unit }}{% endif %}</td>
                                            <td scope="col">{% if entity.department is not empty %}{{ entity.department }}{% endif %}</td>
                                            <td scope="col">{{ entity.expectedDate|date("d-m-Y") }}</td>
                                            <td scope="col">{% if entity.reportToName is not empty %}{{ entity.reportToName }}{% endif %}</td>
                                            <td scope="col">
                                                {% if entity.fromReverseId is not empty %}
                                                    <a class="entity-show" data-action="{{ path('procure_requisition_slip_show',{'id':entity.fromReverseId}) }}" href="javascript:" data-title="Requisition No: {{ entity.fromReverseRequisitionNo }}" id="postView-{{ entity.fromReverseId }}">{{ entity.fromReverseRequisitionNo }}</a>
                                                {% endif %}
                                            </td>
                                            <td scope="col">
                                                {% if entity.waitingProcess == 'Reversed' and entity.reverseId is not empty %}
                                                    <a class="entity-show" data-action="{{ path('procure_requisition_slip_show',{'id':entity.reverseId}) }}" href="javascript:" data-title="Requisition No: {{ entity.reverseRequisitionNo }}" id="postView-{{ entity.reverseId }}">{{ entity.process }}</a>
                                                {% else %}
                                                    {{ entity.process }}
                                                {% endif %}
                                            </td>
                                            <td scope="col">{{ entity.total }}</td>
                                            <td scope="col">
                                                {% if entity.path %}
                                                <a target="_blank" href="{{ path('procure_requisition_slip_attachment',{'id':entity.id}) }}">Download</a>
                                                {% endif %}
                                            </td>
                                            <td scope="col text-center">
                                                <div class="btn-group" >
                                                    {% if entity.ordering < 2 and app.user.id == entity.userId and entity.waitingProcess not in ['Rejected','Approved','Reversed','Closed','Paymented'] %}
                                                    <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_requisition_slip_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                    <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_requisition_slip_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                    {% endif %}
                                                    {% if app.user.id == entity.userId and entity.waitingProcess in ['Rejected','Reversed'] and entity.reverseId is empty %}
                                                        <a class='btn btn-mini purple-bg white-font' href="{{ path('procure_requisition_slip_garment_reverse',{'id':entity.id}) }}"  ><i class='feather icon-target'></i> Reverse</a>
                                                    {% endif %}
                                                    {% if app.user.id == entity.reportToId %}
                                                    <a class='btn btn-mini purple-bg white-font' href='{{ path('procure_requisition_slip_process',{'id':entity.id}) }}'  id='postViewdd-{{ entity.id }}' ><i class='feather icon-target'></i> Approve</a>
                                                   {% endif %}
                                                    {% if entity.waitingProcess == "Approved" and app.user.hasRoles(['ROLE_PAYMENT_ROLE_PAYMENT_OPERATION','ROLE_DOMAIN']) %}
                                                        <a class='btn btn-mini green-bg white-font' href='{{ path('requisition_slip_payment',{'id':entity.id}) }}'  ><i class='feather icon-target'></i> Payment</a>
                                                    {% endif %}
                                                    <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_requisition_slip_show',{'id':entity.id}) }}" href="javascript:" data-title="Job Approval No: {{ entity.requisitionNo }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                    <div class="dropdown">
                                                        <button type="button" class="btn btn-mini btn-notify dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                                                        <div class="dropdown-content">
                                                            <a class="" target="_blank" href="{{ path('procure_requisition_slip_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Requsition Slip</a>
                                                            <a class="" target="_blank" href="{{ path('procure_requisition_slip_claim',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Claim Form</a>
                                                            {% if app.user.hasRoles(['ROLE_DOMAIN']) and entity.waitingProcess in ["In-progress","Approved"] and app.user.id == 129 %}
                                                                <a class="yellow-bg white-font edit-approve" href="{{ path('procure_requisition_slip_admin_edit',{'id':entity.id}) }}" ><i class="feather icon-edit"></i> Edit</a>
                                                                <a class="red-bg white-font remove" data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_requisition_slip_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class="feather icon-trash-2"></i> Delete</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
