<html>
<head>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('assets/theme/rbs/css/payment.css') }}" type="text/css" rel="stylesheet"/>
</head>
<title>Requisition No: {{ entity.requisitionNo }}</title>
<body class="body">
<div id="print-box">
    <div class="row">
        <div class="col-md-12 text-right print-bar">
            <ul class="list-inline" id="grpChkBox">
                <li>
                    <button id="printButton" class='btn btn-print print' onclick="print()"><i class='fa fa-print'></i> Print</button>
                </li>
            </ul>
        </div>
    </div>
    <div id="print-area">
        <br/>
        <div class="row"><div class="div-br-30"></div></div>
        <div class="row mt-3">
            <table class="table">
                <tr>
                    <th colspan="3" style="text-align: left">
                        <h3 class="h3">{{ entity.companyUnit.name }}</h3>
                        <p>{{ entity.companyUnit.address|raw }}</p>
                        <p><u>Requisition Slip</u></p>
                    </th>
                    <td colspan="3" class="text-right">
                        <strong>Created By: </strong>{{  entity.createdBy.name  }}
                        <br/>
                        <strong>Employee ID: </strong>{{  entity.createdBy.profile.employeeId  }}
                        <br/>
                        <strong>Department: </strong>{% if entity.createdBy.profile.department %}{{ entity.createdBy.profile.department.name  }}{% endif %}
                        <br/>
                        <strong>Mobile: </strong>{{  entity.createdBy.profile.mobile  }}
                        <br/>
                        <strong>Email: </strong>{{  entity.createdBy.email  }}
                    </td>
                </tr>
                {% if entity.mode == "vendor"  %}
                    <tr>
                        <td>Vendor ID:</td>
                        <td>{{ (entity.vendor) ? entity.vendor.vendorId :'' }}</td>
                        <td>Requisition Mode:</td>
                        <td><strong>{{ entity.requisitionMode }}</strong></td>
                        <td>Created:</td>
                        <td>{{ entity.created|date('d F Y') }}</td>
                    </tr>
                    <tr>
                        <td>Name of Supplier/Service Provider</td>
                        <td>{{ entity.vendor ? entity.vendor.companyName : '' }}</td>
                        <td>Requisition No</td>
                        <td>{{ entity.requisitionNo }}</td>
                        <td>Expected Date:</td>
                        <td>{{ entity.expectedDate|date('d F Y') }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td>Department</td>
                        <td>{{ ( entity.processDepartment ) ? entity.processDepartment.name : '' }}</td>
                        <td>Payment Date:</td>
                        <td>{{ (entity.paymentDate) ? entity.paymentDate|date('d F Y'):'' }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td colspan="5">{{ ( entity.vendor ) ? entity.vendor.mobile : '' }}</td>
                    </tr>
                    <tr>
                        <td>E-mail ID</td>
                        <td colspan="5">{{ ( entity.vendor ) ? entity.vendor.email : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Office ID:</td>
                        <td>{{ (entity.benificiery) ? entity.benificiery.employeeId :'' }}</td>
                        <td>Requisition Mode:</td>
                        <td><strong>{{ entity.requisitionMode }}</strong></td>
                        <td>Created:</td>
                        <td>{{ entity.created|date('d F Y') }}</td>
                    </tr>
                    <tr>
                        <td>Name of Employee</td>
                        <td>{{ entity.benificiery ? entity.benificiery.name : '' }}</td>
                        <td>Requisition No</td>
                        <td>{{ entity.requisitionNo }}</td>
                        <td>Expected Date:</td>
                        <td>{{ entity.expectedDate|date('d F Y') }}</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>{{ ( entity.benificiery.designation ) ? entity.benificiery.designation.name : '' }}</td>
                        <td>Department</td>
                        <td>{{ ( entity.processDepartment ) ? entity.processDepartment.name : '' }}</td>
                        <td>Payment Date:</td>
                        <td>{{ (entity.paymentDate) ? entity.paymentDate|date('d F Y'):'' }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td colspan="5">{{ ( entity.benificiery.mobile ) ? entity.benificiery.mobile : '' }}</td>
                    </tr>
                    <tr>
                        <td>E-mail ID</td>
                        <td colspan="5">{{ ( entity.benificiery.email ) ? entity.benificiery.email : '' }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        {% if entity.additionalItems is not empty %}
            <div class="row"><div class="div-br-30"></div></div>
            <div class="row mt-3">
                 <table class="table table-bordered">
                     <thead class="thead-dark">
                     <tr>
                         <th>S/N</th>
                         <th>Purpose of Advance(Specific Head)</th>
                         <th>Charge Line</th>
                         <th>Category</th>
                         <th>Quantity</th>
                         <th>Unit Price(BDT)</th>
                         <th>Amount</th>
                         <th>Remark</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for item in entity.additionalItems %}
                         <tr id="remove-{{ item.id }}">
                             <td>{{ loop.index }}</td>
                             <td>{{ item.name }}</td>
                             <td>{{ (item.chargeLine) ? item.chargeLine.name : '' }}</td>
                             <td>{{ item.category }}</td>
                             <td>{{ item.quantity }}</td>
                             <td>{{ item.price }}</td>
                             <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                             <td>{{ item.description|raw }}</td>
                         </tr>
                     {% endfor %}
                     <tr>
                         <td colspan="6" class="text-right"><strong>SubTotal</strong></td><td><strong>{{ entity.total|number_format(2) }}</strong></td>
                         <td></td>
                     </tr>
                     <tr>
                         <td colspan="8" >In words <strong>{{ entity.total|words }}</strong></td>
                     </tr>
                     </tbody>
                 </table>
            </div>
        {% endif %}
        <div class="row"><div class="div-br-30"></div></div>
        {% if approvals is not empty %}
            <div class="row"><div class="div-br-30"></div></div>
            <div class="row mt-3 ">
                <div class="grid-designation">
                <div class="col-md-12">
                    <div>
                        {% if  entity.createdBy.profile.signaturePath is not empty %}
                            <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                            <br/>
                        {% endif%}
                        {{ entity.createdBy.name }}<br/>
                        {% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                        <p><strong>Prepared by</strong></p>
                    </div>
                </div>
                {% for index,list in approvals %}
                    {% if list.close == true  %}
                        <div class="col-md-12">
                            <div>
                                {% if list.close == true and list.assignTo.profile.signaturePath is not empty %}
                                    <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                    <br/>
                                {% endif%}
                                {{ list.assignTo.name }}<br/>
                                {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
<script>
    function print() {
        var contents = $("#print-area").html();
        var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute", "top": "-1000000px" });
        $("body").append(frame1);
        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        frameDoc.document.open();
        //Create a new HTML document.
        frameDoc.document.write('<html><head><title>requisition_slip_No_{{ entity.requisitionNo }}</title>');
        frameDoc.document.write('</head><body>');
        //Append the external CSS file.
        frameDoc.document.write('<link href="/assets/theme/rbs/css/print.css" rel="stylesheet" type="text/css" />');
        frameDoc.document.write('<link href="/assets/theme/rbs/css/payment.css" rel="stylesheet" type="text/css" />');
        //Append the DIV contents.
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);
    }
</script>
</body>
</html>