{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Slip Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_slip',{'mode':'approve'})}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition Slip'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box">
                                <div class="portlet-title portlet-title-green">
                                    <div class="caption">{{ 'Requisition Slip Details'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Requisition Slip No.</strong></div>
                                                    <div class="col-md-6">{{ entity.requisitionNo }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Created</strong></div>
                                                    <div class="col-md-6">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Created By</strong></div>
                                                    <div class="col-md-6">{{ entity.createdBy.name }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Department</strong></div>
                                                    <div class="col-md-6">{% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Company Unit</strong></div>
                                                    <div class="col-md-6">{% if entity.companyUnit is not empty %} {{ entity.companyUnit.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>File Attachment</strong></div>
                                                    <div class="col-md-6">
                                                        {% if entity.path %}
                                                            <a target="_blank" href="{{ path('procure_requisition_slip_attachment',{'id':entity.id}) }}">Download</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                        <br/><br/>
                                        <div class="row">
                                            <div class="col-md-3"><strong>Details/Justification</strong></div>
                                            <div class="col-md-9">{{ entity.description|raw }}</div>
                                        </div>
                                        <br/>
                                        {% if entity.additionalItems is not empty %}
                                            <div class="card-header grey-bg inner-header">
                                                <h5>Requisition Slip Items</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                                        <thead class="thead-gray">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Particulars</th>
                                                            <th scope="col" class="text-center">Quantity</th>
                                                            <th scope="col" class="text-right">Unit Price(BDT)</th>
                                                            <th scope="col" class="text-right">SubTotal</th>
                                                            <th scope="col">Remark</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="invoiceItem">
                                                        {% for item in entity.additionalItems %}
                                                            <tr id="remove-{{ item.id }}">
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ item.name }}</td>
                                                                <td class="text-center">{{ item.quantity }}</td>
                                                                <td class="text-right" style="float: right">
                                                                    <input type="number"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_slip_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.price }}">
                                                                </td>
                                                                <td class="text-right"><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                                                <td>{{ item.description }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        <tr><td colspan="4" class="text-right"><strong>SubTotal</strong></td><td class="text-right">{{ entity.total|number_format(2) }}</td><td></td></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <br/>

                                        <br/>
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                {#<div class="row">
                                                    <div class="col-md-8">
                                                        <labe>Approve Mode</labe> &nbsp;{{ form_widget(form.reject,{'attr':{'rows':6}}) }}
                                                    </div>
                                                </div>#}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                {{ form_widget(form.comment,{'attr':{'rows':6}}) }}
                                                                {{ form_errors(form.comment) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <div class="btn-group" >
                                                            {#{% if entity.moduleProcess.approverReject == 1 and entity.reportTo.approvalUser.isRejected == 1  %}#}
                                                            <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                            {# {% endif %}#}
                                                            <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/garments.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}



