{% if entity.additionalItems is not empty %}
    {% for item in entity.additionalItems %}
        <tr id="remove-{{ item.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>

            <td class="text-right" style="float: right">
                <input type="number"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_slip_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.price }}">
            </td>
            <td>{{ item.subTotal }}</td>
            <td>{{ item.description }}</td>
        </tr>
    {% endfor %}
    <tr><td colspan="4" class="text-right"><strong>SubTotal</strong></td><td id="additionalSubItem">{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
{% endif %}