<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Item Wise</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
<div style="padding-bottom: 10px"><img width="100%" src="{{ asset(headerImage) }}"></div>
{#<div class="print-footer-content"><div class="row"><div class="col-md-12"><img width="100%" src="{{ asset(headerImage) }}"></div></div></div>#}
<table border="1" cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Created'|trans }}</th>
        <th>{{ 'W/O Ref'|trans }}</th>
        <th>{{ 'Supplier'|trans }}</th>
        <th>{{ 'Amount'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is not empty %}
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.created|date('d-m-Y') }}</td>
                <td>{{ entity.invoice }}</td>
                <td>{{ entity.company }}</td>
                <td>{{ entity.amount|number_format(2) }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
<div style="padding-top: 10px"><img width="100%" src="{{ asset(footerImage) }}"></div>
</body>
</html>