{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Peocurement Dashboard'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {#                    <nav>#}
                    {#                        {{ include('@TerminalbdProcurement/default/menu.html.twig') }}#}
                    {#                    </nav>#}

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 ">
                                <div class="custom-div bg-blue">
                                    <i class="fas fa-thumbs-up custom-icon"></i>
                                    <h4 style="color: white"><a href="{{ path('procure_jobrequisition',{'mode':'approve'}) }}">
                                            Job Approval
                                            {% if jobcount != 0 %}
                                                ({{ jobcount }})
                                            {% endif %}
                                        </a></h4>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="custom-div bg-lightblue">
                                    <i class="fas fa-shopping-cart custom-icon"></i>
                                    <h4 style="color: white"><a href="{{ path('procure_requisition_garment',{'mode':'approve'}) }}">
                                            Purchase Requisition
                                            {% if reqcount != 0 %}
                                                ({{ reqcount }})
                                            {% endif %}
                                        </a></h4>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="custom-div bg-blue">
                                    <i class="fas fa-shopping-cart custom-icon"></i>
                                    <h4 style="color: white"><a href="{{ path('procure_requisition_garments_issue',{'mode':'approve'}) }}">
                                            Store Requisition
                                            {% if reqcount != 0 %}
                                                ({{ reqcount }})
                                            {% endif %}
                                        </a></h4>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="custom-div bg-lightblue">
                                    <i class="fa fa-folder custom-icon"></i>
                                    <h4 style="color: white"><a href="{{ path('procure_requisition_garments_order_issue',{'mode':'approve'}) }}">
                                            Order Issued
                                            {% if ordercount != 0 %}
                                                ({{ ordercount }})
                                            {% endif %}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3 ">
                                <div class="custom-div bg-lightblue">
                                    <i class="fa fa-pencil-square-o custom-icon"></i>
                                    <h4 style="color: white"><a href="{{ path('procure_tender_garments_open_item') }}">Tender Open Item</a></h4>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="custom-div bg-blue">
                                    <i class="fas fa fa-window-maximize custom-icon"></i>
                                    <h4 style="color: white"><a href="{{ path('procure_tender_garments',{'mode':'approve'}) }}">Tender</a></h4>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="custom-div bg-lightblue">
                                    <i class="fas fa-pencil-square-o custom-icon"></i>
                                    <h4 style="color: white"><a href="{{ path('procure_tender_garments_comparative',{'mode':'approve'}) }}">Tender CS</a></h4>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="custom-div bg-blue">
                                    <i class="fa fa-folder custom-icon"></i>
                                    <h4 style="color: white"><a href="{{ path('procure_tender_garments_workorder',{'mode':'approve'}) }}">Workorder</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .bg-blue{
            background-color: #2d3e4e;
        }
        .bg-lightblue{
            background-color: #549ab5;
        }
        a{color: inherit}
        a:hover, a:focus {
            color: black;
        }
        .custom-div{
            text-align: center;
            color: white;
            padding-bottom: 20px;
        }
        .custom-icon{
            font-size: 60px;
            margin-bottom: 20px;
            margin-top: 30px;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
