{# Horizontal Menu #}
{% if app.user.terminal.businessGroup.slug == "garment" %}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_PROCUREMENT_STORE','ROLE_PROCUREMENT_STORE_ISSUE','ROLE_DOMAIN'])  and app.user.checkBundle(['procurement']) %}
        <li class="nav-item pcoded-hasmenu">
            <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-briefcase"></i></span><span class="pcoded-mtext">{{ "Requisition"|trans }}</span></a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('procure_item_search',{'mode':'list'}) }}">{{ "Item Search"|trans }}</a></li>
                {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN'])  %}
                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) %}
                        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Archived" }}</a>
                            <ul class="pcoded-submenu">
                                <li><a href="{{ path('procure_jobrequisition_archived') }}">{{ "Job Approval"|trans }}</a></li>
                                <li><a href="{{ path('procure_requisition_garment_archived') }}">{{ "Requisition"|trans }}</a></li>
                                <li><a href="{{ path('procure_requisition_garments_issue_archived') }}">{{ "Store Requisition"|trans }}</a></li>
                                <li><a href="{{ path('procure_requisition_item_report_garment') }}">{{ "Workorder Item Report"|trans }}</a></li>
                            </ul>
                        </li>
                        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Job Approval" }}</a>
                            <ul class="pcoded-submenu">
                                <li><a href="{{ path('procure_jobrequisition',{'mode':'list'}) }}">{{ "Job Approval"|trans }}</a></li>
                                <li><a href="{{ path('procure_jobrequisition_new',{'requisitionMode':'OPEX'}) }}">{{ "New OPEX Requisition"|trans }}</a></li>
                                <li><a href="{{ path('procure_jobrequisition_new',{'requisitionMode':'CAPEX'}) }}">{{ "New Capax Requisition"|trans }}</a></li>
                            </ul>
                        </li>
                        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Purchase Requisition" }}</a>
                            <ul class="pcoded-submenu">
                                <li><a href="{{ path('procure_requisition_garment',{'mode':'list'}) }}">{{ "Requisition"|trans }}</a></li>
                                <li><a href="{{ path('procure_requisition_garment_new',{'requisitionMode':'OPEX'}) }}">{{ "New OPEX Requisition"|trans }}</a></li>
                                <li><a href="{{ path('procure_requisition_garment_new',{'requisitionMode':'CAPEX'}) }}">{{ "New CAPEX Requisition"|trans }}</a></li>
                                <li><a href="{{ path('procure_requisition_garment_new',{'requisitionMode':'INV'}) }}">{{ "New INV Requisition"|trans }}</a></li>
                            </ul>
                        </li>

                         <li class="pcoded-hasmenu"><a href="javascript:">{{ "kanban Requisition" }}</a>
                            <ul class="pcoded-submenu">
                                <li><a href="{{ path('procure_requisition_garment_kanban') }}">{{ "Kanban" }}</a></li>
                            </ul>
                        </li>

                        <li><a href="{{ path('procure_inprogress_requisition_item') }}">{{ "In-progress Item"|trans }}</a></li>
                        <li><a href="{{ path('procure_inprogress_requisition_budget_item') }}">{{ "In-progress Requisition"|trans }}</a></li>
                        {% if app.user.hasRoles(['ROLE_PROCUREMENT_ADDITIONAL_BUDGET','ROLE_DOMAIN']) %}
                            <li class="pcoded-hasmenu"><a href="javascript:">{{ 'Additional Budget'|trans }}</a>
                                <ul class="sub-menu pcoded-submenu">
                                    <li><a href="{{ path('procure_utilization_letter') }}">{{ 'Utilization Letter'|trans }}</a></li>
                                    <li><a href="{{ path('procure_utilization_letter_new') }}">{{ 'Add Utilization Letter'|trans }}</a></li>
                                    <li><a href="{{ path('budget_variance') }}">{{ 'Add Additional Budget'|trans }}</a></li>
                                    <li><a href="{{ path('budget_gladditional') }}">{{ 'Additional Budget List'|trans }}</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu"><a href="javascript:">{{ 'Adjustment Budget'|trans }}</a>
                                <ul class="sub-menu pcoded-submenu">
                                    <li><a href="{{ path('budget_current_month') }}">{{ 'Add Adjustment Budget'|trans }}</a></li>
                                    <li><a href="{{ path('budget_adjustment') }}">{{ 'Adjustment List'|trans }}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_STORE','ROLE_PROCUREMENT_STORE_ISSUE','ROLE_PROCUREMENT_REQUISITION','ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Store Requisition" }}</a>
                            <ul class="pcoded-submenu">
                                <li><a href="{{ path('procure_requisition_garments_issue',{'mode':'list'}) }}">{{ "Store Requisition" }}</a></li>
                                <li><a href="{{ path('procure_requisition_garments_issue_new') }}">{{ "New Store Requisition" }}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}


            </ul>
        </li>
        {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN','ROLE_BUDGET_ADMIN','ROLE_BUDGET_OFFICER','ROLE_PROCUREMENT_BILL_ENTRY'])  %}
            <li class="nav-item pcoded-hasmenu">
                <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-briefcase"></i></span><span class="pcoded-mtext">{{ "Bill Entry"|trans }}</span></a>
                <ul class="sub-menu pcoded-submenu">
                        <li class="nav-item pcoded-hasmenu"><a href="javascript:">{{ "Expense Entry" }}</a>
                            <ul class="pcoded-submenu">
                                <li><a href="{{ path('procure_billentry_garment',{'mode':'list'}) }}">{{ "Expense List"|trans }}</a></li>
                                <li><a href="{{ path('procure_requisition_garment_new',{'requisitionMode':'Expense'}) }}">{{ "New Expense"|trans }}</a></li>
                                <li><a href="{{ path('expense_importfile') }}">{{ "Expense Import"|trans }}</a></li>

                            </ul>
                        </li>
                        {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN','ROLE_BUDGET_ADMIN','ROLE_PROCUREMENT_CONFIDENTIAL_ENTRY'])  %}
                            <li class="nav-item pcoded-hasmenu"><a href="javascript:">{{ "Confidential Entry" }}</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="{{ path('procure_confidential_garment',{'mode':'list'}) }}">{{ "Confidential List"|trans }}</a></li>
                                    <li><a href="{{ path('procure_requisition_garment_new',{'requisitionMode':'Confidential'}) }}">{{ "New Confidential"|trans }}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                </ul>
            </li>
        {% endif %}
    {% endif %}
   {# {{ dump(app.user.roles) }}#}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_STORE_ISSUE','ROLE_PROCUREMENT_STORE','ROLE_DOMAIN'])  and app.user.checkBundle(['procurement']) %}
        <li class="nav-item pcoded-hasmenu">
            <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-briefcase"></i></span><span class="pcoded-mtext">{{ "Store"|trans }}</span></a>
            <ul class="sub-menu pcoded-submenu">
                {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN'])  %}
                    <li><a href="{{ path('inv_stock_wearhouse') }}">Stock Wearhouse</a></li>
                    <li class="pcoded-hasmenu"><a href="javascript:">{{ "Order Issue" }}</a>
                        <ul class="pcoded-submenu">
                            <li><a href="{{ path('procure_requisition_garments_requisition_issued') }}">{{ "Store Approved" }}</a></li>
                            <li><a href="{{ path('procure_requisition_garments_order_issue',{'mode':'list'}) }}">{{ "Delivery Issue" }}</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_PROCUREMENT_STORE','ROLE_PROCUREMENT_STORE_ISSUE','ROLE_PROCUREMENT_TENDER','ROLE_PROCUREMENT_ADMIN']) and app.user.checkBundle(['procurement']) %}
                    <li class="pcoded-hasmenu"><a href="javascript:">{{ "Goods Received" }}</a>
                        <ul class="pcoded-submenu">
                            <li><a href="{{ path('procure_tender_garments_receive_workorder') }}">{{ "Workorder" }}</a></li>
                            <li><a href="{{ path('procure_tender_garments_receive',{'mode':'list'}) }}">{{ "Goods Receive" }}</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_PROCUREMENT_STORE','ROLE_PROCUREMENT_STORE_ISSUE','ROLE_PROCUREMENT_TENDER','ROLE_PROCUREMENT_ADMIN']) and app.user.checkBundle(['procurement']) %}
                    <li class="pcoded-hasmenu"><a href="javascript:">{{ "Goods Direct Receive" }}</a>
                        <ul class="pcoded-submenu">
                            <li><a href="{{ path('procure_receive_direct',{'mode':'list'}) }}">{{ "Goods Receive" }}</a></li>
                            <li><a href="{{ path('procure_receive_direct_new') }}">{{ "New Goods Receive" }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_INITIATOR','ROLE_DOMAIN','ROLE_PROCUREMENT_ADMIN','ROLE_PROCUREMENT'])  and app.user.checkBundle(['procurement']) %}
        <li class="nav-item pcoded-hasmenu">
            <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">{{ "Procurement"|trans }}</span></a>
            <ul class="sub-menu pcoded-submenu">
                {% if app.user.hasRoles(['ROLE_PROCUREMENT','ROLE_DOMAIN'])  %}
                    {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_PROCUREMENT_TENDER','ROLE_PROCUREMENT_ADMIN']) and app.user.checkBundle(['procurement']) %}
                        <li><a href="{{ path('procure_purchase_order_garment',{'mode':'list'}) }}">{{ "Requisition Order" }}</a></li>
                        <li><a href="{{ path('requisition_item_status_report') }}">{{ "Requisition Purchase Status" }}</a></li>
                        <li><a href="{{ path('procure_tender_garments',{'mode':'list'}) }}">{{ "R.F.Q" }}</a></li>
                        <li><a href="{{ path('procure_tender_garments_comparative',{'mode':'list'}) }}">{{ "Comparative Statement" }}</a></li>
                        <li><a href="{{ path('procure_tender_direct_garments',{'mode':'list'}) }}">{{ "Direct Workorder" }}</a></li>
                    {% endif %}
                    {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_PROCUREMENT_TENDER','ROLE_PROCUREMENT_ADMIN']) and app.user.checkBundle(['procurement']) %}
                        <li><a href="{{ path('procure_tender_garments_workorder') }}">{{ "Workorder" }}</a></li>
                    {% endif %}
                    <li><a href="{{ path('procure_tender_garments_workorder_archived',{'mode':'send-to-vendor'}) }}">{{ "Send to Vendor" }}</a></li>
                    <li><a href="{{ path('procure_tender_garments_workorder_archived') }}">{{ "Workorder Archived" }}</a></li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                    <li class="pcoded-hasmenu">
                        <a class="" href="javascript:"><span>{{ "Master Data"|trans }}</span></a>
                        <ul class="sub-menu pcoded-submenu">
                            <li><a href="{{ path('procure_particular') }}">Setting</a></li>
                            <li><a href="{{ path('procure_enlisted_vendor') }}">Enlisted Vendor</a></li>
                            <li><a href="{{ path('procure_condition') }}">Terms & Condition</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    {% if app.user.hasRoles(['ROLE_APPROVER','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
        <li class="nav-item pcoded-hasmenu">
            <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-check-square"></i></span><span class="pcoded-mtext">{{ "Approval"|trans }}</span></a>
            <ul class="sub-menu pcoded-submenu">
                {% if app.user.hasRoles(['ROLE_APPROVER','ROLE_DOMAIN']) and app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION']) and app.user.checkBundle(['procurement']) %}
                <li class="pcoded-hasmenu"><a href="javascript:">{{ "Requisition" }}</a>
                    <ul class="pcoded-submenu">
                        <li><a href="{{ path('procure_jobrequisition',{'mode':'approve'}) }}">{{ "Job Approval" }}</a></li>
                        <li><a href="{{ path('procure_requisition_garment',{'mode':'approve'}) }}">{{ "Purchase Requisition" }}</a></li>
                        <li><a href="{{ path('procure_utilization_letter',{'mode':'approve'}) }}">{{ "Utilization Letter" }}</a></li>
                        {% if app.user.profile.department and app.user.profile.department.slug == "budget" %}
                            <li><a href="{{ path('procure_requisition_garment_budget_process',{'mode':'approve'}) }}">{{ "Budget Approve" }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('procure_requisition_garments_issue',{'mode':'approve'}) }}">{{ "Store Requisition" }}</a></li>
                        <li><a href="{{ path('procure_requisition_garments_order_issue',{'mode':'approve'}) }}">{{ "Delivery Issue" }}</a></li>
                    </ul>
                <li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_APPROVER','ROLE_DOMAIN']) and app.user.hasRoles(['ROLE_PROCUREMENT_STORE_ISSUE']) and app.user.checkBundle(['procurement']) %}
                <li class="pcoded-hasmenu"><a href="javascript:">{{ "Approval Store" }}</a>
                    <ul class="pcoded-submenu">
                        <li><a href="{{ path('procure_requisition_garments_issue',{'mode':'approve'}) }}">{{ "Store Requisition" }}</a></li>
                        <li><a href="{{ path('procure_requisition_garments_order_issue',{'mode':'approve'}) }}">{{ "Delivery Issue" }}</a></li>
                        <li><a href="{{ path('procure_tender_garments_receive',{'mode':'approve'}) }}">{{ "Goods Receive" }}</a></li>
                    </ul>
                <li>
                {% endif %}
                {% if app.user.hasRoles(['ROLE_APPROVER','ROLE_DOMAIN']) and app.user.hasRoles(['ROLE_PROCUREMENT_TENDER'])  and app.user.checkBundle(['procurement']) %}
                <li class="pcoded-hasmenu"><a href="javascript:">{{ "Approval Purchase" }}</a>
                    <ul class="pcoded-submenu">
                        <li><a href="{{ path('procure_tender_garments_comparative',{'mode':'approve'}) }}">{{ "Comparative Statement" }}</a></li>
                        <li><a href="{{ path('procure_tender_direct_garments',{'mode':'approve'}) }}">{{ "Direct Workorder" }}</a></li>
                        <li><a href="{{ path('procure_tender_garments',{'mode':'approve'}) }}">{{ "R.F.Q" }}</a></li>
                        <li><a href="{{ path('procure_tender_garments_workorder',{'mode':'approve'}) }}">{{ "Work Order" }}</a></li>
                    </ul>
                <li>
                {% endif %}

            </ul>
        </li>
    {% endif %}
{% endif %}

{# Sidebar Menu #}


