<div class="card">
    <div class="card-header">
        <h5>{{ 'Company Unit Financial Report'|trans }}</h5>
        <div class="card-header-right">
            <div class="btn-group btn-group-sm" >
                <button id="button-excel" onclick="exportHtmlToExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</button>
            </div>
        </div>
    </div>
</div>
{% if entities is not empty %}
    <table class="table" id="htmlToExcel">
        <thead class="thead-green">
        <tr>
            <th scope="col">S/N</th>
            <th scope="col">Company Name</th>
            <th scope="col">Unit</th>
            <th scope="col">No of Workorder</th>
            <th scope="col">Amount</th>
            <th scope="col">Percent</th>
        </tr>
        </thead>
        <tbody>
        {% set percent = 0 %}
        {% set i = 1  %}
        {% for unit in entities['unites'] %}
            {% for entity in unit %}
                {% set percent = percent + ((entity.amount * 100)/entities['workOrderAmount']['amount'])|default(0) %}
                <tr>
                    {% if loop.index==1 %}
                        <td rowspan="{{ unit|length }}">{{ i }}</td>
                        <td rowspan="{{ unit|length }}">{{ entity.company }}</td>
                    {% endif %}
                    <td>{{ entity.unit }}</td>
                    <td>{{ entity.totalCount }}</td>
                    <td>{{ entity.amount|number_format(2) }}</td>
                    <td>{{ ((entity.amount * 100)/entities['workOrderAmount']['amount'])|default(0)|number_format(2) }}%</td>
                </tr>
            {% endfor %}
            {% set i = i+1 %}
        {% endfor %}
        </tbody>
        <tr><th colspan="4"> Total Amount</th><th>{{ entities['workOrderAmount']['amount']|number_format(2) }}</th><th>
                {{ percent|number_format(2) }}%</th></tr>
    </table>
{% endif %}
