{% if budgets is not empty %}
    {% for company in budgets['companies'] %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover display nowrap">
                    <thead class="thead-gray">
                    <tr>
                        <th scope="col" colspan="10">{{ company.comapnyName }}</th>
                    </tr>
                    <tr>
                        <th scope="col">Ledger(GL Code)</th>
                        <th scope="col">Annual Budget</th>
                        <th scope="col">Till Amount YTD Budget<br/>({{ entity.created|date('F') }})</th>
                        <th scope="col">All requisition YTD <br/>({{ entity.created|date('F') }}) Expense</th>
                        <th scope="col">Variance YTD</th>
                        <th scope="col">This requisition Amount</th>
                        <th scope="col">After this requisition <br/> variance </th>
                        <th scope="col">YTD Variance %</th>
                        <th scope="col">Available Budget</th>
                        <th scope="col">Action</th>
                    </tr>
                    <tbody id="invoiceItem">
                        {% if entity.processOrdering < 2 and app.user.id == entity.createdBy.id and entity.waitingProcess != "Approved" %}
                                {% for budget in budgets['monthlyBudget'][company.companyId] %}
                                {% if company.companyId == budget.branchId %}
                                    <tr>
                                        <td>{{ budget.glCode }}-{{ budget.glName }}</td>
                                        <td>{{ budget.yearlyBudget|number_format(2) }}</td>
                                        <td>{{ (budget.tillAmount + budget.monthlyBudget)|number_format(2) }}</td>
                                        <td>{{ (budget.yearlyExpenseBudget + budget.yearlyHoldBudget)|number_format(2) }}</td>
                                        <td>{{ ((budget.tillAmount + budget.monthlyBudget) - (budget.yearlyExpenseBudget + budget.yearlyHoldBudget))|number_format(2) }}</td>
                                        <td>{{ budget.requisitionAmount|number_format(2) }}</td>
                                        <td>{{ ((budget.tillAmount + budget.monthlyBudget) - (budget.yearlyExpenseBudget+budget.yearlyHoldBudget+budget.requisitionAmount))|number_format(2) }}</td>
                                        <td>
                                            {% if budget.tillAmount is not empty and  budget.tillAmount|default(0) > 0  %}
                                                {{ (((budget.tillAmount + budget.monthlyBudget) - (budget.yearlyExpenseBudget + budget.yearlyHoldBudget) )/(budget.tillAmount + budget.monthlyBudget)) }}%
                                            {% endif %}
                                        </td>
                                        {% set amount =  budget.yearlyRemainigBudget|default(0) + budget.yearlyHoldBudget|default(0) %}
                                        <td>{{ amount|number_format(2) }}</td>
                                        <td>
                                            {% if budget.lowStatus == 1 and app.user.id == entity.createdBy.id %}
                                                <a class='btn btn-mini purple-bg white-font' data-action='{{ path('procure_requisition_garment_budget_adjustment',{'id':budget.id}) }}' href='?process=postViewdd-{{ budget.id }}&check=process#modal' id='postViewdd-{{ budget.id }}' ><i class='feather icon-target'></i> Adjusment</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for budget in budgets['monthlyBudget'][company.companyId] %}
                                {% if company.companyId == budget.branchId %}
                                    <tr>
                                        <td>{{ budget.glCode }}-{{ budget.glName }}</td>
                                        <td>{{ budget.yearlyBudget|number_format(2) }}</td>
                                        <td>{{ (budget.tillAmount + budget.monthlyBudget)|number_format(2) }}</td>
                                        <td>
                                        {% if budget.requisitionAmount is not empty and  budget.requisitionAmount|default(0) > 0  %}
                                            {{ (budget.yearlyExpenseBudget + budget.yearlyHoldBudget - budget.requisitionAmount)|number_format(2) }}
                                        {% else %}
                                            {{ (budget.yearlyExpenseBudget + budget.yearlyHoldBudget)|number_format(2) }}
                                        {% endif %}
                                        </td>
                                        <td>
                                            {% if budget.requisitionAmount is not empty and  budget.requisitionAmount|default(0) > 0  %}
                                                {{ ((budget.tillAmount + budget.monthlyBudget) - (budget.yearlyExpenseBudget + budget.yearlyHoldBudget))|number_format(2) }}
                                            {% else %}
                                                {{ ((budget.tillAmount + budget.monthlyBudget) - (budget.yearlyExpenseBudget + budget.yearlyHoldBudget))|number_format(2) }}
                                            {% endif %}
                                        </td>
                                        <td>{{ budget.requisitionAmount|number_format(2) }}</td>
                                        <td>
                                            {% if budget.requisitionAmount is not empty and  budget.requisitionAmount|default(0) > 0  %}
                                                {{ ((budget.tillAmount + budget.monthlyBudget + budget.requisitionAmount) - (budget.yearlyExpenseBudget+budget.yearlyHoldBudget+budget.requisitionAmount))|number_format(2) }}
                                            {% else %}
                                                {{ ((budget.tillAmount + budget.monthlyBudget) - (budget.yearlyExpenseBudget+budget.yearlyHoldBudget+budget.requisitionAmount))|number_format(2) }}
                                            {% endif %}

                                        </td>
                                        <td>
                                            {% if budget.tillAmount is not empty and  budget.tillAmount|default(0) > 0  %}
                                                {{ (((budget.tillAmount + budget.monthlyBudget) - (budget.yearlyExpenseBudget + budget.yearlyHoldBudget) )/(budget.tillAmount + budget.monthlyBudget)) }}%
                                            {% endif %}
                                        </td>
                                        {% set amount =  budget.yearlyRemainigBudget|default(0) - budget.yearlyHoldBudget|default(0) %}
                                        <td>{{ amount|number_format(2) }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>

                </table>
            </div>
        </div>
    {% endfor %}
{% endif %}