{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Purchase Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_garment',{'mode':'approve'}) }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            <div class="portlet-body form">
                                <div class="row form-body">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Requisition No.</strong></div>
                                                    <div class="col-md-6">{{ entity.requisitionNo }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Job Approval No.</strong></div>
                                                    <div class="col-md-6">{% if entity.jobRequisition is not empty %} {{ entity.jobRequisition.requisitionNo }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Created</strong></div>
                                                    <div class="col-md-6">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Created By</strong></div>
                                                    <div class="col-md-6">{{ entity.createdBy.name }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Department</strong></div>
                                                    <div class="col-md-6">{% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="grid-products">
                                                    {% for share in requisitionShares  %}
                                                        <li>{{ share.branchName }} ({{ share.branchShare }})%</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"><strong>Details/Justification</strong></div>
                                            <div class="col-md-9"><p>{{ entity.content|raw }}</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap" id="">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">UOM</th>
                                                        <th scope="col">Bran/Organ</th>
                                                        <th scope="col">Size</th>
                                                        <th scope="col">Color</th>
                                                        <th scope="col">Actual QTY</th>
                                                        <th scope="col">Req.QTY</th>
                                                        <th scope="col">Stock in QTY</th>
                                                        <th scope="col">Last Purch QTY</th>
                                                        <th scope="col">Last Purch Date</th>
                                                        <th scope="col">Last Purch Price</th>
                                                        <th scope="col">CMP</th>
                                                        <th scope="col">CMP Date</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Remark</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceItem">
                                                    {% if entity.requisitionItems is not empty %}
                                                        {% for item in entity.requisitionItems %}
                                                            <tr id="remove-{{ item.id }}">
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ item.item.name }}</td>
                                                                <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                                                <td>{% if item.brand is not empty %}{{ item.brand.name }} {% endif %}</td>
                                                                <td>{% if item.size is not empty %}{{ item.size.name }} {% endif %}</td>
                                                                <td>{% if item.color is not empty %}{{ item.color.name }} {% endif %}</td>
                                                                <td>{{ item.actualQuantity }}</td>
                                                                <td>{{ item.quantity }}</td>
                                                                <td>{{ item.stockIn }}</td>
                                                                <td scope="col">{{ item.lastPurchaseQuantity }}</td>
                                                                <td scope="col">{% if item.lastPurchaseDate is not empty %}{{ item.lastPurchaseDate|date('d-m-Y') }}{% endif %}</td>
                                                                <td scope="col">{{ item.lastPurchasePrice }}</td>
                                                                <td>{{ item.currentPrice }}</td>
                                                                <td>{% if item.cmpDate is not empty %}{{ item.cmpDate|date('d-m-Y') }}{% endif %}</td>
                                                                <td>{{ item.price }}</td>
                                                                <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                                                <td>{{ item.description }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        <tr><td colspan="15" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">

                                                    <tr>
                                                        <th scope="col" class="text-center">Particular</th>
                                                        <th scope="col" class="text-center">Amount</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceItem">
                                                    <tr>
                                                        <th scope="col">Company</th> <th scope="col">{{ budget.glBudgetMonth.budgetYear.company.name }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">GL Code</th><td>{{ budget.glBudgetMonth.gl.generalLedgerCode }}-{{ budget.glBudgetMonth.gl.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Till Amount</th><td>{{ budget.budgetTillAmount|number_format(2) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Budget({{ entity.created|date('F') }})</th><td>{{ budget.monthlyBudget|number_format(2) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Requisition Amount</th>
                                                        <td>{{ budget.requisitionAmount|number_format(2) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Available Budget(Monthly) </th>
                                                        <td>{{ budget.monthlyReminigBudget|number_format(2) }}</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Available Adjustment </th>
                                                        <td>{{ budget.budgetAdjustmentAmount|number_format(2) }}</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Available Budget(Yearly) </th>
                                                        <td>{{ budget.yearlyBudget|number_format(2) }}</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Remainig Amount </th>
                                                        {% set amount =  budget.monthlyReminigBudget - budget.requisitionAmount %}
                                                        <td>{{ amount }}</td>
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <form action="{{ path('procure_requisition_garment_budget_adjustment_save',{'id':budget.id}) }}" method="post" name="ajaxForm" id="ajaxForm" >
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-blue">
                                                        <tr>
                                                            <th scope="col">Month Name</th>
                                                            <th scope="col">Remaning</th>
                                                            <th scope="col">Hold</th>
                                                            <th scope="col">Current</th>
                                                            <th scope="col">Adjust</th>
                                                            <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="invoiceItem">
                                                        {% for adjusment in adjusments %}
                                                            <tr>
                                                                <td>{{ adjusment.month }}</td>
                                                                <td>{{ adjusment.remaining }}</td>
                                                                <td>{{ adjusment.hold }}</td>
                                                                <td>{{ adjusment.remaining-adjusment.hold }}</td>
                                                                <td>
                                                                    <input type="hidden" id="budgetId-{{ adjusment.id }}" name="budgetMonth[]" value="{{ adjusment.id }}">
                                                                    <input type="hidden" id="currentAmount-{{ adjusment.id }}" value="{{ adjusment.remaining-adjusment.hold }}">
                                                                    <input type="text" id="adjustAmount-{{ adjusment.id }}" name="amount[]" data-id="{{ adjusment.id }}" max="{{ adjusment.remaining-adjusment.hold }}" value="0" class="form-control form-control-sm td-input number maxQuantity adjustAmount"></td>
                                                                <td id="remaining-{{ adjusment.id }}"></td>
                                                            </tr>
                                                        {% endfor %}
                                                        <tr><th colspan="4">Current Adjustment</th>
                                                            <th id="total"></th>
                                                        </tr>
                                                        <tr><th>Comment</th>
                                                            <td colspan="4"><textarea class="form-control textarea"></textarea></th>
                                                            <td><button type="submit" id="" name="save" class="btn btn-info btn-sm form-submit btn"><i class="fa fa-save"></i> Save</button></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .grid-designation {
            width: 100%;
            display: grid;
            grid-gap: 0;
        }
        .grid-designation {
            grid-template-columns: repeat(3, calc(100%/3));
        }
        .grid-products {
            width: 100%;
            display: grid;
            grid-gap: 0;
        }
        .grid-products {
            grid-template-columns: repeat(2, calc(100%/2));
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/garments.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}


