{% if budgets is defined and budgets is not empty %}
    {% for company in budgets['companies'] %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover display nowrap">
                    <thead class="thead-gray">
                    <tr>
                        <th scope="col" colspan="6">{{ company.comapnyName }}</th>
                    </tr>
                    <tr>
                        <th scope="col">GL Code</th>
                        <th scope="col">Till Amount</th>
                        <th scope="col">Budget(Monthly)</th>
                        <th scope="col">This Requisition(Monthly) </th>
                        <th scope="col">Available Budget(Monthly) </th>
                        <th scope="col">Available Adjustment </th>
                        <th scope="col">Available Budget(Yearly) </th>
                        <th scope="col text-center"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>
                    <tbody id="invoiceItem">
                    {% for budget in budgets['monthlyBudget'][company.companyId] %}
                        {% if company.companyId == budget.branchId %}
                            <tr>
                                <td>{{ budget.glCode }}-{{ budget.glName }}</td>
                                <td>{{ budget.tillAmount|number_format(2) }}</td>
                                <td>{{ budget.monthlyBudget|number_format(2) }}</td>
                                <td>{{ budget.requisitionAmount|number_format(2) }}</td>
                                <td>{{ budget.monthlyReminigBudget|number_format(2) }}</td>
                                <td>{{ budget.adjustmentAmount|number_format(2) }}</td>
                                <td>{{ budget.yearlyBudget|number_format(2) }}</td>
                                {% set amount =  budget.monthlyReminigBudget - budget.requisitionAmount %}
                                <td>{{ amount }}</td>
                                <td>
                                    {% if budget.lowStatus == 1 %}
                                        <a class='btn btn-mini purple-bg white-font' target="_blank"  href="{{ path('budget_adjustment_new',{'id':budget.glBudgetMonth.id}) }}" ><i class='feather icon-target'></i> Adjusment</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    {% endfor %}
{% endif %}