{% if entity.budgetItems is defined and entity.budgetItems is not empty %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap">
                <thead class="thead-gray">
                <tr>
                    <th scope="col" colspan="12">{{ entity.companyUnit.parent.name }}</th>
                </tr>
                <tr>
                    <th scope="col">Ledger(GL Code)</th>
                    <th scope="col">Annual Budget</th>
                    <th scope="col">Annual Additional Budget</th>
                    <th scope="col">Till Amount YTD Budget<br/>({{ entity.created|date('F') }})</th>
                    <th scope="col">Till Amount YTD Additional Budget<br/>({{ entity.created|date('F') }})</th>
                    <th scope="col">Hold YTD <br/>({{ entity.created|date('F') }})</th>
                    <th scope="col">All requisition YTD <br/>({{ entity.created|date('F') }}) Expense</th>
                    <th scope="col">This requisition Amount</th>
                    <th scope="col">After this requisition <br/> YTD variance </th>
                    <th scope="col">YTD Variance %</th>
                    <th scope="col">Annual Available Budget</th>
                    <th scope="col">Action</th>
                </tr>
                <tbody id="invoiceItem">
                {% if entity.budgetItems is defined and entity.budgetItems is not empty %}
                    {% for budget in entity.budgetItems %}
                        <tr>
                            {% if budget.gl.consumptionMode is not empty and budget.gl.isVariable == 1 and budget.budgetTillForcastAmount > 0 %}
                                <td>{{ budget.gl.generalLedgerCode }}-{{ budget.gl.name }}<br/>({{ budget.gl.consumptionMode }})</td>
                            {% else %}
                                <td>{{ budget.gl.generalLedgerCode }}-{{ budget.gl.name }}</td>
                            {% endif %}
                            <td>{{ budget.yearlyBudget|number_format }}</td>
                            <td>{{ budget.glBudgetMonth.budgetGlYear.amendment|number_format }}</td>
                            <td>
                                {% set thisTillAmount = (budget.budgetTillAmount|default(0) + budget.budgetAdjustmentPlus|default(0)) %}
                                {{ (budget.budgetTillAmount - budget.budgetTillAdditional)|number_format }}
                            </td>
                            <td>{{ budget.budgetTillAdditional|number_format }}</td>
                            <td>{{ budget.holdBudget|number_format }}</td>
                            <td>
                                {% set allRequisitionYTDExpense = ((budget.yearlyExpenseBudget + budget.yearlyHoldBudget ) - budget.requisitionAmount) %}
                                {{ budget.budgetTillExpense|number_format }}
                            </td>
                            <td>{{ budget.requisitionAmount|number_format }}</td>
                            <td>
                                {% set varianceYTD = ((budget.budgetTillAmount|default(0)) -( budget.budgetTillExpense + budget.requisitionAmount)) %}
                                {{ varianceYTD|number_format }}
                            </td>
                            <td>
                                {% if budget.budgetTillAmount %}
                                    {% set varianceYTD = ((budget.budgetTillAmount|default(0) - (budget.budgetTillExpense+budget.requisitionAmount)|default(0))*100)/(budget.budgetTillAmount) %}
                                    {{ varianceYTD|number_format(2) }}%
                                {% endif %}
                            </td>
                            <td>
                                {% set amount =  ((budget.yearlyBudget + budget.glBudgetMonth.budgetGlYear.amendment)|default(0) - budget.budgetTillExpense|default(0)) %}
                                {{ amount|number_format }}
                            </td>
                            <td>
                                <div class="btn-group btn-group-mini" >
                                    {% if (budget.lowStatus == 1 and app.user.id == entity.createdBy.id) or (budget.lowStatus == 1 and app.user.profile.department.slug == "budget" ) %}
                                        <a class='btn btn-mini purple-bg white-font' target="_blank"  href="{{ path('budget_adjustment_new',{'id':budget.glBudgetMonth.id}) }}" ><i class='feather icon-target'></i> Adjusment</a>
                                        <a class='btn btn-mini green-bg white-font' target="_blank"  href="{{ path('budget_gladditional_new',{'id':budget.glBudgetMonth.budgetGlYear.id}) }}" ><i class='feather icon-plus'></i> Additional</a>
                                    {% endif %}
                                    {% if (app.user.id == entity.createdBy.id and entity.waitingProcess != "Approved") or (entity.reportTo and entity.reportTo.id == BUDGET_CONTROLLER and entity.waitingProcess != "Approved")  %}
                                        <a class='btn btn-mini red-bg white-font'  href="{{ path('procure_requisition_garment_budget_delete',{'requisition':entity.id,'id':budget.id}) }}" ><i class='feather icon-trash'></i></a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% if budget.gl.consumptionMode is not empty and budget.gl.isVariable == 1 and budget.budgetTillForcastAmount > 0 %}
                            <tr>
                                <td>Forcast Budget</td>
                                <td>{{ budget.yearlyBudget|number_format }}</td>
                                <td>{{ budget.budgetTillAdditional|number_format }}</td>
                                <td>
                                    {% set thisTillAmount = (budget.budgetTillForcastAmount|default(0) + budget.budgetAdjustmentPlus|default(0)) %}
                                    {{ budget.budgetTillForcastAmount|number_format }}
                                </td>
                                <td></td>
                                <td>
                                    {{ budget.holdBudget|number_format }}
                                </td>

                                <td>
                                    {% set allRequisitionYTDExpense = ((budget.yearlyExpenseBudget + budget.yearlyHoldBudget ) - budget.requisitionAmount) %}
                                    {{ budget.budgetTillExpense|number_format }}
                                </td>
                                <td>{{ budget.requisitionAmount|number_format }}</td>
                                <td>
                                    {% set varianceYTD = ((budget.budgetTillForcastAmount|default(0)) -( budget.budgetTillExpense + budget.requisitionAmount)) %}
                                    {{ varianceYTD|number_format }}
                                </td>
                                <td>
                                    {% if budget.budgetTillAmount %}
                                        {% set varianceYTD = ((budget.budgetTillForcastAmount|default(0) - (budget.budgetTillExpense+budget.requisitionAmount)|default(0))*100)/(budget.budgetTillAmount) %}
                                        {{ varianceYTD|number_format(2) }}%
                                    {% endif %}
                                </td>
                                <td>
                                    {% set amount =  ((budget.yearlyBudget + budget.glBudgetMonth.budgetGlYear.amendment)|default(0) - budget.budgetTillExpense|default(0)) %}
                                    {{ amount|number_format }}
                                </td>
                            </tr>
                            <tr>
                                <td>Actual Budget</td>
                                <td>{{ budget.yearlyBudget|number_format }}</td>
                                <td>{{ budget.budgetTillAdditional|number_format }}</td>
                                <td>
                                    {% set thisTillAmount = (budget.budgetTillActualAmount|default(0) + budget.budgetAdjustmentPlus|default(0)) %}
                                    {{ budget.budgetTillActualAmount|number_format }}
                                </td>
                                <td></td>
                                <td>
                                    {{ budget.holdBudget|number_format }}
                                </td>
                                <td>
                                    {% set allRequisitionYTDExpense = ((budget.yearlyExpenseBudget + budget.yearlyHoldBudget ) - budget.requisitionAmount) %}
                                    {{ budget.budgetTillExpense|number_format }}
                                </td>
                                <td>{{ budget.requisitionAmount|number_format }}</td>
                                <td>
                                    {% set varianceYTD = ((budget.budgetTillActualAmount|default(0)) -( budget.budgetTillExpense + budget.requisitionAmount)) %}
                                    {{ varianceYTD|number_format }}
                                </td>
                                <td>
                                    {% if budget.budgetTillAmount %}
                                        {% set varianceYTD = ((budget.budgetTillActualAmount|default(0) - (budget.budgetTillExpense+budget.requisitionAmount)|default(0))*100)/(budget.budgetTillAmount) %}
                                        {{ varianceYTD|number_format(2) }}%
                                    {% endif %}
                                </td>
                                <td>
                                    {% set amount =  ((budget.yearlyBudget + budget.glBudgetMonth.budgetGlYear.amendment)|default(0) - budget.budgetTillExpense|default(0)) %}
                                    {{ amount|number_format }}
                                </td>


                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </tbody>


            </table>
        </div>
    </div>
{% endif %}
{% if entity.budgetRequisition %}
<div class="row">
    <div class="col-md-12"><strong>Budget checked By : {{ entity.budgetRequisition.createdBy.name }}</strong></div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ entity.budgetRequisition.content|raw }}
    </div>
</div>
{% endif %}