<table>
    <thead>
    <tr>
        <th colspan="14">Work Order Item Report</th>
    </tr>
    <tr>
        <th colspan="14"></th>
    </tr>
    </thead>
</table>
<table>
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Requisition No</th>
        <th scope="col">Company</th>
        <th scope="col">Company Unit</th>
        <th scope="col">Budget Head</th>
        <th scope="col">Ledger Head</th>
        <th scope="col">Item Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Size/Parts ID</th>
        <th scope="col">Color/GG</th>
        <th scope="col">Quantity</th>
        <th scope="col">Rate</th>
        <th scope="col">Unit</th>
        <th scope="col">Total Amount</th>
        {#                                    <th scope="col">Workor Order No</th>#}
    </tr>
    </thead>
    <tbody>
    {% if pagination is not empty %}
        {% set i = 1  %}
        {% for item in pagination %}
            <tr>
                <td>{{ item.created|date('d-m-Y') }}</td>
                <th>{{ item.requisitionId ? item.requisitionNo : '' }}</th>
                <td>{{ item.companyName }}</td>
                <td>{{ item.unitName }}</td>
                <td>{{ item.glCode }}</td>
                <td>{{ item.categoryName }}</td>
                <td>{{ item.itemName }}</td>
                <td>{{ item.brandName }}</td>
                <td>{{ item.sizeName }}</td>
                <td>{{ item.colorName }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.uom }}</td>
                <td>{{ item.subTotal|number_format(2) }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>