<table class="">
    <thead class="">
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Created</th>
        <th scope="col">PR No</th>
        <th scope="col">Budget Head</th>
        <th scope="col">Item Name</th>
        <th scope="col">Created By</th>
        <th scope="col">Department</th>
        <th scope="col">Section</th>
        <th scope="col">Company</th>
        <th scope="col">Unit Name</th>
        <th scope="col">Price</th>
        <th scope="col">PR QTY</th>
        <th scope="col">SubTotal</th>
        <th scope="col">Description</th>
        <th scope="col">Remark</th>
        <th scope="col">Waiting For</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {% if pagination is not empty %}
        {% set i = 1  %}
        {% for item in pagination %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.requisitionDate|date('d-m-Y')|striptags }}</td>
                <th>{{ item.requisitionNo|striptags }}</th>
                <td>{{ item.glCode|striptags }}</td>
                <td>{{ item.itemName|striptags }}</td>
                <td>{{ item.createdBy }}</td>
                <td>{{ item.department|striptags }}</td>
                <td>{{ item.section|striptags }}</td>
                <td>{{ item.branches|striptags }}</td>
                <td>{{ item.unitName|striptags }}</td>
                <td>{{ item.price|striptags }}</td>
                <td>{{ item.quantity|striptags }}</td>
                <td>{{ (item.quantity * item.price)|number_format|striptags }}</td>
                <td>{{ item.description|striptags }}</td>
                <td>{{ item.remark|striptags }}</td>
                <td>{{ item.approvedBy|striptags }}</td>
                <td>{{ item.process|striptags }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>