{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Purchase Requisitions'|trans }}</h5>
                    {% if mode != "archived" %}
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                           {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                            <a href="{{ path('procure_requisition_garment_new',{'requisitionMode':'CAPEX'}) }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New CAPEX'|trans }}</a>
                            <a href="{{ path('procure_requisition_garment_new',{'requisitionMode':'OPEX'}) }}" class="btn btn-sm blue-bg  white-font"><i class="fa fa-plus"></i>{{ 'New OPEX'|trans }}</a>
                            <a href="{{ path('procure_requisition_garment') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {% if mode != "archived" %}
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_garment',{'mode':'list'})}}"><i class="fa fa-th-large"></i> Purchase Requisition</a>
                                </li>
                                {% if app.user.hasRoles(['ROLE_APPROVER']) and app.user.checkBundle(['procurement']) %}
                                    <li class="nav-item"><a class="nav-link {% if mode == 'approve' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_garment',{'mode':'approve'})}}"><i class="feather icon-target"></i> Approve</a></li>
                                {% endif %}
                                <li class="nav-item"><a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_garment',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a></li>
                                <li class="nav-item"><a class="nav-link {% if mode == 'my-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_garment',{'mode':'my-progress'})}}"><i class="feather icon-aperture"></i> My-progress</a></li>
                                <li class="nav-item"><a class="nav-link {% if mode == 'rejected' %} active {% else %} red-bg {% endif %}" href="{{ path('procure_requisition_garment',{'mode':'rejected'})}}"><i class="feather icon-repeat"></i> Rejected</a></li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'assaign' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_garment',{'mode':'assaign'})}}"><i class="feather icon-user"></i> Assaign</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archive' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_garment',{'mode':'archive'})}}"><i class="feather icon-file"></i> Archive</a>
                                </li>
                            </ul>
                            {%  set page = app.request.get('page') %}

                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead class="thead-dark">
                                <form action="" method="get">
                                <tr role="row">
                                    <td>{{ form_widget(searchForm.jobRequisition) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.requisitionNo) }}</td>
                                    <td>{{ form_widget(searchForm.createdBy) }}</td>
                                    <td>{{ form_widget(searchForm.requisitionMode) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.unit) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.section) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.department) }}</td>
                                    <td colspan="2"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                    <td colspan="2"><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                    <td colspan="2">{{ form_widget(searchForm.filter) }}</td>
                                </tr>
                                <input type="hidden" id="mode" name="mode" value="{% if mode is defined and mode is not empty %}{{ mode }}{% else %}list{% endif %}">
                                {{ form_widget(searchForm._token) }}
                                </form>
                                {%  set sort = app.request.query.get('sort') %}
                                {%  set direction = app.request.query.get('direction') %}
                                <tr>
                                    <th{% if pagination.isSorted('e.created') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created', 'e.created') }}<span>{% if( direction == 'desc' and sort == 'e.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.updated') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Receive Date', 'e.updated') }}<span>{% if( direction == 'desc' and sort == 'e.updated') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.createdBy') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created By', 'e.createdBy') }}<span>{% if( direction == 'desc' and sort == 'e.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.requisitionNo') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Requisition No.', 'e.requisitionNo') }}<span>{% if( direction == 'desc' and sort == 'e.requisitionNo') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>

                                    <th{% if pagination.isSorted('jobRequisition') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Job Approval', 'jobRequisition') }}<span>{% if( direction == 'desc' and sort == 'jobRequisition') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Mode</th>
                                    <th  {% if pagination.isSorted('unit') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Comapny', 'unit') }}<span>{% if( direction == 'desc' and sort == 'unit') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('sec.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Section', 'sec.name') }}<span>{% if( direction == 'desc' and sort == 'sec.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                     <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Department', 'd.name') }}<span>{% if( direction == 'desc' and sort == 'd.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th {% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Priority', 'p.name') }}<span>{% if( direction == 'desc' and sort == 'p.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.process') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Waiting For', 'e.process') }}
                                        <span>{% if( direction == 'desc' and sort == 'e.process') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Revised From</th>
                                    <th{% if pagination.isSorted('e.process') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Status', 'e.process') }}
                                        <span>{% if( direction == 'desc' and sort == 'e.process') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Budget Assign</th>
                                    <th scope="col">W/O</th>
                                    <th scope="col"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            <td>
                                                {{ entity.created|date('d-m-Y') }}<br/>
                                                {% set difference = date(entity.created).diff(date("now"|date)) %}
                                                {% set leftDays = difference.format('Days %a Hours %H') %}
                                                {{ leftDays }}
                                            </td>
                                            <td scope="col">{{ entity.updated|date('d-m-Y') }}</td>
                                            <td scope="col">{{ entity.createdBy }}</td>
                                            <td scope="col"><a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.id }}">{{ entity.requisitionNo }}</a></td>
                                            <td scope="col">
                                                {% if entity.jobRequisition %}
                                                    <a target="_blank" href="{{ path('procure_jobrequisition_preview',{'id':entity.jobRequisition,'mode':'preview'}) }}">{{ entity.jobRequisitionNo }}</a>
                                                {% endif %}
                                            </td>
                                            <td scope="col">{{ entity.requisitionMode }}</td>
                                            <td scope="col">{% if entity.unit is not empty %}{{ entity.unit }}{% endif %}</td>
                                            <td scope="col">{% if entity.section is not empty %}{{ entity.section }}{% endif %}</td>
                                            <td scope="col">{% if entity.department is not empty %}{{ entity.department }}{% endif %}</td>
                                            <td scope="col">{{ entity.priority }}</td>
                                            <td scope="col">{% if entity.reportToName is not empty %}{{ entity.reportToName }}{% endif %}</td>
                                            <td scope="col">
                                                {% if entity.fromReverseId is not empty %}
                                                    <a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.fromReverseId}) }}" href="javascript:" data-title="Requisition No: {{ entity.fromReverseRequisitionNo }}" id="postView-{{ entity.fromReverseId }}">{{ entity.fromReverseRequisitionNo }}</a>
                                                {% endif %}
                                            </td>
                                            <td scope="col">
                                                {% if entity.waitingProcess == 'Reversed' and entity.reverseId is not empty %}
                                                    <a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.reverseId}) }}" href="javascript:" data-title="Requisition No: {{ entity.reverseRequisitionNo }}" id="postView-{{ entity.reverseId }}">{{ entity.process }}</a>
                                                {% else %}
                                                    {{ entity.process }}
                                                {% endif %}
                                            </td>
                                            <th scope="col">{{ entity.subTotal }}</th>
                                            <td scope="col">{{ entity.budgetUser }}</td>
                                            <th scope="col">
                                                {% if workOrders[entity.requisitionNo] is defined and workOrders[entity.requisitionNo] is not empty %}
                                                    {% for tender in workOrders[entity.requisitionNo] %}
                                                        {{ tender['workOrderInvoice'] }}<br/>
                                                    {% endfor %}
                                                {% endif %}
                                            </th>
                                            <td scope="col text-center">
                                                <div class="btn-group" >
                                                    {% if entity.ordering < 2 and app.user.id == entity.userId and entity.waitingProcess not in ['Rejected','Approved','Reversed','Closed'] %}
                                                        <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_requisition_garment_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                        <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_requisition_garment_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                    {% endif %}
                                                    {% if app.user.id == entity.userId and entity.waitingProcess in ['Rejected','Reversed'] and entity.reverseId is empty %}
                                                        <a class='btn btn-mini purple-bg white-font' href="{{ path('procure_requisition_garment_reverse',{'id':entity.id}) }}"  ><i class='feather icon-target'></i> Reverse</a>
                                                    {% endif %}
                                                    {% if app.user.id == entity.reportToId %}
                                                        <a class='btn btn-mini purple-bg white-font'  href='{{ path('procure_requisition_garment_process',{'id':entity.id}) }}' id='postViewdd-{{ entity.id }}' ><i class='feather icon-target'></i> Approve</a>
                                                    {% endif %}
                                                    <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                    <div class="dropdown">
                                                        <button type="button" class="btn btn-mini btn-notify dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                                                        <div class="dropdown-content">
                                                            <a class="" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Print Preview</a>
                                                            {% if (app.user.hasRoles(['ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN'])  and entity.waitingProcess == "Approved" and entity.requisitionMode in ['Expense','Confidential','CAPEX','OPEX','INV'] and app.user.id == 129) %}
                                                                <a class="yellow-bg white-font edit-approve" href="{{ path('procure_requisition_garment_admin_edit',{'id':entity.id}) }}" ><i class="feather icon-edit"></i> Edit</a>
                                                            {% endif %}
                                                            {% if app.user.hasRoles(['ROLE_DOMAIN']) and entity.waitingProcess == "Approved" and app.user.id == 69 %}
                                                                <a class="remove" data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_requisition_garment_administratior_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class="feather icon-trash"></i> Delete</a>
                                                                <a data-id='{{ entity.id }}' href='{{ path('procure_requisition_requisition_reset',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class="feather icon-trash"></i> Reset</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdinventory/js/editable.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
