{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'In-progress Requisition Item'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="2">{{ form_widget(searchForm.generalLedger) }}</td>
                                        <td colspan="2">{{ form_widget(searchForm.requisitionNo) }}</td>
                                        <td colspan="2">{{ form_widget(searchForm.requisitionMode) }}</td>
                                        <td>{{ form_widget(searchForm.createdBy) }}</td>
                                        <td>{{ form_widget(searchForm.department) }}</td>
                                        <td>{{ form_widget(searchForm.branch) }}</td>
                                        <td colspan="3"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td colspan="3"><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>
                                            <div class="btn-group btn-group-sm" >
                                                {{ form_widget(searchForm.filter) }}
                                                {{ form_widget(searchForm.Excel, {label: 'Excel',value:'Excel', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                {%  set sort = app.request.query.get('sort') %}
                                {%  set direction = app.request.query.get('direction') %}
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th{% if pagination.isSorted('r.created') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created', 'r.created') }}<span>{% if( direction == 'desc' and sort == 'r.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('r.requisitionNo') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'PR No.', 'r.requisitionNo') }}<span>{% if( direction == 'desc' and sort == 'e.requisitionNo') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('gl.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'GL Name', 'gl.name') }}<span>{% if( direction == 'desc' and sort == 'gl.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('item.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Item Name', 'item.name') }}<span>{% if( direction == 'desc' and sort == 'item.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('u.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created By', 'u.name') }}<span>{% if( direction == 'desc' and sort == 'u.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Department', 'd.name') }}<span>{% if( direction == 'desc' and sort == 'd.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('s.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Section', 's.name') }}<span>{% if( direction == 'desc' and sort == 's.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th  {% if pagination.isSorted('branches') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Comapny', 'branches') }}<span>{% if( direction == 'desc' and sort == 'branches') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Unit Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">PR QTY</th>
                                    <th scope="col">SubTotal</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Remark</th>
                                    <th{% if pagination.isSorted('approvedBy') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Waiting For', 'approvedBy') }}
                                        <span>{% if( direction == 'desc' and sort == 'approvedBy') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% set i = 1  %}
                                    {% for item in pagination %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                            <th><a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':item.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ item.requisitionNo }}" id="postView-{{ item.requisitionId }}">{{ item.requisitionNo }}</a></th>
                                            <td>{{ item.glCode }}</td>
                                            <td>{{ item.itemName }}</td>
                                            <td>{{ item.createdBy }}</td>
                                            <td>{{ item.department }}</td>
                                            <td>{{ item.section }}</td>
                                            <td>{{ item.branches }}</td>
                                            <td>{{ item.unitName }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ (item.quantity * item.price)|number_format }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.remark }}</td>
                                            <td>{{ item.approvedBy }}</td>
                                            <td>{{ item.process }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/jquery.cookie.min.js') }}"></script>
{% endblock  %}

