{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'In-progress Requisition Budget GL'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="2">{{ form_widget(searchForm.generalLedger) }}</td>
                                        <td>{{ form_widget(searchForm.requisitionNo) }}</td>
                                        <td>{{ form_widget(searchForm.requisitionMode) }}</td>
                                        <td>{{ form_widget(searchForm.createdBy) }}</td>
                                        <td>{{ form_widget(searchForm.department) }}</td>
                                        <td>{{ form_widget(searchForm.branch) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>
                                            <div class="btn-group btn-group-sm" >
                                            {{ form_widget(searchForm.filter) }}
                                            {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_DOMAIN_ADMIN','ROLE_BUDGET_ADMIN','ROLE_BUDGET_OFFICER'])  %}
                                                <a href="{{ path('procure_requisition_garment_reject') }}"  class="btn btn-sm  red-bg white-font btn">Reject</a>
                                            {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                {%  set sort = app.request.query.get('sort') %}
                                {%  set direction = app.request.query.get('direction') %}
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th{% if pagination.isSorted('r.created') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created', 'r.created') }}<span>{% if( direction == 'desc' and sort == 'r.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('gl.generalLedgerCode') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'GL Code', 'gl.generalLedgerCode') }}<span>{% if( direction == 'desc' and sort == 'gl.generalLedgerCode') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('gl.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'GL Name', 'gl.name') }}<span>{% if( direction == 'desc' and sort == 'gl.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>

                                     <th{% if pagination.isSorted('r.requisitionNo') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'PR No.', 'r.requisitionNo') }}<span>{% if( direction == 'desc' and sort == 'e.requisitionNo') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>

                                    <th{% if pagination.isSorted('u.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created By', 'u.name') }}<span>{% if( direction == 'desc' and sort == 'e.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Department', 'd.name') }}<span>{% if( direction == 'desc' and sort == 'd.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th  {% if pagination.isSorted('branches') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Comapny', 'branches') }}<span>{% if( direction == 'desc' and sort == 'branches') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Amount</th>
                                    <th{% if pagination.isSorted('approvedBy') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Waiting For', 'approvedBy') }}
                                        <span>{% if( direction == 'desc' and sort == 'approvedBy') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% set i = 1  %}
                                    {% for item in pagination %}
                                        <tr>
                                            <td>
                                                <input id="action-{{ item.id }}" {% if item.id in selected %} checked="checked" {% endif %} data-id="{{ item.id }}" type="checkbox" name="item[]" value="{{ item.id }}" class="check tooltips itemId" data-trigger="hover" data-original-title="Select Item"  >&nbsp;</td>
                                            </td>
                                            <td>
                                                {{ item.requisitionDate|date('d-m-Y') }}<br/>
                                                {% set difference = date(item.requisitionDate).diff(date("now"|date)) %}
                                                {% set leftDays = difference.format('Days %a Hours %H') %}
                                                {{ leftDays }}
                                            </td>
                                            <td>{{ item.glCode }}</td>
                                            <td>{{ item.glName }}</td>
                                            <th><a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':item.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ item.requisitionNo }}" id="postView-{{ item.requisitionId }}">{{ item.requisitionNo }}</a></th>
                                            <td>{{ item.createdBy }}</td>
                                            <td>{{ item.department }}</td>
                                            <td>{{ item.branches }}</td>
                                            <td>{{ item.amount }}</td>
                                            <td>{{ item.approvedBy }}</td>
                                            <td>{{ item.process }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/jquery.cookie.min.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    var items = $.cookie('itemIds') ? $.cookie('itemIds').split(',') : [];
    $('body').on('click', 'input.itemId', function(el) {
    console.log(items);
    var val = $(this).val();
    if($(this).prop('checked')) {
    items.push(val);
    }else{
    var index = items.indexOf(val);
    if (index > -1) {
    items.splice(index, 1);
    }
    }
    $.cookie('itemIds', items, {path: '/'});
    });
    jqueryTemporaryLoad();
{% endblock %}

