{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Purchase Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_billentry_garment') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Bill Entry'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                     <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Purchase Requisition Request'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','action':path('procure_requisition_garment_edit',{'id':entity.id}),'data-action':path('procure_requisition_ajax_update',{'id':entity.id})}}) }}
                                        <div class="form-box-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Requisition No"|trans }}</label>
                                                                <label class="col-md-8 text-left">{{ entity.requisitionNo }}</label>
                                                            </div>
                                                        </div>
                                                        {% if entity.jobRequisition is not empty %}
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-4 text-right">{{ "Job Approval"|trans }}</label>
                                                                    <div class="col-md-8"><a class="entity-show" data-action="{{ path('procure_jobrequisition_show',{'id':entity.jobRequisition.id}) }}" href="javascript:" data-title="Job Approval No: {{ entity.jobRequisition.requisitionNo }}" id="postView-{{ entity.jobRequisition.id }}">{{ entity.jobRequisition.requisitionNo }}</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    {#<div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Created"|trans }}</label>
                                                                <label class="col-md-8">{{ entity.created|date('d-m-Y') }}
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                                <label class="col-md-8">{{ entity.createdBy.name }}
                                                                  #}{#  <br/>{{ entity.createdBy.profile.employeeId }}
                                                                    <br/>{{ entity.createdBy.profile.mobile }}
                                                                    <br/>{{ entity.createdBy.username }}
                                                                    <br/>{{ entity.department.name }}#}{#
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>#}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.companyUnit, 'Company Unit'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-6">
                                                            <span class="is-required"> *</span>
                                                            {{ form_widget(form.companyUnit) }}
                                                            {{ form_errors(form.companyUnit) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.processDepartment, 'Vetting Department'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                        <div class="col-md-6">
                                                            <span class="is-required"> *</span>
                                                            {{ form_widget(form.processDepartment) }}
                                                            {{ form_errors(form.processDepartment) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.billMonth, 'Bill Month'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-6">
                                                            <span class="is-required"> *</span>
                                                            {{ form_widget(form.billMonth) }}
                                                            {{ form_errors(form.billMonth) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if entity.billMonth == 'Previous' %}
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.created, 'Bill Date'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.created) }}
                                                                {{ form_errors(form.created) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.expenseBillType, 'Expense Bill Type'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                        <div class="col-md-6">
                                                            <span class="is-required"> *</span>
                                                            {{ form_widget(form.expenseBillType) }}
                                                            {{ form_errors(form.expenseBillType) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.content, 'Details/Justification'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.content) }}
                                                            {{ form_errors(form.content) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                                {{ render(controller(
                                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                    { 'id': entity.id,'module':entity.module}
                                                )) }}
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                        {% if low > 0 %}
                                            <input type="hidden" name="requisitionToBudget" id="requisitionToBudget" value="1">
                                        {% else %}
                                            <input type="hidden" name="requisitionToBudget" id="requisitionToBudget" value="0">
                                        {% endif %}
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card-header grey-bg inner-header">
                                                    <h5>{{ "Add Items"|trans }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ render(controller(
                                                    "Terminalbd\\ProcurementBundle\\Controller\\Garments\\RequisitionItemController::itemCreate",
                                                    { 'id': entity.id,'module':entity.module}
                                                )) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.id == entity.createdBy.id and  entity.process in ['New', 'Budget-Cross']  or ( app.user.id == entity.createdBy.id and entity.processOrdering == 1)  %}
                                <div class="form-actions inline-submit">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                           {# <div class="btn-group" role="group">
                                                <a class="btn purple-bg white-font form-submit btn" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                                <a class="btn blue-bg white-font form-submit btn" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i> Print</a>
                                                <a class="btn yellow-bg white-font form-submit btn" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-download"></i> PDF</a>
                                            </div>#}
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group">
                                                <button type="button" id="submitRequisitionBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdbudget/js/editable.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    EditableInit();
    ItemSelect2Entity("{{ entity.id }}","requisition");
    $('.billMonth').change(function(e){
        var billMonth = $(this).val();
        var url = Routing.generate('procure_garments_requisition_billmonth',{'id':'{{ entity.id }}'});
        $.get(url,{'billMonth':billMonth}, function( response ) {
            location.reload();
        });
    });
    $('.processDepartment').change(function(e){
        setTimeout(function(){
            location.reload();
        }, 1000);//wait 2 seconds
    });

{% endblock %}
