{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Open Items'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="3" >{{ form_widget(searchForm.itemName) }}</td>
                                        <td colspan="2" >{{ form_widget(searchForm.requisitionNo) }}</td>
                                        <td>{{ form_widget(searchForm.department) }}</td>
                                        <td>{{ form_widget(searchForm.branch) }}</td>

                                        <td colspan="2"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td colspan="2"><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Budget Head</th>
                                    <th scope="col">PR No</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">PR QTY</th>
                                    <th scope="col">PR Remain</th>
                                    <th scope="col">PO issue</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% set i = 1  %}
                                    {% for entity in pagination %}
                                    {% for item in entity %}
                                        <tr>
                                            <td>{{ item.itemName }}</td>
                                            <td>{{ item.glCode }}</td>
                                            <th><a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':item.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ item.requisitionNo }}" id="postView-{{ item.requisitionId }}">{{ item.requisitionNo }}</a></th>
                                            <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                            <td>{{ item.department }}</td>
                                            <td>{{ item.branches }}</td>
                                            <td>{{ item.unitName }}</td>
                                            <td>{{ item.brandName }}</td>
                                            <td>{{ item.sizeName }}</td>
                                            <td>{{ item.colorName }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.remaining }}</td>
                                        </tr>
                                    {% endfor %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="btn-group" role="group">
                                    <a href="{{ path('procure_tender_garments_open_item_selected') }}" type="submit" id="submitBtn" name="save" class="btn btn-info form-submit">Next <i class="feather  icon-chevrons-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/jquery.cookie.min.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    var items = $.cookie('itemIds') ? $.cookie('itemIds').split(',') : [];
    $('body').on('click', 'input.itemId', function(el) {
        console.log(items);
        var val = $(this).val();
        if($(this).prop('checked')) {
        items.push(val);
        }else{
        var index = items.indexOf(val);
        if (index > -1) {
        items.splice(index, 1);
        }
        }
        $.cookie('itemIds', items, {path: '/'});
    });
    jqueryTemporaryLoad();
{% endblock %}
