{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title>Purchase Requisition</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <style>
        body {
            color: #313131;
            font-family: sans-serif;
            font-size: 13px;
        }
        .table-item thead tr th{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
            background-color: #ebecf1;
        }
        .table-item tbody tr td{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
    </style>
</head>
<body>
    <div style="text-align: center; text-transform: uppercase; margin-bottom: 10px; font-weight: bold">
        <p>Purchase Requisition Detail</p>
    </div>
    <!-- Header -->
    <div>
        <div style="float: left; width: 30%;">
            <b>Requisition No.</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.requisitionNo }}
        </div>
        <div style="float: left; width: 15%; text-align: right">
            <b>Created</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.created|date('d-m-Y')}}
        </div>
        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Department</b>
        </div>
        <div style="float: left; width: 25%;">
            {% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}
        </div>
        <div style="float: left; width: 15%; text-align: right;">
            <b>Created By</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.createdBy.name }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Details/Justification</b>
        </div>
        <div style="float: left; width: 70%;  text-align: justify">
            {{ entity.content|raw }}
        </div>
    </div>
    <!-- Header -->



    <!-- Shares -->
    <div  style="margin-top: 30px">
        <div style="margin-bottom: 10px">
            <b>Company Shares</b>
        </div>

        {% for share in requisitionShares %}
            <div style="float: left; width: 20%;">
                {{ share.branchName }} ({{ share.branchShare }})%
            </div>
        {% endfor %}
    </div>
    <!-- Shares -->



    <!-- Body -->
    {% if entity.requisitionItems is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Items</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                        <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">UOM</th>
                            <th scope="col">Req.QTY</th>
                            <th scope="col">Stock in QTY</th>
                            <th scope="col">Last Purch QTY</th>
                            <th scope="col">Last Purch Date</th>
                            <th scope="col">Last Purch Price</th>
                            <th scope="col">CMP</th>
                            <th scope="col">CMP Date</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody id="invoiceItem">
                        {% if entity.requisitionItems is not empty %}
                            {% for item in entity.requisitionItems %}
                                <tr id="r{ item.id }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.stockBook.stockBookName }}</td>
                                    <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.stockIn }}</td>
                                    <td scope="col">{{ item.lastPurchaseQuantity }}</td>
                                    <td scope="col">{% if item.lastPurchaseDate is not empty %}{{ item.lastPurchaseDate|date('d-m-Y') }}{% endif %}</td>
                                    <td scope="col">{{ item.lastPurchasePrice }}</td>
                                    <td>{{ item.currentPrice }}</td>
                                    <td>{% if item.cmpDate is not empty %}{{ item.cmpDate|date('d-m-Y') }}{% endif %}</td>
                                    <td>{{ item.price }}</td>
                                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                    <td>{{ item.description }}</td>
                                </tr>
                            {% endfor %}
                            <tr><td colspan="11" style="text-align: right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
                        {% endif %}
                        </tbody>
                    </table>
            </div>
        </div>
    {% endif %}
    {% if approvals is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Comments</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead>
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{ list.assignTo.name }}</td>
                            <td>{{ list.updated|date('d-m-Y h:i') }}</td>
                            <td>{{ list.comment|raw }}</td>
                            <td>{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 30px">
            {% for index,list in approvals %}
                {% if list.close == true  %}
                    {% if  index == 0 %}
                        <div style="margin-bottom: 10px">
                            <b>Signatures</b>
                        </div>
                    {% endif %}
                    <div style="float: left; width: 30%; padding: 5px;">
                        <div style="border: 1px solid #dddddd; padding: 10px">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>