<html>
<head>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>
    <style>
        body {
            font-size: 90% !important;
        }
        .table td, .table th {
            font-size: 90% !important;
        }
    </style>
</head>
<title>Requisition No: {{ entity.requisitionNo }}</title>
<body class="body">
<div class="row">
    <div class="col-md-12 text-right print-bar">
        <ul class="list-inline" id="grpChkBox">
            <li>
                <button class='btn btn-print print' id='{{ entity.id }}'><i class='fa fa-print'></i> Print</button>
            </li>
        </ul>
    </div>
</div>
<div id="print-box">
    <div id="print-area">
        <br/>
        <div class="row">
            <div class="col-md-6">
                {% if entity.requisitionMode in ["Expense",'Confidential'] %}
                <strong>Bill No.: </strong>{{ entity.requisitionNo }} <br>
                {% else %}
                <strong>Purchase Requisition No.: </strong>{{ entity.requisitionNo }} <br>
                {% endif %}
            </div>
            <div class="col-md-6 text-right">
                <strong>Created: </strong>{{ entity.created|date('d-m-Y') }}
                <br/>
                <strong>Expected Date: </strong>{{ (entity.expectedDate) ? entity.expectedDate|date('d-m-Y') :''}}
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-6">
                {% if entity.jobRequisition is not empty %}
                <strong>Job Appproval No.:</strong> {{ entity.jobRequisition.requisitionNo }}
                <br/>
                {% endif %}
                {% if entity.expenseBillType is not empty %}
                    <strong>Expense Bill Type: </strong> {{ entity.expenseBillType.name }}
                    <br/>
                {% endif %}
                <strong>Process Department: </strong> {% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}
                <br/>
                <strong>Company Name:</strong>{% if entity.companyUnit is not empty %} {{ entity.companyUnit.parent.name }}{% endif %}
                <br/>
                <strong>Company Unit:</strong>{% if entity.companyUnit is not empty %} {{ entity.companyUnit.name }}{% endif %}
                <br/>
                <strong>Section:</strong>{% if entity.section is not empty %} {{ entity.section.name }}{% endif %}

            </div>
            <div class="col-md-6 text-right">
                <strong>Created By: </strong>{{  entity.createdBy.name  }}
                <br/>
                <strong>Employee ID: </strong>{{  entity.createdBy.profile.employeeId  }}
                <br/>
                <strong>Department: </strong>{% if entity.createdBy.profile.department %}{{ entity.createdBy.profile.department.name  }}{% endif %}
                <br/>
                <strong>Mobile: </strong>{{  entity.createdBy.profile.mobile  }}
                <br/>
                <strong>Email: </strong>{{  entity.createdBy.email  }}
            </div>
        </div>
        <div class="row"><div class="div-br-30"></div></div>
        <div class="row">
            <div class="col-md-12">
                <strong>Details/Justification</strong> <br>
                <div style="text-align: justify">{{ entity.content|raw }}</div>
            </div>
        </div>
        <div class="row"><div class="div-br-15"></div></div>
        <div class="row">
            <div class="div-br-30"><strong>Item Details</strong></div>
            <div class="col-md-12">
                {% if entity.requisitionMode in ["Expense",'Confidential'] %}
                    <table class="table" id="">
                    <thead class="thead-gray">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Category</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Section</th>
                        <th scope="col">Description</th>
                        <th scope="col">Remark</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody id="invoiceItem">
                    {% if entity.requisitionItems is not empty %}
                        {% for item in entity.requisitionItems %}
                            <tr id="remove-{{ item.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                                <td>{{ item.item.name }}</td>
                                <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.remark }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{% if item.uom is empty %}{{ item.stockBook.uom }}{% else %}{{ item.uom }}{% endif %}</td>
                                <td>{{ item.price }}</td>
                                <td><span id="subTotal-{{ item.id }}" class="subTotal">{{ item.subTotal|number_format(2) }}</span></td>

                            </tr>
                        {% endfor %}
                        <tr><td colspan="9" class="text-right"><strong>SubTotal</strong></td><td id="approveTotal">{{ entity.subTotal|number_format(2) }}</td></tr>
                    {% endif %}
                    </tbody>
                </table>
                {% elseif entity.requisitionMode == "CAPEX" %}
                    <table class="table" id="datatable">
                    <thead class="thead-gray">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Category</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Size</th>
                        <th scope="col">Color</th>
                        <th scope="col">QTY</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody id="invoiceItem">
                    {% if entity.requisitionItems is not empty %}
                        {% for item in entity.requisitionItems %}
                            <tr id="remove-{{ item.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                                <td>{{ item.item.name }}</td>
                                <td>{{ item.stockBook.uom }}</td>
                                <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                                <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                                <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                                <td>
                                    <span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span>
                                </td>
                                <td>{{ item.description }}</td>
                            </tr>
                        {% endfor %}
                        <tr><th colspan="9" class="text-right"><strong>SubTotal</strong></th><th>{{ entity.subTotal|number_format(2) }}</th><td></td></tr>
                    {% endif %}
                    </tbody>
                </table>
                {% else %}
                    <table class="table" id="">
                        <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Category</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">UOM</th>
                            <th scope="col">Bran/Organ</th>
                            <th scope="col">Size</th>
                            <th scope="col">Color</th>
                            <th scope="col">Actual QTY</th>
                            <th scope="col">Approve QTY</th>
                            <th scope="col">Req.QTY</th>
                            <th scope="col">Stock in QTY</th>
                            <th scope="col">Last Purch QTY</th>
                            <th scope="col">Last Purch Date</th>
                            <th scope="col">Last Purch Price</th>
                            <th scope="col">CMP</th>
                            <th scope="col">CMP Date</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody id="invoiceItem">
                        {% if entity.requisitionItems is not empty %}
                            {% for item in entity.requisitionItems %}
                                <tr id="remove-{{ item.id }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                                    <td>{{ item.item.name }}</td>
                                    <td>{{ item.stockBook.uom }}</td>
                                    <td>{% if item.brand is not empty %}{{ item.brand.name }} {% endif %}</td>
                                    <td>{% if item.size is not empty %}{{ item.size.name }} {% endif %}</td>
                                    <td>{% if item.color is not empty %}{{ item.color.name }} {% endif %}</td>
                                    <td>{{ item.actualQuantity }}</td>
                                    <td>{{ item.approveQuantity }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.stockIn }}</td>
                                    <td scope="col">{{ item.lastPurchaseQuantity }}</td>
                                    <td scope="col">{% if item.lastPurchaseDate is not empty %}{{ item.lastPurchaseDate|date('d-m-Y') }}{% endif %}</td>
                                    <td scope="col">{{ item.lastPurchasePrice }}</td>
                                    <td>{{ item.currentPrice }}</td>
                                    <td>{% if item.cmpDate is not empty %}{{ item.cmpDate|date('d-m-Y') }}{% endif %}</td>
                                    <td>{{ item.price }}</td>
                                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                    <td>{{ item.description }}</td>
                                </tr>
                            {% endfor %}
                            <tr><td colspan="17" class="text-right"><strong>SubTotal</strong></td><th>{{ entity.subTotal|number_format(2) }}</th>
                                <td></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="row"><div class="div-br-30"></div></div>
        {% if entity.requisitionMode != "CAPEX" %}
            <div class="row">
                <div class="col-md-12">
                    {% if entity.budgetItems is defined and entity.budgetItems is not empty %}
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover display nowrap">
                                    <thead class="thead-gray">
                                    <tr>
                                        <th scope="col" colspan="11">{{ entity.companyUnit.parent.name }}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Ledger(GL Code)</th>
                                        <th scope="col">Annual Budget</th>
                                        <th scope="col">Annual Additional Budget</th>
                                        <th scope="col">Till Amount YTD Budget<br/>({{ entity.created|date('F') }})</th>
                                        <th scope="col">Till Amount YTD Additional Budget<br/>({{ entity.created|date('F') }})</th>
                                        <th scope="col">Hold YTD <br/>({{ entity.created|date('F') }})</th>
                                        <th scope="col">All requisition YTD <br/>({{ entity.created|date('F') }}) Expense</th>
                                        <th scope="col">This requisition Amount</th>
                                        <th scope="col">After this requisition <br/> YTD variance </th>
                                        <th scope="col">YTD Variance %</th>
                                        <th scope="col">Annual Available Budget</th>

                                    </tr>
                                    <tbody id="invoiceItem">
                                    {% if entity.budgetItems is defined and entity.budgetItems is not empty %}
                                        {% for budget in entity.budgetItems %}
                                            <tr>
                                                {% if budget.gl.consumptionMode is not empty and budget.gl.isVariable == 1 and budget.budgetTillForcastAmount > 0 %}
                                                    <td>{{ budget.gl.generalLedgerCode }}-{{ budget.gl.name }}<br/>({{ budget.gl.consumptionMode }})</td>
                                                {% else %}
                                                    <td>{{ budget.gl.generalLedgerCode }}-{{ budget.gl.name }}</td>
                                                {% endif %}
                                                <td>{{ budget.yearlyBudget|number_format }}</td>
                                                <td>{{ budget.glBudgetMonth.budgetGlYear.amendment|number_format }}</td>
                                                <td>
                                                    {% set thisTillAmount = (budget.budgetTillAmount|default(0) + budget.budgetAdjustmentPlus|default(0)) %}
                                                    {{ (budget.budgetTillAmount - budget.budgetTillAdditional)|number_format }}
                                                </td>
                                                <td>{{ budget.budgetTillAdditional|number_format }}</td>
                                                <td>
                                                    {{ budget.holdBudget|number_format }}
                                                </td>
                                                <td>
                                                    {% set allRequisitionYTDExpense = ((budget.yearlyExpenseBudget + budget.yearlyHoldBudget ) - budget.requisitionAmount) %}
                                                    {{ budget.budgetTillExpense|number_format }}
                                                </td>
                                                <td>{{ budget.requisitionAmount|number_format }}</td>
                                                <td>
                                                    {% set varianceYTD = ((budget.budgetTillAmount|default(0)) -( budget.budgetTillExpense + budget.requisitionAmount)) %}
                                                    {{ varianceYTD|number_format }}
                                                </td>
                                                <td>
                                                    {% if budget.budgetTillAmount %}
                                                        {% set varianceYTD = ((budget.budgetTillAmount|default(0) - (budget.budgetTillExpense+budget.requisitionAmount)|default(0))*100)/(budget.budgetTillAmount) %}
                                                        {{ varianceYTD|number_format(2) }}%
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% set amount =  ((budget.yearlyBudget + budget.glBudgetMonth.budgetGlYear.amendment)|default(0) - budget.budgetTillExpense|default(0)) %}
                                                    {{ amount|number_format }}
                                                </td>

                                            </tr>
                                            {% if budget.gl.consumptionMode is not empty and budget.gl.isVariable == 1 and budget.budgetTillForcastAmount > 0 %}
                                                <tr>
                                                    <td>Forcast Budget</td>
                                                    <td>{{ budget.yearlyBudget|number_format }}</td>
                                                    <td>{{ budget.budgetTillAdditional|number_format }}</td>
                                                    <td>
                                                        {% set thisTillAmount = (budget.budgetTillForcastAmount|default(0) + budget.budgetAdjustmentPlus|default(0)) %}
                                                        {{ budget.budgetTillForcastAmount|number_format }}
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        {{ budget.holdBudget|number_format }}
                                                    </td>
                                                    <td>
                                                        {% set allRequisitionYTDExpense = ((budget.yearlyExpenseBudget + budget.yearlyHoldBudget ) - budget.requisitionAmount) %}
                                                        {{ budget.budgetTillExpense|number_format }}
                                                    </td>
                                                    <td>{{ budget.requisitionAmount|number_format }}</td>
                                                    <td>
                                                        {% set varianceYTD = ((budget.budgetTillForcastAmount|default(0)) -( budget.budgetTillExpense + budget.requisitionAmount)) %}
                                                        {{ varianceYTD|number_format }}
                                                    </td>
                                                    <td>
                                                        {% if budget.budgetTillAmount %}
                                                            {% set varianceYTD = ((budget.budgetTillForcastAmount|default(0) - (budget.budgetTillExpense+budget.requisitionAmount)|default(0))*100)/(budget.budgetTillAmount) %}
                                                            {{ varianceYTD|number_format(2) }}%
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% set amount =  ((budget.yearlyBudget + budget.glBudgetMonth.budgetGlYear.amendment)|default(0) - budget.budgetTillExpense|default(0)) %}
                                                        {{ amount|number_format }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Actual Budget</td>
                                                    <td>{{ budget.yearlyBudget|number_format }}</td>
                                                    <td>{{ budget.budgetTillAdditional|number_format }}</td>
                                                    <td>
                                                        {% set thisTillAmount = (budget.budgetTillActualAmount|default(0) + budget.budgetAdjustmentPlus|default(0)) %}
                                                        {{ budget.budgetTillActualAmount|number_format }}
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        {{ budget.holdBudget|number_format }}
                                                    </td>
                                                    <td>
                                                        {% set allRequisitionYTDExpense = ((budget.yearlyExpenseBudget + budget.yearlyHoldBudget ) - budget.requisitionAmount) %}
                                                        {{ budget.budgetTillExpense|number_format }}
                                                    </td>
                                                    <td>{{ budget.requisitionAmount|number_format }}</td>
                                                    <td>
                                                        {% set varianceYTD = ((budget.budgetTillActualAmount|default(0)) -( budget.budgetTillExpense + budget.requisitionAmount)) %}
                                                        {{ varianceYTD|number_format }}
                                                    </td>
                                                    <td>
                                                        {% if budget.budgetTillAmount %}
                                                            {% set varianceYTD = ((budget.budgetTillActualAmount|default(0) - (budget.budgetTillExpense+budget.requisitionAmount)|default(0))*100)/(budget.budgetTillAmount) %}
                                                            {{ varianceYTD|number_format(2) }}%
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% set amount =  ((budget.yearlyBudget + budget.glBudgetMonth.budgetGlYear.amendment)|default(0) - budget.budgetTillExpense|default(0)) %}
                                                        {{ amount|number_format }}
                                                    </td>

                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if entity.budgetRequisition and entity.budgetRequisition.waitingProcess == "Approved" %}
        <div class="row"><div class="div-br-30"></div></div>
        <div class="row">
            <div class="div-br-30"><strong>Comments By Budget : {{ entity.budgetRequisition.createdBy.name }}</strong> /  Date: {{ entity.budgetRequisition.updated|date('d-m-Y h:i A') }}</div>
            <div class="col-md-12">
                {{ entity.budgetRequisition.content }}
            </div>
        </div>
        {% endif %}
        <div class="row"><div class="div-br-30"></div></div>
        {% if approvals is not empty %}
            <div class="row">
                <div class="div-br-30"><strong>Comments</strong></div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th class="text-left">S/N</th>
                            <th class="text-left">Comment By</th>
                            <th class="text-left">Approved</th>
                            <th class="text-left">Comment</th>
                            <th class="text-left">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for list in approvals %}
                            <tr>
                                <td class="text-left">{{ loop.index }}.</td>
                                <td class="text-left">{% if list.assignTo %}{{ list.assignTo.name }}{% endif %}</td>
                                <td class="text-left">{% if list.comment %}{{ list.updated|date('d-m-Y h:i') }}{% endif %}</td>
                                <td class="text-left">{{ list.comment|raw }}</td>
                                <td class="text-left">{{ (list.close == true and list.comment) ? list.process :'' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row"><div class="div-br-30"></div></div>
            <div><strong>Signatures</strong></div>
            <div class="row"><div class="div-br-30"></div></div>
            <div class="row mt-3">
                {% for index,list in approvals %}
                    {% if list.close == true  %}
                        <div class="col-md-4">
                            <div style="padding: 15px; border: 1px solid #dddddd;">
                                {% if list.assignTo.profile.signaturePath is not empty %}
                                    <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                    <br/>
                                {% endif%}
                                {{ list.assignTo.name }}<br/>
                                {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

    </div>
</div>
<script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/kinzi.print.min.js') }}"></script>
<script>
    $('.print').click(function () {
        $('#print-area').kinziPrint({
            importCSS: true,
            //header: $('.print-header-content').html()
        });
    });
</script>
</body>
</html>
