<div class="portlet box blue ">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTitleLabel">Requisition No: {{ entity.requisitionNo }}</h5>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_requisition_garment_process',{'id':entity.id})}}) }}
                {{ render(controller(
                    "Terminalbd\\ProcurementBundle\\Controller\\Garments\\PurchaseRequisitionController::purchaseRequisitionHead",
                    { 'id': entity.id,'mode':'process'}
                )) }}
                {% if entity.requisitionMode != "CAPEX" %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-header grey-bg inner-header">
                            <div class="row">
                                <div class="col-md-6"><h5>Budget Details</h5></div>
                                <div class="col-md-6 text-right">
                                    <a href="javascript:" data-action="{{ path('procure_requisition_garment_budget_reload',{'id':entity.id}) }}" class="btn btn-sm blue-bg white-font ajax-reset"><i class="fa fa-th-large"></i>{{ 'Reset Budget'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ render(controller(
                            "Terminalbd\\ProcurementBundle\\Controller\\Garments\\PurchaseRequisitionController::budgetView",
                            { 'id': entity.id}
                        )) }}
                    </div>
                </div>
                {% endif %}
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
                <div class="row">
                    <div class="col-md-12 form-box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                        {{ form_errors(form.comment) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="btn-group" >
                                    <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                    {% if app.user.id == entity.reportTo.id and app.user.profile.department.slug == "budget" %}
                                        {% if budgetUsers is not empty %}
                                        <select name="assignTo" id="assignTo">
                                            <option value="">Assign To User</option>
                                            {% for bUser in budgetUsers  %}
                                            <option {% if entity.budgetRequisition is not empty and entity.budgetRequisition.createdBy.id == bUser.id %} selected="selected" {% endif %} value="{{ bUser.id }}">{{ bUser.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {% endif%}
                                        <button type="submit" name="budget" value="budget" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Budget Transfer</button>
                                        <button type="submit" name="approve" value="approve" class="btn btn-sm green-bg white-font"><i class="feather icon-save"></i>Approve</button>
                                    {% else %}
                                    <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
