{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Purchase Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_garment',{'mode':'approve'}) }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            <div class="portlet-title portlet-title-green">
                                <div class="caption">{{ 'Requisition Approval Details'|trans }} </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="">
                                    <div class="">
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                        {{ render(controller(
                                            "Terminalbd\\ProcurementBundle\\Controller\\Garments\\PurchaseRequisitionController::purchaseRequisitionHead",
                                            { 'id': entity.id,'mode':'process'}
                                        )) }}
                                        {% if entity.requisitionMode != "CAPEX" %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card-header grey-bg inner-header">
                                                        <div class="row">
                                                            <div class="col-md-6"><h5>Budget Details</h5></div>
                                                            <div class="col-md-6 text-right">
                                                                <a href="javascript:" data-action="{{ path('procure_requisition_garment_budget_reload',{'id':entity.id}) }}" class="btn btn-sm blue-bg white-font ajax-reset"><i class="fa fa-th-large"></i>{{ 'Reset Budget'|trans }}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\Garments\\PurchaseRequisitionController::budgetView",
                                                        { 'id': entity.id}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                {{ form_errors(form.comment) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <div class="btn-group" >
                                                            <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                            {% if app.user.id == '86' and app.user.profile.department.slug == "budget" %}
                                                                {% if budgetUsers is not empty %}
                                                                    <select name="assignTo" id="assignTo">
                                                                        <option value="">Assign To User</option>
                                                                        {% for bUser in budgetUsers  %}
                                                                            <option {% if entity.budgetRequisition is not empty and entity.budgetRequisition.createdBy.id == bUser.id %} selected="selected" {% endif %} value="{{ bUser.id }}">{{ bUser.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                {% endif%}
                                                                <button type="submit" name="budget" value="budget" class="btn btn-sm red-bg white-font"><i class="feather icon-check-square"></i>Budget Transfer</button>
                                                                {#<button type="submit" name="approve" value="approve" class="btn btn-sm green-bg white-font"><i class="feather icon-save"></i>Approve</button>#}
                                                            {% else %}
                                                                <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/garments.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdbudget/js/editable.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    EditableInitReload();
{% endblock %}
