{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'In-progress Requisition Rejects'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">PR No</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Waiting For</th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% set i = 1  %}
                                    {% for item in pagination %}
                                        <tr>
                                            <td>
                                                <input id="action-{{ item.id }}" checked="checked" data-id="{{ item.id }}" type="checkbox" name="item[{{ item.id }}]" value="{{ item.id }}" class="check tooltips itemId">&nbsp;</td>
                                            </td>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.created|date('d-m-Y') }}<br/>
                                                {% set difference = date(item.created).diff(date("now"|date)) %}
                                                {% set leftDays = difference.format('Days %a Hours %H') %}
                                                {{ leftDays }}
                                            </td>
                                            <th><a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':item.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ item.requisitionNo }}" id="postView-{{ item.requisitionId }}">{{ item.requisitionNo }}</a></th>
                                            <td>{{ item.createdBy }}</td>
                                            <td>{{ item.department }}</td>
                                            <td>{{ item.branches }}</td>
                                            <td>{{ item.amount }}</td>
                                            <td>{{ item.approvedBy }}</td>
                                            <td>{{ item.process }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="10">
                                        <div class="">

                                            <div class="row">
                                                <div class="col-md-12 form-box-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                    {{ form_errors(form.comment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <div class="btn-group" >
                                                                <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/jquery.cookie.min.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    var items = $.cookie('itemIds') ? $.cookie('itemIds').split(',') : [];
    $('body').on('click', 'input.itemId', function(el) {
    console.log(items);
    var val = $(this).val();
    if($(this).prop('checked')) {
    items.push(val);
    }else{
    var index = items.indexOf(val);
    if (index > -1) {
    items.splice(index, 1);
    }
    }
    $.cookie('itemIds', items, {path: '/'});
    });
    jqueryTemporaryLoad();
{% endblock %}

