<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3"><strong>Requisition No.</strong></div>
            <div class="col-md-3">{{ entity.requisitionNo }}</div>
            <div class="col-md-3"><strong>Job Requisition No.</strong></div>
            <div class="col-md-3">{% if entity.jobRequisition is not empty %} {{ entity.jobRequisition.requisitionNo }}{% endif %}</div>
        </div>
        {% if entity.expenseBillType is not empty %}
            <div class="row">
                <div class="col-md-3"><strong>Expense Bill Type</strong></div>
                <div class="col-md-3">{{ entity.expenseBillType.name }}</div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3"><strong>Process Type</strong></div>
            <div class="col-md-3">{% if entity.isEmergency == 1 %}  Regular {% else %}Emergency{% endif %}</div>
            <div class="col-md-3"><strong>Priority</strong></div>
            <div class="col-md-3">{% if entity.priority is not empty %} {{ entity.priority.name }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-md-3"><strong>Created By</strong></div>
            <div class="col-md-6">{{ entity.createdBy.name }}</div>
        </div>
        <div class="row">
            <div class="col-md-3"><strong>Created</strong></div>
            <div class="col-md-3">{{ entity.created|date('d-m-Y') }}</div>
            <div class="col-md-3"><strong>Expected Date</strong></div>
            <div class="col-md-3">{% if entity.expectedDate %}{{ entity.expectedDate|date('d-m-Y') }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-md-3"><strong>Process Department</strong></div>
            <div class="col-md-3">{% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}</div>
            <div class="col-md-3"><strong>Section</strong></div>
            <div class="col-md-3">{% if entity.section is not empty %} {{ entity.section.name }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-md-3"><strong>Company Name</strong></div>
            <div class="col-md-3">{% if entity.companyUnit is not empty %} {{ entity.companyUnit.parent.name }}{% endif %}</div>
            <div class="col-md-3"><strong>Company Unit</strong></div>
            <div class="col-md-3">{% if entity.companyUnit is not empty %} {{ entity.companyUnit.name }}{% endif %}</div>

        </div>
        <div class="row">
            <div class="col-md-3"><strong>Details/Justification</strong></div>
            <div class="col-md-9">{{ entity.content|raw }}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-header grey-bg inner-header">
            <div class="row">
                <div class="col-md-6"><h5>Item Details</h5></div>
            </div>
        </div>
    </div>
</div>
{% if entity.requisitionMode in ['Expense','Confidential'] %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Category</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Section</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Description</th>
                    <th scope="col">Remark</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if entity.reportTo is defined and entity.reportTo is not empty and app.user.id == entity.reportTo.id and mode == 'process' %}
                                    <a data-type='select' class='editable' id='department' data-name='department' href='javascript:' data-source='{{ path('budget_head_category_change',{id:entity.processDepartment.id}) }}'  data-url='{{ path('budget_chargeline_head_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.category %}{{ item.category.id }}{% endif %}'>{% if item.category %}{{ item.category.name }}{% endif %}</a>
                                {% else %}
                                    {% if item.category %}{{ item.category.name }}{% endif %}
                                {% endif %}
                            </td>
                            <td>{{ item.item.name }}</td>
                            <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
                            <td>{% if item.uom is empty %}{{ item.stockBook.uom }}{% else %}{{ item.uom }}{% endif %}</td>
                            <td>
                                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_BUDGET']) and app.user.profile.department.slug == "budget" and entity.waitingProcess == "Approved" %}
                                    <a data-type='text' class='editable'  data-name='setDescription' href='javascript:'   data-url='{{ path('procu_item_inline_update',{'id':item.id})}}' data-pk='{{ item.id }}' data-value='{{  item.description }}'>{{  item.description }}</a>
                                {% else %}
                                    {{ item.description }}
                                {% endif %}
                            </td>
                            <td>
                                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_BUDGET']) and app.user.profile.department.slug == "budget" and entity.waitingProcess == "Approved" %}
                                    <a data-type='text' class='editable'  data-name='setRemark' href='javascript:'   data-url='{{ path('procu_item_inline_update',{'id':item.id})}}' data-pk='{{ item.id }}' data-value='{{  item.remark }}'>{{  item.remark }}</a>
                                {% else %}
                                    {{ item.remark }}
                                {% endif %}
                            </td>
                            {% if entity.reportTo is defined and entity.reportTo is not empty and app.user.id == entity.reportTo.id and mode == 'process' %}
                                <td>
                                    <input type="text"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm number input number-input quantity" value="{{ item.quantity }}">
                                </td>
                                <td>
                                    <input type="text"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number number-input quantity" value="{{ item.price }}">
                                </td>
                            {% else %}
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                            {% endif %}
                            <td><span id="subTotal-{{ item.id }}" class="subTotal">{{ item.subTotal|number_format(2) }}</span></td>
                           <td>
                               {% if item.requisitionItemHistories is not empty  %}
                                    <a href="javascript:" id="{{ item.id }}"  class="btn btn-mini yellow-bg white-font  history">History</a>
                                {% endif %}
                           </td>
                        </tr>
                        {% if item.requisitionItemHistories is not empty  %}
                            <tr class="hide show-{{ item.id }}" id="">
                                <td colspan="12">
                                    <table class="table">
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Creatd</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Creatd By</th>
                                            <th scope="col">Previous QTY</th>
                                            <th scope="col">Current QTY</th>
                                        </tr>
                                        {% for history in item.requisitionItemHistories %}
                                            <tr>
                                                <td scope="col">{{ loop.index }}</td>
                                                <td scope="col">{{ history.created|date('d-m-Y') }}</td>
                                                <td scope="col">{{ history.created|date('H:m A') }}</td>
                                                <td scope="col">{% if history.createdBy is not empty  %}{{ history.createdBy.name }}{% endif %}</td>
                                                <td scope="col">{{ history.actualQuantity }}</td>
                                                <td scope="col">{{ history.quantity }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td></tr>
                        {% endif %}
                        {% if item.stockBook.cmpPrices is not empty  %}
                            <tr class="hide show-{{ item.id }}" >
                                <td colspan="12">
                                    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                        <thead>
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Created</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">CMP Date</th>
                                            <th scope="col">Created By</th>
                                            <th scope="col">Prev Price</th>
                                            <th scope="col">Current Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for history in item.stockBook.cmpPrices %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ history.created|date('d-m-Y') }}</td>
                                                <td>{{ history.created|date('H:m A') }}</td>
                                                <td>{{ history.cmpDate|date('d-m-Y') }}</td>
                                                <td>{% if history.createdBy is not empty %}{{ history.createdBy.name }}{% endif %}</td>
                                                <td>{{ history.prevCmp }}</td>
                                                <td>{{ history.cmp }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr><td colspan="9" class="text-right"><strong>SubTotal</strong></td><td id="approveTotal">{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif entity.module == 'purchase-requisition' and entity.requisitionMode == "CAPEX"  %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Category</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Size/Parts ID</th>
                    <th scope="col">Color/GG</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if entity.reportTo is defined and entity.reportTo is not empty and app.user.id == entity.reportTo.id and mode == 'process' %}
                                    <a data-type='select' class='editable' id='department' data-name='department' href='javascript:' data-source='{{ path('budget_head_category_change',{id:entity.id}) }}'  data-url='{{ path('budget_chargeline_head_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.category %}{{ item.category.id }}{% endif %}'>{% if item.category %}{{ item.category.name }}{% endif %}</a>
                                {% else %}
                                    {% if item.category %}{{ item.category.name }}{% endif %}
                                {% endif %}
                            </td>
                            <td>{{ item.item.name }}</td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                            <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                            <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                            {% if entity.reportTo is defined and entity.reportTo is not empty and app.user.id == entity.reportTo.id and mode == 'process' %}
                                <td>
                                    <input type="text"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm number input number-input quantity" value="{{ item.quantity }}">
                                </td>
                                <td>
                                    <input type="text"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number number-input quantity" value="{{ item.price }}">
                                </td>
                            {% else %}
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                            {% endif %}
                            <td>
                                <span id="subTotal-{{ item.id }}" class="subTotal">{{ item.subTotal|number_format(2) }}</span>
                            </td>
                            <td>
                                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_BUDGET']) and app.user.profile.department.slug == "budget" and entity.waitingProcess == "Approved" %}
                                    <a data-type='text' class='editable'  data-name='setDescription' href='javascript:'   data-url='{{ path('procu_item_inline_update',{'id':item.id})}}' data-pk='{{ item.id }}' data-value='{{  item.description }}'>{{  item.description }}</a>
                                {% else %}
                                    {{ item.description }}
                                {% endif %}
                            </td>
                            <td>
                                {% if item.requisitionItemHistories is not empty  %}
                                <a href="javascript:" id="{{ item.id }}"  class="btn btn-mini yellow-bg white-font  history">History</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% if item.requisitionItemHistories is not empty  %}
                            <tr class="hide show-{{ item.id }}" id="">
                                <td colspan="11">
                                    <table class="table">
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Creatd</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Creatd By</th>
                                            <th scope="col">Previous QTY</th>
                                            <th scope="col">Current QTY</th>
                                        </tr>
                                        {% for history in item.requisitionItemHistories %}
                                            <tr>
                                                <td scope="col">{{ loop.index }}</td>
                                                <td scope="col">{{ history.created|date('d-m-Y') }}</td>
                                                <td scope="col">{{ history.created|date('H:m A') }}</td>
                                                <td scope="col">{% if history.createdBy is not empty  %}{{ history.createdBy.name }}{% endif %}</td>
                                                <td scope="col">{{ history.actualQuantity }}</td>
                                                <td scope="col">{{ history.quantity }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td></tr>
                        {% endif %}
                        {% if item.stockBook.cmpPrices is not empty  %}
                            <tr class="hide show-{{ item.id }}" >
                                <td colspan="11">
                                    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                        <thead>
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Created</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">CMP Date</th>
                                            <th scope="col">Created By</th>
                                            <th scope="col">Prev Price</th>
                                            <th scope="col">Current Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for history in item.stockBook.cmpPrices %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ history.created|date('d-m-Y') }}</td>
                                                <td>{{ history.created|date('H:m A') }}</td>
                                                <td>{{ history.cmpDate|date('d-m-Y') }}</td>
                                                <td>{% if history.createdBy is not empty %}{{ history.createdBy.name }}{% endif %}</td>
                                                <td>{{ history.prevCmp }}</td>
                                                <td>{{ history.cmp }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                     <tr><th colspan="9" class="text-right"><strong>SubTotal</strong></th><th id="approveTotal">{{ entity.subTotal|number_format(2) }}</th><td></td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="">
                <thead>
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Category</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Bran/Organ</th>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">Initial QTY</th>
                    <th scope="col">Approve QTY</th>
                    <th scope="col">Req.QTY</th>
                    <th scope="col">Stock in QTY</th>
                    <th scope="col">Last Purch QTY</th>
                    <th scope="col">Last Purch Date</th>
                    <th scope="col">Last Purch Price</th>
                    <th scope="col">CMP</th>
                    <th scope="col">CMP Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if entity.reportTo is defined and entity.reportTo is not empty and app.user.id == entity.reportTo.id and mode == 'process' %}
                                <a data-type='select' class='editable' id='department' data-name='department' href='javascript:' data-source='{{ path('budget_head_category_change',{id:entity.processDepartment.id}) }}'  data-url='{{ path('budget_chargeline_head_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.category %}{{ item.category.id }}{% endif %}'>{% if item.category %}{{ item.category.name }}{% endif %}</a>
                                {% else %}
                                    {% if item.category %}{{ item.category.name }}{% endif %}
                                {% endif %}
                            </td>
                            <td>{{ item.item.name }}</td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{% if item.brand is not empty %}{{ item.brand.name }} {% endif %}</td>
                            <td>{% if item.size is not empty %}{{ item.size.name }} {% endif %}</td>
                            <td>{% if item.color is not empty %}{{ item.color.name }} {% endif %}</td>
                            <td>{{ item.actualQuantity }}</td>
                            <td>{{ item.approveQuantity }}</td>
                            {% if entity.reportTo is defined and entity.reportTo is not empty and app.user.id == entity.reportTo.id and mode == 'process' %}
                                <td>
                                    <input type="text"  data-id="{{ item.id }}" max="{{ item.actualQuantity }}" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="td-input form-control-sm  processQuantity" value="{{ item.quantity }}">
                                </td>
                            {% else %}
                                <td>{{ item.quantity }}</td>
                            {% endif %}
                            <td>{{ item.stockIn }}</td>
                            <td scope="col">{{ item.lastPurchaseQuantity }}</td>
                            <td scope="col">{% if item.lastPurchaseDate is not empty %}{{ item.lastPurchaseDate|date('d-m-Y') }}{% endif %}</td>
                            <td scope="col">{{ item.lastPurchasePrice }}</td>
                            <td>{{ item.currentPrice }}</td>
                            <td>{% if item.cmpDate is not empty %}{{ item.cmpDate|date('d-m-Y') }}{% endif %}</td>
                            {% if entity.reportTo is defined and entity.reportTo is not empty and app.user.id == entity.reportTo.id and mode == 'process' %}
                            <td>
                                <input type="text"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="td-input form-control-sm " value="{{ item.price }}">
                            </td>
                            {% else %}
                            <td>{{ item.price }}</td>
                            {% endif %}
                            <td><span id="subTotal-{{ item.id }}" class="subTotal">{{ item.subTotal|number_format(2) }}</span></td>
                            <td>
                                {% if app.user.hasRoles(['ROLE_DOMAIN','ROLE_BUDGET']) and app.user.profile.department.slug == "budget" and entity.waitingProcess == "Approved" %}
                                    <a data-type='text' class='editable'  data-name='setDescription' href='javascript:'   data-url='{{ path('procu_item_inline_update',{'id':item.id})}}' data-pk='{{ item.id }}' data-value='{{  item.description }}'>{{  item.description }}</a>
                                {% else %}
                                    {{ item.description }}
                                {% endif %}
                            </td>
                            <td><a href="javascript:" id="{{ item.id }}"  class="btn btn-mini yellow-bg white-font history">History</a></td>
                        </tr>
                        {% if item.requisitionItemHistories is not empty  %}
                            <tr class="hide show-{{ item.id }}">
                                <td colspan="22">
                                    <table class="table">
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Creatd</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Creatd By</th>
                                            <th scope="col">Previous QTY</th>
                                            <th scope="col">Current QTY</th>
                                        </tr>
                                        {% for history in item.requisitionItemHistories %}
                                        <tr>
                                            <td scope="col">{{ loop.index }}</td>
                                            <td scope="col">{{ history.created|date('d-m-Y') }}</td>
                                            <td scope="col">{{ history.created|date('H:m A') }}</td>
                                            <td scope="col">{% if history.createdBy is not empty  %}{{ history.createdBy.name }}{% endif %}</td>
                                            <td scope="col">{{ history.actualQuantity }}</td>
                                            <td scope="col">{{ history.quantity }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if item.stockBook.cmpPrices is not empty  %}
                            <tr class="hide show-{{ item.id }}" >
                                <td colspan="22">
                                    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">S/N</th>
                                                <th scope="col">Created</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">CMP Date</th>
                                                <th scope="col">Created By</th>
                                                <th scope="col">Prev Price</th>
                                                <th scope="col">Current Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for history in item.stockBook.cmpPrices %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ history.created|date('d-m-Y') }}</td>
                                                <td>{{ history.created|date('H:m A') }}</td>
                                                <td>{{ history.cmpDate|date('d-m-Y') }}</td>
                                                <td>{% if history.createdBy is not empty %}{{ history.createdBy.name }}{% endif %}</td>
                                                <td>{{ history.prevCmp }}</td>
                                                <td>{{ history.cmp }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="17" class="text-right"><strong>SubTotal</strong></td><th id="approveTotal">{{ entity.subTotal|number_format(2) }}</th>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
