{% if entity.requisitionItems is not empty %}
        {% if entity.requisitionMode == "Expense" %}
            {% for item in entity.requisitionItems %}
                <tr id="remove-{{ item.id }}">
                    <td>{{ loop.index }}</td>
                    {#<td>{{ item.created|date('d-m-Y') }}</td>#}
                    <td><a data-type='select' class='editable' id='department' data-name='department' href='javascript:' data-source='{{ path('budget_head_category_change',{id:entity.id}) }}'  data-url='{{ path('budget_chargeline_head_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.category %}{{ item.category.id }}{% endif %}'>{% if item.category %}{{ item.category.name }}{% endif %}</a></td>
                    <td>{{ item.item.name }}</td>
                    <td><a data-type='select' class='editable' id='section' data-name='section' href='javascript:' data-source='{{ path('budget_head_section_change',{id:entity.id}) }}'  data-url='{{ path('budget_section_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.section %}{{ item.section.id }}{% endif %}'>{% if item.section %}{{ item.section.name }}{% endif %}</a></td>
                    <td>{% if item.uom is empty %}{{ item.stockBook.uom }}{% else %}{{ item.uom }}{% endif %}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.remark }}</td>
                    <td>
                        <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                    </td>
                    <td>
                        <input type="number"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.price }}">
                    </td>
                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>

                    <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                </tr>
            {% endfor %}
            <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
        {% elseif entity.requisitionMode == "CAPEX" %}
            {% for item in entity.requisitionItems %}
                <tr id="remove-{{ item.id }}">
                    <td>{{ loop.index }}</td>
                    <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.stockBook.uom }}</td>
                    <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                    <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                    <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                    <td>
                        <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                    </td>
                    <td>
                        <input type="number"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.price }}">
                    </td>
                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                    <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                </tr>
            {% endfor %}
            <tr><td colspan="9" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
        {% else %}
            {% for item in entity.requisitionItems %}
                <tr id="remove-{{ item.id }}">
                <td>{{ loop.index }}</td>
                    <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.stockBook.uom }}</td>
                <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                <td>
                    <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                    <input type="number" min="1"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="td-input form-control-sm input number-input quantity" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" value="{{ item.quantity }}">
                </td>
                <td>{{ item.stockIn }}</td>
                <td scope="col">{{ item.lastPurchaseQuantity }}</td>
                <td scope="col">{{ item.lastPurchasePrice }}</td>
                <td scope="col">{% if item.lastPurchaseDate is not empty %}{{ item.lastPurchaseDate|date('d-m-Y') }}{% endif %}</td>
                <td>{{ item.currentPrice }}</td>
                <td>{% if item.cmpDate is not empty %}{{ item.cmpDate|date('d-m-Y') }}{% endif %}</td>
                <td>{{ item.price }}</td>
                <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                <td>{{ item.description }}</td>
                <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
            </tr>
            {% endfor %}
            <tr><td colspan="15" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
        {% endif %}
{% endif %}
