<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                {{ render(controller(
                    "Terminalbd\\ProcurementBundle\\Controller\\Garments\\PurchaseRequisitionController::purchaseRequisitionHead",
                    { 'id': entity.id,'mode':'show'}
                )) }}
                {% if entity.requisitionMode != "CAPEX" %}
                <div class="row">
                    <div class="col-md-12">
                        {{ render(controller(
                            "Terminalbd\\ProcurementBundle\\Controller\\Garments\\PurchaseRequisitionController::budgetView",
                            { 'id': entity.id,'mode':'show'}
                        )) }}
                    </div>
                </div>
                {% endif %}
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
