<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>
    <style>
        body {
            font-size: 90% !important;
        }
        .table td, .table th {
            font-size: 90% !important;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-striped table-bordered table-hover display nowrap">
                        <thead class="thead-green">
                      {#  <form action="" method="get">
                            <tr role="row">
                                <td colspan="3" >{{ form_widget(searchForm.itemName) }}</td>
                                <td colspan="2" >{{ form_widget(searchForm.requisitionNo) }}</td>
                                <td>{{ form_widget(searchForm.department) }}</td>
                                <td>{{ form_widget(searchForm.unit) }}</td>
                                <td>{{ form_widget(searchForm.branch) }}</td>

                                <td colspan="2"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                <td colspan="2"><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        {{ form_widget(searchForm.filter) }}
                                        <button type="submit" class="btn btn-sm blue-bg white-font" name="excel"><i class="fa fa-download"></i> Excel</button>
                                    </div>
                                </td>
                            </tr>
                            {{ form_widget(searchForm._token) }}
                        </form>#}
                      <tr>
                          <th scope="col">REQ</th>
                          <th scope="col">Unit</th>
                          <th scope="col">Dept.</th>
                          <th scope="col">Head</th>
                          <th scope="col">Req.CreateDate</th>
                          <th scope="col">Req Received Date</th>
                          <th scope="col">Priority</th>
                          <th scope="col">SL</th>
                          <th scope="col">Item Name</th>
                          <th scope="col">UOM</th>
                          <th scope="col">Req Qty</th>
                          <th scope="col">Req. Rate</th>
                          <th scope="col">RFQ no.</th>
                          <th scope="col">RFQ date</th>
                          <th scope="col">CS no.</th>
                          <th scope="col">CS Date</th>
                          <th scope="col">WO no.</th>
                          <th scope="col">Supplier</th>
                          <th scope="col">Mode Of Payment</th>
                          <th scope="col">W/O Date</th>
                          <th scope="col">WO Approve date</th>
                          <th scope="col">Order</th>
                          <th scope="col">Order Date</th>
                          <th scope="col">Delivery date</th>
                          <th scope="col">Inhouse Date</th>
                          <th scope="col">Purchase Rate</th>
                          <th scope="col">Amount</th>
                          <th scope="col">GRN/ERP</th>
                          <th scope="col">Challan</th>
                          <th scope="col">Bill</th>
                          <th scope="col">Status</th>
                          <th scope="col">Bill rate entry date</th>
                          <th scope="col">Status</th>
                          <th scope="col">(ITS) Bill posting date</th>
                          <th scope="col">Fund Requisition no.</th>
                          <th scope="col">Due date</th>
                          <th scope="col">Payment date</th>
                          <th scope="col">Remarks</th>
                      </tr>
                        </thead>
                        <tbody>
                        {% if pagination is not empty %}
                            {% set i = 1  %}
                            {% for item in pagination %}
                                <tr>
                                    <td>{{ item.requisitionNo }}</td>
                                    <td>{{ item.unitName }}</td>
                                    <td>{{ item.department }}</td>
                                    <td>{{ item.categoryName }}</td>
                                    <td>{{ item.created|date('d-m-Y') }}</td>
                                    <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                    <td>{{ item.priority }}</td>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.itemName }}</td>
                                    <td>{{ item.uom }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
           {# <div class="row">
                <div class="col-md-3">
                    <div class="count">
                        Total Records: {{ pagination.getTotalItemCount }}
                    </div>
                </div>
                <div class="col-md-9 navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>#}
        </div>
    </div>
</div>
</body>
</html>

