<div class="row">
    {{ form_start(itemForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'itemForm','action':path('procure_requisition_save_item',{'id':entity.id,'module':entity.module})}}) }}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                {{ form_widget(itemForm.item) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(itemForm.brand) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(itemForm.size) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(itemForm.color) }}
            </div>
            <div class="col-md-3">
                <div class="btn-group btn-group-sm col-md-12">
                    {{ form_widget(itemForm.quantity) }}&nbsp;&nbsp;<button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-sm  blue-bg white-font"><i class="feather icon-plus"></i> Add Item</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(itemForm._token) }}
    {{ form_end(itemForm) }}
</div>
{% if entity.module == 'job-approval' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Unit Price(BDT)</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Remark</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>

                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.stockBook.stockBookName }}</td>
                            <td>
                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                <input type="text"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control-sm td-input input number  quantity" value="{{ item.quantity }}">
                            </td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{{ item.price }}</td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                            <td>{{ item.description }}</td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="5" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif entity.module == 'purchase-requisition' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">Req.Qnt</th>
                    <th scope="col">Stock in Qty</th>
                    <th scope="col">Last Purch Qty</th>
                    <th scope="col">Last Purch Price</th>
                    <th scope="col">Last Purch Date</th>
                    <th scope="col">CMP</th>
                    <th scope="col">CMP Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Remark</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.item.name }}</td>
                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                            <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                            <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                            <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                            <td>
                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                            </td>
                            <td>{{ item.stockIn }}</td>
                            <td scope="col">{{ item.lastPurchaseQuantity }}</td>
                            <td scope="col">{{ item.lastPurchasePrice }}</td>
                            <td scope="col">{% if item.lastPurchaseDate is not empty %}{{ item.lastPurchaseDate|date('d-m-Y') }}{% endif %}</td>
                            <td>{{ item.currentPrice }}</td>
                            <td>{% if item.cmpDate is not empty %}{{ item.cmpDate|date('d-m-Y') }}{% endif %}</td>
                            <td class="text-right">{{ item.price }}</td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                            <td>{{ item.description }}</td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="14" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}