{{ form_start(formBudget, {'attr': {'class': 'form-horizontal main-requisition right','id':'budgetUtilizationForm','enctype':'multipart/form-data','action':path('procure_utilization_letter_ajax_budget_update',{'id':entity.id}),'data-action':path('procure_utilization_letter_ajax_budget_update',{'id':entity.id})}}) }}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover display nowrap">
            <thead>
            <tr>
                <th scope="col">Production Quantity</th>
                <th scope="col">
                    {{ form_widget(formBudget.yearlyQuantity) }}
                    {{ form_errors(formBudget.yearlyQuantity) }}
                </th>
                <th scope="col">
                    {{ form_widget(formBudget.ytdQuantity) }}
                    {{ form_errors(formBudget.ytdQuantity) }}
                </th>
                <th scope="col">
                    {{ form_widget(formBudget.expenseYtdQuantity) }}
                    {{ form_errors(formBudget.expenseYtdQuantity) }}
                </th>
                <th scope="col">
                    {{ form_widget(formBudget.requiredApprovalQuantityUpto) }}
                    {{ form_errors(formBudget.requiredApprovalQuantityUpto) }}
                </th>
                <th scope="col" id="requiredApprovalQuantity">{{ (entity.yearlyQuantity and entity.requiredApprovalQuantityUpto) ? entity.yearlyQuantity - entity.requiredApprovalQuantityUpto  }}</th>
                <th scope="col" id="totalRequiredApprovalQuantity">{{ entity.yearlyQuantity }}</th>
                <th scope="col" id="revisedApprovalQuantity">{{ entity.yearlyQuantity }}</th>
            </tr>
            {% if entity.yearlyQuantity %}
                <tr>
                    <th scope="col">Per Unit</th>
                    <th scope="col">{{ (entity.yearlyQuantity and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</th>
                    <th scope="col">{{ (entity.yearlyYtdAmount and entity.ytdQuantity) ? (entity.yearlyYtdAmount / entity.ytdQuantity)|number_format(3) }}</th>
                    <th scope="col">{{ (entity.expenseYtdAmount and entity.expenseYtdQuantity) ? (entity.expenseYtdAmount / entity.expenseYtdQuantity)|number_format(3) }}</th>
                    <th scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalQuantityUpto) ? ((entity.yearlyYtdAmount - entity.expenseYtdAmount)  / entity.requiredApprovalQuantityUpto)|number_format(3) }}</th>
                    <th scope="col" class="red-bg white-font">{{ (entity.requiredApprovalAmount and entity.requiredApprovalQuantityUpto) ? (entity.requiredApprovalAmount / (entity.yearlyQuantity - entity.requiredApprovalQuantityUpto))|number_format(3) }}</th>
                    <th scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalAmount) ? (((entity.yearlyYtdAmount + entity.requiredApprovalAmount) - entity.expenseYtdAmount) / entity.yearlyQuantity)|number_format(3) }}</th>
                    <th scope="col">{{ (entity.yearlyAmount and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</th>
                </tr>
            {% endif %}
            {% if entity.budgetGl %}
                <tr>
                    <th scope="col">Head of Expense</th>
                    <th scope="col">Annual Budget <br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                    <th scope="col">Budget YTD<br/>({{ entity.created|date('F') }})</th>
                    <th scope="col">Expenses YTD <br/>({{ entity.created|date('F') }})</th>
                    <th scope="col">Required Approval Up To<br/>({{ entity.created|date('F') }})</th>
                    <th scope="col">Required Approval<br/>({{ entity.created|date_modify("+28 days")|date('F') }} To June)</th>
                    <th scope="col">Total Required Approval<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                    <th scope="col">Revised Annual Budget<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                </tr>
            {% endif %}
            </thead>
            <tbody id="invoiceAdditionalItem">
            <tr>
                <td scope="col">
                    {{ form_widget(formBudget.budgetGl) }}
                    {{ form_errors(formBudget.budgetGl) }}
                </td>
                <td scope="col">
                    {{ form_widget(formBudget.yearlyAmount) }}
                    {{ form_errors(formBudget.yearlyAmount) }}</td>
                <td scope="col">
                    {{ form_widget(formBudget.yearlyYtdAmount) }}
                    {{ form_errors(formBudget.yearlyYtdAmount) }}
                </td>
                <td scope="col">
                    {{ form_widget(formBudget.expenseYtdAmount) }}
                    {{ form_errors(formBudget.expenseYtdAmount) }}
                </td>
                <td scope="col" class="red-bg white-font">{{ entity.yearlyYtdAmount - entity.expenseYtdAmount }}</td>

                <td scope="col">
                    {{ form_widget(formBudget.requiredApprovalAmount) }}
                    {{ form_errors(formBudget.requiredApprovalAmount) }}
                </td>
                <td scope="col" class="red-bg white-font">
                    {{ entity.TotalApprovalAmount|number_format }}</td>
                <td scope="col" class="blue-bg white-font" >{{ (entity.yearlyAmount + entity.TotalApprovalAmount|abs) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{{ form_widget(formBudget._token) }}
{{ form_end(formBudget) }}