{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Utilization Letter Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_utilization_letter')}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Utilization Letter'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">{{ 'Utilization Letter Request'|trans }} </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="row">
                                <div class="col-md-12 form-box-header"><p>Utilization Letter request details</p></div>
                            </div>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','action':path('procure_utilization_letter_edit',{'id':entity.id}),'data-action':path('procure_utilization_letter_ajax_update',{'id':entity.id})}}) }}
                            <div class="form-box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Utilization Letter No"|trans }}</label>
                                                    <div class="col-md-6">{{ entity.requisitionNo }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Financial Year"|trans }}</label>
                                                    <div class="col-md-8">
                                                        {{ entity.financialYear }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Created Date"|trans }}</label>
                                                    <div class="col-md-6">{{ entity.created|date('d-m-Y') }}/{{ entity.billMonthName }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 grid-products">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.condition, 'Condition'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="is-required"> *</span>
                                                {{ form_widget(form.condition) }}
                                                {{ form_errors(form.condition) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.company, 'Company'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.company) }}
                                                        {{ form_errors(form.company) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.processDepartment, 'Process Department'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.processDepartment) }}
                                                        {{ form_errors(form.processDepartment) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.attentionTo, 'Attention To'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.attentionTo) }}
                                                        {{ form_errors(form.attentionTo) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.billMonth, 'Letter Month'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.billMonth) }}
                                                        {{ form_errors(form.billMonth) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.title, 'Title'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                <span class="is-required"> *</span>
                                                {{ form_widget(form.title) }}
                                                {{ form_errors(form.title) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.content, 'Job Details/Justification'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.content) }}
                                                {{ form_errors(form.content) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                {{ render(controller(
                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                    { 'id': entity.id,'module':entity.module}
                                )) }}
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                            {% if entity.processDepartment and entity.company %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ "Budget Overview"|trans }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div id="formBudgetBox">
                                {{ form_start(formBudget, {'attr': {'class': 'form-horizontal main-requisition right','id':'budgetUtilizationForm','enctype':'multipart/form-data','action':path('procure_utilization_letter_ajax_budget_update',{'id':entity.id}),'data-action':path('procure_utilization_letter_ajax_budget_update',{'id':entity.id})}}) }}
                                <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                        <thead>
                                        <tr>
                                            <th scope="col">Production/Shipment Quantity</th>
                                            <th scope="col">
                                                {{ form_widget(formBudget.yearlyQuantity) }}
                                                {{ form_errors(formBudget.yearlyQuantity) }}
                                            </th>
                                            <th scope="col">
                                                {{ form_widget(formBudget.ytdQuantity) }}
                                                {{ form_errors(formBudget.ytdQuantity) }}
                                            </th>
                                            <th scope="col">
                                                {{ form_widget(formBudget.expenseYtdQuantity) }}
                                                {{ form_errors(formBudget.expenseYtdQuantity) }}
                                            </th>
                                            <th scope="col">
                                                {{ form_widget(formBudget.requiredApprovalQuantityUpto) }}
                                                {{ form_errors(formBudget.requiredApprovalQuantityUpto) }}
                                            </th>
                                            <th scope="col" id="requiredApprovalQuantity">{{ (entity.yearlyQuantity and entity.requiredApprovalQuantityUpto) ? entity.yearlyQuantity - entity.requiredApprovalQuantityUpto  }}</th>
                                            <th scope="col" id="totalRequiredApprovalQuantity">{{ entity.yearlyQuantity }}</th>
                                            <th scope="col" id="revisedApprovalQuantity">{{ entity.yearlyQuantity }}</th>
                                        </tr>
                                        {% if entity.yearlyQuantity %}
                                            <tr>
                                                <th scope="col">Per Unit</th>
                                                <th scope="col">{{ (entity.yearlyQuantity and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</th>
                                                <th scope="col">{{ (entity.yearlyYtdAmount and entity.ytdQuantity) ? (entity.yearlyYtdAmount / entity.ytdQuantity)|number_format(3) }}</th>
                                                <th scope="col">{{ (entity.expenseYtdAmount and entity.expenseYtdQuantity) ? (entity.expenseYtdAmount / entity.expenseYtdQuantity)|number_format(3) }}</th>
                                                <th scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalQuantityUpto) ? ((entity.yearlyYtdAmount - entity.expenseYtdAmount)  / entity.requiredApprovalQuantityUpto)|number_format(3) }}</th>
                                                <th scope="col" class="red-bg white-font">{{ (entity.requiredApprovalAmount and entity.requiredApprovalQuantityUpto) ? (entity.requiredApprovalAmount / (entity.yearlyQuantity - entity.requiredApprovalQuantityUpto))|number_format(3) }}</th>
                                                <th scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalAmount) ? (((entity.yearlyYtdAmount + entity.requiredApprovalAmount) - entity.expenseYtdAmount) / entity.yearlyQuantity)|number_format(3) }}</th>
                                                <th scope="col">{{ (entity.yearlyAmount and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</th>
                                            </tr>
                                        {% endif %}
                                        {% if entity.budgetGl %}
                                        <tr>
                                            <th scope="col">Head of Expense</th>
                                            <th scope="col">Annual Budget <br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                                            <th scope="col">Budget YTD<br/>({{ entity.created|date('F') }})</th>
                                            <th scope="col">Expenses YTD <br/>({{ entity.created|date('F') }})</th>
                                            <th scope="col">Required Approval Up To<br/>({{ entity.created|date('F') }})</th>
                                            <th scope="col">Required Approval<br/>({{ entity.created|date_modify("+28 days")|date('F') }} To June)</th>
                                            <th scope="col">Total Required Approval<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                                            <th scope="col">Revised Annual Budget<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                                        </tr>
                                        {% endif %}
                                        </thead>
                                        <tbody id="invoiceAdditionalItem">
                                        <tr>
                                            <td scope="col">
                                                {{ form_widget(formBudget.budgetGl) }}
                                                {{ form_errors(formBudget.budgetGl) }}
                                            </td>
                                            <td scope="col">
                                                {{ form_widget(formBudget.yearlyAmount) }}
                                                {{ form_errors(formBudget.yearlyAmount) }}</td>
                                            <td scope="col">
                                                {{ form_widget(formBudget.yearlyYtdAmount) }}
                                                {{ form_errors(formBudget.yearlyYtdAmount) }}
                                            </td>
                                            <td scope="col">
                                                {{ form_widget(formBudget.expenseYtdAmount) }}
                                                {{ form_errors(formBudget.expenseYtdAmount) }}
                                            </td>
                                            <td scope="col" class="red-bg white-font">{{ entity.yearlyYtdAmount - entity.expenseYtdAmount }}</td>

                                            <td scope="col">
                                                {{ form_widget(formBudget.requiredApprovalAmount) }}
                                                {{ form_errors(formBudget.requiredApprovalAmount) }}
                                            </td>
                                            <td scope="col" class="red-bg white-font">{{ entity.TotalApprovalAmount|number_format }}</td>
                                            <td scope="col" class="blue-bg white-font" >{{ (entity.yearlyAmount + entity.TotalApprovalAmount|abs) }}</td>      </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                                {{ form_widget(formBudget._token) }}
                                {{ form_end(formBudget) }}
                                </div>
                            {% endif %}
                            <div class="clearfix"></div>
                            {% if entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user"  %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ render(controller(
                                            "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                            { 'id': entity.id,'module':entity.module}
                                        )) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% if app.user.id == entity.createdBy.id and entity.process == "New" or app.user.id == entity.createdBy.id  %}
                        <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <div class="btn-group" role="group">
                                    <a class="btn purple-bg white-font form-submit btn" target="_blank" href="{{ path('procure_utilization_letter_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="btn-group" role="group">
                                    <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                    <button type="button" id="submitRequisitionBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save and Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.condition').change(function(e){
        var condition = $(this).val();
        var url = Routing.generate('procure_utilization_letter_process_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
        location.reload();
        });
    });
    $('.billMonth').change(function(e){
        var billMonth = $(this).val();
        var url = Routing.generate('procure_utilization_letter_billmonth',{'id':'{{ entity.id }}'});
        $.get(url,{'billMonth':billMonth}, function( response ) {
            location.reload();
        });
    });

    $(document).on("change", ".budget-input", function() {

        var formData = new FormData($('form#budgetUtilizationForm')[0]); // Create an arbitrary FormData instance
        var url = $('form#budgetUtilizationForm').attr('data-action'); // Create an arbitrary FormData instance
        $.ajax({
        url:url ,
        type: 'POST',
        processData: false,
        contentType: false,
        data:formData,
        success: function(response) {
            $("#formBudgetBox").html(response);
        }
        });

    });

    $('.processDepartment').change(function(e){
        setTimeout(function(){
         location.reload();
        }, 1000);//wait 2 seconds
    });
{% endblock %}
