<html>
<head>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>
    <style>
        body {
            font-size: 90% !important;
        }
        .table td, .table th {
            font-size: 90% !important;
        }
    </style>
</head>
<title>Requisition No: {{ entity.requisitionNo }}</title>
<body class="body">
<div class="row">
    <div class="col-md-12 text-right print-bar">
        <ul class="list-inline" id="grpChkBox">
            <li>
                <button class='btn btn-print print' id='{{ entity.id }}'><i class='fa fa-print'></i> Print</button>
            </li>
        </ul>
    </div>
</div>
<div id="print-box">
    <div id="print-area">
        <br/>
        <div class="grid-designation">
            <div class="col-md-12 text-left"></div>
            <div class="col-md-12 text-center"><h3>{{ (entity.company) ? entity.company.name:'' }}</h3></div>
            <div class="col-md-12 text-left"></div>
        </div>
        <div class="row"><div class="div-br-30"></div></div>
        <div class="grid-designation">
            <div class="col-md-12 text-left">Attention To: <strong>{{ (entity.attentionTo) ? entity.attentionTo.name : "" }}/{% if entity.processDepartment is not empty %}</strong> {{ entity.processDepartment.name }}{% endif %}</div>
            <div class="col-md-12 text-center"><strong>Over Uitilization Letter</strong></div>
            <div class="col-md-12 text-left">
                <ul>
                    <li>Utilization No: <strong>{{ entity.requisitionNo }}</strong></li>
                    <li>Created: {{ entity.created|date('d,F Y') }}</li>
                </ul>
            </div>
        </div>
        <div class="row"><div class="div-br-30"></div></div>
        <div class="row">
            <div class="col-md-12">
                {{ entity.title|replace({'[month-year]':entity.created|date('F-Y')})|raw }}</div>
        </div>
        <div class="row"><div class="div-br-30"></div></div>
        {% if entity.budgetGl %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover display nowrap">
                    <thead>
                    <tr>
                        <td scope="col">Production/Shipment Quantity</td>
                        <td scope="col">{{ entity.yearlyQuantity }}</td>
                        <td scope="col">{{ entity.ytdQuantity }}</td>
                        <td scope="col">{{ entity.expenseYtdQuantity }}</td>
                        <td scope="col">{{ entity.requiredApprovalQuantityUpto }}</td>
                        <td scope="col" id="requiredApprovalQuantity">{{ (entity.yearlyQuantity and entity.requiredApprovalQuantityUpto) ? entity.yearlyQuantity - entity.requiredApprovalQuantityUpto  }}</td>
                        <td scope="col" id="totalRequiredApprovalQuantity">{{ entity.yearlyQuantity }}</td>
                        <td scope="col" id="revisedApprovalQuantity">{{ entity.yearlyQuantity }}</td>
                    </tr>
                    {% if entity.yearlyQuantity %}
                        <tr>
                            <td scope="col">Per Unit</td>
                            <td scope="col">{{ (entity.yearlyQuantity and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</td>
                            <td scope="col">{{ (entity.yearlyYtdAmount and entity.ytdQuantity) ? (entity.yearlyYtdAmount / entity.ytdQuantity)|number_format(3) }}</td>
                            <td scope="col">{{ (entity.expenseYtdAmount and entity.expenseYtdQuantity) ? (entity.expenseYtdAmount / entity.expenseYtdQuantity)|number_format(3) }}</td>
                            <td scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalQuantityUpto) ? ((entity.yearlyYtdAmount - entity.expenseYtdAmount)  / entity.requiredApprovalQuantityUpto)|number_format(3) }}</td>
                            <td scope="col" class="red-bg white-font">{{ (entity.requiredApprovalAmount and entity.requiredApprovalQuantityUpto) ? (entity.requiredApprovalAmount / (entity.yearlyQuantity - entity.requiredApprovalQuantityUpto))|number_format(3) }}</td>
                            <td scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalAmount) ? (((entity.yearlyYtdAmount + entity.requiredApprovalAmount) - entity.expenseYtdAmount) / entity.yearlyQuantity)|number_format(3) }}</td>
                            <td scope="col">{{ (entity.yearlyAmount and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</td>
                        </tr>
                    {% endif %}
                    {% if entity.budgetGl %}
                        <tr>
                            <th scope="col">Head of Expense</th>
                            <th scope="col">Annual Budget <br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                            <th scope="col">Budget YTD<br/>({{ entity.created|date('F') }})</th>
                            <th scope="col">Expenses YTD <br/>({{ entity.created|date('F') }})</th>
                            <th scope="col">Required Approval Up To<br/>({{ entity.created|date('F') }})</th>
                            <th scope="col">Required Approval<br/>({{ entity.created|date_modify("+28 days")|date('F') }} To June) To June)</th>
                            <th scope="col">Total Required Approval<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                            <th scope="col">Revised Annual Budget<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                        </tr>
                    {% endif %}
                    </thead>
                    <tbody id="invoiceAdditionalItem">
                    <tr>
                        <td scope="col">{{ entity.budgetGl.gl.name }}</td>
                        <td scope="col">{{ entity.yearlyAmount }}</td>
                        <td scope="col">{{ entity.yearlyYtdAmount }}</td>
                        <td scope="col">{{ entity.expenseYtdAmount }}</td>
                        <td scope="col" class="red-bg white-font">{{ entity.yearlyYtdAmount - entity.expenseYtdAmount }}</td>
                        <td scope="col">
                            {{ entity.requiredApprovalAmount }}
                        </td>
                        <td scope="col" class="red-bg white-font">
                            {{ entity.totalApprovalAmount|number_format }}</td>
                        <td scope="col" class="gray-bg white-font" >{{ (entity.yearlyAmount + entity.totalApprovalAmount)|number_format }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <div class="row"><div class="div-br-30"></div></div>
        <div class="row">
            <div class="col-md-12">{{ entity.content|raw }}</div>
        </div>
        <div class="row"><div class="div-br-30"></div></div>
        <div class="grid-designation">
            <div class="col-md-12 text-left">
                <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                    {% if entity.createdBy.profile.signaturePath is not empty %}
                        <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                        <br/>
                    {% endif%}
                    {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                    <br/>
                    Prepared By
                </div>
            </div>
            <div class="col-md-12 text-left"></div>
            <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                {% if entity.checkedBy.profile.signaturePath is not empty %}
                    <img style="height: 60px" src="{{ asset('uploads/user/'~entity.checkedBy.profile.signaturePath) }}">
                    <br/>
                {% endif%}
                {{ entity.checkedBy.name }}<br/>{% if entity.checkedBy.profile.designation %}{{ entity.checkedBy.profile.designation.name }}{% endif %}
                Checked By
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><h3>USER'S JUSTIFICATION</h3></div>
        </div>
        <div class="row">
            <div class="col-md-12 content-box">
                <div class="row">
                    <div class="col-md-12 title">Reasons:</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ entity.reasons|raw }}</div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 content-box" >
                <div class="row">
                    <div class="col-md-12 title" >Recovery Plan:</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ entity.recoveryPlan|raw }}</div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 content-box">
                <div class="row">
                    <div class="col-md-12 title" >Future Action Plan:</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ entity.timeline|raw }}</div>
                </div>
            </div>
        </div>
        <br/>
        {% if entity.attentionTo %}
        <div class="grid-designation">
            <div class="col-md-12 text-left">
                <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                    {% if entity.attentionTo.profile.signaturePath is not empty %}
                        <img style="height: 60px" src="{{ asset('uploads/user/'~entity.attentionTo.profile.signaturePath) }}">
                        <br/>
                    {% endif%}
                    {{ entity.attentionTo.name }}<br/>{% if entity.attentionTo.profile.designation %}{{ entity.attentionTo.profile.designation.name }}{% endif %}
                    <br/>
                </div>
            </div>
        </div>
        <br/>
        {% endif %}
        <div class="row"><div class="div-br-30"></div></div>
        {% if approvals is not empty %}
            {% set count = approvals|length %}
            {% for list in approvals %}
            <div class="row">
                <div class="col-md-12 content-box">
                    {% if count > loop.index  %}
                    <div class="row">
                        <div class="col-md-12 title" >EC mesmbers Riview & Comments</div>
                    </div>
                    {% elseif (count == loop.index ) %}
                    <div class="row">
                        <div class="col-md-12 title" >Director Sir's Riview & Comments</div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-8">
                            {{ list.comment|raw }}
                        </div>
                        <div class="col-md-4">
                            <div style="padding: 15px; border: 1px solid #dddddd;">
                                {% if list.assignTo.profile.signaturePath is not empty and  list.close == true %}
                                    <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                    <br/>
                                {% endif%}
                                {{ list.assignTo.name }}<br/>
                                {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

    </div>
</div>
<link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/garments.css') }}">
<script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/kinzi.print.min.js') }}"></script>
<script>
    $('.print').click(function () {
        $('#print-area').kinziPrint({
            importCSS: true,
            //header: $('.print-header-content').html()
        });
    });
</script>
</body>
</html>