{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Job Approval Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_jobrequisition',{'mode':'approve'})}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Job Approval'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box">
                                <div class="portlet-title portlet-title-green">
                                    <div class="caption">{{ 'Job Approval Details'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Job Approval No.</strong></div>
                                                    <div class="col-md-6">{{ entity.requisitionNo }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Created</strong></div>
                                                    <div class="col-md-6">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Created By</strong></div>
                                                    <div class="col-md-6">{{ entity.createdBy.name }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Department</strong></div>
                                                    <div class="col-md-6">{% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Company</strong></div>
                                                    <div class="col-md-6">{% if entity.company is not empty %} {{ entity.company.name }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                        <br/><br/>
                                        <div class="row">
                                            <div class="col-md-12">{{ entity.title|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="formBudgetBox">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\Garments\\UtilizationLetterController::reasonBudgetUpdate",
                                                        { 'id': entity.id}
                                                    )) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">{{ entity.content|raw }}</div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-12 text-center"><h3>USER'S JUSTIFICATION</h3></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 content-box">
                                                <div class="row">
                                                    <div class="col-md-12 title">Reasons:</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">{{ entity.reasons|raw }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-12 content-box" >
                                                <div class="row">
                                                    <div class="col-md-12 title" >Recovery Plan:</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">{{ entity.recoveryPlan|raw }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-12 content-box">
                                                <div class="row">
                                                    <div class="col-md-12 title" >Future Action Plan:</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">{{ entity.timeline|raw }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                {#<div class="row">
                                                    <div class="col-md-8">
                                                        <labe>Approve Mode</labe> &nbsp;{{ form_widget(form.reject,{'attr':{'rows':6}}) }}
                                                    </div>
                                                </div>#}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                {{ form_widget(form.comment,{'attr':{'rows':6}}) }}
                                                                {{ form_errors(form.comment) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <div class="btn-group" >
                                                            {#{% if entity.moduleProcess.approverReject == 1 and entity.reportTo.approvalUser.isRejected == 1  %}#}
                                                            <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                            {# {% endif %}#}
                                                            <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/garments.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $(document).on("change", "#requiredApprovalAmount", function() {
        var url = $(this).attr('data-action'); // Create an arbitrary FormData instance
        var amount = $(this).val();
        $.get(url,{'amount':amount}, function( response ) {
        $("#formBudgetBox").html(response);
        });

    });
{% endblock %}



