<table class="table table-striped table-bordered table-hover display nowrap">
    <thead>
    <tr>
        <th scope="col">Production Quantity</th>
        <th scope="col">{{ entity.yearlyQuantity }}</th>
        <th scope="col">{{ entity.ytdQuantity }}</th>
        <th scope="col">{{ entity.expenseYtdQuantity }}</th>
        <th scope="col">{{ entity.requiredApprovalQuantityUpto }}</th>
        <th scope="col" id="requiredApprovalQuantity">{{ (entity.yearlyQuantity and entity.requiredApprovalQuantityUpto) ? entity.yearlyQuantity - entity.requiredApprovalQuantityUpto  }}</th>
        <th scope="col" id="totalRequiredApprovalQuantity">{{ entity.yearlyQuantity }}</th>
        <th scope="col" id="revisedApprovalQuantity">{{ entity.yearlyQuantity }}</th>
    </tr>
    {% if entity.yearlyQuantity %}
        <tr>
            <th scope="col">Per Unit</th>
            <th scope="col">{{ (entity.yearlyQuantity and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</th>
            <th scope="col">{{ (entity.yearlyYtdAmount and entity.ytdQuantity) ? (entity.yearlyYtdAmount / entity.ytdQuantity)|number_format(3) }}</th>
            <th scope="col">{{ (entity.expenseYtdAmount and entity.expenseYtdQuantity) ? (entity.expenseYtdAmount / entity.expenseYtdQuantity)|number_format(3) }}</th>
            <th scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalQuantityUpto) ? ((entity.yearlyYtdAmount - entity.expenseYtdAmount)  / entity.requiredApprovalQuantityUpto)|number_format(3) }}</th>
            <th scope="col" class="red-bg white-font">{{ (entity.requiredApprovalAmount and entity.requiredApprovalQuantityUpto) ? (entity.requiredApprovalAmount / (entity.yearlyQuantity - entity.requiredApprovalQuantityUpto))|number_format(3) }}</th>
            <th scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalAmount) ? (((entity.yearlyYtdAmount + entity.requiredApprovalAmount) - entity.expenseYtdAmount) / entity.yearlyQuantity)|number_format(3) }}</th>
            <th scope="col">{{ (entity.yearlyAmount and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</th>
        </tr>
    {% endif %}
    {% if entity.budgetGl %}
        <tr>
            <th scope="col">Head of Expense</th>
            <th scope="col">Annual Budget <br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
            <th scope="col">Budget YTD<br/>({{ entity.created|date('F') }})</th>
            <th scope="col">Expenses YTD <br/>({{ entity.created|date('F') }})</th>
            <th scope="col">Required Approval Up To<br/>({{ entity.created|date('F') }})</th>
            <th scope="col">Required Approval<br/>({{ entity.created|date_modify("+28 days")|date('F') }} To June)</th>
            <th scope="col">Total Required Approval<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
            <th scope="col">Revised Annual Budget<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
        </tr>
    {% endif %}
    </thead>
    <tbody id="invoiceAdditionalItem">
    <tr>
        <td scope="col">{{ entity.budgetGl.gl.name }}</td>
        <td scope="col">{{ entity.yearlyAmount }}</td>
        <td scope="col">{{ entity.yearlyYtdAmount }}</td>
        <td scope="col">{{ entity.expenseYtdAmount }}</td>
        <td scope="col" class="red-bg white-font">{{ entity.yearlyYtdAmount - entity.expenseYtdAmount }}</td>
        <td scope="col"><input type="text" id="requiredApprovalAmount" name="requiredApprovalAmount" data-action="{{ path('procure_utilization_letter_ajax_budget_update_approver',{'id':entity.id}) }}" required="required" autofocus="autofocus" class="number red-bg form-control form-input-light valid" data-trigger="focus" value="{{ entity.requiredApprovalAmount }}" aria-invalid="false"></td>
        <td scope="col" class="red-bg white-font">{{ entity.totalApprovalAmount }}</td>
        <td scope="col" class="blue-bg white-font" >{{ (entity.yearlyAmount + entity.totalApprovalAmount|abs) }}</td>
    </tr>
    </tbody>
</table>