{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Utilization Letter Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_utilization_letter')}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Utilization Letter'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">{{ 'Utilization Letter Request'|trans }} </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="row">
                                <div class="col-md-12 form-box-header"><p>Utilization Letter request details</p></div>
                            </div>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','action':path('procure_utilization_letter_reason',{'id':entity.id}),'data-action':path('procure_utilization_letter_ajax_update',{'id':entity.id})}}) }}
                            <div class="form-box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Utilization Letter No"|trans }}</label>
                                                    <div class="col-md-6">{{ entity.invoiceNo }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Financial Year"|trans }}</label>
                                                    <div class="col-md-8">
                                                        {{ entity.financialYear }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Created Date"|trans }}</label>
                                                    <div class="col-md-6">{{ entity.created|date('d-m-Y') }}/{{ entity.billMonthName }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 grid-products">

                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Company"|trans }}</label>
                                                    <div class="col-md-8">{{ entity.company.name }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Process Department"|trans }}</label>
                                                    <div class="col-md-8">{{ entity.processDepartment.name }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Attention To"|trans }}</label>
                                                    <div class="col-md-8">{{ entity.attentionTo.name }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Month Name"|trans }}</label>
                                                    <div class="col-md-8">{{ entity.billMonthName }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {{ entity.title|raw }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ "Budget Overview"|trans }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="formBudgetBox">
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\Garments\\UtilizationLetterController::reasonBudgetUpdate",
                                                { 'id': entity.id}
                                            )) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ entity.content|raw }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.reasons, 'Reasons'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.reasons) }}
                                                {{ form_errors(form.reasons) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.recoveryPlan, 'Recovery Plan'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.recoveryPlan) }}
                                                {{ form_errors(form.recoveryPlan) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.timeline, 'Future Action Plan'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.timeline) }}
                                                {{ form_errors(form.timeline) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.file, 'Attach File'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.file) }}
                                                {{ form_errors(form.file) }}
                                            </div>
                                        </div>s
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                {{ render(controller(
                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                    { 'id': entity.id,'module':entity.module}
                                )) }}
                                {% endif %}
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ render(controller(
                                            "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                            { 'id': entity.id,'module':entity.module}
                                        )) }}
                                    </div>
                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% if app.user.id == entity.attentionTo.id and entity.process == "Verified" or app.user.id == entity.attentionTo.id and entity.processOrdering == 1  %}
                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <div class="btn-group" role="group">
                                    <a class="btn purple-bg white-font form-submit btn" target="_blank" href="{{ path('procure_utilization_letter_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="btn-group" role="group">
                                    <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                    <button type="button" id="submitRequisitionBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save and Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.condition').change(function(e){
        var condition = $(this).val();
        var url = Routing.generate('procure_utilization_letter_process_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
        location.reload();
        });
    });
    $('.billMonth').change(function(e){
        var billMonth = $(this).val();
        var url = Routing.generate('procure_utilization_letter_billmonth',{'id':'{{ entity.id }}'});
        $.get(url,{'billMonth':billMonth}, function( response ) {
            location.reload();
        });
    });

    $(".custom-file-input").change(function() {
        var file = this.files[0];
        var fileType = file.type;
        var match = ['application/pdf', 'application/msword', 'application/vnd.ms-office', 'image/jpeg', 'image/png', 'image/jpg'];
        if(!((fileType == match[0]) || (fileType == match[1]) || (fileType == match[2]) || (fileType == match[3]) || (fileType == match[4]) || (fileType == match[5]))){
        alert('Sorry, only PDF, DOC, JPG, JPEG, & PNG files are allowed to upload.');
        $("#file").val('');
        return false;
        }
    });



    $(document).on("change", ".budget-input", function() {

        var formData = new FormData($('form#budgetUtilizationForm')[0]); // Create an arbitrary FormData instance
        var url = $('form#budgetUtilizationForm').attr('data-action'); // Create an arbitrary FormData instance
        $.ajax({
        url:url ,
        type: 'POST',
        processData: false,
        contentType: false,
        data:formData,
        success: function(response) {
            $("#formBudgetBox").html(response);
        }
        });

    });

    $(document).on("change", "#requiredApprovalAmount", function() {

        var url = $(this).attr('data-action'); // Create an arbitrary FormData instance
        var amount = $(this).val();
        $.get(url,{'amount':amount}, function( response ) {
                $("#formBudgetBox").html(response);
        });

    });

    $('.processDepartment').change(function(e){
        setTimeout(function(){
         location.reload();
        }, 1000);//wait 2 seconds
    });
{% endblock %}
