
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6"><strong>Utilization letter No.</strong></div>
                            <div class="col-md-6">{{ entity.requisitionNo }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Created</strong></div>
                            <div class="col-md-6">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Created By</strong></div>
                            <div class="col-md-6">{{ entity.createdBy.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Department</strong></div>
                            <div class="col-md-6">{% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Company</strong></div>
                            <div class="col-md-6">{% if entity.company is not empty %} {{ entity.company.name }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-md-12"> {{ entity.title|replace({'[month-year]':entity.created|date('F-Y')})|raw }}</div>
                </div>
                {% if entity.budgetGl %}
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead>
                            <tr>
                                <th scope="col">Production/Shipment Quantity</th>
                                <th scope="col">{{ entity.yearlyQuantity }}</th>
                                <th scope="col">{{ entity.ytdQuantity }}</th>
                                <th scope="col">{{ entity.expenseYtdQuantity }}</th>
                                <th scope="col">{{ entity.requiredApprovalQuantityUpto }}</th>
                                <th scope="col" id="requiredApprovalQuantity">{{ (entity.yearlyQuantity and entity.requiredApprovalQuantityUpto) ? entity.yearlyQuantity - entity.requiredApprovalQuantityUpto  }}</th>
                                <th scope="col" id="totalRequiredApprovalQuantity">{{ entity.yearlyQuantity }}</th>
                                <th scope="col" id="revisedApprovalQuantity">{{ entity.yearlyQuantity }}</th>
                            </tr>
                            {% if entity.yearlyQuantity %}
                                <tr>
                                    <th scope="col">Per Unit</th>
                                    <th scope="col">{{ (entity.yearlyQuantity and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</th>
                                    <th scope="col">{{ (entity.yearlyYtdAmount and entity.ytdQuantity) ? (entity.yearlyYtdAmount / entity.ytdQuantity)|number_format(3) }}</th>
                                    <th scope="col">{{ (entity.expenseYtdAmount and entity.expenseYtdQuantity) ? (entity.expenseYtdAmount / entity.expenseYtdQuantity)|number_format(3) }}</th>
                                    <th scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalQuantityUpto) ? ((entity.yearlyYtdAmount - entity.expenseYtdAmount)  / entity.requiredApprovalQuantityUpto)|number_format(3) }}</th>
                                    <th scope="col" class="red-bg white-font">{{ (entity.requiredApprovalAmount and entity.requiredApprovalQuantityUpto) ? (entity.requiredApprovalAmount / (entity.yearlyQuantity - entity.requiredApprovalQuantityUpto))|number_format(3) }}</th>
                                    <th scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount and entity.requiredApprovalAmount) ? (((entity.yearlyYtdAmount + entity.requiredApprovalAmount) - entity.expenseYtdAmount) / entity.yearlyQuantity)|number_format(3) }}</th>
                                    <th scope="col">{{ (entity.yearlyAmount and entity.yearlyQuantity) ? (entity.yearlyAmount / entity.yearlyQuantity)|number_format(3) }}</th>
                                </tr>
                            {% endif %}
                            {% if entity.budgetGl %}
                                <tr>
                                    <th scope="col">Head of Expense</th>
                                    <th scope="col">Annual Budget <br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                                    <th scope="col">Budget YTD<br/>({{ entity.created|date('F') }})</th>
                                    <th scope="col">Expenses YTD <br/>({{ entity.created|date('F') }})</th>
                                    <th scope="col">Required Approval Up To<br/>({{ entity.created|date('F') }})</th>
                                    <th scope="col">Required Approval<br/>({{ entity.created|date_modify("+1 month")|date('F') }} To June)</th>
                                    <th scope="col">Total Required Approval<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                                    <th scope="col">Revised Annual Budget<br/>({{ entity.budgetGl.budgetYear.yearlyBudget }})</th>
                                </tr>
                            {% endif %}
                            </thead>
                            <tbody id="invoiceAdditionalItem">
                            <tr>
                                <td scope="col">{{ entity.budgetGl.gl.name }}</td>
                                <td scope="col">{{ entity.yearlyAmount|number_format }}</td>
                                <td scope="col">{{ entity.yearlyYtdAmount|number_format }}</td>
                                <td scope="col">{{ entity.expenseYtdAmount|number_format }}</td>
                                <td scope="col" class="red-bg white-font">{{ (entity.yearlyYtdAmount-entity.expenseYtdAmount)|number_format }}</td>
                                <td scope="col">
                                    {{ entity.requiredApprovalAmount|number_format }}
                                </td>
                                <td scope="col" class="red-bg white-font">{{ entity.TotalApprovalAmount|number_format }}</td>
                                <td scope="col" class="blue-bg white-font" >{{ (entity.yearlyAmount + entity.TotalApprovalAmount|abs) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">{{ entity.content|raw }}</div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 text-center"><h3>USER'S JUSTIFICATION</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-12 content-box">
                        <div class="row">
                            <div class="col-md-12 title">Reasons:</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ entity.reasons|raw }}</div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 content-box" >
                        <div class="row">
                            <div class="col-md-12 title" >Recovery Plan:</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ entity.recoveryPlan|raw }}</div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 content-box">
                        <div class="row">
                            <div class="col-md-12 title" >Future Action Plan:</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ entity.timeline|raw }}</div>
                        </div>
                    </div>
                </div>
                <br/>
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
