<table>
    <thead>
    <tr>
        <th align="center">{{ 'SL'|trans }}</th>
        <th align="center">{{ 'Approval Person'|trans }}</th>
        <th align="center">{{ 'Total Requisition'|trans }}</th>
        <th align="center">{{ '5+ Days'|trans }}</th>
        <th align="center">{{ '4 Days'|trans }}</th>
        <th align="center">{{ '3 Days'|trans }}</th>
        <th align="center">{{ '2 Days'|trans }}</th>
        <th align="center">{{ '1 Day'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if records is defined and records is not empty %}
        {% set totalRequisition = 0 %}
        {% set totalRequisitionFiveDays = 0 %}
        {% set totalRequisitionFourDays = 0 %}
        {% set totalRequisitionThreeDays = 0 %}
        {% set totalRequisitionTwoDays = 0 %}
        {% set totalRequisitionOneDays = 0 %}

        {% for record in records %}
            {% set totalRequisition = totalRequisition + record['requisition']|multiArrayLength %}
            <tr>
                <td align="center">{{ loop.index }}</td>
                <td>{{ record['approvedBy'] }}</td>
                <td align="center">{{ record['requisition']|multiArrayLength }}</td>

                {% for column in 5..1 %}
                    {% if record['requisition'][column] is defined %}
                        <td align="center">{{ record['requisition'][column]|length }}</td>

                        {% if column == 5 %}
                            {% set totalRequisitionFiveDays = totalRequisitionFiveDays + record['requisition'][column]|length %}
                        {% endif %}

                        {% if column == 4 %}
                            {% set totalRequisitionFourDays = totalRequisitionFourDays + record['requisition'][column]|length %}
                        {% endif %}

                        {% if column == 3 %}
                            {% set totalRequisitionThreeDays = totalRequisitionThreeDays + record['requisition'][column]|length %}
                        {% endif %}

                        {% if column == 2 %}
                            {% set totalRequisitionTwoDays = totalRequisitionTwoDays + record['requisition'][column]|length %}
                        {% endif %}

                        {% if column == 1 %}
                            {% set totalRequisitionOneDays = totalRequisitionOneDays + record['requisition'][column]|length %}
                        {% endif %}
                    {% else %}
                        <td align="center">-</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <th colspan="2" align="center">Total</th>
            <th align="center">{{ totalRequisition }}</th>
            <th align="center">{{ totalRequisitionFiveDays }}</th>
            <th align="center">{{ totalRequisitionFourDays }}</th>
            <th align="center">{{ totalRequisitionThreeDays }}</th>
            <th align="center">{{ totalRequisitionTwoDays }}</th>
            <th align="center">{{ totalRequisitionOneDays }}</th>
        </tr>
    {% endif %}
    </tbody>
</table>