{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Aging Approval Satus Report'|trans }}</h5>
                    {% if records is defined and records is not empty %}
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                                <a target="_blank" href="{{ path('report_requsition_aging_approval_status',{'mode': 'pdf','filterBy': filterBy}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                                <a target="_blank" href="{{ path('report_requsition_aging_approval_status',{'mode': 'excel','filterBy': filterBy}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="px-0 py-3">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(searchForm) }}
                                <table class="table table-striped table-bordered table-hover display nowrap item-wise-pr-report-filter">
                                    <thead class="thead-transparent">
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.startDate,'From Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.endDate,'To Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></th>
                                    </tr>
                                    <tr role="row">
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-right">{{ form_widget(searchForm.filter,{'label':'Search'}) }}</th>
                                        {{ form_widget(searchForm._token) }}
                                    </tr>
                                    </thead>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center">{{ 'SL'|trans }}</th>
                                        <th class="text-center">{{ 'Approval Person'|trans }}</th>
                                        <th class="text-center">{{ 'Total Requisition'|trans }}</th>
                                        <th class="text-center">{{ '5+ Days'|trans }}</th>
                                        <th class="text-center">{{ '4 Days'|trans }}</th>
                                        <th class="text-center">{{ '3 Days'|trans }}</th>
                                        <th class="text-center">{{ '2 Days'|trans }}</th>
                                        <th class="text-center">{{ '1 Day'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if records is defined and records is not empty %}
                                        {% set totalRequisition = 0 %}
                                        {% set totalRequisitionFiveDays = 0 %}
                                        {% set totalRequisitionFourDays = 0 %}
                                        {% set totalRequisitionThreeDays = 0 %}
                                        {% set totalRequisitionTwoDays = 0 %}
                                        {% set totalRequisitionOneDays = 0 %}

                                        {% for approvedById, record in records %}
                                            {% set totalRequisition = totalRequisition + record['requisition']|multiArrayLength %}
                                            <tr>
                                                <td align="center">{{ loop.index }}</td>
                                                <td>{{ record['approvedBy'] }}</td>
                                                <td align="center"><a href="{{ path('report_requsition_aging_approval_status_details', {approvedById: approvedById, filterBy: filterBy}) }}" target="_blank">{{ record['requisition']|multiArrayLength }}</a></td>

                                                {% for column in 5..1 %}
                                                    {% if record['requisition'][column] is defined %}
                                                        <td align="center"><a href="{{ path('report_requsition_aging_approval_status_details', {approvedById: approvedById, filterBy: filterBy, day: column}) }}" target="_blank">{{ record['requisition'][column]|length }}</a></td>
                                                        {% if column == 5 %}
                                                            {% set totalRequisitionFiveDays = totalRequisitionFiveDays + record['requisition'][column]|length %}
                                                        {% endif %}

                                                        {% if column == 4 %}
                                                            {% set totalRequisitionFourDays = totalRequisitionFourDays + record['requisition'][column]|length %}
                                                        {% endif %}

                                                        {% if column == 3 %}
                                                            {% set totalRequisitionThreeDays = totalRequisitionThreeDays + record['requisition'][column]|length %}
                                                        {% endif %}

                                                        {% if column == 2 %}
                                                            {% set totalRequisitionTwoDays = totalRequisitionTwoDays + record['requisition'][column]|length %}
                                                        {% endif %}

                                                        {% if column == 1 %}
                                                            {% set totalRequisitionOneDays = totalRequisitionOneDays + record['requisition'][column]|length %}
                                                        {% endif %}
                                                    {% else %}
                                                        <td align="center">-</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <th colspan="2" class="text-center">Total</th>
                                            <th class="text-center">{{ totalRequisitionFiveDays }}</th>
                                            <th class="text-center">{{ totalRequisition }}</th>
                                            <th class="text-center">{{ totalRequisitionFourDays }}</th>
                                            <th class="text-center">{{ totalRequisitionThreeDays }}</th>
                                            <th class="text-center">{{ totalRequisitionTwoDays }}</th>
                                            <th class="text-center">{{ totalRequisitionOneDays }}</th>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="8" align="center">{{ 'No records Found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
{#                                <iframe src="{{ path('report_requsition_aging_approval_status',{'mode':'pdf', 'filterBy': filterBy}) }}" frameborder="0" width="100%" height="500px"></iframe>#}
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <style>
        table.item-wise-pr-report-table{
            position: relative;
        }
        table.item-wise-pr-report-table thead tr th {
            position: sticky;
            top: 0;
        }
        table.item-wise-pr-report-filter thead tr th{
            border: 0 !important;
        }
        table.item-wise-pr-report-filter thead tr th:nth-child(odd) {
            /*text-align: right;*/
            width: 13%;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}