{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Item'|trans }}</h5>
                    {% if wearhouse > 0 %}
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <button type="button" id="requisition-generate" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Generate Requisition'|trans }}</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} red-bg {% endif %}"  href="{{ path('procure_requisition_garment_kanban',{'mode':'list'})}}"><i class="fa fa-th-large"></i> Low Stock</a>
                                </li>
                                {% if parentLabels is not empty %}
                                    {% for parentLabel in parentLabels %}
                                        <li class="nav-item">
                                            <a class="nav-link {% if mode == parentLabel.percent %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_garment_kanban',{'mode':parentLabel.percent})}}"><i class="fa fa-th-large"></i> {{ parentLabel.name }} </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover display nowrap" >
                                <thead class="thead-gray">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td>{{ form_widget(searchForm.wearhouse) }}</td>
                                        <td>{{ form_widget(searchForm.itemMode) }}</td>
                                        <td>{{ form_widget(searchForm.category) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.brand) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.size) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.color) }}</div></td>
                                        <td colspan="4"><div class="date-group">{{ form_widget(searchForm.keyword) }}</div></td>
                                        <td><div class="btn-group btn-group-sm">{{ form_widget(searchForm.filter) }}</div></td>
                                    </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Item Mode</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Stock in Hand</th>
                                    <th scope="col">Low Level Stock</th>
                                    <th scope="col">Reorder Qty</th>
                                </tr>
                                <tr><td colspan="11">&nbsp;</td></tr>
                                </thead>
                                <form method="post" action="{{ path('procure_requisition_garment_kanban_generate',{'store':wearhouse}) }}" name="kanban" id="kanban">
                                <input type="hidden" name="itemMode" id="itemMode" value="{% if searchData['itemMode'] is defined and searchData['itemMode'] is not empty %}{{ searchData['itemMode'] }}{% endif %}">
                                    <tbody>
                                {% if pagination is not empty %}

                                    {% for entity in pagination %}
                                        <tr>
                                            <td><input id="action-{{ entity.id }}" {% if entity.id in selected %} checked="checked" {% endif %} data-id="{{ entity.id }}" type="checkbox" name="item[]" value="{{ entity.id }}" class="check tooltips itemId" data-trigger="hover" data-original-title="Select PO Item"  >&nbsp;</td>
                                            <td>{{ entity.itemMode }}</td>
                                            <td>{{ entity.categoryName }}</td>
                                            <td>{{ entity.name }}</td>
                                            <td>{{ entity.unitName }}</td>
                                            <td>{{ entity.brandName }}</td>
                                            <td>{{ entity.sizeName }}</td>
                                            <td>{{ entity.colorName }}</td>
                                            <td>{{ entity.remainingQuantity }}</td>
                                            <td>{{ entity.minimumQuantity }}</td>
                                            <td>{{  entity.reorderQuantity }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                </form>
                            </table>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    var items = $.cookie('kanbanIds') ? $.cookie('kanbanIds').split(',') : [];
    $('body').on('click', 'input.itemId', function(el) {
        console.log(items);
        var val = $(this).val();
        if($(this).prop('checked')) {
        items.push(val);
        }else{
        var index = items.indexOf(val);
        if (index > -1) {
        items.splice(index, 1);
        }
        }
        $.cookie('kanbanIds', items, {path: '/'});
    });
    $("#requisition-generate").click(function(){
        $("#kanban").submit();
    });
{% endblock %}
