{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Purchase Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_garment_kanban') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Kanban'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                     <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Purchase Requisition Request'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>All requisition particular item add here</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}
                                        <div class="form-box-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Created"|trans }}</label>
                                                                <label class="col-md-8">{{ "now"|date('d-m-Y') }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 grid-products">
                                                    {#{% if branches is not empty %}
                                                        {% for branch in branches  %}
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="col-md-4 text-right">{{ branch.name }}</label>
                                                                        <div class="col-md-8">
                                                                            <input type="text" value="{% if requisitionShares[branch.id] is defined and requisitionShares[branch.id] is not empty %} {{ requisitionShares[branch.id].branchShare }} {% endif %}" placeholder="{{ branch.name }}%" id="branchShare-{{ branch.id }}" name="branchShare[]" autofocus="autofocus" class="form-control number shareParcent">
                                                                            <input type="hidden"  id="branchId-{{ branch.id }}" name="branchId[]" value="{{ branch.id }}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}#}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.content, 'Job Details/Justification'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.content) }}
                                                            {{ form_errors(form.content) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.isEmergency, 'Process Type'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.isEmergency) }}
                                                                    {{ form_errors(form.isEmergency) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.processDepartment, 'Department'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.processDepartment) }}
                                                                    {{ form_errors(form.processDepartment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.companyUnit, 'Company Unit'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.companyUnit) }}
                                                                    {{ form_errors(form.companyUnit) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.section, 'Section'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.section) }}
                                                                    {{ form_errors(form.section) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.priority, 'Priority'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.priority) }}
                                                                    {{ form_errors(form.priority) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.expectedDate, 'Expected Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.expectedDate) }}
                                                                    {{ form_errors(form.expectedDate) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            {% if items is defined and items is not empty %}
                                            <table class="table table-striped table-bordered table-hover display nowrap" >
                                                <thead class="thead-gray">
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Item Code</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Unit</th>
                                                    <th scope="col">Brand</th>
                                                    <th scope="col">Size</th>
                                                    <th scope="col">Color</th>
                                                    <th scope="col">Stock in Hand</th>
                                                    <th scope="col">Low Level Stock</th>
                                                    <th scope="col">Reorder Qty</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if items is not empty %}

                                                    {% for entity in items %}
                                                        <tr>
                                                            <td>{{ loop.index }}.</td>
                                                            <td>{{ entity.itemCode }}</td>
                                                            <td>{{ entity.name }}</td>
                                                            <td>{{ entity.unitName }}</td>
                                                            <td>{{ entity.brandName }}</td>
                                                            <td>{{ entity.sizeName }}</td>
                                                            <td>{{ entity.colorName }}</td>
                                                            <td>{{ entity.remainingQuantity }}</td>
                                                            <td>{{ entity.minimumQuantity }}</td>
                                                            <td>
                                                                <input type="hidden" name="item[]" value="{{ entity.id }}" >
                                                                <input type="number" id="quantity-{{ entity.id }}" name="quantity-{{ entity.id }}"  value="{{ entity.reorderQuantity }}" class="form-control form-control-sm td-input number">
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                            </table>
                                            {% endif %}
                                            <div class="clearfix"></div>
                                            <div class="card-header grey-bg inner-header">
                                                <h5>File Attachments</h5>
                                                <div class="card-header-right">
                                                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                        <button type="button" id="" class="btn btn-sm  blue-bg white-font addFile"><i class="feather icon-plus"></i>Add More Attachment</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="col-md-12 clone-attachment" id="clone-attachment">
                                                    <div class="clone">
                                                        <div class="row">
                                                            <label class="col-md-2 text-right" for="job_requisition_form_attachFile">File Description</label>
                                                            <div class="col-md-4">
                                                                <input type="text" name="labelName[]" id="labelName" class="form-control form-control-sm" placeholder="Enter file description" value="">
                                                                <input type="hidden" name="metaId[]" id="metaId" value="">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="input-group">
                                                                    {#<input type="file" name="files[]" multiple class="form-control-file" id="file-1">#}
                                                                    <div class="custom-file">
                                                                        <input type="file" name="files[]" class="custom-file-input" id="file" aria-describedby="file">
                                                                        <label class="custom-file-label" for="file">Choose file</label>
                                                                    </div>
                                                                    <div class="input-group-append">
                                                                        <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                            <i class="fa fa-remove"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="store" id="store" value="{% if store is defined and store is not empty %}{{ store }}{% endif %}">
                                        <input type="hidden" name="itemMode" id="itemMode" value="{% if itemMode is defined and itemMode is not empty %}{{ itemMode }}{% endif %}">
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                          <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save & Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
