<div class="card">
    <div class="card-header">
        <h5>{{ 'Requisition Item Status Report'|trans }}</h5>
        <div class="card-header-right">
            <div class="btn-group btn-group-sm" >
                <a id="button-excel" onclick="exportDataTableExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</a>
            </div>
        </div>
    </div>
</div>
<table id="datatableScroll" class="table">
    <thead>
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">W/O. Created</th>
        <th scope="col">W/O. No</th>
        <th scope="col">Req No</th>
        <th scope="col">Company Unit</th>
        <th scope="col">Department</th>
        <th scope="col">Category</th>
        <th scope="col">Item Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Size</th>
        <th scope="col">Color</th>
        <th scope="col">Description</th>
        <th scope="col">UOM</th>
        <th scope="col">W/O QTY</th>
        <th scope="col">W/O Rate</th>
        <th scope="col">VAT</th>
        <th scope="col">Discount</th>
        <th scope="col">W/O Amount</th>
        <th scope="col">Supplier</th>
      </tr>
    </thead>
    <tbody>
    {% if pagination is not empty %}
        {% for item in pagination %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.created|date('d-m-Y') }}</td>
                <td>{{ item.invoice }}</td>
                <td>{{ item.requisitionNo }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.processDepartment }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.itemName }}</td>
                <td>{{ item.brandName }}</td>
                <td>{{ item.sizeName }}</td>
                <td>{{ item.colorName }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.uom }}</td>
                <td>{{ item.quantity }}</td>
                <td>{% if item.quantity > 0 %}{{ item.price }}{% endif %}</td>
                <td>{{ item.vat }}</td>
                <td>{{ item.discount }}</td>
                <td>{{ item.grandTotal }}</td>
                <td>{{ item.tenderVendor }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
