
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                      <table class="table-border-less">
                          <tr><th class="text-left" colspan="2" scope="col" >Information</th></tr>
                          <tr><th class="text-right" scope="col" >Particular Type</th><td class="text-left" >
                                  {{ entity.particularType.name }}</td></tr>
                          <tr><th class="text-right" scope="col" >Name</th><td class="text-left" >
                                  {{ entity.name }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Name Bangla</th><td class="text-left" >
                                  {{ entity.nameBn }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Code</th><td class="text-left" >
                                  {{ entity.code }}</td></tr>
                          <tr><th class="text-right"  scope="col" >Description</th><td class="text-left" >
                                  {{ entity.description }}</td></tr>
                          {% if entity.itemKeyValues is not empty %}
                              <tr><th class="text-left" colspan="2" scope="col" >Additional Information</th></tr>
                              {% for item in entity.itemKeyValues  %}
                              <tr><th class="text-right" scope="col" >{{ item.metaKey }}</th><td class="text-left" >{{ item.metaValue }}</td></tr>
                              {% endfor %}
                          {% endif %}

                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
