<div class="card">
    <div class="card-header">
        <h5>{{ 'Requisition Urgent Report'|trans }}</h5>
        <div class="card-header-right">
            <div class="btn-group btn-group-sm" >
                <a id="button-excel" onclick="exportHtmlToExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</a>
            </div>
        </div>
    </div>
</div>
<table class="table" id="htmlToExcel">
    <thead class="thead-green">
    {% if company is not empty %}
        <tr><th colspan="8" class="center" align="center"><strong>{{ company }}</strong></th></tr>
    {% endif %}
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Unit Name</th>
        <th scope="col">Department</th>
        <th scope="col">Requisition</th>
        {% for priority in priorities %}
            <th scope="col">{{ priority.name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% if entities['departments'] is not empty %}
        {% set i = 1  %}
        {% for entity in entities['departments'] %}
            {% for item in entity %}
                <tr>
                    {% if loop.index==1 %}
                        <td rowspan="{{ entity|length }}">{{ i }}</td>
                        <td rowspan="{{ entity|length }}">{{ item.companyUnit }}</td>
                    {% endif %}
                    <td>{{ item.department }}</td>
                    <td>{{ item.total }}</td>
                    {% for priority in priorities %}

                        <td scope="col">
                            {% set keyId = item.unitId~'-'~item.departmentId~'-'~priority.id %}
                            {% if entities['priorities'] is defined and entities['priorities'][keyId] is defined is not empty %}{{ entities['priorities'][keyId]}}{% endif %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% set i = i+1 %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>