{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Urgent Report'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="px-0 py-3">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(searchForm, {'attr': {'class': 'form-horizontal right','id':'reportForm','data-action':path('procurement_report_dashboard_ajax_process')}}) }}
                                <table class="table table-striped table-bordered table-hover display nowrap item-wise-pr-report-filter" >
                                    <thead class="thead-transparent">
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.company,'Company Name: ') }}</th>
                                        <th>{{ form_widget(searchForm.company) }}</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.startDate,'From Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.endDate,'To Date: ') }}</th>
                                        <th>
                                            <div class="date-group">{{ form_widget(searchForm.endDate) }}
                                                <input type="hidden" name="reportMode" id="reportMode" value="requisition-urgent">
                                            </div>
                                        </th>
                                    </tr>
                                    <tr role="row">
                                        <td colspan="5"></td>
                                        <td>
                                            <div>
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-sm green-bg white-font col-md-12 search" value="requisition-urgent" >Generate Report</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </thead>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="ajaxDataLoad">{{ html|raw }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <script>
        function exportHtmlToExcel() {
            let table = document.querySelector("#htmlToExcel");
            TableToExcel.convert(table);
        }
    </script>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/report.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}