{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender CS'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Tender Comparative Statement'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>TCS No.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{% if entity.createdBy is not empty %}{{ entity.createdBy.name }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                {% if entity.tender.requisition is not empty  %}
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Company Unit</strong></div>
                                                        <div class="col-md-8">{{ entity.tender.requisition.companyUnit.code }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Department</strong></div>
                                                        <div class="col-md-8">{{ entity.tender.requisition.processDepartment.name }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Requisition</strong></div>
                                                        <div class="col-md-8">
                                                            <a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.tender.requisition.id}) }}" href="javascript:" data-title="TP No: {{ entity.tender.requisition.requisitionNo }}" id="postView-{{ entity.tender.requisition.id }}"><b> {{ entity.tender.requisition.requisitionNo }}</b></a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if entity.tender is not empty %}
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>TP No.</strong></div>
                                                        <div class="col-md-8"> <a class="entity-show" data-action="{{ path('procure_tender_garments_show',{'id':entity.tender.id}) }}" href="javascript:" data-title="TP No: {{ entity.tender.invoice }}" id="postView-{{ entity.tender.id }}"><b> {{ entity.tender.invoice }}</b></a></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8">{{ entity.tender.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8"> {% if entity.tender.createdBy is not empty %}{{ entity.tender.createdBy.name }}{% endif %}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10"><p>{{ entity.tender.subject|raw }}</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if tender.tenderItems is not empty %}
                                                    {% set i = 1  %}
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-gray">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col" style="width: 15%!important;">Category</th>
                                                            <th scope="col" style="width: 15%!important;">Item</th>
                                                            <th scope="col">UOM</th>
                                                            <th scope="col">CMP</th>
                                                            {% if tender.tenderVendors is not empty %}
                                                                {% for vendor in tender.tenderVendors %}
                                                                    {% if vendor.status == 1 %}
                                                                        <th scope="col" colspan="3">{{ vendor.name }}</th>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tr>
                                                        <tr>
                                                            <td scope="col" colspan="5"></td>
                                                            {% if tender.tenderVendors is not empty %}
                                                                {% for vendor in tender.tenderVendors %}
                                                                    {% if vendor.status == 1 %}
                                                                        <td>Unit Price</td>
                                                                        <td>Quantity</td>
                                                                        <td>Total</td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tr>
                                                        </thead>
                                                        {% for item in tender.tenderItems %}
                                                            <tbody>
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{% if item.stockBook is not empty %}{{ item.stockBook.category.name }}{% endif %}</td>
                                                                <td style="width: 15%!important;">{% if item.stockBook is not empty %}{{ item.stockBook.stockBookName }}{% endif %}</td>
                                                                <td>{% if item.stockBook is not empty %}{{ item.stockBook.uom }}{% endif %}</td>
                                                                <td>{% if item.stockBook is not empty  %}{{ item.stockBook.cmp }}{% else %}{{ item.price }}{% endif %}</td>
                                                                {% if tender.tenderVendors is not empty %}
                                                                    {% for vendor in tender.tenderVendors %}
                                                                        {% if vendor.status == 1 %}
                                                                            {% set uniqueID = item.id~'-'~vendor.id %}
                                                                            <td>
                                                                                <input type="text" class="form-control td-input updateCSItem" data-id="{{ comparativeItems[uniqueID]['comparativeId'] }}" id="unitPrice-{{ comparativeItems[uniqueID]['comparativeId'] }}" name="unitPrice-{{ comparativeItems[uniqueID]['comparativeId'] }}" data-action="{{ path('procure_tender_garments_comparative_item_update',{'id':comparativeItems[uniqueID]['comparativeId'] }) }}" placeholder="Enter price" value="{{ comparativeItems[uniqueID]['unitPrice'] }}">
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" class="form-control td-input updateCSItem" data-id="{{ comparativeItems[uniqueID]['comparativeId'] }}" id="quantity-{{ comparativeItems[uniqueID]['comparativeId'] }}" name="quantity-{{ comparativeItems[uniqueID]['comparativeId'] }}" data-action="{{ path('procure_tender_garments_comparative_item_update',{'id':comparativeItems[uniqueID]['comparativeId'] }) }}" placeholder="Enter quantity" value="{{ comparativeItems[uniqueID]['quantity'] }}">
                                                                            </td>
                                                                            <td id="subTotal-{{ comparativeItems[uniqueID]['comparativeId'] }}">{{ comparativeItems[uniqueID]['subTotal'] }}</td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tr>
                                                            </tbody>
                                                        {% endfor %}
                                                    </table>

                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Vendor File Attachments</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">Vendor Name</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Phone</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Attachment</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if tender.tenderVendors is not empty %}
                                                        {% for vendor in tender.tenderVendors  %}
                                                            {% if vendor.status == 1 %}
                                                                <tr>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.address }}</td>
                                                                    <td>{{ vendor.phone }}</td>
                                                                    <td>{{ vendor.email }}</td>
                                                                    <td>
                                                                        {% if vendor.path is not empty %}
                                                                            <div class="input-group">
                                                                                <a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('procure_tender_garments_comparative_vendor_attachment',{'id':vendor.id}) }}">Download</a>
                                                                            </div>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.content) }}
                                                {{ form_errors(form.content) }}
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-actions inline-submit">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
