<html>
<head>
    <title>Tender</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <style>
        body {
            color: #313131;
            font-family: sans-serif;
            font-size: 13px;
        }
        .table-item thead tr th{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
        .table-item tbody tr td{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
    </style>
</head>
<body>
<div style="text-align: center; text-transform: uppercase; margin-bottom: 10px; font-weight: bold">
    <p>Tender CS Detail</p>
</div>
<div>
    <div style="float: left; width: 25%;">
        <b>Invoice No.</b>
    </div>
    <div style="float: left; width: 35%;">
        {{ entity.invoice  }}
    </div>
    <div style="float: left; width: 15%;">
        <b>Tp No.</b>
    </div>
    <div style="float: left; width: 20%;">
        {{ entity.tender.invoice }}
    </div>


    <div style="float: left; width: 25%;">
        <b>Created</b>
    </div>
    <div style="float: left; width: 35%;">
        {{ entity.created|date('d-m-Y')  }}
    </div>
    <div style="float: left; width: 15%;">
        <b>Created</b>
    </div>
    <div style="float: left; width: 20%;">
        {{ entity.tender.created|date('d-m-Y') }}
    </div>


    <div style="float: left; width: 25%;">
        <b>Created By</b>
    </div>
    <div style="float: left; width: 35%;">
        {% if entity.createdBy is not empty %}{{ entity.createdBy.name }}{% endif %}
    </div>
    <div style="float: left; width: 15%;">
        <b>Created By</b>
    </div>
    <div style="float: left; width: 20%;">
        {% if entity.tender.createdBy is not empty %}{{ entity.tender.createdBy.name }}{% endif %}
    </div>


    <div style="float: left; width: 25%;">
        <b>Subject</b>
    </div>
    <div style="float: left; width: 75%;">
        {{ entity.subject ? entity.subject|raw : 'N/A' }}
    </div>


    <div style="float: left; width: 25%;">
        <b>To Email</b>
    </div>
    <div style="float: left; width: 75%;">
        {{ entity.tender.email|raw }}
    </div>

    <br/>
    <div style="float: left; width: 25%;">
        <b>Body</b>
    </div>
    <div style="float: left; width: 75%;">
        {{ entity.tender.content|raw }}
    </div>

    <div style="clear: both"></div>
    <div style="float: left; width: 25%;">
        <b>Terms & Condition</b>
    </div>
    <div style="float: left; width: 75%;">
        {{ entity.tender.terms|raw }}
    </div>
    <div style="clear: both"></div>
    {% if tender.tenderItems is not empty %}
        {% set i = 1  %}
        {% for item in tender.tenderItems %}
            <div  style="margin-top: 30px">
                <div style="margin-bottom: 10px">
                    <b>Item</b>
                </div>

            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead class="thead-gray">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Item</th>
                        <th scope="col">UOM</th>
                        <th scope="col">CMP</th>
                        {% if tender.tenderVendors is not empty %}
                            {% for vendor in tender.tenderVendors %}
                                {% if vendor.status == 1 %}
                                    <th scope="col" colspan="3">{{ vendor.name }}</th>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.name }}{% endif %}</td>
                        <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.unit.name }}{% endif %}</td>
                        <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.cmp }}{% endif %}</td>
                        {% if tender.tenderVendors is not empty %}
                            {% for vendor in tender.tenderVendors %}
                                {% if vendor.status == 1 %}
                                    <td>Unit Price</td>
                                    <td>Quantity</td>
                                    <td>Total</td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="4">{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.category.name }}{% endif %}</td>
                        {% if tender.tenderVendors is not empty %}
                            {% for vendor in tender.tenderVendors %}
                                {% if vendor.status == 1 %}
                                    {% set uniqueID = item.id~'-'~vendor.id %}
                                    <td>{{ comparativeItems[uniqueID]['unitPrice'] }}</td>
                                    <td>{{ comparativeItems[uniqueID]['quantity'] }}</td>
                                    <td>{{ comparativeItems[uniqueID]['subTotal'] }}</td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                    {% if item.requisitionItem.item.category.categoryMetas is defined and item.requisitionItem.item.category.categoryMetas is not empty %}
                        {% for meta in item.requisitionItem.item.category.categoryMetas %}
                            <tr>
                                <td colspan="4">{{ meta.metaKey }}</td>
                                {% if tender.tenderVendors is not empty %}
                                    {% for vendor in tender.tenderVendors %}
                                        {% if vendor.status == 1 %}
                                            {% set uniqueID = item.id~'-'~vendor.id~'-'~meta.id %}
                                            <td colspan="3">
                                                {{ comparativeItemAttribites[uniqueID]['metaValue'] }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% endif %}
    {% if approvals is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Comments</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead>
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{ list.assignTo.name }}</td>
                            <td>{{ list.updated|date('d-m-Y h:i') }}</td>
                            <td>{{ list.comment|raw }}</td>
                            <td>{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 30px">
            {% for index,list in approvals %}
                {% if list.close == true  %}
                    {% if  index == 0 %}
                        <div style="margin-bottom: 10px">
                            <b>Signatures</b>
                        </div>
                    {% endif %}
                    <div style="float: left; width: 30%; padding: 5px;">
                        <div style="border: 1px solid #dddddd; padding: 10px">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
<!-- Header -->
</body>
</html>