{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>

</head>
<body style="color: #0a0a0a">
{% if mode=='preview' %}
    <div class="container">
        <div class="row" style="background-color: #c0c2ce; font-size: 16px; padding: 5px">
            <div class="col-md-6"><strong>Preview</strong></div>
            <div class="col-md-6 text-right">
                <div class="btn-group">
                    <a class="btn btn-print" href="{{ path('procure_tender_garments_comparative_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i> Print</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="container mt-2 mb-5" style="border: {{ mode=='preview' ? '1px dotted gray': ''}}">
    <div class="row">
        <div class="col-md-12 text-center mb-3" style="text-transform: uppercase"><strong>Tender Detail</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>Invoice No.</strong></div>
        <div class="col-md-4">{{ entity.invoice }}</div>
        <div class="col-md-2 text-right"><strong>TP No.</strong></div>
        <div class="col-md-3 text-left">{{  entity.tender.invoice}}</div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>Created </strong></div>
        <div class="col-md-4">{{ entity.created|date('d-m-Y') }}</div>
        <div class="col-md-2 text-right"><strong>Created</strong></div>
        <div class="col-md-3 text-left">{{ entity.tender.created|date('d-m-Y') }}</div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>Created By</strong></div>
        <div class="col-md-4">{% if entity.createdBy is not empty %}{{ entity.createdBy.name }}{% endif %}</div>
        <div class="col-md-2 text-right"><strong>Created By</strong></div>
        <div class="col-md-3 text-left">{% if entity.tender.createdBy is not empty %}{{ entity.tender.createdBy.name }}{% endif %}</div>
    </div>

    <div class="row mt-1">
        <div class="col-md-3"><strong>Subject</strong></div>
        <div class="col-md-9">{{ entity.subject|raw }}</div>
    </div>

    <div class="row mt-1">
        <div class="col-md-3"><strong>To Email</strong></div>
        <div class="col-md-9">{{ entity.tender.email|raw }}</div>
    </div>

    <div class="row mt-1">
        <div class="col-md-3"><strong>Body</strong></div>
        <div class="col-md-9">{{ entity.tender.content|raw }}</div>
    </div>

    <div class="row mt-1">
        <div class="col-md-3"><strong>Terms & Condition</strong></div>
        <div class="col-md-9">{{ entity.tender.terms|raw }}</div>
    </div>


    <div class="row mt-3">
        <div class="col-md-12 mb-2"><strong>Items</strong></div>
        <div class="col-md-12">
            {% if tender.tenderItems is not empty %}
                {% set i = 1  %}
                <table class="table table-striped table-bordered table-hover display nowrap">
                    <thead class="thead-gray">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">category</th>
                        <th scope="col">Item</th>
                        <th scope="col">UOM</th>
                        <th scope="col">CMP</th>
                        {% if tender.tenderVendors is not empty %}
                            {% for vendor in tender.tenderVendors %}
                                {% if vendor.status == 1 %}
                                    <th scope="col" colspan="3">{{ vendor.name }}</th>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td scope="col" colspan="5"></td>
                        {% if tender.tenderVendors is not empty %}
                            {% for vendor in tender.tenderVendors %}
                                {% if vendor.status == 1 %}
                                    <td>Unit Price</td>
                                    <td>Quantity</td>
                                    <td>Total</td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                    </thead>
                    {% for item in tender.tenderItems %}
                        <tbody>
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{% if item.stockBook is not empty %}{{ item.stockBook.category.name }}{% endif %}</td>
                            <td style="width: 15%!important;">{% if item.stockBook is not empty %}{{ item.stockBook.stockBookName }}{% endif %}</td>
                            <td>{% if item.stockBook is not empty %}{{ item.stockBook.uom }}{% endif %}</td>
                            <td>{% if item.stockBook is not empty  %}{{ item.stockBook.cmp }}{% else %}{{ item.price }}{% endif %}</td>
                            {% if tender.tenderVendors is not empty %}
                                {% for vendor in tender.tenderVendors %}
                                    {% if vendor.status == 1 %}
                                        {% set uniqueID = item.id~'-'~vendor.id %}
                                        <td>{% if comparativeItems[uniqueID] is defined and comparativeItems[uniqueID] is not empty %}{{ comparativeItems[uniqueID]['unitPrice'] }}{% endif %}</td>
                                        <td>{% if comparativeItems[uniqueID] is defined and comparativeItems[uniqueID] is not empty %}{{ comparativeItems[uniqueID]['quantity'] }}{% endif %}</td>
                                        <td>{% if comparativeItems[uniqueID] is defined and comparativeItems[uniqueID] is not empty %}{{ comparativeItems[uniqueID]['subTotal']|number_format(2) }} {% endif %}</td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>
                        </tbody>
                    {% endfor %}
                    <tfoot>
                    <tr>
                        <td scope="col" colspan="5"></td>
                        {% for vendor in tender.tenderVendors %}
                            <td></td>
                            <td></td>
                            <th>{{ vendor.subTotal|number_format(2) }}</th>
                        {% endfor %}
                    </tr>

                    </tfoot>
                </table>
            {% endif %}
        </div>
    </div>
    {% if approvals is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Comments</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead>
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{ list.assignTo.name }}</td>
                            <td>{{ list.updated|date('d-m-Y h:i') }}</td>
                            <td>{{ list.comment|raw }}</td>
                            <td>{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 30px">
            {% for index,list in approvals %}
                {% if list.close == true  %}
                    {% if  index == 0 %}
                        <div style="margin-bottom: 10px">
                            <b>Signatures</b>
                        </div>
                    {% endif %}
                    <div style="float: left; width: 30%; padding: 5px;">
                        <div style="border: 1px solid #dddddd; padding: 10px">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
</body>
</html>
