<div class="card">
    <div class="card-header">
        <h5>{{ 'Supplier Financial Report'|trans }}</h5>
        <div class="card-header-right">
            <div class="btn-group btn-group-sm" >
                <a id="button-excel" onclick="exportHtmlToExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</a>
            </div>
        </div>
    </div>
</div>
{% if entities is not empty %}
    <table class="table" id="htmlToExcel">
        <thead class="thead-green">
        {% if company is not empty %}
            <tr><th colspan="5" class="center" align="center"><strong>{{ company }}</strong></th></tr>
        {% endif %}
         {% if company is not empty %}
            <tr><th colspan="5" class="center" align="center"><strong>{{ company }}</strong></th></tr>
        {% endif %}
        <tr>
            <th scope="col">S/N</th>
            <th scope="col">Supplier Name</th>
            <th scope="col">No of Workorder</th>
            <th scope="col">Amount</th>
            <th scope="col">Percent</th>
        </tr>
        </thead>
        <tbody>
        {% set percent = 0 %}
        {% for entity in entities['suppliers'] %}
            {% set percent = percent + ((entity.amount * 100)/entities['workOrderAmount']['amount'])|default(0) %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.company }}</td>
                <td>{{ entity.totalCount }}</td>
                <td>{{ entity.amount|number_format(2) }}</td>
                <td>{{ ((entity.amount * 100)/entities['workOrderAmount']['amount'])|default(0)|number_format(2) }}%</td>
            </tr>
        {% endfor %}
        </tbody>
        <tr><th colspan="3"> Total Amount</th><th>{{ entities['workOrderAmount']['amount']|number_format(2) }}</th><th>
                {{ percent|number_format(2) }}%</th></tr>
    </table>
{% endif %}
