{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Import File'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-bordered">
                                <thead class="thead-gray">
                                <tr>
                                    <th>S/N</th>
                                    <th>Created</th>
                                    <th>Created By</th>
                                    <th>Comapny</th>
                                    <th>Unit</th>
                                    <th>Department</th>
                                    <th>Attachment</th>
                                    <th>Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if entities %}
                                {% for index,entity in entities %}
                                <tr>
                                    <td>{{ index+1 }}</td>
                                    <td>{{ entity.created|date('d-m-Y') }}</td>
                                    <td>{{ entity.createdBy.name }}</td>
                                    <td>{{ entity.companyUnit.parent.name }}</td>
                                    <td>{{ entity.companyUnit.name }}</td>
                                    <td>{{ entity.processDepartment.name }}</td>
                                    <td><a target="_blank" href="{{ asset('uploads/import-file/'~entity.path) }}">Download</a></td>
                                    <td>
                                        {% if(entity.status == 1) %}
                                        <h6><span style="padding: 5px;" class="badge badge-success">Migrated</span></h6>
                                        {% endif %}
                                    </td>
                                    <td>

                                        <a class="btn btn-mini purple-bg white-font" href="{{ path('expense_importfile_process',{'id':entity.id}) }}"><i class="feather icon-download"></i>Migrate</a>
                                        <a class='btn  btn-transparent btn-mini red-font' href='{{ path('expense_importfile_delete',{'id':entity.id}) }}'  ><i class='feather icon-trash-2'></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Add New File'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right-sidebar-form right'}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>Import File Basic Information</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.requisitionMode, 'Requisition Mode'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.requisitionMode) }}
                                                                {{ form_errors(form.requisitionMode) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.companyUnit, 'Company Unit'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.companyUnit) }}
                                                                {{ form_errors(form.companyUnit) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.processDepartment, 'Department'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.processDepartment) }}
                                                                {{ form_errors(form.processDepartment) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.file, 'Attach File'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-7 custom-file">
                                                                {{ form_widget(form.file) }}
                                                                {{ form_errors(form.file) }}
                                                                {{ form_help(form.file) }}
                                                                <label class="custom-file-label" for="import_file_form_file">Choose an excel file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-center">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdgeneric/js/script.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
{#<script>#}
    $('#import_file_form_file').on('change',function(){
        var fileName = $(this).val().split("\\").pop();
        $('.custom-file-label').html(fileName);
    })
{% endblock %}
