{#<table>
    <thead>
    <tr>
        <th colspan="7" align="center">
            {% if caption is defined and caption is not empty %}
                <strong>{{ caption }}</strong>
            {% endif %}
        </th>
    </tr>
    <tr>
        <th colspan="7" align="center">
            <strong>Name of Report : Department wise PR Report</strong>
        </th>
    </tr>
    <tr>
        <th colspan="7" align="center">
            Start Date: {{ searchForm['startDate'] }} To End Date: {{ searchForm['startDate']}}
        </th>
    </tr>
    </thead>
</table>#}
<table>
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'PR No.'|trans }}</th>
        <th>{{ 'PR Date'|trans }}</th>
        <th>{{ 'Process Department'|trans }}</th>
        <th>{{ 'Exp type'|trans }}</th>
        <th>{{ 'PR Type'|trans }}</th>
        <th>{{ 'Company'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is defined and entities is not empty %}
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.requisitionNo }}</td>
                <td>{{ entity.created|date('d-m-Y') }}</td>
                <td>{{ entity.processDepartment }}</td>
                <td>{{ entity.requisitionMode }}</td>
                <td></td>
                <td>{{ entity.company }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>