<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Depart wise PR Report</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
{#<div style="padding-bottom: 10px"><img width="100%" src="{{ asset(headerImage) }}"></div>#}
{#<div class="row">
    {% if caption is defined and caption is not empty %}
        <caption><h3>{{ caption }}</h3></caption>
    {% endif %}
    <caption><strong>Name of Report : Department wise PR Report</strong></caption>
    <caption>Start Date: {{ searchForm['startDate'] }} To End Date: {{ searchForm['startDate']}} </caption>
</div>#}
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'PR No.'|trans }}</th>
        <th>{{ 'PR Date'|trans }}</th>
        <th>{{ 'Process Department'|trans }}</th>
        <th>{{ 'Exp type'|trans }}</th>
        <th>{{ 'PR Type'|trans }}</th>
        <th>{{ 'Company'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is not empty %}
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.requisitionNo }}</td>
                <td>{{ entity.created|date('d-m-Y') }}</td>
                <td>{{ entity.processDepartment }}</td>
                <td>{{ entity.requisitionMode }}</td>
                <td></td>
                <td>{{ entity.company }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
<div style="padding-top: 10px"><img width="100%" src="{{ asset(footerImage) }}"></div>

</body>
</html>