{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Goods Receive'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_garments_workorder') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Workorder'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tender_garments_receive',{'mode':'list'})}}"><i class="fa fa-th-large"></i> All Receive</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'approve' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tender_garments_receive',{'mode':'approve'})}}"><i class="feather icon-target"></i> Approve</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_receive',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archive' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_receive',{'mode':'archive'})}}"><i class="feather icon-file"></i> Archive</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-gray">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="3">{{ form_widget(searchForm.invoice) }}</td>
                                        <td>{{ form_widget(searchForm.enlistedVendor) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Created</th>
                                    <th scope="col">GRN</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">Workorder</th>
                                    <th scope="col">Vender/Supplier</th>
                                    <th scope="col">Enlisted Vender</th>
                                    <th scope="col">Receive Date</th>
                                    <th scope="col">Challan No</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Waiting For</th>
                                    <th scope="col">GRN</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in  pagination %}
                                    <tr>
                                        <td>{{ entity.created|date('d-m-Y') }}</td>
                                        <td>{{ entity.invoice }}</td>
                                        <td>{{ entity.createdBy }}</td>
                                        <td>{{ entity.workorderInvoice }}</td>
                                        <td>{{ entity.tenderVendor }}</td>
                                        <td>{{ entity.enlistedVendor }}</td>
                                        <td>{{ entity.receiveDate|date('d-m-Y') }}</td>
                                        <td>{{ entity.challanNo }}</td>
                                        <td>{{ entity.total|number_format(2) }}</td>
                                        <td>{% if entity.reportTo is not empty %}{{ entity.reportToName }}{% endif %}</td>
                                        <td>
                                            {% if grns[entity.id] is defined and grns[entity.id] is not empty %}
                                                {% for tender in grns[entity.id] %}
                                                    <span>{{ loop.index }}. </span><a  target="_blank" href="{{ path('procure_tender_garments_receive_preview',{'id':tender['receiveId'],'mode':'preview'}) }}"><b> {{ tender['grn'] }}</b></a><br/>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>{{ entity.process }}</td>
                                        <td>
                                            <div class="btn-group" >
                                                {% if entity.waitingProcess == "New" or entity.waitingProcess == "Rejected" %}
                                                    <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_tender_garments_receive_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                    <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_tender_garments_receive_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                {% endif %}
                                                {% if entity.reportTo is not empty and app.user.id == entity.reportTo %}
                                                    <a class='btn btn-mini purple-bg white-font' href="{{ path('procure_tender_garments_receive_process',{'id':entity.id}) }}" ><i class='feather icon-target'></i> Approve</a>
                                                {% endif %}
                                                <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_tender_garments_receive_show',{'id':entity.id}) }}" href="javascript:" data-title="Goods Receive No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-mini btn-notify dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                                                    <div class="dropdown-content">
                                                        <a class="" target="_blank" href="{{ path('procure_tender_garments_receive_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Print Preview</a>
                                                        {% if (app.user.hasRoles(['ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN'])  and entity.waitingProcess == "In-progress" ) %}
                                                            <a class="yellow-bg"  href="{{ path('procure_tender_garments_receive_edit',{'id':entity.id}) }}" ><i class="feather icon-repeat"></i> Edit</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
