{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Goods Receive Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_garments_receive') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Goods Receive'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Goods Receive Request'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>GRN No.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Company</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.branch is not empty %}{{ entity.workorder.branch.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Ship To</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.wearhouse is not empty %}{{ entity.workorder.wearhouse.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Vendor/Supplier</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.tenderVendor is not empty %}{{ entity.workorder.tenderVendor.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Enlisted Vendor</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.enlistedVendor is not empty %}{{ entity.workorder.enlistedVendor.name }}{% endif %}</div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Payment Mode</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.paymentMode is not empty %}{{ entity.workorder.paymentMode.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Delivery Mode</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.deliveryMode is not empty %}{{ entity.workorder.deliveryMode.name }}{% endif %}</div>
                                                </div>
                                                {% if entity.workorder is not empty %}
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>WO No.</strong></div>
                                                        <div class="col-md-8">{{ entity.workorder.invoice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8">{{ entity.workorder.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8"> {% if entity.workorder.createdBy is not empty %}{{ entity.workorder.createdBy.name }}{% endif %}</div>
                                                    </div>
                                                {% endif %}

                                                <div class="row">
                                                    <div class="col-md-4"><strong>Wearhouse Address</strong></div>
                                                    <div class="col-md-8"> {% if entity.workorder.wearhouse is not empty %}{{ entity.workorder.wearhouse.address|raw }}{% endif %}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','data-action':path('procure_tender_garments_receive_ajax_update',{'id':entity.id})}}) }}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.receiveDate, 'Receive Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.receiveDate) }}
                                                                {{ form_errors(form.receiveDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.challanNo, 'Challan No'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.challanNo) }}
                                                                {{ form_errors(form.challanNo) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.gatePassNo, 'Gate Entry No'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.gatePassNo) }}
                                                                {{ form_errors(form.gatePassNo) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.challanDate, 'Challan Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.challanDate) }}
                                                                {{ form_errors(form.challanDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.gatePassDate, 'Gate Entry Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.gatePassDate) }}
                                                                {{ form_errors(form.gatePassDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Comments'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">UOM</th>
                                                        <th scope="col">WO-Qty</th>
                                                        <th scope="col">WO-Price</th>
                                                        <th scope="col">Remaining Qty</th>
                                                        <th scope="col">Received Qty</th>
                                                        <th scope="col">Return Qty</th>
                                                        <th scope="col">Unit Price</th>
                                                        <th scope="col">Total</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Cas no</th>
                                                        <th scope="col">Msds</th>
                                                        <th scope="col" style="width: 140px!important; display: table-cell">Expire Date</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoice">
                                                    {% set casType = ['Washing','Boiler','ETP','Generator'] %}
                                                    {% if entity.receiveItems is defined and entity.receiveItems is not empty %}
                                                        {% for item in entity.receiveItems %}
                                                            <tr>
                                                                <td>{{ loop.index }}.</td>

                                                                <td>{{ item.stockBook.stockBookName }}</td>
                                                                <td>{{ item.stockBook.uom }}</td>
                                                                <td>{{ item.tenderWorkorderItem.quantity }}</td>
                                                                <td>{{ item.tenderWorkorderItem.price }}</td>
                                                                <td>{{ item.tenderWorkorderItem.remaining }}</td>
                                                                <td>
                                                                    <input type="hidden" class="" name="item[]" value="{{ item.id }}" id="item-{{ item.id }}">
                                                                    <input type="text" class="td-input form-control number receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="quantity[]" value="{{ item.quantity }}" data-id="{{ item.id }}" max="{{ item.tenderWorkorderItem.remaining }}" id="quantity-{{ item.id }}">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="td-input form-control number receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="returnQuantity[]" value="" data-id="{{ item.id }}" id="returnQuantity-{{ item.id }}" >
                                                                </td>
                                                                <td>{{item.tenderWorkorderItem.price}}
                                                                    <input type="hidden" class="td-input form-control number receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="price[]" value="{% if item.price == 0 %}{{item.tenderWorkorderItem.price}}{% else %}{{item.price}}{% endif %}" data-id="{{ item.id }}" id="price-{{ item.id }}">
                                                                </td>

                                                                <td id="subTotal-{{ item.id }}">{{ item.subTotal }}</td>
                                                                <td>
                                                                    <select name="casType[]" data-id="{{ item.id }}" id="casType-{{ item.id }}" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" class="td-input form-control receive-quantity">
                                                                        <option value="">Type</option>
                                                                        {% for type in casType %}
                                                                        <option {% if type == item.casType %} selected {% endif %} value="{{ type }}">{{ type }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </td>
                                                                <td><input type="text" class="td-input form-control receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="casNo[]" value="{{ item.casNo }}" data-id="{{ item.id }}" id="casNo-{{ item.id }}">
                                                                </td>
                                                                <td><input type="checkbox" {% if item.msds == 1 %} checked {% endif %} class="receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="msds[]" value="1" data-id="{{ item.id }}" id="msds-{{ item.id }}">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control receive-quantity datePicker" placeholder="dd-mm-yyyy" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="expireDate[]" value="{% if item.expireDate %}{{ item.expireDate|date('d-m-Y') }}{% endif %}" data-id="{{ item.id }}" id="expireDate-{{ item.id }}">
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr><td colspan="8" class="text-right">SubTotal</td><td><span class="subTotal">{{ entity.subTotal|number_format(2) }}</span></td></tr>
                                                    {#<tr>
                                                        <td colspan="7" class="text-right">Discount</td>
                                                        <td> {{ form_widget(form.discount) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7" class="text-right">VAT/TAX</td>
                                                        <td> {{ form_widget(form.vat) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7" class="text-right">Commission(<span id="percent">{{ entity.workorder.vendorCommissionPercent }}</span>)%</td>
                                                        <td id="commission">{{ entity.vendorCommission }}</td>
                                                    </tr>
                                                    <tr><th colspan="7" class="text-right">Grand Total</th><th><span class="total">{{ entity.total }}</span></th></tr>
#}                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <br/>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% if entity.moduleProcess.status == 1  %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ render(controller(
                                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                    { 'id': entity.id,'module':entity.module}
                                                )) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            {% if app.user.id == entity.createdBy.id and entity.process == "New"  %}
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save & Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
