{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Work Order'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'inhouse-pending' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_receive_workorder',{'mode':'inhouse-pending'})}}"><i class="feather icon-file"></i> In-house Pending</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'inhouse-partial' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_receive_workorder',{'mode':'inhouse-partial'})}}"><i class="feather icon-file"></i> In-house Partial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archived' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_garments_receive_workorder',{'mode':'archived'})}}"><i class="feather icon-file"></i> Archived</a>
                                </li>

                                {#{% if (app.user.hasRoles(['ROLE_DOMAIN'])) %}
                                    <li class="nav-item">
                                        <a class="nav-link red-bg" href="{{ path('procure_tender_garments_workorder_requisition')}}"><i class="feather icon-file"></i> Update Workorder</a>
                                    </li>
                                {% endif %}#}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-gray">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="3">{{ form_widget(searchForm.invoice) }}</td>
                                        <td>{{ form_widget(searchForm.vendor) }}</td>
                                        <td>{{ form_widget(searchForm.enlistedVendor) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Created</th>
                                    <th scope="col">Work order</th>
                                    <th scope="col">Vender/Supplier</th>
                                    <th scope="col">Enlisted Vendor</th>
                                    <th scope="col">Workorder Date</th>
                                    <th scope="col">Validate Date</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Receive QTY</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Waiting For</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">GRN</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in  pagination %}
                                    <tr>
                                        <td>{{ entity.created|date('d-m-Y') }}</td>
                                        <td><a class="entity-show" data-action="{{ path('procure_tender_garments_workorder_show',{'id':entity.id}) }}" href="javascript:" data-title="TP No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><b>{{ entity.invoice }}</b></a></td>
                                        <td>{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor }}{% endif %}</td>
                                        <td>{% if entity.enlistedVendor is not empty %}{{ entity.enlistedVendor }}{% endif %}</td>
                                        <td>{{ entity.workorderDate|date('d-m-Y') }}</td>
                                        <td>{{ entity.validateDate|date('d-m-Y') }}</td>
                                        <td>{{ entity.quantity }}</td>
                                        <td>{{ entity.receive }}</td>
                                        <td>{{ entity.total|number_format(2) }}</td>
                                        <td>{% if entity.reportTo is not empty %}{{ entity.reportToName }}{% endif %}</td>
                                        <td>{{ entity.process }}</td>
                                        <td>
                                            {% if grns[entity.id] is defined and grns[entity.id] is not empty %}
                                                {% for tender in grns[entity.id] %}
                                                    <span>{{ loop.index }}. </span><a  target="_blank" href="{{ path('procure_tender_garments_receive_preview',{'id':tender['receiveId'],'mode':'preview'}) }}"><b> {{ tender['grn'] }}</b></a><br/>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group" >
                                                {% if entity.waitingProcess == "New" %}
                                                    <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_tender_garments_workorder_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                    <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_tender_garments_workorder_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                {% endif %}
                                                {% if app.user.id == entity.reportTo %}
                                                    <a class='btn btn-mini purple-bg white-font' data-action='{{ path('procure_tender_garments_workorder_process',{'id':entity.id}) }}' href='?mode=approve&process=postViewdd-{{ entity.id }}&check=process#modal' id='postViewdd-{{ entity.id }}' ><i class='feather icon-target'></i> Approve</a>
                                                {% endif %}
                                                <a class="btn btn-mini blue-bg white-font entity-show" href="javascript:" data-action="{{ path('procure_tender_garments_workorder_show',{'id':entity.id}) }}" data-title="Workprder No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                {% if entity.waitingProcess == "Approved" and app.user.hasRoles(['ROLE_PROCUREMENT_GATEPASS','ROLE_PROCUREMENT_RECEIVE','ROLE_DOMAIN']) and entity.quantity != entity.receive %}
                                                    <a class='btn btn-mini purple-bg white-font' href='{{ path('procure_tender_garments_workorder_receive',{'id':entity.id}) }}'  ><i class='feather icon-target'></i> Receive</a>
                                                {% endif %}
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-mini btn-notify dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                                                    <div class="dropdown-content">
                                                        <a class="" target="_blank" href="{{ path('procure_tender_garments_workorder_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Print Preview</a>
                                                        {% if (app.user.hasRoles(['ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN'])  and entity.waitingProcess == "Approved" ) %}
                                                            <a class='red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_tender_garments_workorder_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i> Delete</a>
                                                            <a class='red-bg white-black' href='{{ path('procure_tender_garments_workorder_amendment',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-refresh'></i> Amendment</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
