.card .card-block, .card .card-body {
    padding: 0px 25px;
}
.grid-designation {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-designation {
    grid-template-columns: repeat(3, calc(100%/3));
}
.grid-products {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-products {
    grid-template-columns: repeat(2, calc(100%/2));
}

.content-box {
    border: 1px solid #000000;
    padding: 8px;
}
.content-box .title{
    border-bottom: 1px solid #000000;
    font-weight: bold;
    font-size: 18px
}