table{
    border-collapse: collapse;
}
table tr td, table tr th{
    border: 1px solid #0a0909;
}
table tr td.right, table tr th.right{
    text-align: right;
}
table tr td.center, table tr th.center{
    text-align: center;
}
.grid-dashboard {
    width: 100%;
    display: grid;
}
.grid-dashboard {
    grid-template-columns: repeat(4, calc(100%/4));
}
.mytooltip-li li{
    margin-left: 15px!important;
    font-size: 11px;
}
table.item-wise-pr-report-table{
    position: relative;
}
table.item-wise-pr-report-table thead tr th {
    position: sticky;
    top: 0;
}
table.item-wise-pr-report-filter thead tr th{
    border: 0 !important;
}
table.item-wise-pr-report-filter thead tr th:nth-child(odd) {
    /*text-align: right;*/
    width: 13%;
}