<div class="card">
    <div class="card-header">
        <h5>{{ 'In-House Work Order Report'|trans }}</h5>
        <div class="card-header-right">
            <div class="btn-group btn-group-sm" >
                <a id="button-excel" onclick="exportDataTableExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</a>
            </div>
        </div>
    </div>
</div>
<table id="datatableScroll" class="table">
    <thead class="thead-green">
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Created</th>
        <th scope="col">Created By</th>
        <th scope="col">Work order No</th>
        <th scope="col">Receive Date</th>
        <th scope="col">GRN No</th>
        <th scope="col">Company Unit</th>
        <th scope="col">Store Name</th>
        <th scope="col">Vender/Supplier</th>
        <th scope="col">Enlisted Vendor</th>
        <th scope="col">Send To Vendor Date</th>
        <th scope="col">Challan No</th>
        <th scope="col">Gate Pass No</th>
        <th scope="col">GRN Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in  entities %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entity.created|date('d-m-Y') }}</td>
            <td>{{ entity.createdBy }}</td>
            <td>{{ entity.workorder }}</td>
            <td>{{ entity.receiveDate|date('d-m-Y') }}</td>
            <td>{{ entity.grn }}</td>
            <td>{% if entity.unit is not empty %}{{ entity.unit }}{% endif %}</td>
            <td>{% if entity.storeName is not empty %}{{ entity.storeName }}{% endif %}</td>
            <td>{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor }}{% endif %}</td>
            <td>{% if entity.enlistedVendor is not empty %}{{ entity.enlistedVendor }}{% endif %}</td>
            <td>{% if entity.sendToVendor %}{{ entity.workorderDate|date('d-m-Y') }}{% endif %}</td>
            <td>{{ entity.challanNo }}</td>
            <td>{{ entity.gatePassNo }}</td>
            <td>{{ entity.total }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
