{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Order Issue Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                           <a href="{{ path('procure_requisition_garments_issue') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition Issue'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Requsution Issue'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>Requisition issue form</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card-header grey-bg inner-header">
                                                    <h5>{{ "Add Items"|trans }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','action':path('procure_requisition_garments_order_issue_edit',{'id':entity.id})}}) }}
                                        <div class="form-box-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Order Issue No"|trans }}</label>
                                                                <label class="col-md-8 text-left">{{ entity.orderNo }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Requisition Issue No"|trans }}</label>
                                                                <label class="col-md-8 text-left">{{ entity.requisitionIssue.requisitionNo }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Created"|trans }}</label>
                                                                <label class="col-md-8 text-left">{{ entity.requisitionIssue.created|date('d-m-Y') }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                                <label class="col-md-8 text-left">{{ entity.requisitionIssue.createdBy.name }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Comapny Name"|trans }}</label>
                                                                <label class="col-md-8 text-left">{% if entity.requisitionIssue.branch is not empty %}{{ entity.requisitionIssue.branch.name }}{% endif %}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Wearhouse Name"|trans }}</label>
                                                                <label class="col-md-8 text-left">{% if entity.requisitionIssue.wearhouse is not empty %}{{ entity.requisitionIssue.wearhouse.name }}{% endif %}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Department Name"|trans }}</label>
                                                                <label class="col-md-8 text-left">{% if entity.requisitionIssue.department is not empty %}{{ entity.requisitionIssue.department.name }}{% endif %}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Style No"|trans }}</label>
                                                                <label class="col-md-8 text-left">{% if entity.requisitionIssue.buyerName is not empty %}{{ entity.requisitionIssue.buyerName }}{% endif %}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Buyer Name"|trans }}</label>
                                                                <label class="col-md-8 text-left">{% if entity.requisitionIssue.styleNo is not empty %}{{ entity.requisitionIssue.styleNo }}{% endif %}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">UOM</th>
                                                        <th scope="col">Line</th>
                                                        <th scope="col">Section</th>
                                                        <th scope="col">Current Stock</th>
                                                        <th scope="col">Req.QTY</th>
                                                        <th scope="col">Appr.QTY</th>
                                                        <th scope="col">Issue Qty</th>
                                                        <th scope="col">Remin Qty</th>
                                                        <th scope="col">Return Qty</th>
                                                        <th scope="col">Mechine Type</th>
                                                        <th scope="col">M/P No</th>
                                                        <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                                    </tr>

                                                    </thead>
                                                    <tbody id="invoiceItem">
                                                    {% if entity.requisitionIssue.requisitionItems is not empty %}
                                                        {% for item in entity.requisitionIssue.requisitionItems %}
                                                            <tr id="remove-{{ item.id }}">
                                                                <input type="hidden" name="requisitionIssueItem[]" id="requisitionIssueItem" value="{{ item.id }}">
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ item.stockBook.stockBookName }}</td>
                                                                <td>{{ item.stockBook.uom }}</td>
                                                                <td>{% if item.line is not empty %}{{ item.line.name }}{% endif %}</td>
                                                                <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
                                                                <td>
                                                                    {% if wearhouseStocks is defined and wearhouseStocks[item.stockBook.id] is defined and wearhouseStocks[item.stockBook.id] is not empty   %}
                                                                        {{ wearhouseStocks[item.stockBook.id] }}
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ item.actualQuantity }}</td>
                                                                <td>{{ item.quantity }}</td>
                                                                <td>
                                                                    {% if wearhouseStocks is defined and wearhouseStocks[item.stockBook.id] is defined and wearhouseStocks[item.stockBook.id] is not empty   %}
                                                                    <input type="text" min="1"  data-id="{{ item.id }}" id="issueQuantity-{{ item.id }}" name="issueQuantity[{{ item.id }}]" max="{{ item.quantity }}" class="td-input form-control-sm input number number-input quantity orderIssueQuantity" value="">
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ item.quantity - item.issueQuantity }}</td>
                                                                <td>{{ item.returnQuantity }}</td>
                                                                <td>{% if item.machineType is not empty %}{{ item.machineType.name }}{% endif %}</td>
                                                                <td>{{ item.mpNo }}</td>
                                                                <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_issue_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 30px">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.comment, 'Details/Justification'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.comment) }}
                                                        {{ form_errors(form.comment) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        {% if entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <div class="btn-group" role="group">
                                 </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="btn-group" role="group">
                                    <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                    <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save and Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
