{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title>Job Approval</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <style>
        body {
            color: #313131;
            font-family: sans-serif;
            font-size: 13px;
        }
        .table-item thead tr th{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
        .table-item tbody tr td{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
    </style>
</head>
<body>
    <div style="text-align: center; text-transform: uppercase; margin-bottom: 10px; font-weight: bold">
        <p>Order Issue Detail</p>
    </div>
    <!-- Header -->
    <div>
        <div style="float: left; width: 30%;">
            <b>Order Issue No</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.orderNo }}
        </div>
        <div style="float: left; width: 15%;">
            <b>Created</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.created|date('d-m-Y') }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Requisition Issue No.</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.requisitionIssue.requisitionNo }}
        </div>
        <div style="float: left; width: 15%;">
            <b>Issued By</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.createdBy.name }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Company</b>
        </div>
        <div style="float: left; width: 25%;">
            {% if entity.requisitionIssue.branch is not empty %} {{ entity.requisitionIssue.branch.name }}{% endif %}
        </div>
        <div style="float: left; width: 15%;">
            <b>Department</b>
        </div>
        <div style="float: right; width: 25%;">
            {% if entity.requisitionIssue.department is not empty %} {{ entity.requisitionIssue.department.name }}{% endif %}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Buyer Name</b>
        </div>
        <div style="float: left; width: 25%;">
            {% if entity.requisitionIssue.buyerName is not empty %} {{ entity.requisitionIssue.buyerName }} {% endif %}
        </div>
        <div style="float: left; width: 15%;">
            <b>Style No.</b>
        </div>
        <div style="float: right; width: 25%;">
            {% if entity.requisitionIssue.styleNo is not empty %} {{ entity.requisitionIssue.styleNo }}{% endif %}
        </div>

        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Details/Justification</b>
        </div>
        <div style="float: left; width: 70%;">
            {{ entity.comment|raw }}
        </div>
    </div>
    <!-- Header -->



    <!-- Body -->
    {% if entity.requisitionOrderItems is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Item</b>
            </div>

            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Section</th>
                        <th scope="col">Line</th>
                        <th scope="col">Req.Qnt</th>
                        <th scope="col">Issue Qty</th>
                        <th scope="col">Mechine Type</th>
                        <th scope="col">M/P No</th>
                    </tr>
                    <thead>
                    <tbody>
                    {% if entity.requisitionOrderItems is not empty %}
                        {% for item in entity.requisitionOrderItems %}
                            <tr id="remove-{{ item.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{{ item.stockBook.stockBookName }}</td>
                                <td>{{ item.stockBook.uom }}</td>
                                <td>{% if item.requisitionIssueItem.line is not empty %}{{ item.requisitionIssueItem.line.name }}{% endif %}</td>
                                <td>{% if item.requisitionIssueItem.section is not empty %}{{ item.requisitionIssueItem.section.name }}{% endif %}</td>
                                <td>{{ item.requisitionIssueItem.quantity }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{% if item.requisitionIssueItem.machineType is not empty %}{{ item.requisitionIssueItem.machineType.name }}{% endif %}</td>
                                <td>{{ item.requisitionIssueItem.mpNo }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if approvals is not empty %}
        <div class="row mt-3">
            <div class="col-md-12 mb-2"><strong>Comments</strong></div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td class="text-left">{{ loop.index }}.</td>
                            <td class="text-left">{{ list.assignTo.name }}</td>
                            <td class="text-left">{{ list.updated|date('d-m-Y h:i') }}</td>
                            <td class="text-left">{{ list.comment|raw }}</td>
                            <td class="text-left">{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            {% for index,list in approvals %}
                {% if list.close == true  %}
                    {% if  index == 0 %}
                        <div class="col-md-12 mb-2"><strong>Signatures</strong></div>
                    {% endif %}
                    <div class="col-md-4">
                        <div style="padding: 15px; border: 1px solid #dddddd;">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <!-- Body -->
</body>
</html>