{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title>Store Issue</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
</head>
<body style="color: #0a0a0a">
{% if mode=='preview' %}
<div class="container">
    <div class="row" style="background-color: #c0c2ce; font-size: 16px; padding: 5px">
        <div class="col-md-6"><strong>Preview</strong></div>
        <div class="col-md-6 text-right">
            <a class="" style="color: red; padding-right: 10px" target="_blank" href="{{ path('procure_requisition_garments_order_issue_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i></a>
            <a class="" style="color: blue" target="_blank" href="{{ path('procure_requisition_garments_order_issue_preview',{'id':entity.id,'mode':'pdf'}) }}" ><i class="fa fa-download"></i></a>
        </div>
    </div>
</div>
{% endif %}
<div class="container mt-2 mb-5" style="border: {{ mode=='preview' ? '1px dotted gray': ''}}">
    <div class="row">
        <div class="col-md-12 text-center mb-3" style="text-transform: uppercase"><strong>Order Issue Detail</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>Order Issue No</strong></div>
        <div class="col-md-4">{{ entity.orderNo}}</div>
        <div class="col-md-2"><strong>Created</strong></div>
        <div class="col-md-3 ">{{ entity.created|date('d-m-Y') }}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>Requisition Issue No.</strong></div>
        <div class="col-md-4">{{ entity.requisitionIssue.requisitionNo }}</div>
        <div class="col-md-2 "><strong>Issued By</strong></div>
        <div class="col-md-3">{{  entity.createdBy.name  }}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>Company</strong></div>
        <div class="col-md-4">{% if entity.requisitionIssue.branch is not empty %} {{ entity.requisitionIssue.branch.name }}{% endif %}</div>
        <div class="col-md-2"><strong>Department</strong></div>
        <div class="col-md-3">{% if entity.requisitionIssue.department is not empty %} {{ entity.requisitionIssue.department.name }}{% endif %}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>Buyer Name </strong></div>
        <div class="col-md-4">{% if entity.requisitionIssue.buyerName is not empty %} {{ entity.requisitionIssue.buyerName }} {% endif %} </div>
        <div class="col-md-2"><strong>Style No.</strong></div>
        <div class="col-md-3"> {% if entity.requisitionIssue.styleNo is not empty %} {{ entity.requisitionIssue.styleNo }}{% endif %}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>Details/Justification</strong></div>
        <div class="col-md-9">{{ entity.comment|raw }}</div>
    </div>
    {% if entity.requisitionOrderItems is not empty %}
    <div class="row mt-4">
        <div class="col-md-12 mb-1"><strong>Items</strong></div>
        <div class="col-md-12 mt-2">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Section</th>
                        <th scope="col">Line</th>
                        <th scope="col">Req.QTY</th>
                        <th scope="col">Issue Qty</th>
                        <th scope="col">Mechine Type</th>
                        <th scope="col">M/P No</th>
                    </tr>
                <thead>
                <tbody>
                    {% if entity.requisitionOrderItems is not empty %}
                        {% for item in entity.requisitionOrderItems %}
                            <tr id="remove-{{ item.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{{ item.stockBook.stockBookName }}</td>
                                <td>{{ item.stockBook.uom }}</td>
                                <td>{% if item.requisitionIssueItem.line is not empty %}{{ item.requisitionIssueItem.line.name }}{% endif %}</td>
                                <td>{% if item.requisitionIssueItem.section is not empty %}{{ item.requisitionIssueItem.section.name }}{% endif %}</td>
                                <td>{{ item.requisitionIssueItem.quantity }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{% if item.requisitionIssueItem.machineType is not empty %}{{ item.requisitionIssueItem.machineType.name }}{% endif %}</td>
                                <td>{{ item.requisitionIssueItem.mpNo }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                </table>
        </div>
    </div>
    {% endif %}
    {% if approvals is not empty %}
        <div class="row mt-3">
            <div class="col-md-12 mb-2"><strong>Comments</strong></div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td class="text-left">{{ loop.index }}.</td>
                            <td class="text-left">{{ list.assignTo.name }}</td>
                            <td class="text-left">{{ list.updated|date('d-m-Y h:i') }}</td>
                            <td class="text-left">{{ list.comment|raw }}</td>
                            <td class="text-left">{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            {% for index,list in approvals %}
                {% if list.close == true  %}
                    {% if  index == 0 %}
                        <div class="col-md-12 mb-2"><strong>Signatures</strong></div>
                    {% endif %}
                    <div class="col-md-4">
                        <div style="padding: 15px; border: 1px solid #dddddd;">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
</body>
</html>