<div class="portlet box">
    <div class="portlet-title portlet-title-green">
        <div class="caption">{{ 'Order Approval Details'|trans }} </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-3 bd-highlight"><strong>Order Issue No.</strong> {{ entity.orderNo }}</div>
                    <div class="p-3 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                    <div class="p-3 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-3 bd-highlight"><strong>Requisition Issue No.</strong> {{ entity.requisitionIssue.requisitionNo }}</div>
                    <div class="p-3 bd-highlight"><strong>Company</strong> {% if entity.requisitionIssue.branch is not empty %} {{ entity.requisitionIssue.branch.name }}{% endif %}</div>
                    <div class="p-3 bd-highlight"><strong>Department</strong> {% if entity.requisitionIssue.department is not empty %} {{ entity.requisitionIssue.department.name }}{% endif %}</div>
                    <div class="p-3 bd-highlight"><strong>Buyer Name</strong> {% if entity.requisitionIssue.buyerName is not empty %} {{ entity.requisitionIssue.buyerName }}{% endif %}</div>
                    <div class="p-3 bd-highlight"><strong>Style No</strong> {% if entity.requisitionIssue.styleNo is not empty %} {{ entity.requisitionIssue.styleNo }}{% endif %}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-left"><strong>Job Details/Justification</strong></div>
            <div class="col-md-9">{{ entity.comment|raw }}</div>
        </div>
        <div class="clearfix"><br/></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover display nowrap">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Section</th>
                        <th scope="col">Line</th>
                        <th scope="col">Appr. QTY</th>
                        <th scope="col">Issue Qty</th>
                        <th scope="col">Mechine Type</th>
                        <th scope="col">M/P No</th>

                    </tr>
                    {% if entity.requisitionOrderItems is not empty %}
                        {% for item in entity.requisitionOrderItems %}
                            <tr id="remove-{{ item.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{{ item.requisitionIssueItem.stockBook.stockBookName }}</td>
                                <td>{{ item.requisitionIssueItem.stockBook.uom }}</td>
                                 <td>{% if item.requisitionIssueItem.line is not empty %}{{ item.requisitionIssueItem.line.name }}{% endif %}</td>
                                <td>{% if item.requisitionIssueItem.section is not empty %}{{ item.requisitionIssueItem.section.name }}{% endif %}</td>
                                <td>{{ item.requisitionIssueItem.quantity }}</td>
                                <td><input type="text" min="1"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity[]" data-action="{{ path('procure_requisition_garments_order_issue_item_update',{'id':item.id}) }}" class="td-input form-control-sm input number number-input quantity orderIssueQuantity" max="{{ item.requisitionIssueItem.quantity }}" value="{{ item.quantity }}"></td>
                                <td>{% if item.requisitionIssueItem.machineType is not empty %}{{ item.requisitionIssueItem.machineType.name }}{% endif %}</td>
                                <td>{{ item.requisitionIssueItem.mpNo }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
            <div class="row">
                <div class="col-md-12">
                    {{ render(controller(
                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                        { 'id': entity.id,'module':entity.module}
                    )) }}
                </div>
            </div>
        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
            <div class="row">
                <div class="col-md-12">
                    {{ render(controller(
                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                        { 'id': entity.id,'module':entity.module}
                    )) }}
                </div>
            </div>
        {% endif %}
        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_requisition_garments_order_issue_process',{'id':entity.id})}}) }}
        <div class="form-inner-no-space">
            <div class="row">
                <div class="col-md-12 form-box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_widget(form.comment,{'attr':{'rows':6}}) }}
                                    {{ form_errors(form.comment) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="btn-group" >
                                <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}

    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
