{% if entity.requisitionItems is not empty %}
    {% for item in entity.requisitionItems %}
        <tr id="remove-{{ item.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ item.item.name }}</td>
            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
            <td>
                {% if item.item.category is not empty %}
                    {% if item.item.category.brand is not empty %}
                        <select class="form-control" name="brand" id="brand">
                            <option value="">--Choose a Brand</option>
                            {% for brand in  item.item.category.brand %}
                                <option {% if item.brand is not empty and item.brand.id == brand.id %} selected="selected" {% endif %} value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if item.item.category is not empty %}
                    {% if item.item.category.size is not empty %}
                        <select class="form-control" name="brand" id="brand">
                            <option value="">--Choose a Size</option>
                            {% for size in  item.item.category.size %}
                                <option {% if item.size is not empty and item.size.id == size.id %} selected="selected" {% endif %} value="{{ size.id }}">{{ size.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if item.item.category is not empty %}
                    {% if item.item.category.color is not empty %}
                        <select class="form-control" name="color" id="color">
                            <option value="">--Choose a Color</option>
                            {% for color in  item.item.category.color %}
                                <option {% if item.color is not empty and item.color.id == color.id %} selected="selected" {% endif %} value="{{ color.id }}">{{ color.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                {% endif %}
            </td>
            <td>{% if item.line is not empty %}{{ item.line.name }}{% endif %}</td>
            <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
            <td>
                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                <input type="number"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
            </td>
            <td></td>
            <td>{{ item.returnQuantity }}</td>
            <td>{% if item.machineType is not empty %}{{ item.machineType.name }}{% endif %}</td>
            <td>{{ item.mpNo }}</td>
            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_issue_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
    {% endfor %}
{% endif %}