{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Store Approved List'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <style>
                                .oval{
                                    border: 1px solid;
                                    border-radius: 50%;
                                    width: 24px!important;
                                    height: 24px!important;
                                    background: red;
                                    text-align: center;
                                    font-size: 11px;
                                    line-height: 24px;
                                    margin-left: 8px;
                                    display: inline-block;
                                }

                            </style>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                {% if companyBaseRequisitions is not empty %}
                                    {% for company in companyBaseRequisitions %}
                                        <li class="nav-item">
                                            <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_garments_requisition_issued',{'wearhouse':company.id})}}">{{ company.name }} <span class="oval bg-green">{{ company.bucketCount }}</span></a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            {%  set page = app.request.get('page') %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <form action="" method="get">
                                <tr role="row">
                                    <td colspan="2">{{ form_widget(searchForm.requisitionNo) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.branch) }}</td>
                                    <td colspan="2">{{ form_widget(searchForm.wearhouse) }}</td>
                                    <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                    <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                    <td>{{ form_widget(searchForm.filter) }}</td>
                                </tr>
                                {{ form_widget(searchForm._token) }}
                                </form>
                                {%  set sort = app.request.query.get('sort') %}
                                {%  set direction = app.request.query.get('direction') %}
                                <tr>
                                    <th{% if pagination.isSorted('e.created') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created', 'e.created') }}<span>{% if( direction == 'desc' and sort == 'e.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.requisitionNo') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Requisition No.', 'e.requisitionNo') }}<span>{% if( direction == 'desc' and sort == 'e.requisitionNo') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('createdBy') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created By', 'createdBy') }}<span>{% if( direction == 'desc' and sort == 'createdBy') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>

                                     <th{% if pagination.isSorted('buyerName') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Buyer Name', 'buyerName') }}<span>{% if( direction == 'desc' and sort == 'buyerName') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>

                                    <th{% if pagination.isSorted('branch') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Company', 'branch') }}<span>{% if( direction == 'desc' and sort == 'branch') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                     <th{% if pagination.isSorted('wearhouse') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Wearhouse', 'wearhouse') }}<span>{% if( direction == 'desc' and sort == 'wearhouse') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Department', 'd.name') }}<span>{% if( direction == 'desc' and sort == 'd.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('reportToName') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Waiting For', 'reportToName') }}
                                        <span>{% if( direction == 'desc' and sort == 'reportToName') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.process') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Status', 'e.process') }}
                                        <span>{% if( direction == 'desc' and sort == 'e.process') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            <td>
                                                {{ entity.created|date('d-m-Y') }}<br/>
                                                {% set difference = date(entity.created).diff(date("now"|date)) %}
                                                {% set leftDays = difference.format('Days %a Hours %H') %}
                                                {{ leftDays }}
                                            </td>
                                            <td scope="col"><a class="entity-show" data-action="{{ path('procure_requisition_garments_issue_show',{'id':entity.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.id }}"><b>{{ entity.requisitionNo }}</b></a></td>
                                            <td scope="col">{{ entity.createdBy }}</td>
                                            <td scope="col">{{ entity.buyerName }}</td>
                                            <td scope="col">{% if entity.branch is not empty %}{{ entity.branch }}{% endif %}</td>
                                            <td scope="col">{% if entity.wearhouse is not empty %}{{ entity.wearhouse }}{% endif %}</td>
                                            <td scope="col">{% if entity.department is not empty %}{{ entity.department }}{% endif %}</td>
                                            <td scope="col">{% if entity.reportToName is not empty %}{{ entity.reportToName }}{% endif %}</td>
                                            <td scope="col">{{ entity.process }}</td>
                                            <td scope="col text-center">
                                                <div class="btn-group" >
                                                    {% if entity.waitingProcess == "Approved" %}
                                                        {% if app.user.hasRoles(['ROLE_PROCUREMENT_STORE_ISSUE','ROLE_PROCUREMENT_STORE','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                                                            <a class='btn btn-mini purple-bg white-font' href='{{ path('procure_requisition_garments_order_issue_generate',{'id':entity.id}) }}'  ><i class='feather icon-target'></i> Issue</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_requisition_garments_issue_show',{'id':entity.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                </div>
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-notify dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                                                    <div class="dropdown-content">
                                                        <a class="" target="_blank" href="{{ path('procure_requisition_garments_issue_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Print Preview</a>
                                                        <a class="" target="_blank" href="{{ path('procure_requisition_garments_issue_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i> Print</a>
                                                        <a class="" target="_blank" href="{{ path('procure_requisition_garments_issue_preview',{'id':entity.id,'mode':'pdf'}) }}" ><i class="fa fa-download"></i> PDF</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
