
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-3 bd-highlight"><strong>Order Issue No.</strong> {{ entity.orderNo }}</div>
                            <div class="p-3 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                            <div class="p-3 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-3 bd-highlight"><strong>Requisition Issue No.</strong> {{ entity.requisitionIssue.requisitionNo }}</div>
                            <div class="p-3 bd-highlight"><strong>Company</strong> {% if entity.requisitionIssue.branch is not empty %} {{ entity.requisitionIssue.branch.name }}{% endif %}</div>
                            <div class="p-3 bd-highlight"><strong>Store Name</strong> {% if entity.requisitionIssue.wearhouse is not empty %} {{ entity.requisitionIssue.wearhouse.name }}{% endif %}</div>
                            <div class="p-3 bd-highlight"><strong>Department</strong> {% if entity.requisitionIssue.department is not empty %} {{ entity.requisitionIssue.department.name }}{% endif %}</div>
                            <div class="p-3 bd-highlight"><strong>Buyer Name</strong> {% if entity.requisitionIssue.buyerName is not empty %} {{ entity.requisitionIssue.buyerName }}{% endif %}</div>
                            <div class="p-3 bd-highlight"><strong>Style No</strong> {% if entity.requisitionIssue.styleNo is not empty %} {{ entity.requisitionIssue.styleNo }}{% endif %}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Job Details/Justification</strong></div>
                    <div class="col-md-10"><p>{{ entity.comment|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">UOM</th>
                                <th scope="col">Section</th>
                                <th scope="col">Line</th>
                                <th scope="col">Req.QTY</th>
                                <th scope="col">Issue Qty</th>
                                <th scope="col">Mechine Type</th>
                                <th scope="col">M/P No</th>

                            </tr>
                            {% if entity.requisitionOrderItems is not empty %}
                                {% for item in entity.requisitionOrderItems %}
                                    <tr id="remove-{{ item.id }}">
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.stockBook.stockBookName }}</td>
                                        <td>{{ item.stockBook.uom }}</td>
                                        <td>{% if item.requisitionIssueItem.line is not empty %}{{ item.requisitionIssueItem.line.name }}{% endif %}</td>
                                        <td>{% if item.requisitionIssueItem.section is not empty %}{{ item.requisitionIssueItem.section.name }}{% endif %}</td>
                                        <td>{{ item.requisitionIssueItem.quantity }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{% if item.requisitionIssueItem.machineType is not empty %}{{ item.requisitionIssueItem.machineType.name }}{% endif %}</td>
                                        <td>{{ item.requisitionIssueItem.mpNo }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>User Acceptence Comment</strong></div>
                    <div class="col-md-10"><p>{{ entity.acceptence|raw }}</p></div>
                </div>
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
