<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Consumption</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
<div class="row">
    {% if caption is defined and caption is not empty %}
        <caption><h3>{{ caption }}</h3></caption>
    {% endif %}
    <caption><strong>Name of Report : Category wise Item Consumption Report</strong></caption>
    <caption>Start Date: {{ searchForm['startDate'] }} To End Date: {{ searchForm['startDate']}} </caption>
</div>
<table border="1" cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Type'|trans }}</th>
        <th>{{ 'Ex Type'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'UoM'|trans }}</th>
        <th>{{ 'Value(BDT)'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is defined and entities is not empty  %}
        {% for row in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row.name }}</td>
                <td></td>
                <td>{{ row.itemMode }}</td>
                <td>{{ row.stockOut }} </td>
                <td>{{ row.unitName }}</td>
                <td>{{ (row.stockOut*row.price)|number_format }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
</body>
</html>