{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Item Wise PR Report'|trans }}</h5>
{#                    {% if entities is not empty %}#}
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                                <a target="_blank" href="{{ path('item_wise_pr_report',{'mode': 'pdf','filterBy': filterBy}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                                <a target="_blank" href="{{ path('item_wise_pr_report',{'mode': 'excel','filterBy': filterBy}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                            </div>
                        </div>
{#                    {% endif %}#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="px-0 py-3">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(searchForm) }}
                                <table class="table table-striped table-bordered table-hover display nowrap item-wise-pr-report-filter">
                                    <thead class="thead-transparent">
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.company,'Company Name: ') }}</th>
                                        <th>{{ form_widget(searchForm.company) }}</th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.department,'Department Name: ') }}</th>
                                        <th>{{ form_widget(searchForm.department) }}</th>
                                    </tr>
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.category,'Category: ') }}</th>
                                        <th>{{ form_widget(searchForm.category) }}</th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.section,'Section: ') }}</th>
                                        <th>{{ form_widget(searchForm.section) }}</th>
                                    </tr>
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.item,'Item Name: ') }}</th>
                                        <th>{{ form_widget(searchForm.item) }}</th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.itemMode,'Requisition Mode: ') }}</th>
                                        <th>{{ form_widget(searchForm.itemMode) }}</th>
                                    </tr>

                                    <tr role="row">
                                        <th>{{ form_label(searchForm.startDate,'From Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.endDate,'To Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></th>
                                    </tr>
                                    <tr role="row">
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-right">{{ form_widget(searchForm.filter,{'label':'Search'}) }}</th>
                                        {{ form_widget(searchForm._token) }}
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                   {# <h5>Division Wise PR Report</h5>
                    <table border="1" cellspacing="0" cellpadding="0" width="100%">
                        <thead>
                        <tr>
                            <th>{{ 'SL'|trans }}</th>
                            <th>{{ 'PR No.'|trans }}</th>
                            <th>{{ 'PR Date'|trans }}</th>
                            <th>{{ 'Process Dept.'|trans }}</th>
                            <th>{{ 'Exp. Type'|trans }}</th>
                            <th>{{ 'PR Type'|trans }}</th>
                            <th>{{ 'Division'|trans }}</th>
                            <th>{{ 'Branch/Dept.'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in 1..10 %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ 'PR No.'|trans }}</td>
                                <td>{{ 'PR Date'|trans }}</td>
                                <td>{{ 'Process Dept.'|trans }}</td>
                                <td>{{ 'Exp. Type'|trans }}</td>
                                <td>{{ 'PR Type'|trans }}</td>
                                <td>{{ 'Division'|trans }}</td>
                                <td>{{ 'Branch/Dept.'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


#}
                    {% if entities is not empty %}
                        <div class="row">
                            <div class="col-md-12">
                                <iframe src="{{ path('item_wise_pr_report',{'mode':'pdf', 'filterBy': filterBy}) }}" frameborder="0" width="100%" height="500px"></iframe>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <style>
        table.item-wise-pr-report-table{
            position: relative;
        }
        table.item-wise-pr-report-table thead tr th {
            position: sticky;
            top: 0;
        }
        table.item-wise-pr-report-filter thead tr th{
            border: 0 !important;
        }
        table.item-wise-pr-report-filter thead tr th:nth-child(odd) {
            /*text-align: right;*/
            width: 13%;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}