<table>
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Branch/Dept. Name'|trans }}</th>
        <th>{{ 'Division Name'|trans }}</th>
        <th>{{ 'Value(BDT)'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <td>{{ loop.index }}</td>
            <td> Branch/Dept. Name </td>
            <td> Division Name </td>
            <td> Value </td>
        </tr>
    {% endfor %}
    </tbody>
</table>