<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Department Wise Consumption</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>

<table border="1" cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Branch/Dept. Name'|trans }}</th>
        <th>{{ 'Division Name'|trans }}</th>
        <th>{{ 'Value(BDT)'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is defined and entities is not empty %}
        {% for row in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row.department }}</td>
                <td></td>
                <td>{{ row.price|number_format }} </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

</body>
</html>