{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Direct Workorder Preparetion'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Direct Workorder Preparetion'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.condition, 'Template'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.condition) }}
                                                        {{ form_errors(form.condition) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                {% if entity.requisition is not empty %}
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="">Requisition No</label>
                                                    <label class="col-md-8 control-label text-left" for=""><a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.requisition.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisition.requisitionNo }}" id="postView-{{ entity.requisition.id }}">{{ entity.requisition.requisitionNo }}</a></label>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if entity.requisition is not empty %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="">Company Name</label>
                                                    <div class="col-md-6">{{ entity.requisition.companyUnit.parent.name }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="">Process Department</label>
                                                    <label class="col-md-8 control-label text-left" for="">
                                                        {{ entity.requisition.processDepartment.name }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.directVendor, 'Vendor/Supplier'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-3">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.directVendor) }}
                                                        {{ form_errors(form.directVendor) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.shipTo, 'Shipment To'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.shipTo) }}
                                                        {{ form_errors(form.shipTo) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.paymentMode, 'Payment Mode'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.paymentMode) }}
                                                        {{ form_errors(form.paymentMode) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Body'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                        {{ form_help(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Requisition No</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">Brand</th>
                                                        <th scope="col">Size</th>
                                                        <th scope="col">Color</th>
                                                        <th scope="col">UOM</th>
                                                        <th scope="col">PO Qty</th>
                                                        <th scope="col">Estimited Price</th>
                                                        <th scope="col">Estimited SubTotal</th>
                                                        <th scope="col">Approve QTY</th>
                                                        <th scope="col">Approve Price</th>
                                                        <th scope="col">SubTotal</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceParticular">
                                                        {% set estimitedSubTotal =0 %}
                                                        {% set subTotal =0 %}
                                                        {% if entity.tenderItemDetails is not empty %}
                                                            {% set i = 1  %}
                                                            {% set estimitedSubTotal = 0 %}
                                                            {% set subTotal = 0 %}
                                                            {% for item in entity.tenderItemDetails %}
                                                                {% set estimitedSubTotal = estimitedSubTotal + (item.poQuantity * item.requisitionItem.price) %}
                                                                {% set subTotal = subTotal + (item.issueQuantity * item.price) %}
                                                                <tr>
                                                                    <td>{{ loop.index }}</td>
                                                                    <td><a target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisitionItem.requisition.id}) }}">{{ item.requisitionItem.requisition.requisitionNo }}</a></td>
                                                                    <td>{% if item.stockBook is not empty  %}{{ item.stockBook.item.name }}{% endif %}</td>
                                                                    <td>{% if item.stockBook is not empty and item.stockBook.brand %}{{ item.stockBook.brand.name }}{% endif %}</td>
                                                                    <td>{% if item.stockBook is not empty and item.stockBook.size %}{{ item.stockBook.size.name }}{% endif %}</td>
                                                                    <td>{% if item.stockBook is not empty and item.stockBook.color %}{{ item.stockBook.color.name }}{% endif %}</td>
                                                                    <td>{{ item.stockBook.uom }}</td>
                                                                    <td>{{ item.poQuantity }}</td>
                                                                    <td>{{ item.requisitionItem.price }}</td>
                                                                    <td>{{ (item.poQuantity * item.requisitionItem.price)|number_format(2) }}</td>
                                                                    {% if entity.processMode == "workorder" %}
                                                                        <td>
                                                                            <input type="hidden" class="td-input form-control" name="itemId[{{ item.id }}]" value="{{ item.id }}" id="itemId-{{ item.id }}">
                                                                            <input type="text" class="td-input form-control directTenderItem" data-id="{{ item.id }}" data-action="{{ path('procure_tender_garments_item_update',{'invoice':entity.id,'id':item.id}) }}"  name="quantity[{{ item.id }}]" value="{{ item.issueQuantity }}" id="quantity-{{ item.id }}">
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="td-input form-control directTenderItem" data-id="{{ item.id }}" data-action="{{ path('procure_tender_garments_item_update',{'invoice':entity.id,'id':item.id}) }}"  name="price[{{ item.id }}]" value="{{ item.price }}" id="price-{{ item.id }}">
                                                                        </td>
                                                                    {% else %}
                                                                        <td>{{ item.issueQuantity }}</td>
                                                                        <td>{{ item.price }}</td>
                                                                    {% endif %}
                                                                    <td>{{ item.subTotal|number_format(2) }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        <tr><th colspan="9" class="text-right">Total(Approximatly)</th>
                                                            <th>{{ estimitedSubTotal|number_format(2) }}</th>
                                                            <td></td>
                                                            <td></td>
                                                            <th>{{ subTotal|number_format(2) }}</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if entity.condition is defined and entity.condition.conditionItems is defined and  entity.condition.conditionItems is not empty %}
                                            {% for keyValue in entity.condition.conditionItems %}
                                                <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            <input type="checkbox" name="conditionItem[{{ keyValue.id }}]" checked="checked" value="{{ keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" name="conditionKey[{{ keyValue.id }}]" id="conditionKey-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <textarea name="conditionValue[{{ keyValue.id }}]" id="conditionValue-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter your comments">{{ keyValue.metaValue }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a href="#" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Print</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.condition').change(function(e){
        var condition = $(this).val();
        var url = Routing.generate('procure_garments_tender_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
        location.reload();
        });
    });
    function financial(val) {
    return Number.parseFloat(val).toFixed(2);
    }
    $(document).on("change", ".directTenderItem", function() {
        var sum = 0;
        url = $(this).attr('data-action');
        id = $(this).attr('data-id');
        qty = ($('#quantity-'+id).val() === "" || $(this).val() === "NaN") ? 0 : $("#quantity-"+id).val();
        price = ($('#price-'+id).val() === "" || $(this).val() === "NaN") ? 0 : $('#price-'+id).val();
        quotationSubTotal = (price * qty);
        $('#quotationSubTotal-'+id).html(financial(quotationSubTotal))
        $(".quotationSub").each(function(){
        amount = ($(this).html() === "" || $(this).html() === "NaN") ? 0 : $(this).html();
        sum += +parseFloat(amount);
        });
        if (sum > 0) {
        $('#quotationTotal').html(financial(sum));
        }
        $.ajax({
        url: url,
        type: 'POST',
        data:'quantity='+ qty+'&price='+ price,
            success: function(response) {
                $('#invoiceParticular').html(response);
            }
        })
    });

{% endblock %}
