{% if entity.tenderItemDetails is not empty %}
    {% set i = 1  %}
    {% set estimitedSubTotal = 0 %}
    {% set subTotal = 0 %}
    {% for item in entity.tenderItemDetails %}
        {% set estimitedSubTotal = estimitedSubTotal + (item.poQuantity * item.requisitionItem.price) %}
        {% set subTotal = subTotal + (item.issueQuantity * item.price) %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisitionItem.requisition.id}) }}">{{ item.requisitionItem.requisition.requisitionNo }}</a></td>
            <td>{% if item.stockBook is not empty  %}{{ item.stockBook.item.name }}{% endif %}</td>
            <td>{% if item.stockBook is not empty and item.stockBook.brand %}{{ item.stockBook.brand.name }}{% endif %}</td>
            <td>{% if item.stockBook is not empty and item.stockBook.size %}{{ item.stockBook.size.name }}{% endif %}</td>
            <td>{% if item.stockBook is not empty and item.stockBook.color %}{{ item.stockBook.color.name }}{% endif %}</td>
            <td>{{ item.stockBook.uom }}</td>
            <td>{{ item.poQuantity }}</td>
            <td>{{ item.requisitionItem.price }}</td>
            <td>{{ (item.poQuantity * item.requisitionItem.price)|number_format(2) }}</td>
            {% if entity.processMode == "workorder" %}
                <td>
                    <input type="hidden" class="td-input form-control" name="itemId[{{ item.id }}]" value="{{ item.id }}" id="itemId-{{ item.id }}">
                    <input type="text" class="td-input form-control directTenderItem" data-id="{{ item.id }}" data-action="{{ path('procure_tender_garments_item_update',{'invoice':entity.id,'id':item.id}) }}"  name="quantity[{{ item.id }}]" value="{{ item.issueQuantity }}" id="quantity-{{ item.id }}">
                </td>
                <td>
                    <input type="text" class="td-input form-control directTenderItem" data-id="{{ item.id }}" data-action="{{ path('procure_tender_garments_item_update',{'invoice':entity.id,'id':item.id}) }}"  name="price[{{ item.id }}]" value="{{ item.price }}" id="price-{{ item.id }}">
                </td>
            {% else %}
                <td>{{ item.issueQuantity }}</td>
                <td>{{ item.price }}</td>
            {% endif %}
            <td>{{ item.subTotal|number_format(2) }}</td>
        </tr>
    {% endfor %}
{% endif %}
<tr><th colspan="9" class="text-right">Total(Approximatly)</th>
    <th>{{ estimitedSubTotal|number_format(2) }}</th>
    <td></td>
    <td></td>
    <th>{{ subTotal|number_format(2) }}</th>
</tr>