{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'R.F.Q Preparetion'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'R.F.Q Preparetion'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>R.F.Q Preparation</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','data-action':path('procure_tender_garments_ajax_update',{'id':entity.id})}}) }}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.condition, 'Template'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.condition) }}
                                                        {{ form_errors(form.condition) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="">Requisition No</label>
                                                    {% if entity.requisition %}
                                                    <label class="col-md-8 control-label text-left" for=""><a class="entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.requisition.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisition.requisitionNo }}" id="postView-{{ entity.requisition.id }}">{{ entity.requisition.requisitionNo }}</a></label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.shipTo, 'Shipment To'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.shipTo) }}
                                                        {{ form_errors(form.shipTo) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.paymentMode, 'Payment Mode'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.paymentMode) }}
                                                        {{ form_errors(form.paymentMode) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.deliveryDate, 'Delivery Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.deliveryDate) }}
                                                        {{ form_errors(form.deliveryDate) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.tenderReplyDate, 'Reply Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.tenderReplyDate) }}
                                                        {{ form_errors(form.tenderReplyDate) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.subject) }}
                                                        {{ form_errors(form.subject) }}
                                                        {{ form_help(form.subject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Body'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                        {{ form_help(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Tender Items'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">PR No</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">Brand</th>
                                                        <th scope="col">Size</th>
                                                        <th scope="col">Color</th>
                                                        <th scope="col">UOM</th>
                                                        <th scope="col">PO issue</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col">SubTotal</th>
                                                        <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.tenderItems is not empty %}
                                                        {% set i = 1  %}
                                                        {% for item in entity.tenderItemDetails %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td><a target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisitionItem.requisition.id}) }}">{{ item.requisitionItem.requisition.requisitionNo }}</a></td>
                                                                <td>{% if item.stockBook is not empty  %}{{ item.stockBook.item.name }}{% endif %}</td>
                                                                <td>{% if item.stockBook is not empty and item.stockBook.brand %}{{ item.stockBook.brand.name }}{% endif %}</td>
                                                                <td>{% if item.stockBook is not empty and item.stockBook.brand %}{{ item.stockBook.brand.name }}{% endif %}</td>
                                                                <td>{% if item.stockBook is not empty and item.stockBook.brand %}{{ item.stockBook.brand.name }}{% endif %}</td>
                                                                <td>{{ item.stockBook.uom }}</td>
                                                                <td>{{ item.issueQuantity }}</td>
                                                                {#<td>
                                                                    <input type="hidden" class="td-input form-control" name="itemId[]" value="{{ item.id }}" id="itemId-{{ item.id }}">
                                                                    <input type="text" class="td-input form-control approveQuantity" data-id="{{ item.id }}" data-action="{{ path('procure_tender_garments_item_update',{'invoice':entity.id,'id':item.id}) }}" name="issue[]" value="{{ item.issueQuantity }}" id="approveQuantity-{{ item.id }}">
                                                                </td>#}
                                                                <td>{{ item.price }}</td>
                                                                <td>{{ item.subTotal|number_format(2) }}</td>
                                                                <td>{#<a href="javascript:" data-action="{{ path('procure_tender_garments_item_delete',{'id':item.id}) }}" class="btn  btn-sm btn-transparent red-font remove"><i class="fas fa-remove"></i></a>#}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr><th colspan="9" class="text-right">Total(Approximatly)</th><th>{{ entity.subTotal|number_format(2) }}</th><td></td></tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="{{ form.vendors.vars.id }}" class="control-label col-md-2"> Vendor Selection</label>
                                                    <div class="col-md-10">
                                                        <div class="input-icon right">
                                                            <div class="controls">
                                                                {{ form_errors(form.vendors) }}
                                                                {{ form_widget(form.vendors, {'attr': {'class': 'form-control  vendors span6 m-wrap'}}) }}
                                                                {{ form_help(form.vendors) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="card-header grey-bg inner-header">
                                             <h5>Add Additional Vendors</h5>
                                             <div class="card-header-right">
                                                 <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                     <button type="button" id="addrow" class="btn btn-sm  blue-bg white-font addmore"><i class="fas fa-plus"></i> Add Vendor</button>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="card-body card-body-inner form-box-body">
                                             <div class="col-md-12 clone-block" id="clone-block">
                                                 <div class="clone">
                                                     <div class="row">
                                                         <div class="col-md-3">
                                                             <input type="text" name="name[]" id="name" class="form-control form-control-sm" placeholder="Enter vendor name" value="">
                                                             <input type="hidden" name="metaId[]" id="metaId" value="">
                                                         </div>
                                                          <div class="col-md-2">
                                                             <input type="text" name="contactName[]" id="contactName" class="form-control form-control-sm" placeholder="Enter contact name" value="">
                                                         </div>
                                                          <div class="col-md-4">
                                                             <input type="text" name="address[]" id="address" class="form-control form-control-sm" placeholder="Enter vendor address" value="">
                                                         </div>
                                                         <div class="col-md-3">
                                                             <div class="input-group">
                                                                 <input type="text" name="phone[]" id="phone" class="form-control form-control-sm" placeholder="Enter phone">
                                                                 <div class="input-group-append">
                                                                     <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                         <i class="fa fa-remove"></i>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             {% if entity.tenderVendors is not empty %}
                                                 {% for keyValue in entity.tenderVendors %}
                                                     <div class="col-md-12 clone-remove" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                         <div class="row">
                                                             <div class="col-md-3">
                                                                 <input type="text" name="name[]" id="name" class="form-control form-control-sm" placeholder="Enter vendor name" value="{{ keyValue.name }}">
                                                                 <input type="hidden" name="metaId[]" id="metaId" value="{{ keyValue.id }}">
                                                             </div>
                                                             <div class="col-md-2">
                                                                 <input type="text" name="contactName[]" id="contactName" class="form-control form-control-sm" placeholder="Enter contact name" value="{{ keyValue.contactPerson }}">
                                                             </div>
                                                             <div class="col-md-4">
                                                                 <input type="text" name="address[]" id="address" class="form-control form-control-sm" placeholder="Enter vendor address" value="{{ keyValue.address }}">
                                                             </div>
                                                             <div class="col-md-3">
                                                                 <div class="input-group">
                                                                     <input type="text" name="phone[]" id="phone" class="form-control form-control-sm" placeholder="Enter phone" value="{{ keyValue.phone }}">
                                                                     <div class="input-group-append">
                                                                         <div data-action="{{ path('procure_tender_garments_vendor_delete',{'id':keyValue.id}) }}" data-id="{{ keyValue.id }}" class="btn  btn-sm btn-transparent red-font meta-remove">
                                                                             <i class="fas fa-remove"></i>
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 {% endfor %}
                                             {% endif %}
                                             <div class="clearfix"></div>
                                             <div class="card-header grey-bg inner-header">
                                                 <h5>{{ 'Tender Terms & Conditions'|trans }}</h5>
                                             </div>
                                             <div class="clearfix"></div>
                                             {% if entity.conditionItems is defined  and  entity.conditionItems is not empty %}
                                                 {% for keyValue in entity.conditionItems %}
                                                     <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                                                         <div class="row">
                                                             <div class="col-md-1">
                                                                 <input type="checkbox" name="conditionStatus[{{ keyValue.id }}]" {% if keyValue.status == 1 %} checked {% endif %} value="{{ keyValue.status }}">
                                                                 <input type="hidden" name="conditionItem[]"  value="{{ keyValue.id }}">
                                                             </div>
                                                             <div class="col-md-3">
                                                                 <input type="text" name="conditionKey[{{ keyValue.id }}]" id="conditionKey-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                             </div>
                                                             <div class="col-md-8">
                                                                 <div class="input-group">
                                                                     <textarea name="conditionValue[{{ keyValue.id }}]" id="conditionValue-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter your comments">{{ keyValue.metaValue }}</textarea>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 {% endfor %}
                                             {% endif %}
                                             <div class="clearfix"></div>
                                             <div class="clearfix"></div>
                                             {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                                 {{ render(controller(
                                                     "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                     { 'id': entity.id,'module':entity.module}
                                                 )) }}
                                             {% endif %}
                                             <div class="clearfix"></div>
                                         </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a href="#" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Print</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/jquery.quicksearch.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
  //  jqueryTemporaryLoad();
    $('.condition').change(function(e){
        var condition = $(this).val();
        var url = Routing.generate('procure_garments_tender_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
            location.reload();
        });
    });

    $('.vendors').multiSelect({
    selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='Search...'>",
    selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='Search...'>",
    afterInit: function(ms) {
    var that = this,
    $selectableSearch = that.$selectableUl.prev(),
    $selectionSearch = that.$selectionUl.prev(),
    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
    .on('keydown', function(e) {
    if (e.which === 40) {
    that.$selectableUl.focus();
    return false;
    }
    });

    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
    .on('keydown', function(e) {
    if (e.which == 40) {
    that.$selectionUl.focus();
    return false;
    }
    });
    },
    afterSelect: function() {
    this.qs1.cache();
    this.qs2.cache();
    },
    afterDeselect: function() {
    this.qs1.cache();
    this.qs2.cache();
    },
    selectableOptgroup: true
    });
{% endblock %}
