{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Open Items'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered" >
                                <thead class="thead-green">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="3" >{{ form_widget(searchForm.requisitionNo) }}</td>
                                        <td>{{ form_widget(searchForm.keyword) }}</td>
                                        <td>{{ form_widget(searchForm.department) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">PR No</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">PR Qyt</th>
                                    <th scope="col">PR Remain</th>
                                    <th scope="col">PO issue</th>
                                    <th scope="col">Remain</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'submitBtn'}}) }}
                                <tbody>
                                {% if entities is not empty %}
                                    {% set i = 1  %}
                                    {% for entity in entities %}
                                        {% for item in entity %}
                                            <tr>
                                                {% if loop.index==1 %}
                                                    <td rowspan="{{ entity|length }}">{{ i }}</td>
                                                    <td rowspan="{{ entity|length }}">{{ item.itemName }}</td>
                                                {% endif %}
                                                <td>{#<a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.requisitionId }}"><i class="feather icon-eye"></i> {{ item.requisitionNo }}</a>#} {{ item.requisitionNo }} </td>
                                                <td width="20%">
                                                    {% for share in companyShares[item.requisitionId] %}
                                                        <span style="font-size: 10px; padding-right: 10px">{{ share.branchName }} ({{ share.branchShare }})% </span>
                                                    {% endfor %}
                                                </td>
                                                <td>{{ item.department }}</td>
                                                <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                                <td>{{ item.brandName }}</td>
                                                <td>{{ item.sizeName }}</td>
                                                <td>{{ item.colorName }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.remaining }}</td>
                                                <td>
                                                    <input type="hidden" class="td-input form-control" name="prId[]" value="{{ item.id }}" id="prId-{{ item.id }}">
                                                    <input type="text" class="td-input form-control number" name="issue[]" value="" id="issue-{{ item.id }}">
                                                </td>
                                                <td></td>
                                                <td><a href="{{ path('procure_tender_garments_item_close',{'id':item.id}) }}" class="btn btn-mini red-bg white-font"><i class="feather icon-x-square"></i> Close</a></td>
                                            </tr>
                                        {% endfor %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                {{ form_widget(form._token) }}
                                {{ form_end(form) }}
                            </table>
                        </div>
                    </div>
                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="btn-group" role="group">
                                    <button type="submit" id="submitBtn" name="save" class="btn btn-info form-submit">Next <i class="feather  icon-chevrons-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
