{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title>RFQ/Direct Workorder Approval</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>

</head>
<body style="color: #0a0a0a">
{% if mode=='preview' %}
    <div class="container">
        <div class="row" style="background-color: #c0c2ce; font-size: 16px; padding: 5px">
            <div class="col-md-6"><strong>Preview</strong></div>
            <div class="col-md-6 text-right">
                <div class="btn-group">
                    <a class="btn btn-print" href="{{ path('procure_tender_garments_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i> Print</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="container mt-2 mb-5" style="border: {{ mode=='preview' ? '1px dotted gray': ''}}">
    <div class="row">
        <div class="col-md-12 text-center mb-3" style="text-transform: uppercase"><strong>Tender Detail</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>TP No.</strong></div>
        <div class="col-md-4">{{ entity.invoice }}</div>
        <div class="col-md-2 text-right"><strong>Created</strong></div>
        <div class="col-md-3 text-left">{{ entity.created|date('d-m-Y') }}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>To email</strong></div>
        <div class="col-md-4">{{ entity.email|raw }}</div>
        <div class="col-md-2 text-right"><strong>Created By</strong></div>
        <div class="col-md-3 text-left">{{  entity.createdBy.name  }}</div>
    </div>

    {% if entity.tenderComparative is not empty %}
        <div class="row mt-1">
            <div class="col-md-3"><strong>CS No.</strong></div>
            <div class="col-md-9">{{ entity.subject|raw }}</div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3"><strong>CS Created</strong></div>
            <div class="col-md-9">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3"><strong>CS Created By</strong></div>
            <div class="col-md-9">{% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
        </div>
    {% endif %}

    <div class="row mt-1">
        <div class="col-md-3"><strong>Subject</strong></div>
        <div class="col-md-9">{{ entity.subject|raw }}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>Body</strong></div>
        <div class="col-md-9" style="text-align: justify">{{ entity.content|raw }}</div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 mb-2"><strong>Tender Items</strong></div>
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-green">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Requisition No</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">UOM</th>
                    <th scope="col">PO Qty</th>
                    <th scope="col">Estimited Price</th>
                    <th scope="col">Estimited SubTotal</th>
                    <th scope="col">Approve QTY</th>
                    <th scope="col">Approve Price</th>
                    <th scope="col">SubTotal</th>
                </tr>
                </thead>
                <tbody id="invoiceParticular">
                {% set estimitedSubTotal = 0 %}
                {% set subTotal = 0 %}
                {% if entity.tenderItemDetails is not empty %}
                    {% set i = 1  %}
                    {% set subTotal = 0 %}
                    {% for item in entity.tenderItemDetails %}
                        {% set estimitedSubTotal = estimitedSubTotal + (item.poQuantity * item.requisitionItem.price) %}
                        {% set subTotal = subTotal + (item.issueQuantity * item.price) %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.requisitionItem.requisition.requisitionNo }}</td>
                            <td>{% if item.stockBook is not empty  %}{{ item.stockBook.item.name }}{% endif %}</td>
                            <td>{% if item.stockBook is not empty and item.stockBook.brand %}{{ item.stockBook.brand.name }}{% endif %}</td>
                            <td>{% if item.stockBook is not empty and item.stockBook.size %}{{ item.stockBook.size.name }}{% endif %}</td>
                            <td>{% if item.stockBook is not empty and item.stockBook.color %}{{ item.stockBook.color.name }}{% endif %}</td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{{ item.poQuantity }}</td>
                            <td>{{ item.requisitionItem.price }}</td>
                            <td>{{ (item.poQuantity * item.requisitionItem.price)|number_format(2) }}</td>
                            <td>{{ item.issueQuantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.subTotal|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr><th colspan="9" class="text-right">Total(Approximatly)</th>
                    <th>{{ estimitedSubTotal|number_format(2) }}</th>
                    <td></td>
                    <td></td>
                    <th>{{ subTotal|number_format(2) }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
        <div class="row">
            <div class="col-md-2"><strong>Terms & Condition</strong></div>
            <div class="col-md-10">
                <ul>
                    {% for keyValue in entity.conditionItems %}
                        {% if keyValue.status == 1 %}
                            <li>{{ keyValue.metaValue|raw }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12"><br/></div>
    </div>
    {% if approvals is not empty %}
    <div class="row">
        <div class="col-md-12"><div class="div-br-30"><strong>Comments</strong></div></div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th class="text-left">S/N</th>
                    <th class="text-left">Comment By</th>
                    <th class="text-left">Created</th>
                    <th class="text-left">Comment</th>
                    <th class="text-left">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for list in approvals %}
                    <tr>
                        <td class="text-left">{{ loop.index }}.</td>
                        <td class="text-left">{% if list.assignTo %}{{ list.assignTo.name }}{% endif %}</td>
                        <td class="text-left">{{ list.updated|date('d-m-Y h:i') }}</td>
                        <td class="text-left">{{ list.comment|raw }}</td>
                        <td class="text-left">{{ list.process }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row"><div class="div-br-30"></div></div>
    {% endif %}
    <div><strong>Signatures</strong></div>
    <div class="row">
        <div class="col-md-12"><br/></div>
    </div>
    <div class="row">
        {% if approvals is not empty %}
            <div class="grid-comment-signature">
                <div class="col-md-12 text-left">
                    <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                        {% if entity.createdBy.profile.signaturePath is not empty %}
                            <img style="height: 60px"
                                 src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                            <br/>
                        {% endif %}
                        {{ entity.createdBy.name }}
                        <br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                    </div>
                </div>
                {% for list in approvals %}
                    {% if list.close == true %}
                        <div class="col-md-12 text-left">
                            <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                                {% if list.assignTo.profile.signaturePath is not empty %}
                                    <img style="height: 60px"
                                         src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                    <br/>
                                {% endif %}
                                {{ list.assignTo.name }}
                                <br/>{% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
</body>
</html>

