{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'R.F.Q/Direct Tender Approval Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            {% if entity.processMode == "tender" %}
                            <a href="{{ path('procure_tender_garments',{'mode':'approve'})}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'R.F.Q Approval'|trans }}</a>
                            {% else %}
                            <a href="{{ path('procure_tender_direct_garments',{'mode':'approve'})}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Direct Tender Approval'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box">
                                <div class="portlet-title portlet-title-green">
                                    <div class="caption">{{ 'R.F.Q/Direct Tender Approve'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>R.F.Q No.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Company Unit</strong></div>
                                                    <div class="col-md-8">
                                                        {% if entity.requisition is not empty  %}
                                                        {{ entity.requisition.companyUnit.name }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Department</strong></div>
                                                    <div class="col-md-8">
                                                        {% if entity.requisition is not empty  %}
                                                            {{ entity.requisition.processDepartment.name }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Requisition</strong></div>
                                                    <div class="col-md-8">{{ entity.requisition.requisitionNo }}</div>
                                                </div>
                                                {% if entity.tenderComparative is not empty %}
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>CS No.</strong></div>
                                                        <div class="col-md-8">{{ entity.tenderComparative.invoice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8"> {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Shipment Location</strong></div>
                                                    <div class="col-md-8">{% if entity.shipTo %}{{ entity.shipTo.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Delivery Date</strong></div>
                                                    <div class="col-md-8">{{ entity.deliveryDate|date('d-m-Y') }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Payment Mode</strong></div>
                                                    <div class="col-md-8">{% if entity.paymentMode %}{{ entity.paymentMode.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Reply Date</strong></div>
                                                    <div class="col-md-8">{{ entity.tenderReplyDate|date('d-m-Y') }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10">{{ entity.subject|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Description</strong></div>
                                            <div class="col-md-10">{{ entity.content|raw }}</div>
                                        </div>

                                        <div class="card-header grey-bg inner-header">
                                            <h5>Tender Items</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Requisition No</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">Brand</th>
                                                        <th scope="col">Size</th>
                                                        <th scope="col">Color</th>
                                                        <th scope="col">UOM</th>
                                                        <th scope="col">PO Qty</th>
                                                        <th scope="col">Estimited Price</th>
                                                        <th scope="col">Estimited SubTotal</th>
                                                        <th scope="col">Approve QTY</th>
                                                        <th scope="col">Approve Price</th>
                                                        <th scope="col">SubTotal</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceParticular">
                                                    {% set estimitedSubTotal = 0 %}
                                                    {% set subTotal = 0 %}
                                                    {% if entity.tenderItemDetails is not empty %}
                                                        {% set i = 1  %}
                                                        {% set subTotal = 0 %}
                                                        {% for item in entity.tenderItemDetails %}
                                                            {% set estimitedSubTotal = estimitedSubTotal + (item.poQuantity * item.requisitionItem.price) %}
                                                            {% set subTotal = subTotal + (item.issueQuantity * item.price) %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td><a target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisitionItem.requisition.id}) }}">{{ item.requisitionItem.requisition.requisitionNo }}</a></td>
                                                                <td>{% if item.stockBook is not empty  %}{{ item.stockBook.item.name }}{% endif %}</td>
                                                                <td>{% if item.stockBook is not empty and item.stockBook.brand %}{{ item.stockBook.brand.name }}{% endif %}</td>
                                                                <td>{% if item.stockBook is not empty and item.stockBook.size %}{{ item.stockBook.size.name }}{% endif %}</td>
                                                                <td>{% if item.stockBook is not empty and item.stockBook.color %}{{ item.stockBook.color.name }}{% endif %}</td>
                                                                <td>{{ item.stockBook.uom }}</td>
                                                                <td>{{ item.poQuantity }}</td>
                                                                <td>{{ item.requisitionItem.price }}</td>
                                                                <td>{{ (item.poQuantity * item.requisitionItem.price)|number_format(2) }}</td>
                                                                {% if entity.processMode == "workorder" %}
                                                                    <td>
                                                                        <input type="hidden" class="td-input form-control" name="itemId[{{ item.id }}]" value="{{ item.id }}" id="itemId-{{ item.id }}">
                                                                        <input type="text" class="td-input form-control directTenderItem" data-id="{{ item.id }}" data-action="{{ path('procure_tender_garments_item_update',{'invoice':entity.id,'id':item.id}) }}"  name="quantity[{{ item.id }}]" value="{{ item.issueQuantity }}" id="quantity-{{ item.id }}">
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="td-input form-control directTenderItem" data-id="{{ item.id }}" data-action="{{ path('procure_tender_garments_item_update',{'invoice':entity.id,'id':item.id}) }}"  name="price[{{ item.id }}]" value="{{ item.price }}" id="price-{{ item.id }}">
                                                                    </td>
                                                                {% else %}
                                                                    <td>{{ item.issueQuantity }}</td>
                                                                    <td>{{ item.price }}</td>
                                                                {% endif %}
                                                                <td>{{ item.subTotal|number_format(2) }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <tr><th colspan="9" class="text-right">Total(Approximatly)</th>
                                                        <th>{{ estimitedSubTotal|number_format(2) }}</th>
                                                        <td></td>
                                                        <td></td>
                                                        <th>{{ subTotal|number_format(2) }}</th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% if entity.tenderVendors is not empty %}
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Vendors</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">Vendor Name</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Phone</th>
                                                        <th scope="col">Email</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.tenderVendors is not empty %}
                                                        {% for vendor in entity.tenderVendors  %}
                                                            <tr>
                                                                <td>{{ vendor.name }}</td>
                                                                <td>{{ vendor.address }}</td>
                                                                <td>{{ vendor.phone }}</td>
                                                                <td>{{ vendor.email }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="clearfix"></div>

                                        <div class="row">
                                            <div class="col-md-2"><strong>Terms & Condition</strong></div>
                                            <div class="col-md-10">{{ entity.terms|raw }}</div>
                                        </div>
                                        {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                                            {% for keyValue in entity.conditionItems %}
                                                <div class="row">
                                                    <div class="col-md-2">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                                                    <div class="col-md-10">{{ keyValue.metaValue|raw }}</div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm'}}) }}
                                        <div class="form-inner-no-space">
                                            <div class="row">
                                                <div class="col-md-12 form-box-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                    {{ form_errors(form.comment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <div class="btn-group" >
                                                                <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                                <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.condition').change(function(e){
    var condition = $(this).val();
    var url = Routing.generate('procure_garments_tender_condition',{'id':'{{ entity.id }}'});
    $.get(url,{'condition':condition}, function( response ) {
    location.reload();
    });
    });
    function financial(val) {
    return Number.parseFloat(val).toFixed(2);
    }

    $(document).on("change", ".directTenderItem", function() {
        var sum = 0;
        url = $(this).attr('data-action');
        id = $(this).attr('data-id');
        qty = ($('#quantity-'+id).val() === "" || $(this).val() === "NaN") ? 0 : $("#quantity-"+id).val();
        price = ($('#price-'+id).val() === "" || $(this).val() === "NaN") ? 0 : $('#price-'+id).val();
        quotationSubTotal = (price * qty);
        $('#quotationSubTotal-'+id).html(financial(quotationSubTotal))
        $(".quotationSub").each(function(){
        amount = ($(this).html() === "" || $(this).html() === "NaN") ? 0 : $(this).html();
        sum += +parseFloat(amount);
        });
        if (sum > 0) {
        $('#quotationTotal').html(financial(sum));
        }
        $.ajax({
        url: url,
        type: 'POST',
        data:'quantity='+ qty+'&price='+ price,
        success: function(response) {
        $('#invoiceParticular').html(response);
        }
        })
    });

{% endblock %}

