{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Open Items'|trans }}</h5>
                    {#{% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm" >
                                <a href="{{ path('procure_tender_garments_open_item') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'PO Open Item'|trans }}</a>
                            </div>
                        </div>
                    {% endif %}#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">SL</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Req No</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">UOM</th>
                                    <th scope="col">PR QTY</th>
                                    <th scope="col">PR Remain</th>
                                    <th scope="col">PO issue</th>
                                    <th scope="col">Remain</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">SubTotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set total = 0 %}
                                {% if entities is not empty %}
                                    {% set i = 1  %}
                                    {% for entity in entities %}
                                    {% for item in entity %}
                                        {% set total = total + (item.remaining|default(0) * item.price)  %}
                                        <tr>
                                           {# {% if loop.index==1 %}#}
                                            {#{% endif %}#}
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                            <td>{{ item.branches }}</td>
                                            <td>{{ item.unitName }}</td>
                                            <td>{#<a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.requisitionId }}"><i class="feather icon-eye"></i> {{ item.requisitionNo }}</a>#} {{ item.requisitionNo }}</td>
                                            <td>{{ item.itemName }}</td>
                                            <td>{{ item.brandName }}</td>
                                            <td>{{ item.sizeName }}</td>
                                            <td>{{ item.colorName }}</td>
                                            <td>{{ item.uom }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.remaining }}</td>
                                            <td>
                                                <input type="hidden" class="td-input form-control" name="price[]" data-id="{{ item.id }}" value="{{ item.price }}" id="price-{{ item.id }}">
                                                <input type="hidden" class="td-input form-control" name="prId[]" value="{{ item.id }}" id="prId-{{ item.id }}">
                                                <input type="hidden" class="td-input form-control" name="quantity[]" value="{{ item.remaining }}" id="quantity-{{ item.id }}">
                                                <input type="text" class="td-input form-control number remainItem" data-id="{{ item.id }}" name="issue[]" min="0" value="0" max="{{ item.remaining }}" id="issue-{{ item.id }}">
                                            </td>
                                            <td id="remaining-{{ item.id }}"></td>
                                            <td>{{ item.price|number_format(2) }}</td>
                                            <td class="subTotal" id="subTotal-{{ item.id }}"></td>
                                        </tr>
                                    {% endfor %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr><th colspan="13" class="text-right">SubTotal</th><th><span id="total"></span></th><td></td></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-12 text-right">

                                <div class="btn-group" role="group">
                                    {{ form_widget(form.subTotal) }} &nbsp;
                                    {{ form_widget(form.isTender) }} &nbsp;
                                    <button type="submit" id="submitBtn" name="save" class="btn btn-info form-submit">Next <i class="feather  icon-chevrons-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/jquery.cookie.min.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    var items = $.cookie('itemIds') ? $.cookie('itemIds').split(',') : [];
    $('body').on('click', 'input.itemId', function(el) {
        console.log(items);
        var val = $(this).val();
        if($(this).prop('checked')) {
        items.push(val);
        }else{
        var index = items.indexOf(val);
        if (index > -1) {
        items.splice(index, 1);
        }
        }
        $.cookie('itemIds', items, {path: '/'});
    });
    jqueryTemporaryLoad();
{% endblock %}
