
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Invoice No.</strong></div>
                            <div class="col-md-8">{{ entity.invoice }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8">{{ entity.createdBy.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% if entity.requisition is not empty  %}
                            <div class="row">
                                <div class="col-md-4"><strong>Company Unit</strong></div>
                                <div class="col-md-8">{{ entity.requisition.companyUnit.code }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Department</strong></div>
                                <div class="col-md-8">{{ entity.requisition.processDepartment.name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Requisition</strong></div>
                                <div class="col-md-8">{{ entity.requisition.requisitionNo }}</div>
                            </div>
                        {% endif %}
                        {% if entity.tenderComparative is not empty %}
                            <div class="row">
                                <div class="col-md-4"><strong>CS No.</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.invoice }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created By</strong></div>
                                <div class="col-md-8"> {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Subject</strong></div>
                    <div class="col-md-10"><p>{{ entity.subject|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>To Email</strong></div>
                    <div class="col-md-10"><p>{{ entity.email|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Body</strong></div>
                    <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Terms & Condition</strong></div>
                    <div class="col-md-10"><p>{{ entity.terms|raw }}</p></div>
                </div>
                {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                    {% for keyValue in entity.conditionItems %}
                        <div class="row">
                            <div class="col-md-2">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                            <div class="col-md-10">{{ keyValue.metaValue|raw }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-header grey-bg inner-header">
                    <h5>Tender Items</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-green">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Requisition No</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Size</th>
                                <th scope="col">Color</th>
                                <th scope="col">UOM</th>
                                <th scope="col">PO Qty</th>
                                <th scope="col">Estimited Price</th>
                                <th scope="col">Estimited SubTotal</th>
                                <th scope="col">Approve QTY</th>
                                <th scope="col">Approve Price</th>
                                <th scope="col">SubTotal</th>
                            </tr>
                            </thead>
                            <tbody id="invoiceParticular">
                            {% set estimitedSubTotal = 0 %}
                            {% set subTotal = 0 %}
                            {% if entity.tenderItemDetails is not empty %}
                                {% set i = 1  %}
                                {% for item in entity.tenderItemDetails %}
                                    {% set estimitedSubTotal = estimitedSubTotal + (item.poQuantity * item.requisitionItem.price) %}
                                    {% set subTotal = subTotal + (item.issueQuantity * item.price) %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td><a target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':item.requisitionItem.requisition.id}) }}">{{ item.requisitionItem.requisition.requisitionNo }}</a></td>
                                        <td>{% if item.stockBook is not empty  %}{{ item.stockBook.item.name }}{% endif %}</td>
                                        <td>{% if item.stockBook is not empty and item.stockBook.brand %}{{ item.stockBook.brand.name }}{% endif %}</td>
                                        <td>{% if item.stockBook is not empty and item.stockBook.size %}{{ item.stockBook.size.name }}{% endif %}</td>
                                        <td>{% if item.stockBook is not empty and item.stockBook.color %}{{ item.stockBook.color.name }}{% endif %}</td>
                                        <td>{{ item.stockBook.uom }}</td>
                                        <td>{{ item.poQuantity }}</td>
                                        <td>{{ item.requisitionItem.price }}</td>
                                        <td>{{ (item.poQuantity * item.requisitionItem.price)|number_format(2) }}</td>
                                        <td>{{ item.issueQuantity }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.subTotal|number_format(2) }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr><th colspan="9" class="text-right">Total(Approximatly)</th>
                                <th>{{ estimitedSubTotal|number_format(2) }}</th>
                                <td></td>
                                <td></td>
                                <th>{{ subTotal|number_format(2) }}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if entity.tenderVendors is not empty %}
                    <div class="clearfix"></div>
                    <div class="card-header grey-bg inner-header">
                        <h5>Vendors</h5>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">Vendor Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if entity.tenderVendors is not empty %}
                                    {% for vendor in entity.tenderVendors  %}
                                        <tr>
                                            <td>{{ vendor.name }}</td>
                                            <td>{{ vendor.address }}</td>
                                            <td>{{ vendor.phone }}</td>
                                            <td>{{ vendor.email }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
