{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Job Approval Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_jobrequisition_new',{'requisitionMode':'CAPEX'}) }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New CAPEX'|trans }}</a>
                            <a href="{{ path('procure_jobrequisition_new',{'requisitionMode':'OPEX'}) }}" class="btn btn-sm blue-bg  white-font"><i class="fa fa-plus"></i>{{ 'New OPEX'|trans }}</a>
                            <a href="{{ path('procure_jobrequisition')}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Job Approval'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">{{ 'Job Approval Request'|trans }} </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="row">
                                <div class="col-md-12 form-box-header"><p>Job Approval request details</p></div>
                            </div>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','action':path('procure_jobrequisition_edit',{'id':entity.id}),'data-action':path('procure_jobrequisition_ajax_update',{'id':entity.id})}}) }}
                            <div class="form-box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Job Approval No"|trans }}</label>
                                                    <div class="col-md-6">{{ entity.requisitionNo }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Requisition Mode"|trans }}</label>
                                                    <div class="col-md-8">{{ entity.requisitionMode }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Created Date"|trans }}</label>
                                                    <div class="col-md-6">{{ entity.created|date('d-m-Y') }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {#<div class="col-md-6 grid-products">
                                        #}{#{% if branches is not empty %}
                                            {% for branch in branches  %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-6 text-right">{{ branch.code }}</label>
                                                            <div class="col-md-6">
                                                                <input type="text" value="{% if requisitionShares[branch.id] is defined and requisitionShares[branch.id] is not empty %}{{ requisitionShares[branch.id].branchShare }}{% endif %}" placeholder="{{ branch.name }}%" id="branchShare-{{ branch.id }}" name="branchShare[]" autofocus="autofocus" class="form-control number shareParcent">
                                                                <input type="hidden"  id="branchId-{{ branch.id }}" name="branchId[]" value="{{ branch.id }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}#}{#
                                    </div>#}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.companyUnit, 'Company Unit'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.companyUnit) }}
                                                        {{ form_errors(form.companyUnit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.expectedDate, 'Expected Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.expectedDate) }}
                                                        {{ form_errors(form.expectedDate) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.processDepartment, 'Process/Vetting Department'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.processDepartment) }}
                                                        {{ form_errors(form.processDepartment) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.priority, 'Priority'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.priority) }}
                                                        {{ form_errors(form.priority) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.instructionFrom, 'Instruction From'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required"> *</span>
                                                        {{ form_widget(form.instructionFrom) }}
                                                        {{ form_errors(form.instructionFrom) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.title, 'Title'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                <span class="is-required"> *</span>
                                                {{ form_widget(form.title) }}
                                                {{ form_errors(form.title) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.project, 'Project'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.project) }}
                                                {{ form_errors(form.project) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.content, 'Job Details/Justification'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                {{ form_widget(form.content) }}
                                                {{ form_errors(form.content) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                {{ render(controller(
                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                    { 'id': entity.id,'module':entity.module}
                                )) }}
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-header grey-bg inner-header">
                                        <h5>{{ "Add Items"|trans }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render(controller(
                                        "Terminalbd\\ProcurementBundle\\Controller\\Garments\\RequisitionItemController::itemCreate",
                                        { 'id': entity.id,'module':entity.module}
                                    )) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-header grey-bg inner-header">
                                        <h5>{{ "Add Unknowen Item"|trans }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {{ form_start(itemAdditionalForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'additionalItemForm','action':path('procure_requisition_garments_jobitem_additional',{'id':entity.id})}}) }}
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_widget(itemAdditionalForm.name) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_widget(itemAdditionalForm.unit) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_widget(itemAdditionalForm.quantity) }}{{ form_widget(itemAdditionalForm.price) }}
                                        </div>
                                        <div class="col-md-4">
                                            <div class="btn-group btn-group-mini col-md-12">
                                                {{ form_widget(itemAdditionalForm.description) }} &nbsp;<button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-mini  blue-bg white-font"><i class="feather icon-plus"></i> Add User</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                {{ form_widget(itemAdditionalForm._token) }}
                                {{ form_end(itemAdditionalForm) }}
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                        <thead class="thead-gray">
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Unit Price(BDT)</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Description</th>
                                            <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody id="invoiceAdditionalItem">
                                        {% if entity.additionalItems is not empty %}
                                            {% for item in entity.additionalItems %}
                                                <tr id="remove-{{ item.id }}">
                                                    <td>{{ loop.index }}</td>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>{% if item.unit is not empty %}{{ item.unit.name }}{% endif %}</td>
                                                    <td>{{ item.price }}</td>
                                                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                                    <td>{{ item.description }}</td>
                                                    <td><a href="javascript:" class="btn btn-mini btn-danger itemAdditionalRemove" data-action="{{ path('procure_jobrequisition_garments_additional_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                                                </tr>
                                            {% endfor %}
                                            <tr><td colspan="5" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.additionalSubTotal|number_format(2) }}</td></tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            {% if entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user"  %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ render(controller(
                                            "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                            { 'id': entity.id,'module':entity.module}
                                        )) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    {% if app.user.id == entity.createdBy.id and entity.process == "New" or app.user.id == entity.createdBy.id and entity.processOrdering == 1  %}
                        <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-6 text-left">
                               {# <div class="btn-group" role="group">
                                    <a class="btn purple-bg white-font form-submit btn" target="_blank" href="{{ path('procure_jobrequisition_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                    <a class="btn blue-bg white-font form-submit btn" target="_blank" href="{{ path('procure_jobrequisition_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i> Print</a>
                                </div>#}
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="btn-group" role="group">
                                    <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                    <button type="button" id="submitRequisitionBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save and Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    ItemSelect2Entity("{{ entity.id }}","job-approval");
    $('.processDepartment').change(function(e){
        setTimeout(function(){
        location.reload();
        }, 1000);//wait 2 seconds
    });
{% endblock %}
