{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title>Job Approval</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <style>
        body {
            color: #313131;
            font-family: sans-serif;
            font-size: 13px;
        }
        .table-item thead tr th{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
        .table-item tbody tr td{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
    </style>
</head>
<body>
    <div style="text-align: center; text-transform: uppercase; margin-bottom: 10px; font-weight: bold">
        <p>Job Approval Detail</p>
    </div>
    <!-- Header -->
    <div>
        <div style="float: left; width: 30%;">
            <b>Job Approval No.</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.requisitionNo }}
        </div>
        <div style="float: left; width: 15%; text-align: right">
            <b>Created</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.created|date('d-m-Y')}}
        </div>
        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Department</b>
        </div>
        <div style="float: left; width: 25%;">
            {% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}
        </div>
        <div style="float: left; width: 15%; text-align: right;">
            <b>Created By</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.createdBy.name }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Instruction From</b>
        </div>
        <div style="float: left; width: 70%;">
            {% if entity.instructionFrom is not empty %}{{ entity.instructionFrom.name }}{% endif %}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Tile</b>
        </div>
        <div style="float: left; width: 70%;">
            {{ entity.title }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Project</b>
        </div>
        <div style="float: left; width: 70%;">
            {{ entity.project|raw }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Job Details/Justification</b>
        </div>
        <div style="float: left; width: 70%;  text-align: justify">
            {{ entity.content|raw }}
        </div>
    </div>
    <!-- Header -->



    <!-- Shares -->
    <div  style="margin-top: 30px">
        <div style="margin-bottom: 10px">
            <b>Company Shares</b>
        </div>

        {% for share in requisitionShares %}
            <div style="float: left; width: 20%;">
                {{ share.branchName }} ({{ share.branchShare }})%
            </div>
        {% endfor %}
    </div>
    <!-- Shares -->



    <!-- Body -->
    {% if entity.requisitionItems is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Job Approval Item</b>
            </div>

            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead>
                        <tr>
                            <th >S/N</th>
                            <th >Item Code</th>
                            <th >Item Name</th>
                            <th >Unit</th>
                            <th >Quantity</th>
                            <th >Price</th>
                            <th >SubTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in entity.requisitionItems %}
                        <tr id="{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.item.itemCode }}</td>
                            <td>{{ item.stockBook.stockBookName }}</td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.subTotal }}</td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="6" style="text-align: right"><strong>SubTotal</strong></td><td><strong>{{ entity.subTotal|number_format(2) }}</strong></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if entity.additionalItems is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Additional Item</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead class="thead-dark">
                    <tr>
                        <th>S/N</th>
                        <th>Item Name</th>
                        <th>Description</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Unit Price(BDT)</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in entity.additionalItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{% if item.unit is not empty %}{{ item.unit.name }}{% endif %}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="6" style="text-align: right"><strong>SubTotal</strong></td><td><strong>{{ entity.subTotal|number_format(2) }}</strong></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if entity.moduleProcess.status == 1 %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Comments</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td class="text-left">{{ loop.index }}.</td>
                            <td class="text-left">{{ list.assignTo.name }}</td>
                            <td class="text-left">{{ list.updated|date('d-m-Y h:i') }}</td>
                            <td class="text-left">{{ list.comment|raw }}</td>
                            <td class="text-left">{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div  style="margin-top: 30px">
        {% for index,list in approvals %}
            {% if list.close == true  %}
                {% if  index == 0 %}
                    <div style="margin-bottom: 10px">
                        <b>Signatures</b>
                    </div>
                {% endif %}
                <div style="float: left; width: 30%; padding: 5px;">
                    <div style="border: 1px solid #dddddd; padding: 10px">
                        {% if list.assignTo.profile.signaturePath is not empty %}
                            <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                            <br/>
                        {% endif%}
                        {{ list.assignTo.name }}<br/>
                        {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    <!-- Body -->
</body>
</html>