<html>
<head>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>
    <style>
        body {
            font-size: 90% !important;
        }
        .table td, .table th {
            font-size: 90% !important;
        }
    </style>
</head>
<title>Requisition No: {{ entity.requisitionNo }}</title>
<body class="body">
<div class="row">
    <div class="col-md-12 text-right print-bar">
        <ul class="list-inline" id="grpChkBox">
            <li>
                <button class='btn btn-print print' id='{{ entity.id }}'><i class='fa fa-print'></i> Print</button>
            </li>
        </ul>
    </div>
</div>
<div id="print-box">
    <div id="print-area">
        <br/>
        <div class="row">
            <div class="col-md-6">
                <strong>Job Approval No.: </strong>{{ entity.requisitionNo }} <br>
            </div>
            <div class="col-md-6 text-right">
                <strong>Created: </strong>{{ entity.created|date('d-m-Y') }}
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-6">
                <strong>Company Unit: </strong> {% if entity.companyUnit is not empty %} {{ entity.companyUnit.name }}{% endif %}
            </div>
            <div class="col-md-6 text-right">
                <strong>Created By: </strong>{{  entity.createdBy.name  }}
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-6">
                <strong>Department: </strong> {% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3"><strong>Instruction From</strong></div>
            <div class="col-md-9">{% if entity.instructionFrom is not empty %}{{ entity.instructionFrom.name }}{% endif %}</div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3"><strong>Title</strong></div>
            <div class="col-md-9">{{ entity.title }}</div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3"><strong>Project</strong></div>
            <div class="col-md-9">{{ entity.project|raw }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Job Details/Justification</strong> <br>
                <div style="text-align: justify">{{ entity.content|raw }}</div>
            </div>
        </div>
        <div class="row"><div class="div-br-15"></div></div>
        <div class="row">
            <div class="col-md-12">
                <strong>Company Shares</strong>
            </div>
        </div>
        <div class="row">
            {% for share in requisitionShares %}
                <div class="col-md-2" style="text-align: justify">{{ share.branchName }} ({{ share.branchShare }})%</div>
            {% endfor %}
        </div>
        <div class="row"><div class="div-br-30"></div></div>
        <div class="row">
            <div class="div-br-30"><strong>Item Details</strong></div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th >S/N</th>
                        <th >Category</th>
                        <th >Item Name</th>
                        <th >Unit</th>
                        <th >Quantity</th>
                        <th >Price</th>
                        <th >SubTotal</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in entity.requisitionItems %}
                        <tr id="{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                            <td>{{ item.stockBook.stockBookName }}</td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.subTotal }}</td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="6" class="text-right"><strong>SubTotal</strong></td><td><strong>{{ entity.subTotal|number_format(2) }}</strong></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if entity.additionalItems is not empty %}
            <div class="row"><div class="div-br-30"></div></div>
            <div class="div-br-30"><strong>Additional Items</strong></div>
            <div class="row mt-3">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>S/N</th>
                        <th>Item Name</th>
                        <th>Description</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Unit Price(BDT)</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in entity.additionalItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{% if item.unit is not empty %}{{ item.unit.name }}{% endif %}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="6" class="text-right"><strong>SubTotal</strong></td><td><strong>{{ entity.additionalSubTotal|number_format(2) }}</strong></td></tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="row"><div class="div-br-30"></div></div>
        {% if approvals is not empty %}

            <div class="row">
                <div class="div-br-30"><strong>Comments</strong></div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th class="text-left">S/N</th>
                            <th class="text-left">Comment By</th>
                            <th class="text-left">Created</th>
                            <th class="text-left">Comment</th>
                            <th class="text-left">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for list in approvals %}
                            <tr>
                                <td class="text-left">{{ loop.index }}.</td>
                                <td class="text-left">{{ list.assignTo.name }}</td>
                                <td class="text-left">{{ (list.close == true) ?  list.updated|date('d-m-Y h:i') : '' }}</td>
                                <td class="text-left">{{ (list.close == true) ? list.comment|raw : '' }}</td>
                                <td class="text-left">{{ (list.close == true) ? list.process : '' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row"><div class="div-br-30"></div></div>
            <div><strong>Signatures</strong></div>
            <div class="row"><div class="div-br-30"></div></div>
            <div class="row mt-3">
                {% for index,list in approvals %}
                    {% if list.close == true  %}
                        <div class="col-md-4">
                            <div style="padding: 15px; border: 1px solid #dddddd;">
                                {% if list.assignTo.profile.signaturePath is not empty %}
                                    <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                    <br/>
                                {% endif%}
                                {{ list.assignTo.name }}<br/>
                                {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

    </div>
</div>
<script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/kinzi.print.min.js') }}"></script>
<script>
    $('.print').click(function () {
        $('#print-area').kinziPrint({
            importCSS: true,
            //header: $('.print-header-content').html()
        });
    });
</script>
</body>
</html>