{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Job Approval Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_jobrequisition',{'mode':'approve'})}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Job Approval'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box">
                                <div class="portlet-title portlet-title-green">
                                    <div class="caption">{{ 'Job Approval Details'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Job Approval No.</strong></div>
                                                    <div class="col-md-6">{{ entity.requisitionNo }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Created</strong></div>
                                                    <div class="col-md-6">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Created By</strong></div>
                                                    <div class="col-md-6">{{ entity.createdBy.name }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Department</strong></div>
                                                    <div class="col-md-6">{% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Company Unit</strong></div>
                                                    <div class="col-md-6">{% if entity.companyUnit is not empty %} {{ entity.companyUnit.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6"><strong>Revised From</strong></div>
                                                    <div class="col-md-6">
                                                        {% if entity.fromReverse is not empty %}
                                                            <a class="entity-show" data-action="{{ path('procure_jobrequisition_show',{'id':entity.fromReverse.id}) }}" href="javascript:" data-title="Requisition No:   {{ entity.fromReverse.requisitionNo }}" id="postView-{{ entity.fromReverse.id }}">  {{ entity.fromReverse.requisitionNo }}</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="grid-products">
                                                    {% for share in requisitionShares  %}
                                                        <li>{{ share.branchName }} ({{ share.branchShare }})%</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <br/><br/>
                                        <div class="row">
                                            <div class="col-md-3"><strong>Instruction Form</strong></div>
                                            <div class="col-md-9">{% if entity.instructionFrom is not empty %}{{ entity.instructionFrom.name }}{% endif %}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"><strong>Title</strong></div>
                                            <div class="col-md-9">{{ entity.title }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"><strong>Project</strong></div>
                                            <div class="col-md-9">{{ entity.project|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"><strong>Job Details/Justification</strong></div>
                                            <div class="col-md-9">{{ entity.content|raw }}</div>
                                        </div>
                                        {% if entity.requisitionItems is not empty %}
                                            <div class="card-header grey-bg inner-header" >
                                                <h5>Job Approval Item</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered" id="datatable">
                                                        <thead class="thead-gray">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Category</th>
                                                            <th scope="col">Item Name</th>
                                                            <th scope="col">Unit</th>
                                                            <th scope="col" class="text-center">Actual QTY</th>
                                                            <th scope="col" class="text-center">Approve QTY</th>
                                                            <th scope="col" class="text-center">Quantity</th>
                                                            <th scope="col" class="text-right">Price</th>
                                                            <th scope="col" class="text-right">SubTotal</th>
                                                            <th scope="col" class="text-left">SubTotal</th>
                                                            <th scope="col" class="text-right"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="invoiceItem">
                                                        {% for item in entity.requisitionItems %}
                                                            <tr id="remove-{{ item.id }}">
                                                                <td>{{ loop.index }}</td>
                                                                <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                                                                <td>{{ item.stockBook.stockBookName }}</td>
                                                                <td>{{ item.stockBook.uom }}</td>
                                                                <td class="text-center">{{ item.actualQuantity }}</td>
                                                                <td class="text-center">{{ item.approveQuantity }}</td>
                                                                <td class="text-center">{{ item.quantity }}</td>
                                                                <td class="text-right">{{ item.price|number_format(2) }}</td>
                                                                <td class="text-right">{{ item.subTotal|number_format(2) }}</td>
                                                                <td  class="text-left"> {{ item.description|raw }}</td>
                                                                <td>
                                                                    <a href="javascript:" id="{{ item.id }}"  class="btn btn-mini yellow-bg white-font  history">History</a>
                                                                </td>
                                                            </tr>
                                                            {% if item.requisitionItemHistories is not empty  %}
                                                                <tr class="hide" id="show-{{ item.id }}">
                                                                    <td colspan="10">
                                                                        <table class="table">
                                                                            <tr>
                                                                                <th scope="col">S/N</th>
                                                                                <th scope="col">Creatd</th>
                                                                                <th scope="col">Time</th>
                                                                                <th scope="col">Creatd By</th>
                                                                                <th scope="col">Previous QTY</th>
                                                                                <th scope="col">Current QTY</th>
                                                                            </tr>
                                                                            {% for history in item.requisitionItemHistories %}
                                                                                <tr>
                                                                                    <td scope="col">{{ loop.index }}</td>
                                                                                    <td scope="col">{{ history.created|date('d-m-Y') }}</td>
                                                                                    <td scope="col">{{ history.created|date('H:m A') }}</td>
                                                                                    <td scope="col">{% if history.createdBy is not empty  %}{{ history.createdBy.name }}{% endif %}</td>
                                                                                    <td scope="col">{{ history.actualQuantity }}</td>
                                                                                    <td scope="col">{{ history.quantity }}</td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}

                                                        <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td class="text-right">{{ entity.subTotal|number_format(2) }}</td></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if entity.additionalItems is not empty %}
                                            <div class="card-header grey-bg inner-header">
                                                <h5>Job Approval Additional Item</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                                        <thead class="thead-gray">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Item Name</th>
                                                            <th scope="col" class="text-center">Quantity</th>
                                                            <th scope="col">Unit</th>
                                                            <th scope="col" class="text-right">Unit Price(BDT)</th>
                                                            <th scope="col" class="text-right">SubTotal</th>
                                                            <th scope="col">Remark</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="invoiceAdditionalItem">
                                                        {% for item in entity.additionalItems %}
                                                            <tr id="remove-{{ item.id }}">
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ item.name }}</td>
                                                                <td class="text-center">{{ item.quantity }}</td>
                                                                <td>{% if item.unit is not empty %}{{ item.unit.name }}{% endif %}</td>
                                                                <td class="text-right">{{ item.price }}</td>
                                                                <td class="text-right"><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                                                <td>{{ item.description }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        <tr><td colspan="5" class="text-right"><strong>SubTotal</strong></td><td class="text-right">{{ entity.additionalSubTotal|number_format(2) }}</td></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <br/>
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                {#<div class="row">
                                                    <div class="col-md-8">
                                                        <labe>Approve Mode</labe> &nbsp;{{ form_widget(form.reject,{'attr':{'rows':6}}) }}
                                                    </div>
                                                </div>#}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                {{ form_widget(form.comment,{'attr':{'rows':6}}) }}
                                                                {{ form_errors(form.comment) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <div class="btn-group" >
                                                            {#{% if entity.moduleProcess.approverReject == 1 and entity.reportTo.approvalUser.isRejected == 1  %}#}
                                                            <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                            {# {% endif %}#}
                                                            <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/garments.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}



