{% if entity.additionalItems is not empty %}
    {% for item in entity.additionalItems %}
        <tr id="remove-{{ item.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{% if item.unit is not empty %}{{ item.unit.name }}{% endif %}</td>
            <td>{{ item.price }}</td>
            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
            <td>{{ item.description }}</td>
            <td><a href="javascript:" class="btn btn-mini btn-danger itemAdditionalRemove" data-action="{{ path('procure_jobrequisition_garments_additional_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
    {% endfor %}
    <tr><td colspan="5" class="text-right"><strong>SubTotal</strong></td><td id="additionalSubItem">{{ entity.additionalSubTotal|number_format(2) }}</td></tr>
{% endif %}

