{% if entity.requisitionItems is not empty %}
    {% for item in entity.requisitionItems %}
        <tr id="remove-{{ item.id }}">
            <td>{{ loop.index }}</td>
            <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
            <td>{{ item.stockBook.stockBookName }}</td>
            <td>
                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                <input type="text"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="td-input form-control-sm number quantity" value="{{ item.quantity }}">
            </td>
            <td>{{ item.stockBook.uom }}</td>
            <td>{{ item.price }}</td>
            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
            <td>{{ item.description }}</td>
            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
    {% endfor %}
    <tr><td colspan="6" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
{% endif %}