
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6"><strong>Job Approval No.</strong></div>
                            <div class="col-md-6">{{ entity.requisitionNo }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Created</strong></div>
                            <div class="col-md-6">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Created By</strong></div>
                            <div class="col-md-6">{{ entity.createdBy.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Department</strong></div>
                            <div class="col-md-6">{% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Company Unit</strong></div>
                            <div class="col-md-6">{% if entity.companyUnit is not empty %} {{ entity.companyUnit.name }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="grid-products">
                            {% for share in requisitionShares  %}
                                <li>{{ share.branchName }} ({{ share.branchShare }})%</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-md-3"><strong>Instruction From</strong></div>
                    <div class="col-md-9">{% if entity.instructionFrom is not empty %}{{ entity.instructionFrom.name }}{% endif %}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Title</strong></div>
                    <div class="col-md-9">{{ entity.title }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Project</strong></div>
                    <div class="col-md-9">{{ entity.project|raw }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><strong>Job Details/Justification</strong></div>
                    <div class="col-md-9">{{ entity.content|raw }}</div>
                </div>
                {% if entity.requisitionItems is not empty %}
                    <div class="card-header grey-bg inner-header" >
                        <h5>Job Approval Item</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered" id="datatable">
                                <thead class="thead-gray">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col" class="text-center">Actual QTY</th>
                                    <th scope="col" class="text-center">Approve QTY</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col" class="text-right">Price</th>
                                    <th scope="col" class="text-right">SubTotal</th>
                                    <th scope="col" class="text-left">Description</th>
                                </tr>
                                </thead>
                                <tbody id="invoiceItem">
                                {% for item in entity.requisitionItems %}
                                    <tr id="remove-{{ item.id }}">
                                        <td>{{ loop.index }}</td>
                                        <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                                        <td>{{ item.stockBook.stockBookName }}</td>
                                        <td>{{ item.stockBook.uom }}</td>
                                        <td  class="text-center">{{ item.actualQuantity }}</td>
                                        <td  class="text-center">{{ item.approveQuantity }}</td>
                                        <td  class="text-center">{{ item.quantity }}</td>
                                        <td  class="text-right">{{ item.price|number_format(2) }}</td>
                                        <td  class="text-right"> {{ item.subTotal|number_format(2) }}</td>
                                        <td  class="text-left"> {{ item.description|raw }}</td>
                                    </tr>
                                {% endfor %}
                                <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td class="text-right">{{ entity.subTotal|number_format(2) }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if entity.additionalItems is not empty %}
                    <div class="card-header grey-bg inner-header">
                        <h5>Job Approval Additional Item</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead class="thead-gray">
                                <tr>
                                    <th>S/N</th>
                                    <th>Item Name</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-right">Unit Price(BDT)</th>
                                    <th class="text-right">Amount</th>
                                </tr>
                                </thead>
                                <tbody id="invoiceAdditionalItem">
                                {% for item in entity.additionalItems %}
                                    <tr id="remove-{{ item.id }}">
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.description }}</td>
                                        <td>{% if item.unit is not empty %}{{ item.unit.name }}{% endif %}</td>
                                        <td class="text-center">{{ item.quantity }}</td>
                                        <td class="text-right">{{ item.price|number_format(2) }}</td>
                                        <td class="text-right"><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                    </tr>
                                {% endfor %}
                                <tr><td colspan="6" class="text-right"><strong>SubTotal</strong></td><td class="text-right">{{ entity.additionalSubTotal|number_format(2) }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
