{% if entity.requisitionMode in ['Expense','Confidential'] %}
<div class="row">
    {{ form_start(itemForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'itemForm','action':path('procure_requisition_garments_save_item',{'id':entity.id,'module':entity.module})}}) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_widget(itemForm.item) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(itemForm.category) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(itemForm.section) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(itemForm.quantity) }}
            {{ form_widget(itemForm.uom) }}
            <datalist id="units" >
                {% if units is not empty %}
                    {% for item in units %}
                        <option data-value="{{ item.name }}" value="{{ item.name }}">{{ item.name }}</option>
                    {% endfor %}
                {% endif %}
            </datalist>
        </div>
        <div class="col-md-2">
            {{ form_widget(itemForm.price) }}
        </div>
    </div>
    <div class="row div-br-3">&nbsp;</div>
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(itemForm.description) }}
        </div>
        <div class="col-md-5">
            {{ form_widget(itemForm.remark) }}
        </div>
        <div>
            <div class="btn-group btn-group-sm">
                <input type="hidden" name="requisitionMode" id="requisitionMode" value="{{ entity.requisitionMode }}">
                <button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-mini  blue-bg white-font"><i class="feather icon-plus"></i> Add Item</button>
            </div>
        </div>
    </div>
    {{ form_widget(itemForm._token) }}
    {{ form_end(itemForm) }}
</div>
{% else %}
    <div class="row">
        {{ form_start(itemForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'itemForm','action':path('procure_requisition_garments_save_item',{'id':entity.id,'module':entity.module})}}) }}
        <div class="row">
            <div class="col-md-3">
                {{ form_widget(itemForm.item) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(itemForm.category) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(itemForm.brand) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(itemForm.size) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(itemForm.color) }}
            </div>
        </div>
        <div class="row div-br-3">&nbsp;</div>
        <div class="row">
            <div class="col-md-10">{{ form_widget(itemForm.description) }}</div>
            <div class="col-md-1">
                {{ form_widget(itemForm.quantity) }}
            </div>
            <div>
                <div class="btn-group btn-group-sm">
                    <input type="hidden" name="requisitionMode" id="requisitionMode" value="{{ entity.requisitionMode }}">
                    <button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-mini  blue-bg white-font"><i class="feather icon-plus"></i> Add Item</button>
                </div>
            </div>
        </div>
        {{ form_widget(itemForm._token) }}
        {{ form_end(itemForm) }}
    </div>
{% endif %}
{% if entity.module == 'job-approval' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Category</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Unit Price(BDT)</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col"><i class="feather icon-settings"></i></th>
                </tr>

                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                            <td>{{ item.stockBook.stockBookName }}</td>
                            <td>
                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                <input type="text"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control-sm td-input input number  quantity" value="{{ item.quantity }}">
                            </td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{{ item.price }}</td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                            <td>{{ item.description|raw }}</td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="6" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif entity.module == 'purchase-requisition' and entity.requisitionMode == "OPEX" %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Category</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Size/Parts ID</th>
                    <th scope="col">Color/GG</th>
                    <th scope="col">Req.QTY</th>
                    <th scope="col">Stock in Qty</th>
                    <th scope="col">Last Purch Qty</th>
                    <th scope="col">Last Purch Price</th>
                    <th scope="col">Last Purch Date</th>
                    <th scope="col">CMP</th>
                    <th scope="col">CMP Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Remark</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                            <td>{{ item.item.name }}</td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                            <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                            <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                            <td>
                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                            </td>
                            <td>{{ item.stockIn }}</td>
                            <td scope="col">{{ item.lastPurchaseQuantity }}</td>
                            <td scope="col">{{ item.lastPurchasePrice }}</td>
                            <td scope="col">{% if item.lastPurchaseDate is not empty %}{{ item.lastPurchaseDate|date('d-m-Y') }}{% endif %}</td>
                            <td>{{ item.currentPrice }}</td>
                            <td>{% if item.cmpDate is not empty %}{{ item.cmpDate|date('d-m-Y') }}{% endif %}</td>
                            <td class="text-right">{{ item.price }}</td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                            <td>{{ item.description }}</td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="15" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif entity.module == 'purchase-requisition' and entity.requisitionMode in ["CAPEX","INV"]  %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Category</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Size/Parts ID</th>
                    <th scope="col">Color/GG</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Price</th>
                    <th scope="col">SubTotal</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td><a data-type='select' class='editable' id='department' data-name='department' href='javascript:' data-source='{{ path('budget_head_category_change',{id:entity.id}) }}'  data-url='{{ path('budget_chargeline_head_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.category %}{{ item.category.id }}{% endif %}'>{% if item.category %}{{ item.category.name }}{% endif %}</a></td>
                            <td>{{ item.item.name }}</td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                            <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                            <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                            <td>
                                <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                            </td>
                            <td>
                                <input type="number"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.price }}">
                            </td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="9" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% elseif entity.module == 'purchase-requisition' and entity.requisitionMode in ['Expense','Confidential']  %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                 {#   <th scope="col">Date</th>#}
                    <th scope="col">Category</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Section</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Specification</th>
                    <th scope="col">Remark</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            {#<td>{{ item.created|date('d-m-Y') }}</td>#}
                            <td><a data-type='select' class='editable' id='department' data-name='department' href='javascript:' data-source='{{ path('budget_head_category_change',{id:entity.id}) }}'  data-url='{{ path('budget_chargeline_head_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.category %}{{ item.category.id }}{% endif %}'>{% if item.category %}{{ item.category.name }}{% endif %}</a></td>
                            <td>{{ item.item.name }}</td>
                            <td><a data-type='select' class='editable' id='section' data-name='section' href='javascript:' data-source='{{ path('budget_head_section_change',{id:entity.id}) }}'  data-url='{{ path('budget_section_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.section %}{{ item.section.id }}{% endif %}'>{% if item.section %}{{ item.section.name }}{% endif %}</a></td>
                            <td>{% if item.uom is empty %}{{ item.stockBook.uom }}{% else %}{{ item.uom }}{% endif %}</td>
                            <td><input type="text"  data-id="{{ item.id }}" id="description-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="description-{{ item.id }}" class="form-control quantity" value="{{ item.description }}"></td>
                            <td><input type="text"  data-id="{{ item.id }}" id="remark-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="remark-{{ item.id }}" class="form-control quantity" value="{{ item.remark }}"></td>
                            <td>
                                <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                            </td>
                            <td>
                                <input type="number"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.price }}">
                            </td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="9" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% if entity.requisitionMode not in ["CAPEX","INV"] and entity.module != 'job-approval' %}
        <div class="row">
            <div class="col-md-12">
                <div class="card-header grey-bg inner-header">
                    <h5>{{ "Items Budget Information"|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('procure_requisition_garment_budget_generate',{'id':entity.id}) }}" id="" class="btn btn-sm  yellow-bg white-font"><i class="feather icon-settings"></i>See Budget</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ render(controller(
                    "Terminalbd\\ProcurementBundle\\Controller\\Garments\\PurchaseRequisitionController::budgetView",
                    { 'id': entity.id}
                )) }}
            </div>
        </div>
{% endif %}