{% if entity.requisitionItems is not empty and entity.createdBy.id == app.user.id %}
    {% if entity.requisitionMode in ['Expense','Confidential'] %}
            {% for item in entity.requisitionItems %}
                <tr id="remove-{{ item.id }}">
                    <td>{{ loop.index }}</td>
                    {#<td>{{ item.created|date('d-m-Y') }}</td>#}
                    <td><a data-type='select' class='editable' id='department' data-name='department' href='javascript:' data-source='{{ path('budget_head_category_change',{id:entity.id}) }}'  data-url='{{ path('budget_chargeline_head_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.category %}{{ item.category.id }}{% endif %}'>{% if item.category %}{{ item.category.name }}{% endif %}</a></td>
                    <td>{{ item.item.name }}</td>
                    <td><a data-type='select' class='editable' id='section' data-name='section' href='javascript:' data-source='{{ path('budget_head_section_change',{id:entity.id}) }}'  data-url='{{ path('budget_section_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.section %}{{ item.section.id }}{% endif %}'>{% if item.section %}{{ item.section.name }}{% endif %}</a></td>
                    <td>{% if item.uom is empty %}{{ item.stockBook.uom }}{% else %}{{ item.uom }}{% endif %}</td>
                    <td><input type="text"  data-id="{{ item.id }}" id="description-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="description-{{ item.id }}" class="form-control quantity" value="{{ item.description }}"></td>
                    <td><input type="text"  data-id="{{ item.id }}" id="remark-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="remark-{{ item.id }}" class="form-control quantity" value="{{ item.remark }}"></td>
                    <td>
                        <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                    </td>
                    <td>
                        <input type="number"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.price }}">
                    </td>
                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                    <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                </tr>
            {% endfor %}
            <tr><td colspan="10" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
        {% elseif entity.requisitionMode in ["CAPEX","INV"] %}
            {% for item in entity.requisitionItems %}
                <tr id="remove-{{ item.id }}">
                    <td>{{ loop.index }}</td>
                    <td><a data-type='select' class='editable' id='department' data-name='department' href='javascript:' data-source='{{ path('budget_head_category_change',{id:entity.id}) }}'  data-url='{{ path('budget_chargeline_head_inline_update',{id:item.id})}}' data-pk='{{ item.id }}' data-value='{% if item.category %}{{ item.category.id }}{% endif %}'>{% if item.category %}{{ item.category.name }}{% endif %}</a></td>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.stockBook.uom }}</td>
                    <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                    <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                    <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                    <td>
                        <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                    </td>
                    <td>
                        <input type="number"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.price }}">
                    </td>
                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                    <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                </tr>
            {% endfor %}
            <tr><td colspan="9" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
        {% else %}
            {% for item in entity.requisitionItems %}
                <tr id="remove-{{ item.id }}">
                <td>{{ loop.index }}</td>
                    <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.stockBook.uom }}</td>
                <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                <td>
                    <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                    <input type="number" min="1"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="td-input form-control-sm input number-input quantity" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" value="{{ item.quantity }}">
                </td>
                <td>{{ item.stockIn }}</td>
                <td scope="col">{{ item.lastPurchaseQuantity }}</td>
                <td scope="col">{{ item.lastPurchasePrice }}</td>
                <td scope="col">{% if item.lastPurchaseDate is not empty %}{{ item.lastPurchaseDate|date('d-m-Y') }}{% endif %}</td>
                <td>{{ item.currentPrice }}</td>
                <td>{% if item.cmpDate is not empty %}{{ item.cmpDate|date('d-m-Y') }}{% endif %}</td>
                <td>{{ item.price }}</td>
                <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                <td>{{ item.description }}</td>
                <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_item_delete',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" ><i class="feather icon-trash-2"></i> </a></td>
            </tr>
            {% endfor %}
            <tr><td colspan="15" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
        {% endif %}
{% endif %}
{% if entity.requisitionItems is not empty and entity.reportTo is not empty and entity.reportTo.id == app.user.id %}
{% if entity.requisitionMode in ['Expense','Confidential'] %}
    {% if entity.requisitionItems is not empty %}
        {% for item in entity.requisitionItems %}
            <tr id="remove-{{ item.id }}">
                <td>{{ loop.index }}</td>
                <td>{{ item.created|date('d-m-Y') }}</td>
                <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                <td>{{ item.item.name }}</td>
                <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
                <td>{% if item.uom is empty %}{{ item.stockBook.uom }}{% else %}{{ item.uom }}{% endif %}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.remark }}</td>
                <td>
                    <input type="text"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="td-input form-control-sm  number input number-input quantity" value="{{ item.quantity }}">
                </td>
                <td>
                    <input type="text"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="td-input form-control-sm  number number-input quantity" value="{{ item.price }}">
                </td>
                <td><span id="subTotal-{{ item.id }}" class="subTotal">{{ item.subTotal|number_format(2) }}</span></td>
                <td>
                    <a href="javascript:" id="{{ item.id }}"  class="btn btn-mini yellow-bg white-font  history">History</a>
                </td>
            </tr>
            {% if item.requisitionItemHistories is not empty  %}
                <tr class="hide show-{{ item.id }}" id="">
                    <td colspan="12">
                        <table class="table">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Creatd</th>
                                <th scope="col">Time</th>
                                <th scope="col">Creatd By</th>
                                <th scope="col">Previous QTY</th>
                                <th scope="col">Current QTY</th>
                            </tr>
                            {% for history in item.requisitionItemHistories %}
                                <tr>
                                    <td scope="col">{{ loop.index }}</td>
                                    <td scope="col">{{ history.created|date('d-m-Y') }}</td>
                                    <td scope="col">{{ history.created|date('H:m A') }}</td>
                                    <td scope="col">{% if history.createdBy is not empty  %}{{ history.createdBy.name }}{% endif %}</td>
                                    <td scope="col">{{ history.actualQuantity }}</td>
                                    <td scope="col">{{ history.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td></tr>
            {% endif %}
            {% if item.stockBook.cmpPrices is not empty  %}
                <tr class="hide show-{{ item.id }}" >
                    <td colspan="12">
                        <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                            <thead>
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Created</th>
                                <th scope="col">Time</th>
                                <th scope="col">CMP Date</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Prev Price</th>
                                <th scope="col">Current Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for history in item.stockBook.cmpPrices %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ history.created|date('d-m-Y') }}</td>
                                    <td>{{ history.created|date('H:m A') }}</td>
                                    <td>{{ history.cmpDate|date('d-m-Y') }}</td>
                                    <td>{% if history.createdBy is not empty %}{{ history.createdBy.name }}{% endif %}</td>
                                    <td>{{ history.prevCmp }}</td>
                                    <td>{{ history.cmp }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr><td colspan="10" class="text-right"><strong>SubTotal</strong></td><td id="approveTotal">{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
    {% endif %}
{% elseif entity.module == 'purchase-requisition' and entity.requisitionMode == "CAPEX"  %}
    {% if entity.requisitionItems is not empty %}
        {% for item in entity.requisitionItems %}
            <tr id="remove-{{ item.id }}">
                <td>{{ loop.index }}</td>
                <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                <td>{{ item.item.name }}</td>
                <td>{{ item.stockBook.uom }}</td>
                <td>{% if item.brand is not empty %} {{ item.brand.name }}{% endif %}</td>
                <td>{% if item.size is not empty %} {{ item.size.name }}{% endif %}</td>
                <td>{% if item.color is not empty %} {{ item.color.name }}{% endif %}</td>
                <td>
                    <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                    <input type="text"  data-id="{{ item.id }}" max="{{ item.actualQuantity }}" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="td-input form-control-sm  processQuantity" value="{{ item.quantity }}">
                </td>
                <td>{{ item.price }}</td>
                <td>
                    <span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span>
                </td>
                <td>{{ item.description }}</td>
                <td>
                    <a href="javascript:" id="{{ item.id }}"  class="btn btn-mini yellow-bg white-font  history">History</a>
                </td>
            </tr>
            {% if item.requisitionItemHistories is not empty  %}
                <tr class="hide show-{{ item.id }}" id="">
                    <td colspan="11">
                        <table class="table">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Creatd</th>
                                <th scope="col">Time</th>
                                <th scope="col">Creatd By</th>
                                <th scope="col">Previous QTY</th>
                                <th scope="col">Current QTY</th>
                            </tr>
                            {% for history in item.requisitionItemHistories %}
                                <tr>
                                    <td scope="col">{{ loop.index }}</td>
                                    <td scope="col">{{ history.created|date('d-m-Y') }}</td>
                                    <td scope="col">{{ history.created|date('H:m A') }}</td>
                                    <td scope="col">{% if history.createdBy is not empty  %}{{ history.createdBy.name }}{% endif %}</td>
                                    <td scope="col">{{ history.actualQuantity }}</td>
                                    <td scope="col">{{ history.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td></tr>
            {% endif %}
            {% if item.stockBook.cmpPrices is not empty  %}
                <tr class="hide show-{{ item.id }}" >
                    <td colspan="11">
                        <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                            <thead>
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Created</th>
                                <th scope="col">Time</th>
                                <th scope="col">CMP Date</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Prev Price</th>
                                <th scope="col">Current Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for history in item.stockBook.cmpPrices %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ history.created|date('d-m-Y') }}</td>
                                    <td>{{ history.created|date('H:m A') }}</td>
                                    <td>{{ history.cmpDate|date('d-m-Y') }}</td>
                                    <td>{% if history.createdBy is not empty %}{{ history.createdBy.name }}{% endif %}</td>
                                    <td>{{ history.prevCmp }}</td>
                                    <td>{{ history.cmp }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr><th colspan="9" class="text-right"><strong>SubTotal</strong></th><th>{{ entity.subTotal|number_format(2) }}</th><td></td></tr>
    {% endif %}
{% else %}
    {% if entity.requisitionItems is not empty %}
        {% set subTotal = 0 %}
        {% for item in entity.requisitionItems %}
            {% set subTotal = subTotal + item.subTotal %}
            <tr id="remove-{{ item.id }}">
                <td>{{ loop.index }}</td>
                <td>{% if item.category %}{{ item.category.name }}{% endif %}</td>
                <td>{{ item.item.name }}</td>
                <td>{{ item.stockBook.uom }}</td>
                <td>{% if item.brand is not empty %}{{ item.brand.name }} {% endif %}</td>
                <td>{% if item.size is not empty %}{{ item.size.name }} {% endif %}</td>
                <td>{% if item.color is not empty %}{{ item.color.name }} {% endif %}</td>
                <td>{{ item.actualQuantity }}</td>
                <td>{{ item.approveQuantity }}</td>
                <td>
                    <input type="text"  data-id="{{ item.id }}" max="{{ item.actualQuantity }}" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="td-input form-control-sm  processQuantity" value="{{ item.quantity }}">
                </td>
                <td>{{ item.stockIn }}</td>
                <td scope="col">{{ item.lastPurchaseQuantity }}</td>
                <td scope="col">{% if item.lastPurchaseDate is not empty %}{{ item.lastPurchaseDate|date('d-m-Y') }}{% endif %}</td>
                <td scope="col">{{ item.lastPurchasePrice }}</td>
                <td>{{ item.currentPrice }}</td>
                <td>{% if item.cmpDate is not empty %}{{ item.cmpDate|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <input type="text"  data-id="{{ item.id }}" id="price-{{ item.id }}" data-action="{{ path('procure_requisition_garments_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="price-{{ item.id }}" class="td-input form-control-sm  processQuantity" value="{{ item.price }}">
                </td>
                <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                <td>{{ item.description }}</td>
                <td><a href="javascript:" id="{{ item.id }}"  class="btn btn-mini yellow-bg white-font history">History</a></td>
            </tr>
            {% if item.requisitionItemHistories is not empty  %}
                <tr class="hide show-{{ item.id }}">
                    <td colspan="22">
                        <table class="table">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Creatd</th>
                                <th scope="col">Time</th>
                                <th scope="col">Creatd By</th>
                                <th scope="col">Previous QTY</th>
                                <th scope="col">Current QTY</th>
                            </tr>
                            {% for history in item.requisitionItemHistories %}
                                <tr>
                                    <td scope="col">{{ loop.index }}</td>
                                    <td scope="col">{{ history.created|date('d-m-Y') }}</td>
                                    <td scope="col">{{ history.created|date('H:m A') }}</td>
                                    <td scope="col">{% if history.createdBy is not empty  %}{{ history.createdBy.name }}{% endif %}</td>
                                    <td scope="col">{{ history.actualQuantity }}</td>
                                    <td scope="col">{{ history.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endif %}
            {% if item.stockBook.cmpPrices is not empty  %}
                <tr class="hide show-{{ item.id }}" >
                    <td colspan="22">
                        <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                            <thead>
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Created</th>
                                <th scope="col">Time</th>
                                <th scope="col">CMP Date</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Prev Price</th>
                                <th scope="col">Current Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for history in item.stockBook.cmpPrices %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ history.created|date('d-m-Y') }}</td>
                                    <td>{{ history.created|date('H:m A') }}</td>
                                    <td>{{ history.cmpDate|date('d-m-Y') }}</td>
                                    <td>{% if history.createdBy is not empty %}{{ history.createdBy.name }}{% endif %}</td>
                                    <td>{{ history.prevCmp }}</td>
                                    <td>{{ history.cmp }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr><td colspan="18" class="text-right"><strong>SubTotal</strong></td><th>{{ subTotal|number_format(2) }}</th>
            <td></td>
            <td></td>
        </tr>
    {% endif %}
{% endif %}
{% endif %}
