<div class="grid-designation">
    <div class="col-md-12 text-left">
        <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
            {% if entity.createdBy.profile.signaturePath is not empty %}
                <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                <br/>
            {% endif%}
            {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
        </div>
    </div>
    {% for list in approvals %}
        {% if list.close == true  %}
            <div class="col-md-12 text-left">
                <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                    {% if list.assignTo.profile.signaturePath is not empty %}
                        <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                        <br/>
                    {% endif%}
                    {{ list.assignTo.name }}<br/>{% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
