{% if procurementProcess is not empty %}
    {% for user in procurementProcess %}
        <tr id="remove-{{ user.id }}" data-post-id="{{ user.id }}">
            <td> <div class="col-md-1 text-center"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></div></td>
            <td>{{ user.assignTo.profile.employeeId }}</td>
            <td>{{  user.assignTo.name }}</td>
            <td>{% if user.assignTo.profile.designation is not empty %}{{ user.assignTo.profile.designation.name }}{% endif %}</td>
            <td>{{ user.process }}</td>
            <td>
                <input class='status' data-action='{{ path('procure_requisition_process_status',{'id':user.id}) }}' name="status[]" id="status-{{ user.id }}" type='checkbox' {% if user.isStatus == 1 %} checked="checked" {% endif %}   data-toggle='toggle' data-size='xs' data-style='slow' data-offstyle='danger' data-onstyle='info' data-on='Enabled'  data-off='Disabled'>
                {% if user.custom == 1 %}
                    <a href="javascript:" class="btn btn-mini btn-danger itemApprovalRemove" data-action="{{ path('procure_process_delete',{'id':user.id}) }}" ><i class="feather icon-trash-2"></i> </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endif %}