{{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_jobrequisition_process',{'id':entity.id})}}) }}
<div class="row">
    <div class="col-md-12 form-box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        {{ form_widget(form.comment,{'attr':{'rows':6}}) }}
                        {{ form_errors(form.comment) }}
                    </div>
                </div>
            </div>
        </div>
        {#<div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_label(form.transferTo, 'Transfer To'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                    <div class="col-md-9">
                        {{ form_widget(form.transferTo) }}
                        {{ form_errors(form.transferTo) }}
                    </div>
                </div>
            </div>
        </div>#}
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="btn-group" >
                    {% if entity.moduleProcess.approverReject == 1 and entity.reportTo.approvalUser.isRejected == 1  %}
                        <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                    {% endif %}
                    <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_widget(form._token) }}
{{ form_end(form) }}