<div class="row">
    <div class="col-md-12">
        <div class="card-header grey-bg inner-header">
            <h5>Assign Approval Designated</h5>
        </div>
    </div>
</div>
<div class="row">
    {{ form_start(assignForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'assignForm','action':path('procure_process_create',{'id':entity.id,'module':entity.module})}}) }}
    <div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                {{ form_widget(assignForm.assignTo) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(assignForm.isMandatory) }}
            </div>
            <div class="col-md-3">
                <div class="btn-group btn-group-sm col-md-12">
                    {{ form_widget(assignForm.process) }} &nbsp;<button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-sm  blue-bg white-font"><i class="feather icon-plus"></i> Add User</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{ form_end(assignForm) }}
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
            <thead class="thead-green">
            <tr>
                <th scope="col">Sorting</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Process</th>
                <th scope="col text-center"><i class="feather icon-settings"></i></th>
            </tr>

            </thead>
            <tbody id="sortable" class="approvalUser">
            {% if approvals is not empty %}
                {% for user in approvals %}
                    <tr id="remove-{{ user.id }}" data-post-id="{{ user.id }}">
                        <td> <div class="col-md-1 text-center"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></div></td>
                        <td>{{ user.assignTo.profile.employeeId }}</td>
                        <td>{{  user.assignTo.name }}</td>
                        <td>{% if user.assignTo.profile.designation is not empty %}{{ user.assignTo.profile.designation.name }}{% endif %}</td>
                        <td>{{  user.process }}</td>
                        <td>
                            {% if user.isMandatory != 1 %}
                                <input class='status' data-action='{{ path('procure_process_status',{'id':user.id}) }}' name="status[]" id="status-{{ user.id }}" type='checkbox' {% if user.isStatus == 1 %} checked="checked" {% endif %}   data-toggle='toggle' data-size='xs' data-style='slow' data-offstyle='danger' data-onstyle='info' data-on='Enabled'  data-off='Disabled'>
                            {% endif %}
                            {% if user.custom == 1 %}
                                <a href="javascript:" class="btn btn-mini btn-danger itemApprovalRemove" data-action="{{ path('procure_process_delete',{'entity':entity.id,'id':user.id}) }}" ><i class="feather icon-trash-2"></i> </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>