{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                           <a href="{{ path('procure_requisition') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Store Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                               <div class="p-2 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                                <div class="p-2 bd-highlight"><strong>Branch</strong> {% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}</div>
                                <div class="p-2 bd-highlight"><strong>Department</strong> {% if entity.department is not empty %} {{ entity.department.name }}{% endif %}</div>
                            </div>
                        </div>
                        <div class="col-md-4">&nbsp;</div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight"><strong>Requisition Type</strong> {{ entity.requisitionType.name }}</div>
                                <div class="p-2 bd-highlight"><strong>Requisition No.</strong> {{ entity.requisitionNo }}</div>
                                <div class="p-2 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr role="row" class="odd">
                                    {{ form_start(itemForm, {'attr': {'class': 'form-horizontal right','id':'itemForm','action':path('procure_requisition_item_add',{'id':entity.id})}}) }}
                                    <td colspan="5">
                                        {{ form_widget(itemForm.item) }}
                                    </td>
                                    <td> {{ form_widget(itemForm.quantity) }}</td>
                                    <td> {{ form_widget(itemForm.stockIn) }}</td>
                                    <td colspan="3"> {{ form_widget(itemForm.description) }}</td>
                                    <td><button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-info form-submit btn"><i class="feather icon-plus"></i> ADD</button>
                                    </td>
                                    {{ form_widget(itemForm._token) }}
                                    {{ form_end(itemForm) }}
                                </tr>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">LastQTY</th>
                                    <th scope="col">Last Date</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Stock in</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">SubTotal</th>
                                    <th scope="col">Description</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>

                                </thead>
                                <tbody id="invoiceItem">
                                {% if entity.requisitionItems is not empty %}
                                {% for item in entity.requisitionItems %}
                                <tr id="remove-{{ item.id }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>

                                    <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.quantity }}{% endif %}</td>
                                    <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.created|date('d-m-y') }}{% endif %}</td>
                                    <td>
                                        <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                        <input type="number"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                                    </td>
                                    <td>
                                        <input type="number" data-id="{{ item.id }}" id="stockIn-{{ item.id }}" name="stockIn-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.stockIn }}">
                                    </td>
                                    <td>{{ item.price }}</td>
                                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                    <td>{{ item.description }}</td>
                                    <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                                </tr>
                                {% endfor %}
                                <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Add New Requisition'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'','action':path('procure_store_requisition_edit',{'id':entity.id})}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>All requisition particular item add here</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.priority, 'Priority'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.priority) }}
                                                                {{ form_errors(form.priority) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.expectedDate, 'Expected Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.expectedDate) }}
                                                                {{ form_errors(form.expectedDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.content, 'Justification Note'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.content) }}
                                                                {{ form_errors(form.content) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.attachFile, 'Process'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.attachFile) }}
                                                                {{ form_errors(form.attachFile) }}
                                                                {% if entity.filename is not empty %}
                                                                <p class="help"><a target="_blank" href="{{ asset('uploads/' ~ entity.filename) }}">Download</a></p>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4"></label>
                                                            <div class="col-md-6">
                                                                {{ form_widget(form.status) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-center">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
