{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Create Requisition'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_bank_requisition_new') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Requisition'|trans }}</a>
                            <a href="{{ path('procure_bank_requisition') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="row">
                                <div class="grid-products">
                                    <div class="col-xs-12 col-md-12">
                                        <a href="{{ path('procure_bank_requisition_new',{'type':'purchase-requisition'}) }}" class="thumbnail">
                                            <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="{{ asset('assets/images/requisition-purchase.jpg') }}" data-holder-rendered="true">
                                        </a>
                                        <div class="caption">
                                            <p><a href="{{ path('procure_bank_requisition_new',{'type':'purchase-requisition'}) }}" class="btn btn-primary col-md-12" role="button">Purchase New</a></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12">
                                        <a href="{{ path('procure_bank_requisition_new',{'type':'store-requisition'}) }}" class="thumbnail">
                                            <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="{{ asset('assets/images/requisition-store.jpg') }}" data-holder-rendered="true">
                                        </a>
                                        <div class="caption">
                                            <p><a href="{{ path('procure_bank_requisition_new',{'type':'store-requisition'}) }}" class="btn btn-primary col-md-12" role="button">Store Requisition</a></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12">
                                        <a href="{{ path('procure_bank_requisition_new',{'type':'replacement-requisition'}) }}" class="thumbnail">
                                            <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="{{ asset('assets/images/requisition-replacement.jpg') }}" data-holder-rendered="true">
                                        </a>
                                        <div class="caption">
                                            <p><a href="{{ path('procure_bank_requisition_new',{'type':'replacement-requisition'}) }}" class="btn btn-primary col-md-12" role="button">Purchase Replacement</a></p>
                                        </div>
                                    </div>


                                   {# {% for type in types %}
                                    <div class="col-xs-12 col-md-12">
                                        <a href="{{ path('procure_bank_requisition_new',{'type':type.slug}) }}" class="thumbnail">
                                            <img data-src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="{{ asset('assets/images/requisition.jpg') }}" data-holder-rendered="true">
                                        </a>
                                        <div class="caption">
                                            <p><a href="{{ path('procure_bank_requisition_new',{'type':type.slug}) }}" class="btn btn-primary col-md-12" role="button">{{ type.name }}</a></p>
                                        </div>
                                    </div>
                                    {% endfor %}#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .grid-products {
            width: 100%;
            display: grid;
            grid-gap: 0;
        }
        .grid-products {
            grid-template-columns: repeat(3, calc(100%/3));
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
