{% if entity.requisitionItems is not empty %}
    {% for item in entity.requisitionItems %}
        <tr id="remove-{{ item.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ item.name }}</td>
            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.quantity }}{% endif %}</td>
            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.created|date('d-m-y') }}{% endif %}</td>
            <td>
                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                <input type="number"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
            </td>
            <td>
                <input type="number" data-id="{{ item.id }}" id="stockIn-{{ item.id }}" name="stockIn-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.stockIn }}">
            </td>
            <td>{{ item.price }}</td>
            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
            <td>{{ item.description }}</td>
            <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
    {% endfor %}
    <tr><td colspan="8">SubTotal</td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
{% endif %}