<div class="card">
    <div class="card-header">
        <h5>{{ 'Company Unit Financial Report'|trans }}</h5>
        <div class="card-header-right">
            <div class="btn-group btn-group-sm" >
                <button id="button-excel" onclick="exportHtmlToExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</button>
            </div>
        </div>
    </div>
</div>
<table  class="table" id="htmlToExcel">
    <thead class="thead-gray">
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Created User</th>
        <th scope="col">User Dept</th>
        <th scope="col">Created Date</th>
        <th scope="col">Requsition No</th>
        <th scope="col">Priority</th>
        <th scope="col">Expected Date</th>
        {% for i in 0..6 %}
            <th scope="col">Approval Person Name</th>
            <th scope="col">Approved Date</th>
            <th scope="col">Duration</th>
        {% endfor %}

    </tr>
    </thead>
    <tbody>
    {% for entity in  entities['requisitions'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entity.username }}</td>
            <td>{{ entity.department }}</td>
            <td>{{ entity.created|date('d/m/Y') }}</td>
            <td>{{ entity.requisitionNo }}</td>
            <td>{{ entity.priority }}</td>
            <td>{{ entity.expectedDate|date('d/m/Y') }}</td>
            {% if entities['timelineAssignUser'] is defined and  entities['timelineAssignUser'][entity.id] is defined %}
                {% for approver in entities['timelineAssignUser'][entity.id] %}
                    <td>  {{ approver['name'] }}  </td>
                    <td>  {{ approver['updated']|date('d/m/Y') }}  </td>
                    <td></td>
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
                      