{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Purchase Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_garments_receive') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Goods Receive'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Purchase Requisition Request'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Invoice No.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Vendor/Supplier</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.tenderVendor is not empty %}{{ entity.workorder.tenderVendor.name }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Payment Mode</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.paymentMode is not empty %}{{ entity.workorder.paymentMode.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Delivery Mode</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.deliveryMode is not empty %}{{ entity.workorder.deliveryMode.name }}{% endif %}</div>
                                                </div>
                                                {% if entity.workorder is not empty %}
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>WO No.</strong></div>
                                                        <div class="col-md-8">{{ entity.workorder.invoice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8">{{ entity.workorder.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8"> {% if entity.workorder.createdBy is not empty %}{{ entity.workorder.createdBy.name }}{% endif %}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Content</strong></div>
                                            <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">UOM</th>
                                                        <th scope="col">WO-Qty</th>
                                                        <th scope="col">Received Qty</th>
                                                        <th scope="col">Remaining Qty</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoice">
                                                    {% if entity.receiveItems is defined and entity.receiveItems is not empty %}
                                                        {% for item in entity.receiveItems %}
                                                            <tr>
                                                                <td>{{ loop.index }}.</td>
                                                                <td>{{ item.stockBook.stockBookName }}</td>
                                                                <td>{{ item.stockBook.uom }}</td>
                                                                <td>{{ item.tenderWorkorderItem.quantity }}</td>
                                                                <td>{{ item.quantity }}</td>
                                                                <td id="remaining-{{ item.id }}">{{ item.tenderWorkorderItem.quantity - item.quantity }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            {% if entity.moduleProcess.status == 1  %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ render(controller(
                                            "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                            { 'id': entity.id,'module':entity.module}
                                        )) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="clearfix"></div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left"></div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save & Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $(document).on('click',".vendor", function (event) {
        var vendor = $(this).val();
        var url = Routing.generate('procure_workorder_vendor',{'id':'{{ entity.id }}'});
        $.get(url,{'vendor':vendor}, function( response ) {
            location.reload();
        });
    });
{% endblock %}
