{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Purchase Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_garments_workorder') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Workorder'|trans }}</a>
                            <a href="{{ path('procure_tender_garments_receive') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Goods Receive'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Workorder Receive Item Request'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>All workorder receive item add here</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}
                                        <div class="form-box-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-4 text-right">{{ "Work Order #"|trans }}</label>
                                                                <div class="col-md-8">{{ entity.invoice }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 grid-products"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.receiveDate, 'Work order Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.receiveDate) }}
                                                                    {{ form_errors(form.receiveDate) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.challanNo, 'Challan No'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.challanNo) }}
                                                                    {{ form_errors(form.challanNo) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.content, 'Comments'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.content) }}
                                                            {{ form_errors(form.content) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-green">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Description</th>
                                                            <th scope="col">UOM</th>
                                                            <th scope="col">WO-Qty</th>
                                                            <th scope="col">Received Qty</th>
                                                            <th scope="col">Receivable Qty</th>
                                                            <th scope="col">Remaining Qty</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="invoice">
                                                        {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                                                            {% for item in entity.workOrderItems %}
                                                                <tr>
                                                                    <td>{{ loop.index }}.</td>
                                                                    <td>{{ item.stockBook.item.name }}</td>
                                                                    <td>{{ item.stockBook.item.unit.name }}</td>
                                                                    <td>{{ item.tenderComparativeItem.quantity }}</td>
                                                                    <td>{{ item.quantity }}</td>
                                                                    <td>
                                                                        <input type="hidden" class="" name="item[]" value="{{ item.id }}" id="item-{{ item.id }}">
                                                                        <input type="text" class="td-input form-control number" name="quantity[]" value="" id="quantity-{{ item.id }}">
                                                                    </td>
                                                                    <td id="remaining-{{ item.id }}">{{ item.remaining }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left"></div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save & Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
