
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Invoice No.</strong></div>
                            <div class="col-md-8">{{ entity.invoice }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8">{{ entity.createdBy.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Vendor/Supplier</strong></div>
                            <div class="col-md-8">{% if entity.workorder.tenderVendor is not empty %}{{ entity.workorder.tenderVendor.name }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Payment Mode</strong></div>
                            <div class="col-md-8">{% if entity.workorder.paymentMode is not empty %}{{ entity.workorder.paymentMode.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Delivery Mode</strong></div>
                            <div class="col-md-8">{% if entity.workorder.deliveryMode is not empty %}{{ entity.workorder.deliveryMode.name }}{% endif %}</div>
                        </div>
                        {% if entity.workorder is not empty %}
                            <div class="row">
                                <div class="col-md-4"><strong>WO No.</strong></div>
                                <div class="col-md-8">{{ entity.workorder.invoice }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created</strong></div>
                                <div class="col-md-8">{{ entity.workorder.created|date('d-m-Y') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created By</strong></div>
                                <div class="col-md-8"> {% if entity.workorder.createdBy is not empty %}{{ entity.workorder.createdBy.name }}{% endif %}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Content</strong></div>
                    <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-green">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Description</th>
                                <th scope="col">UOM</th>
                                <th scope="col">WO-Qty</th>
                                <th scope="col">Received Qty</th>
                                <th scope="col">Remaining Qty</th>
                            </tr>
                            </thead>
                            <tbody id="invoice">
                            {% if entity.receiveItems is defined and entity.receiveItems is not empty %}
                                {% for item in entity.receiveItems %}
                                    <tr>
                                        <td>{{ loop.index }}.</td>
                                        <td>{{ item.stockBook.stockBookName }}</td>
                                        <td>{{ item.stockBook.uom }}</td>
                                        <td>{{ item.tenderWorkorderItem.quantity }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td id="remaining-{{ item.id }}">{{ item.tenderWorkorderItem.quantity- item.quantity }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {#<div class="card-header grey-bg inner-header" style="margin-bottom: 15px">
                    <h5>Signature</h5>
                </div>
                {% if entity.procurementProcess is not empty %}
                    <div class="grid-designation">
                        {% for list in entity.procurementProcess %}
                            {% if list.close == true  %}
                                <div class="col-md-12 text-left">
                                    <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                                        {% if list.assignTo.profile.signaturePath is not empty %}
                                            <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                            <br/>
                                        {% endif%}
                                        {{ list.assignTo.name }}<br/>{% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if entity.procurementProcess is not empty %}
                    <div class="card-header grey-bg inner-header" style="margin-bottom: 15px">
                        <h5>Comments</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <tr>
                                    <th scope="col" class="text-left">S/N</th>
                                    <th scope="col" class="text-left">Comment By</th>
                                    <th scope="col" class="text-left">Created</th>
                                    <th scope="col" class="text-left">Comment</th>
                                    <th scope="col" class="text-left">Status</th>

                                </tr>
                                {% for list in entity.procurementProcess %}
                                    <tr>
                                        <td scope="col" class="text-left">{{ loop.index }}.</td>
                                        <td scope="col" class="text-left">{{ list.assignTo.name }}</td>
                                        <td scope="col" class="text-left">{{ list.created|date('d-m-Y h:i') }}</td>
                                        <td  class="text-left">{{ list.comment|raw }}</td>
                                        <td scope="col" class="text-left">{{ list.process }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}#}
                <br/>
            </div>
        </div>
    </div>
</div>

