{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Store Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                           <a href="{{ path('procure_requisition_garments_issue') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Store Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                        <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Store Requisition'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                   <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>Store Requisition form</p></div>
                                        </div>
                                       {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','action':path('procure_requisition_garments_issue_edit',{'id':entity.id}),'data-action':path('procure_requisition_issue_ajax_update',{'id':entity.id})}}) }}
                                            <div class="form-box-body">
                                            <div class="row">
                                               <div class="col-md-6">
                                                   <div class="row">
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               <label class="col-md-4 text-right">{{ "Requisition Issue No"|trans }}</label>
                                                               <label class="col-md-8 text-left">{{ entity.requisitionNo }}
                                                               </label>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="row">
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               <label class="col-md-4 text-right">{{ "Created Date"|trans }}</label>
                                                               <label class="col-md-8 text-left">{{ entity.created|date('d-m-Y') }}
                                                               </label>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="row">
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                               <label class="col-md-8 text-left">{{ entity.createdBy.name }}</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.wearhouse, 'Wearhouse'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                                <div class="col-md-8">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.wearhouse) }}
                                                                    {{ form_errors(form.wearhouse) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.processDepartment, 'Process Department'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                                <div class="col-md-8">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.processDepartment) }}
                                                                    {{ form_errors(form.processDepartment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.buyerName, 'Buyer Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                                <div class="col-md-8">
                                                                    {{ form_widget(form.buyerName) }}
                                                                    {{ form_errors(form.buyerName) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.styleNo, 'Style No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                                <div class="col-md-8">
                                                                    {{ form_widget(form.styleNo) }}
                                                                    {{ form_errors(form.styleNo) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                           </div>
                                           <div class="row">
                                               <div class="col-md-12">
                                                   <div class="form-group">
                                                       {{ form_label(form.content, 'Job Details/Justification'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                       <div class="col-md-10">
                                                           {{ form_widget(form.content) }}
                                                           {{ form_errors(form.content) }}
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                            <div class="clearfix"></div>
                                            {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                                {{ render(controller(
                                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                    { 'id': entity.id,'module':entity.module}
                                                )) }}
                                            {% endif %}
                                            <div class="clearfix"></div>
                                       </div>
                                       {{ form_widget(form._token) }}
                                       {{ form_end(form) }}
                                       <div class="row">
                                           <div class="col-md-12">
                                               <div class="card-header grey-bg inner-header">
                                                   <h5>{{ "Add Items"|trans }}</h5>
                                               </div>
                                           </div>
                                       </div>
                                       {{ form_start(itemForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'itemForm','action':path('procure_requisition_garments_issue_item_add',{'id':entity.id})}}) }}
                                       <div class="row">
                                           <div class="col-md-12">
                                               <div class="row">
                                                   <div class="col-md-12">
                                                       {{ form_widget(itemForm.item) }}
                                                   </div>
                                                  {# <div class="col-md-3">
                                                       {{ form_widget(itemForm.brand) }}
                                                   </div>
                                                   <div class="col-md-3">
                                                       {{ form_widget(itemForm.size) }}
                                                       {{ form_widget(itemForm.color) }}
                                                   </div>#}
                                               </div>
                                           </div>
                                       </div>
                                       <br/>
                                       <div class="row">
                                           <div class="col-md-12">
                                               <div class="row">
                                                   <div class="col-md-3">
                                                       {{ form_widget(itemForm.section) }}
                                                   </div>
                                                   <div class="col-md-3">
                                                       {{ form_widget(itemForm.line) }}
                                                   </div>
                                                   <div class="col-md-3">
                                                       {{ form_widget(itemForm.machineType) }}
                                                   </div>
                                                   <div class="col-md-3">
                                                       {{ form_widget(itemForm.machineNo) }}&nbsp;
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="col-md-12">
                                               <div class="row">
                                                   <div class="col-md-3">
                                                       {{ form_widget(itemForm.issueUser) }}
                                                   </div>
                                                   <div class="col-md-3">
                                                       {{ form_widget(itemForm.issueType) }}
                                                   </div>
                                                   <div class="col-md-3">
                                                       {{ form_widget(itemForm.description) }}
                                                   </div>
                                                   <div class="col-md-3">
                                                       <div class="btn-group col-md-12">
                                                           {{ form_widget(itemForm.quantity) }}&nbsp;{{ form_widget(itemForm.returnQuantity) }}&nbsp;<button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-sm  blue-bg white-font"><i class="feather icon-plus"></i> Add Item</button>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       {{ form_widget(itemForm._token) }}
                                       {{ form_end(itemForm) }}
                                       <div class="row">
                                           <div class="col-md-12">
                                               <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                                   <thead class="thead-gray">
                                                   <tr>
                                                       <th scope="col">S/N</th>
                                                       <th scope="col">Issue User</th>
                                                       <th scope="col">Item Name</th>
                                                       <th scope="col">UOM</th>
                                                       <th scope="col">Issue Type</th>
                                                       <th scope="col">Section</th>
                                                       <th scope="col">Line</th>
                                                       <th scope="col">Req.Qnt</th>
                                                       <th scope="col">Issue Qty</th>
                                                       <th scope="col">Return Qty</th>
                                                       <th scope="col">Mechine Type</th>
                                                       <th scope="col">M/P No</th>
                                                       <th scope="col" calss="text-center"><i class="feather icon-settings"></i></th>
                                                   </tr>

                                                   </thead>
                                                   <tbody id="invoiceItem">
                                                   {% if entity.requisitionItems is not empty %}
                                                       {% for item in entity.requisitionItems %}
                                                           <tr id="remove-{{ item.id }}">
                                                               <td>{{ loop.index }}</td>
                                                               <td>{% if item.issueUser is not empty %}{{ item.issueUser.name }}{% endif %}</td>
                                                               <td>{{ item.stockBook.stockBookName }}</td>
                                                               <td>{{ item.stockBook.uom }}</td>
                                                               <td>{{ item.issueType }}</td>
                                                               <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
                                                               <td>{% if item.line is not empty %}{{ item.line.name }}{% endif %}</td>
                                                               <td>
                                                                   <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                                                   <input type="number"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_issue_item_update',{'entity':entity.id,'id':item.id}) }}" class="td-input form-control-sm input  number-input quantity" value="{{ item.quantity }}">
                                                               </td>
                                                               <td></td>
                                                               <td>{{ item.returnQuantity }}</td>
                                                               <td>{% if item.machineType is not empty %}{{ item.machineType.name }}{% endif %}</td>
                                                               <td>{{ (item.machineNo) ? item.machineNo.name :'' }}</td>
                                                               <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_issue_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                                                           </tr>
                                                       {% endfor %}
                                                   {% endif %}
                                                   </tbody>
                                               </table>
                                           </div>
                                       </div>
                                       {% if entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user"  %}
                                           <div class="row">
                                               <div class="col-md-12">
                                                   {{ render(controller(
                                                       "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                       { 'id': entity.id,'module':entity.module}
                                                   )) }}
                                               </div>
                                           </div>
                                       {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                       {# <div class="btn-group" role="group">
                                            <a class="btn purple-bg white-font form-submit btn" target="_blank" href="{{ path('procure_requisition_garments_issue_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                            <a class="btn blue-bg white-font form-submit btn" target="_blank" href="{{ path('procure_requisition_garments_issue_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i> Print</a>
                                            <a class="btn yellow-bg white-font form-submit btn" target="_blank" href="{{ path('procure_requisition_garments_issue_preview',{'id':entity.id,'mode':'pdf'}) }}" ><i class="fa fa-download"></i> PDF</a>
                                        </div>#}
                                    </div>
                                    <div class="col-md-6 text-right">
                                        {% if app.user.id == entity.createdBy.id and entity.process == "New" or app.user.id == entity.createdBy.id and entity.processOrdering == 1  %}
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save and Create</button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.wearhouse').change(function(e){
        setTimeout(function(){
        location.reload();
        }, 1000);//wait 2 seconds
    });


{% endblock %}
