{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title>Store Requisition</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <style>
        body {
            color: #313131;
            font-family: sans-serif;
            font-size: 13px;
        }
        .table-item thead tr th{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
            background-color: #ebecf1;
        }
        .table-item tbody tr td{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
    </style>
</head>
<body>
    <div style="text-align: center; text-transform: uppercase; margin-bottom: 10px; font-weight: bold">
        <p>Requisition Issue Detail</p>
    </div>
    <!-- Header -->
    <div>
        <div style="float: left; width: 30%;">
            <b>Requisition Issue No.</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.requisitionNo }}
        </div>
        <div style="float: left; width: 15%; text-align: right">
            <b>Created</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.created|date('d-m-Y')}}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Department</b>
        </div>
        <div style="float: left; width: 25%;">
            {% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}
        </div>
        <div style="float: left; width: 15%; text-align: right;">
            <b>Created By</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.createdBy.name }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Job Details/Justification</b>
        </div>
        <div style="float: left; width: 70%;  text-align: justify">
            {{ entity.content|raw }}
        </div>
    </div>
    <!-- Header -->


    <!-- Body -->
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Items</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Issue User</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Issue Type</th>
                        <th scope="col">Section</th>
                        <th scope="col">Line</th>
                        <th scope="col">Req.Qty</th>
                        <th scope="col">Issue Qty</th>
                        <th scope="col">Return Qty</th>
                        <th scope="col">Mechine Type</th>
                        <th scope="col">M/P No</th>
                    </tr>
                    </thead>
                    <tbody id="invoiceItem">
                    {% if entity.requisitionItems is not empty %}
                        {% for item in entity.requisitionItems %}
                            <tr id="remove-{{ item.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{% if item.issueUser is not empty %}{{ item.issueUser.name }}{% endif %}</td>
                                <td>{{ item.stockBook.stockBookName }}</td>
                                <td>{{ item.stockBook.uom }}</td>
                                <td>{{ item.issueType }}</td>
                                <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
                                <td>{% if item.line is not empty %}{{ item.line.name }}{% endif %}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.issueQuantity }}</td>
                                <td>{{ item.returnQuantity }}</td>
                                <td>{% if item.machineType is not empty %}{{ item.machineType.name }}{% endif %}</td>
                                <td>{{ (item.machineNo) ? item.machineNo.name :'' }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    {% if approvals is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Comments</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead>
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{ list.assignTo.name }}</td>
                            <td>{{ list.updated|date('d-m-Y h:i') }}</td>
                            <td>{{ list.comment|raw }}</td>
                            <td>{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div style="margin-top: 30px">
            {% for index,list in approvals %}
                {% if list.close == true  %}
                    {% if  index == 0 %}
                        <div style="margin-bottom: 10px">
                            <b>Signatures</b>
                        </div>
                    {% endif %}
                    <div style="float: left; width: 30%; padding: 5px;">
                        <div style="border: 1px solid #dddddd; padding: 10px">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>