{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
</head>
<body>
{% if mode=='preview' %}
    <div class="container">
        <div class="row" style="background-color: #c0c2ce; font-size: 16px; padding: 5px">
            <div class="col-md-6"><strong>Preview</strong></div>
            <div class="col-md-6 text-right">
                <a class="" style="color: red; padding-right: 10px" target="_blank" href="{{ path('procure_requisition_garments_issue_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i></a>
                <a class="" style="color: blue" target="_blank" href="{{ path('procure_requisition_garments_issue_preview',{'id':entity.id,'mode':'pdf'}) }}" ><i class="fa fa-download"></i></a>
            </div>
        </div>
    </div>
{% endif %}
<div class="container mt-2 mb-5" style="border: {{ mode=='preview' ? '1px dotted gray': ''}}">
    <div class="row">
        <div class="col-md-3"><strong>Requisition Issue No.</strong></div>
        <div class="col-md-4">{{ entity.requisitionNo  }}</div>
        <div class="col-md-2 text-right"><strong>Created</strong></div>
        <div class="col-md-3 text-left">{{ entity.created|date('d-m-Y') }}</div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>Department</strong></div>
        <div class="col-md-4">{% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}</div>
        <div class="col-md-2 text-right"><strong>Created By</strong></div>
        <div class="col-md-3 text-left">{{ entity.createdBy.name }}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>Details/Justification</strong></div>
        <div class="col-md-9" style="text-align: justify">{{ entity.content|raw }}</div>
    </div>


    <div class="row mt-4">
        <div class="col-md-12">
            <strong>Items</strong>
        </div>
        <div class="col-md-12 mt-2">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Issue User</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Issue Type</th>
                    <th scope="col">Section</th>
                    <th scope="col">Line</th>
                    <th scope="col">Req.Qnt</th>
                    <th scope="col">Issue Qty</th>
                    <th scope="col">Return Qty</th>
                    <th scope="col">Mechine Type</th>
                    <th scope="col">M/P No</th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{% if item.issueUser is not empty %}{{ item.issueUser.name }}{% endif %}</td>
                            <td>{{ item.stockBook.stockBookName }}</td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{{ item.issueType }}</td>
                            <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
                            <td>{% if item.line is not empty %}{{ item.line.name }}{% endif %}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.issueQuantity }}</td>
                            <td>{{ item.returnQuantity }}</td>
                            <td>{% if item.machineType is not empty %}{{ item.machineType.name }}{% endif %}</td>
                            <td>{{ (item.machineNo) ? item.machineNo.name :'' }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>


    {% if approvals is not empty %}
        <div class="row mt-3">
            <div class="col-md-12 mb-2"><strong>Comments</strong></div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td class="text-left">{{ loop.index }}.</td>
                            <td class="text-left">{{ list.assignTo.name }}</td>
                            <td class="text-left">{{ list.updated|date('d-m-Y h:i') }}</td>
                            <td class="text-left">{{ list.comment|raw }}</td>
                            <td class="text-left">{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3">
            {% for index,list in approvals %}
                {% if list.close == true  %}
                    {% if  index == 0 %}
                        <div class="col-md-12 mb-2"><strong>Signatures</strong></div>
                    {% endif %}
                    <div class="col-md-4">
                        <div style="padding: 15px; border: 1px solid #dddddd;">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
</body>
</html>