{% if entity.requisitionItems is not empty %}
    {% for item in entity.requisitionItems %}
        <tr id="remove-{{ item.id }}">
            <td>{{ loop.index }}</td>
            <td>{% if item.issueUser is not empty %}{{ item.issueUser.name }}{% endif %}</td>
            <td>{{ item.stockBook.stockBookName }}</td>
            <td>{{ item.stockBook.uom }}</td>
            <td>{{ item.issueType }}</td>
            <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
            <td>{% if item.line is not empty %}{{ item.line.name }}{% endif %}</td>
            <td>
                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                <input type="number"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_garments_issue_item_update',{'entity':entity.id,'id':item.id}) }}" class="td-input form-control-sm input  number-input quantity" value="{{ item.quantity }}">
            </td>
            <td></td>
            <td>{{ item.returnQuantity }}</td>
            <td>{% if item.machineType is not empty %}{{ item.machineType.name }}{% endif %}</td>
            <td>{{ (item.machineNo) ? item.machineNo.name :'' }}</td>
            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_requisition_garments_issue_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
    {% endfor %}
{% endif %}