
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-3 bd-highlight"><strong>Requisition Issue No.</strong> {{ entity.requisitionNo }}</div>
                            <div class="p-3 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                            <div class="p-3 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                            <div class="p-3 bd-highlight"><strong>Department</strong> {% if entity.processDepartment is not empty %} {{ entity.processDepartment.name }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-3 bd-highlight"><strong>Comapny Name</strong> {% if entity.branch is not empty %}{{ entity.branch.name }}{% endif %}</div>
                            <div class="p-3 bd-highlight"><strong>Wearhouse</strong> {% if entity.wearhouse is not empty %}{{ entity.wearhouse.name }}{% endif %}</div>
                            <div class="p-3 bd-highlight"><strong>Buyer Name</strong> {{ entity.buyerName }}</div>
                            <div class="p-3 bd-highlight"><strong>Style No</strong> {{ entity.styleNo }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Details/Justification</strong></div>
                    <div class="col-md-10">{{ entity.content|raw }}</div>
                </div>
                <div class="card-header grey-bg inner-header">
                    <h5>Item Lists</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Issue User</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">UOM</th>
                                <th scope="col">Issue Type</th>
                                <th scope="col">Section</th>
                                <th scope="col">Line</th>
                                <th scope="col">Req.Qnt</th>
                                <th scope="col">Issue Qty</th>
                                <th scope="col">Return Qty</th>
                                <th scope="col">Mechine Type</th>
                                <th scope="col">M/P No</th>
                            </tr>
                            </thead>
                            <tbody id="invoiceItem">
                            {% if entity.requisitionItems is not empty %}
                                {% for item in entity.requisitionItems %}
                                    <tr id="remove-{{ item.id }}">
                                        <td>{{ loop.index }}</td>
                                        <td>{% if item.issueUser is not empty %}{{ item.issueUser.name }}{% endif %}</td>
                                        <td>{{ item.stockBook.stockBookName }}</td>
                                        <td>{{ item.stockBook.uom }}</td>
                                        <td>{{ item.issueType }}</td>
                                        <td>{% if item.section is not empty %}{{ item.section.name }}{% endif %}</td>
                                        <td>{% if item.line is not empty %}{{ item.line.name }}{% endif %}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.issueQuantity }}</td>
                                        <td>{{ item.returnQuantity }}</td>
                                        <td>{% if item.machineType is not empty %}{{ item.machineType.name }}{% endif %}</td>
                                        <td>{{ (item.machineNo) ? item.machineNo.name :'' }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
