<div class="card">
    <div class="card-header">
        <h5>{{ 'Company Unit Financial Report'|trans }}</h5>
        <div class="card-header-right">
            <div class="btn-group btn-group-sm" >
                <button id="button-excel" onclick="exportDataTableExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</button>
            </div>
        </div>
    </div>
</div>
<table id="datatableScroll" class="table">
    <thead class="thead-gray">
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Workorder Created Date</th>
        <th scope="col">W/O No</th>
        <th scope="col">W/O Approved D & T</th>
        <th scope="col">Req. Created Date </th>
        <th scope="col">Requisition No</th>
        <th scope="col">Req approved D & T</th>
        <th scope="col">Job Approval Created Date </th>
        <th scope="col">Job Approval No</th>
        <th scope="col">Job approved D & T</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in  entities %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entity.created|date('d-m-Y h:i A') }}</td>
            <td>{{ entity.workorder }}</td>
            <td>{{ entity.updated|date('d-m-Y h:i A') }}</td>
            <td>{{ entity.rCreated|date('d-m-Y h:i A') }}</td>
            <td>{{ entity.requisitionNo }}</td>
            <td>{{ entity.rUpdate|date('d-m-Y h:i A') }}</td>
            <td>{{ entity.jrCreated|date('d-m-Y h:i A') }}</td>
            <td>{{ entity.jobApprovalNo }}</td>
            <td>{{ entity.jrUpdated|date('d-m-Y h:i A') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
                      