<div class="card">
    <div class="card-header">
        <h5>{{ 'Work Order Report'|trans }}</h5>
        <div class="card-header-right">
            <div class="btn-group btn-group-sm" >
                <button id="button-excel" onclick="exportDataTableExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</button>
            </div>
        </div>
    </div>
</div>
<table id="datatableScroll" class="table">
    <thead class="thead-gray">
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Created</th>
        <th scope="col">Created By</th>
        <th scope="col">Work order No</th>
        <th scope="col">Requisition No</th>
        <th scope="col">Company Unit</th>
        <th scope="col">Vender/Supplier</th>
        <th scope="col">Enlisted Vendor</th>
        <th scope="col">Payment Mode</th>
        <th scope="col">Delivery Mode</th>
        <th scope="col">Workorder Date</th>
        <th scope="col">Validate Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Send To Vendor Date</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in  entities %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entity.created|date('d-m-Y') }}</td>
            <td>{{ entity.createdBy }}</td>
            <td><a class="entity-show" data-action="{{ path('procure_tender_garments_workorder_show',{'id':entity.id}) }}" href="javascript:" data-title="TP No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><b>{{ entity.invoice }}</b></a></td>
            <td scope="col">{{ entity.requisitionNo }}</td>
            <td>{% if entity.unit is not empty %}{{ entity.unit }}{% endif %}</td>
            <td>{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor }}{% endif %}</td>
            <td>{% if entity.enlistedVendor is not empty %}{{ entity.enlistedVendor }}{% endif %}</td>
            <td>{% if entity.paymentMode is not empty %}{{ entity.paymentMode }}{% endif %}</td>
            <td>{% if entity.deliveryMode is not empty %}{{ entity.deliveryMode }}{% endif %}</td>
            <td>{{ entity.workorderDate|date('d-m-Y') }}</td>
            <td>{{ entity.validateDate|date('d-m-Y') }}</td>
            <td>{{ entity.total|number_format(2) }}</td>
            <td>{% if entity.sendToVendor %}{{ entity.updated|date('d-m-Y') }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
                      