{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Goods Receive Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_garments_receive') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Goods Receive'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Goods Receive Request'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','data-action':path('procure_tender_garments_receive_ajax_update',{'id':entity.id})}}) }}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.branch, 'Unit Name'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.branch) }}
                                                                {{ form_errors(form.branch) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.wearhouse, 'Wearhouse'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.wearhouse) }}
                                                                {{ form_errors(form.wearhouse) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.receiveDate, 'Receive Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.receiveDate) }}
                                                                {{ form_errors(form.receiveDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.challanNo, 'Challan No'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.challanNo) }}
                                                                {{ form_errors(form.challanNo) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.gatePassNo, 'Gate Entry No'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.gatePassNo) }}
                                                                {{ form_errors(form.gatePassNo) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.challanDate, 'Challan Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.challanDate) }}
                                                                {{ form_errors(form.challanDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.gatePassDate, 'Gate Entry Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.gatePassDate) }}
                                                                {{ form_errors(form.gatePassDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Comments'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <br/>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        {{ form_start(itemForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'itemForm','action':path('procure_direct_receive_item',{'id':entity.id,'module':entity.module})}}) }}
                                        <div class="row">
                                            <div class="col-md-9">
                                                {{ form_widget(itemForm.item) }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_widget(itemForm.section) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"><br/></div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                {{ form_widget(itemForm.brand) }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_widget(itemForm.size) }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_widget(itemForm.color) }}
                                            </div>
                                            <div class="col-md-3">
                                                <div class="btn-group btn-group-sm">
                                                    {{ form_widget(itemForm.quantity) }}
                                                    {{ form_widget(itemForm.price) }}
                                                    <button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-mini  blue-bg white-font"><i class="feather icon-plus"></i> Add Item</button>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_widget(itemForm._token) }}
                                        {{ form_end(itemForm) }}
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-hover display nowrap">
                                                <thead class="thead-gray">
                                                <tr>
                                                    <th scope="col">S/N</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">UOM</th>
                                                    <th scope="col">Received Qty</th>
                                                    <th scope="col">Return Qty</th>
                                                    <th scope="col">Unit Price</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Cas no</th>
                                                    <th scope="col">Msds</th>
                                                    <th scope="col" style="width: 140px!important; display: table-cell">Expire Date</th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody id="invoiceItem">
                                                {% set casType = ['Washing','Boiler','ETP','Generator'] %}
                                                {% if entity.receiveItems is defined and entity.receiveItems is not empty %}
                                                    {% for item in entity.receiveItems %}
                                                        <tr>
                                                            <td>{{ loop.index }}.</td>
                                                            <td>{{ item.stockBook.stockBookName }}</td>
                                                            <td>{{ item.stockBook.uom }}</td>
                                                            <td>
                                                                <input type="hidden" class="" name="item[]" value="{{ item.id }}" id="item-{{ item.id }}">
                                                                <input type="text" class="td-input form-control number receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="quantity[]" value="{{ item.quantity }}" data-id="{{ item.id }}"  id="quantity-{{ item.id }}">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="td-input form-control number receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="returnQuantity[]" value="" data-id="{{ item.id }}" id="returnQuantity-{{ item.id }}" >
                                                            </td>
                                                            <td>
                                                                <input type="text" class="td-input form-control number receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="price[]" value="{% if item.price == 0 %}{{item.price}}{% else %}{{item.price}}{% endif %}" data-id="{{ item.id }}" id="price-{{ item.id }}">
                                                            </td>
                                                            <td id="subTotal-{{ item.id }}">{{ item.subTotal }}</td>
                                                            <td>
                                                                <select name="casType[]" data-id="{{ item.id }}" id="casType-{{ item.id }}" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" class="td-input form-control receive-quantity">
                                                                    <option value="">Type</option>
                                                                    {% for type in casType %}
                                                                        <option {% if type == item.casType %} selected {% endif %} value="{{ type }}">{{ type }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td><input type="text" class="td-input form-control receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="casNo[]" value="{{ item.casNo }}" data-id="{{ item.id }}" id="casNo-{{ item.id }}">
                                                            </td>
                                                            <td><input type="checkbox" {% if item.msds == 1 %} checked {% endif %} class="receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="msds[]" value="1" data-id="{{ item.id }}" id="msds-{{ item.id }}">
                                                            </td>
                                                            <td>
                                                                <input type="date" class="form-control receive-quantity" placeholder="dd-mm-yyyy" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="expireDate[]" value="{% if item.expireDate %}{{ item.expireDate|date('d-m-Y') }}{% endif %}" data-id="{{ item.id }}" id="expireDate-{{ item.id }}">
                                                            </td>
                                                            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_tender_garments_receive_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                <tr><td colspan="6" class="text-right">SubTotal</td><td><span class="subTotal">{{ entity.subTotal|number_format(2) }}</span></td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% if entity.moduleProcess.status == 1  %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ render(controller(
                                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                    { 'id': entity.id,'module':entity.module}
                                                )) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            {% if app.user.id == entity.createdBy.id and entity.process == "New"  %}
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save & Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdinventory/js/editable.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
