{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
</head>
<body style="color: #0a0a0a">
{% if mode=='preview' %}
    <div class="container">
        <div class="row" style="background-color: #c0c2ce; font-size: 16px; padding: 5px">
            <div class="col-md-6"><strong>Preview</strong></div>
            <div class="col-md-6 text-right">
                <a class="" style="color: red; padding-right: 10px" target="_blank" href="{{ path('procure_tender_garments_receive_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i></a>
            </div>
        </div>
    </div>
{% endif %}
<div class="container mt-2 mb-5" style="border: {{ mode=='preview' ? '1px dotted gray': ''}}">
    <div class="row">
        <div class="col-md-12 text-center mb-3" style="text-transform: uppercase"><strong>Goods Receive Detail</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>GRN No.</strong></div>
        <div class="col-md-4">{{ entity.invoice  }}</div>
        <div class="col-md-2 "><strong>Payment Mode</strong></div>
        <div class="col-md-3 ">{% if entity.workorder.paymentMode is not empty %}{{ entity.workorder.paymentMode.name }}{% endif %}</div>
    </div>

    <div class="row mt-1">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-4">{{ entity.created|date('d-m-Y') }}</div>
        <div class="col-md-2 "><strong>Delivery Mode</strong></div>
        <div class="col-md-3 ">{% if entity.workorder.deliveryMode is not empty %}{{ entity.workorder.deliveryMode.name }}{% endif %}</div>
    </div>

    <div class="row mt-1">
        <div class="col-md-3"><strong>Created By</strong></div>
        <div class="col-md-4">{{ entity.createdBy.name }}</div>
        <div class="col-md-2 "><strong>WO Number</strong></div>
        <div class="col-md-3 ">{{ entity.workorder.invoice }}</div>
    </div>

    <div class="row mt-1">
        <div class="col-md-3"><strong>Vendor/Supplier</strong></div>
        <div class="col-md-4">{% if entity.workorder.tenderVendor is not empty %}{{ entity.workorder.tenderVendor.name }}{% endif %} </div>
        <div class="col-md-2 "><strong>Created</strong></div>
        <div class="col-md-3 ">{{ entity.workorder.created|date('d-m-Y')}}</div>
    </div>

    <div class="row mt-1">
        <div class="col-md-7"></div>
        <div class="col-md-2 "><strong>Created By</strong></div>
        <div class="col-md-3 ">{% if entity.workorder.createdBy is not empty %}{{ entity.workorder.createdBy.name }}{% endif %}</div>
    </div>

    <div class="row mt-1">
        <div class="col-md-3"><strong>Content</strong></div>
        <div class="col-md-9">{{ entity.content|raw }}</div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <strong>Item</strong>
        </div>
        <div class="col-md-12 mt-1">
            <table class="table  table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Company</th>
                    <th scope="col">Ship To</th>
                    <th scope="col">Description</th>
                    <th scope="col">UOM</th>
                    <th scope="col">WO-Qty</th>
                    <th scope="col">Chemical No</th>
                    <th scope="col">Received Qty</th>
                    <th scope="col">Remaining Qty</th>
                </tr>
                </thead>
                <tbody id="invoice">
                {% if entity.receiveItems is defined and entity.receiveItems is not empty %}
                    {% for item in entity.receiveItems %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{% if item.tenderWorkorderItem.requisition.createdBy.profile.branch %}{{ item.tenderWorkorderItem.requisition.createdBy.profile.branch.name }}{% endif %}</td>
                            <td>{% if item.tenderWorkorderItem.wearhouse is not empty %}{{ item.tenderWorkorderItem.wearhouse.name }}{% endif %}</td>
                            <td>{{ item.stockBook.stockBookName }}</td>
                            <td>{{ item.stockBook.uom }}</td>
                            <td>{{ item.tenderWorkorderItem.quantity }}</td>
                            <td>{{ item.chemicalNo }}</td>
                            <td>{{ item.quantity }}</td>
                            <td id="remaining-{{ item.id }}">{{ item.tenderWorkorderItem.quantity- item.quantity }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>