{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Goods Receive'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_receive_direct_process',{'id':entity.id}) }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Goods Receive'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue ">
                                <div class="portlet-body form">
                                    <div class="row form-body">
                                        <div class="form-inner-no-space">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>GRN No.</strong></div>
                                                        <div class="col-md-8">{{ entity.invoice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Company</strong></div>
                                                        <div class="col-md-8">{% if entity.branch is not empty %}{{ entity.branch.name }}{% endif %}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Ship To</strong></div>
                                                        <div class="col-md-8">{% if entity.wearhouse is not empty %}{{ entity.wearhouse.name }}{% endif %}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-2"><strong>Content</strong></div>
                                                <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-gray">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Description</th>
                                                            <th scope="col">UOM</th>
                                                            <th scope="col">WO-Qty</th>
                                                            <th scope="col">WO-Price</th>
                                                            <th scope="col">Chemical No</th>
                                                            <th scope="col">Received Qty</th>
                                                            <th scope="col">Approve Qty</th>
                                                            <th scope="col">Return Qty</th>
                                                            <th scope="col">Unit Price</th>
                                                            <th scope="col">Total</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="invoice">
                                                        {% if entity.receiveItems is defined and entity.receiveItems is not empty %}
                                                            {% for item in entity.receiveItems %}
                                                                <tr>
                                                                    <td>{{ loop.index }}.</td>
                                                                    <td>{{ item.stockBook.stockBookName }}</td>
                                                                    <td>{{ item.stockBook.uom }}</td>
                                                                    <td>{{ item.quantity }}</td>
                                                                    <td>{{ item.unitPrice }}</td>
                                                                    <td>{{ item.chemicalNo }}</td>
                                                                    <td>{{ item.quantity + item.returnQuantity  }}</td>
                                                                    <td>
                                                                        <input type="text" class="td-input form-control number inline-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="quantity[]" value="{{ item.quantity }}" data-id="{{ item.id }}" id="quantity-{{ item.id }}">
                                                                    </td>
                                                                    <td>
                                                                        {{ item.returnQuantity }}
                                                                        <input type="hidden" class="" name="item[]" value="{{ item.id }}" id="item-{{ item.id }}">
                                                                        <input type="hidden" class="" name="price[]" value="{{ item.price }}" id="price-{{ item.id }}">
                                                                        <input type="hidden" class="td-input form-control number inline-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="returnQuantity[]" value="" data-id="{{ item.id }}" id="returnQuantity-{{ item.id }}">
                                                                    </td>
                                                                    <td>
                                                                        {% if item.price == 0 %}{{item.tenderWorkorderItem.unitPrice}}{% else %}{{item.price}}{% endif %}
                                                                       {# <input type="text" class="td-input form-control number inline-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="price[]" value="{% if item.price == 0 %}{{item.tenderWorkorderItem.unitPrice}}{% else %}{{item.price}}{% endif %}" data-id="{{ item.id }}" id="price-{{ item.id }}">#}
                                                                    </td>
                                                                    <td id="subTotal-{{ item.id }}">{{ item.subTotal }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                        <tfoot>
                                                        <tr><td colspan="9" class="text-right">Grand Total</td><td>{{ entity.total }}</td></tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ render(controller(
                                                            "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                            { 'id': entity.id,'module':entity.module}
                                                        )) }}
                                                    </div>
                                                </div>
                                            {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ render(controller(
                                                            "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                            { 'id': entity.id,'module':entity.module}
                                                        )) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_receive_direct_process',{'id':entity.id})}}) }}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_widget(form.comment,{'attr':{'rows':6,'class':'editor'}}) }}
                                                                {{ form_errors(form.comment) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <div class="btn-group" >
                                                                <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                                <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form_widget(form._token) }}
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}




