{% set casType = ['Washing','Boiler','ETP','Generator'] %}
{% if entity.receiveItems is defined and entity.receiveItems is not empty %}
    {% for item in entity.receiveItems %}
        <tr>
            <td>{{ loop.index }}.</td>
            <td>{{ item.stockBook.stockBookName }}</td>
            <td>{{ item.stockBook.uom }}</td>
            <td>
                <input type="hidden" class="" name="item[]" value="{{ item.id }}" id="item-{{ item.id }}">
                <input type="text" class="td-input form-control number receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="quantity[]" value="{{ item.quantity }}" data-id="{{ item.id }}"  id="quantity-{{ item.id }}">
            </td>
            <td>
                <input type="text" class="td-input form-control number receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="returnQuantity[]" value="" data-id="{{ item.id }}" id="returnQuantity-{{ item.id }}" >
            </td>
            <td>
                <input type="text" class="td-input form-control number receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="price[]" value="{% if item.price == 0 %}{{item.price}}{% else %}{{item.price}}{% endif %}" data-id="{{ item.id }}" id="price-{{ item.id }}">
            </td>
            <td id="subTotal-{{ item.id }}">{{ item.subTotal }}</td>
            <td>
                <select name="casType[]" data-id="{{ item.id }}" id="casType-{{ item.id }}" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" class="td-input form-control receive-quantity">
                    <option value="">Type</option>
                    {% for type in casType %}
                        <option {% if type == item.casType %} selected {% endif %} value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" class="td-input form-control receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="casNo[]" value="{{ item.casNo }}" data-id="{{ item.id }}" id="casNo-{{ item.id }}">
            </td>
            <td><input type="checkbox" {% if item.msds == 1 %} checked {% endif %} class="receive-quantity" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="msds[]" value="1" data-id="{{ item.id }}" id="msds-{{ item.id }}">
            </td>
            <td>
                <input type="date" class="form-control receive-quantity" placeholder="dd-mm-yyyy" data-action="{{ path('procure_tender_garments_receive_item_update',{'id':item.id}) }}" name="expireDate[]" value="{% if item.expireDate %}{{ item.expireDate|date('d-m-Y') }}{% endif %}" data-id="{{ item.id }}" id="expireDate-{{ item.id }}">
            </td>
            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('procure_tender_garments_receive_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
    {% endfor %}
{% endif %}
<tr><td colspan="6" class="text-right">SubTotal</td><td><span class="subTotal">{{ entity.subTotal|number_format(2) }}</span></td></tr>
