<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report- Stock</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
<div class="row">
    {% if caption is defined and caption is not empty %}
        <caption><h3>{{ caption }}</h3></caption>
    {% endif %}
    <caption><strong>Name of Report : Stock Report</strong></caption>
    <caption>Start Date: {{ searchForm['startDate'] }} to End Date: {{ searchForm['startDate']}} </caption>
</div>
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
    <tr>
        <th rowspan="2">S/N</th>
        <th rowspan="2">{{ 'Company Name'|trans }}</th>
        <th rowspan="2">{{ 'Item Code'|trans }}</th>
        <th rowspan="2">{{ 'Item Name'|trans }}</th>
        <th rowspan="2">{{ 'Brand'|trans }}</th>
        <th rowspan="2">{{ 'Size'|trans }}</th>
        <th rowspan="2">{{ 'Color'|trans }}</th>
        <th rowspan="2">{{ 'Unit'|trans }}</th>
        <th colspan="2" align="center">{{ 'Openning'|trans }}</th>
        <th colspan="2" align="center">{{ 'Receive'|trans }}</th>
        <th colspan="2" align="center">{{ 'Issue'|trans }}</th>
        <th colspan="2" align="center">{{ 'Closing'|trans }}</th>
        <th rowspan="2">{{ 'Rate'|trans }}</th>

    </tr>
    <tr>
        <th>{{ 'Qty'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
        <th>{{ 'Qty'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
        <th>{{ 'Qty'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
        <th>{{ 'Qty'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is defined and entities is not empty %}
        {% for row in entities %}
            {% set closingQty = 0 %}
            {% if opening is defined and opening[row.stockId] is defined and opening[row.stockId] is not empty and rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %}
                {% set closingQty = (opening[row.stockId].remainingQuantity + rangEntities[row.stockId].stockIn - rangEntities[row.stockId].stockOut) %}
            {% endif %}
            {% if opening is defined and opening[row.stockId] is defined and opening[row.stockId] is not empty and rangEntities is defined and rangEntities[row.stockId] is not defined %}
                {% set closingQty = (opening[row.stockId].remainingQuantity) %}
            {% endif %}
            {% if opening is not defined and rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %}
                {% set closingQty = (rangEntities[row.stockId].stockIn - rangEntities[row.stockId].stockOut) %}
            {% endif %}
            <tr>
                <td> {{ loop.index }}</td>
                <td> {{ row.branchName }}</td>
                <td> {{ row.itemCode }}</td>
                <td> {{ row.name }} </td>
                <td> {{ row.brandName }} </td>
                <td> {{ row.sizeName }} </td>
                <td> {{ row.colorName }} </td>
                <td> {{ row.unitName }} </td>
                <td align="center"> {% if opening is defined and opening[row.stockId] is defined and opening[row.stockId] is not empty %} {{ opening[row.stockId].remainingQuantity }} {% endif %} </td>
                <td align="right"> {{ row.price }} </td>
                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ rangEntities[row.stockId].stockIn }} {% endif %} </td>
                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ (rangEntities[row.stockId].stockIn * row.price)|number_format }} {% endif %} </td>
                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ (rangEntities[row.stockId].stockOut) }} {% endif %} </td>
                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ (rangEntities[row.stockId].stockOut * row.price)|number_format }} {% endif %} </td>
                <td>{{ closingQty }}</td>
                <td>{{ (closingQty*row.price)|number_format }}</td>
                <td>{{ row.price }} </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

</body>
</html>