<table>
    <thead>
    <tr>
        <th rowspan="2">{{ 'Item Code'|trans }}</th>
        <th rowspan="2">{{ 'Item Name'|trans }}</th>
        <th rowspan="2">{{ 'Unit'|trans }}</th>
        <th colspan="2" align="center">{{ 'Openning'|trans }}</th>
        <th colspan="2" align="center">{{ 'Receive'|trans }}</th>
        <th colspan="2" align="center">{{ 'Issue'|trans }}</th>
        <th colspan="2" align="center">{{ 'Closing'|trans }}</th>
        <th rowspan="2">{{ 'Rate'|trans }}</th>

    </tr>
    <tr>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <td> Item Code </td>
            <td> Item Name </td>
            <td> Unit </td>
            <td> Quantity </td>
            <td> Value </td>
            <td> Quantity </td>
            <td> Value </td>
            <td> Quantity </td>
            <td> Value </td>
            <td> Quantity </td>
            <td> Value </td>
            <td> Rate </td>
        </tr>
    {% endfor %}
    </tbody>
</table>