{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Stock Report'|trans }}</h5>
                    {#                    {% if entities is not empty %}#}
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                            <a target="_blank" href="{{ path('stock_report', {mode: 'pdf'}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a target="_blank" href="{{ path('stock_report', {mode: 'excel'}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                    </div>
                    {#                    {% endif %}#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="px-0 py-3">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(searchForm) }}
                                <table class="table table-striped table-bordered table-hover display nowrap item-wise-pr-report-filter">
                                    <thead class="thead-transparent">
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.company,'Company') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.company) }}</div></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.wearhouse,'Wearhouse') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.wearhouse) }}</div></th>
                                    </tr>
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.startDate,'From Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.endDate,'To Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></th>
                                    </tr>
                                    <tr role="row">
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-right">{{ form_widget(searchForm.filter,{'label':'Search'}) }}</th>
                                        {{ form_widget(searchForm._token) }}
                                    </tr>
                                    </thead>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if filterBy is defined and filterBy is not empty %}
                        <div class="row">
                            <div class="col-md-12">
                                <table border="1" cellspacing="0" cellpadding="5" width="100%">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">{{ 'Item Code'|trans }}</th>
                                        <th rowspan="2">{{ 'Item Name'|trans }}</th>
                                        <th rowspan="2">{{ 'Brand'|trans }}</th>
                                        <th rowspan="2">{{ 'Size'|trans }}</th>
                                        <th rowspan="2">{{ 'Coloir'|trans }}</th>
                                        <th rowspan="2">{{ 'Unit'|trans }}</th>
                                        <th colspan="2" align="center">{{ 'Openning'|trans }}</th>
                                        <th colspan="2" align="center">{{ 'Receive'|trans }}</th>
                                        <th colspan="2" align="center">{{ 'Issue'|trans }}</th>
                                        <th colspan="2" align="center">{{ 'Closing'|trans }}</th>
                                        <th rowspan="2">{{ 'Rate'|trans }}</th>

                                    </tr>
                                    <tr>
                                        <th>{{ 'Qty'|trans }}</th>
                                        <th>{{ 'Value'|trans }}</th>
                                        <th>{{ 'Qty'|trans }}</th>
                                        <th>{{ 'Value'|trans }}</th>
                                        <th>{{ 'Qty'|trans }}</th>
                                        <th>{{ 'Value'|trans }}</th>
                                        <th>{{ 'Qty'|trans }}</th>
                                        <th>{{ 'Value'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if entities is defined and entities is not empty %}
                                        {% for row in entities %}
                                            {% set closingQty = 0 %}
                                            {% if opening is defined and opening[row.stockId] is defined and opening[row.stockId] is not empty and rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %}
                                                {% set closingQty = (opening[row.stockId].remainingQuantity + rangEntities[row.stockId].stockIn - rangEntities[row.stockId].stockOut) %}
                                            {% endif %}
                                            {% if opening is defined and opening[row.stockId] is defined and opening[row.stockId] is not empty and rangEntities is defined and rangEntities[row.stockId] is not defined %}
                                                {% set closingQty = (opening[row.stockId].remainingQuantity) %}
                                            {% endif %}
                                            {% if opening is not defined and rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %}
                                                {% set closingQty = (rangEntities[row.stockId].stockIn - rangEntities[row.stockId].stockOut) %}
                                            {% endif %}
                                            <tr>
                                                <td> {{ row.itemCode }}</td>
                                                <td> {{ row.name }} </td>
                                                <td> {{ row.brandName }} </td>
                                                <td> {{ row.sizeName }} </td>
                                                <td> {{ row.colorName }} </td>
                                                <td> {{ row.unitName }} </td>
                                                <td align="center"> {% if opening is defined and opening[row.stockId] is defined and opening[row.stockId] is not empty %} {{ opening[row.stockId].remainingQuantity }} {% endif %} </td>
                                                <td align="right"> {{ row.price }} </td>
                                                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ rangEntities[row.stockId].stockIn }} {% endif %} </td>
                                                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ (rangEntities[row.stockId].stockIn * row.price)|number_format }} {% endif %} </td>
                                                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ (rangEntities[row.stockId].stockOut) }} {% endif %} </td>
                                                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ (rangEntities[row.stockId].stockOut * row.price)|number_format }} {% endif %} </td>
                                                <td>{{ closingQty }}</td>
                                                <td>{{ (closingQty*row.price)|number_format }}</td>
                                                <td>{{ row.price }} </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <style>
        table.item-wise-pr-report-table{
            position: relative;
        }
        table.item-wise-pr-report-table thead tr th {
            position: sticky;
            top: 0;
        }
        table.item-wise-pr-report-filter thead tr th{
            border: 0 !important;
        }
        table.item-wise-pr-report-filter thead tr th:nth-child(odd) {
            /*text-align: right;*/
            width: 13%;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}