{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Kanban Dashboard'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                            <a id="button-excel" onclick="exportHtmlToExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="px-0 py-3">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(searchForm) }}
                                <table class="table table-striped table-bordered table-hover display nowrap item-wise-pr-report-filter">
                                    <thead class="thead-transparent">
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.wearhouse,'Wearhouse') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.wearhouse) }}</div></th>
                                         <th>{{ form_label(searchForm.item,'Item') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.item) }}</div></th>
                                        <th></th>
                                        <th class="text-right">{{ form_widget(searchForm.filter,{'label':'Search'}) }}</th>
                                        {{ form_widget(searchForm._token) }}
                                    </tr>
                                    </thead>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if filterBy is defined and filterBy is not empty %}
                        <div class="row">
                            <div class="col-md-12">
                                <table id="htmlToExcel" border="1" cellspacing="0" cellpadding="5" width="100%">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">{{ 'Item Code'|trans }}</th>
                                        <th rowspan="2">{{ 'Item Name'|trans }}</th>
                                        <th rowspan="2">{{ 'Brand'|trans }}</th>
                                        <th rowspan="2">{{ 'Size'|trans }}</th>
                                        <th rowspan="2">{{ 'Coloir'|trans }}</th>
                                        <th rowspan="2">{{ 'Unit'|trans }}</th>
                                        <th colspan="2" align="center">{{ 'Purchase'|trans }}</th>
                                        <th colspan="2" align="center">{{ 'Receive'|trans }}</th>
                                        <th colspan="2" align="center">{{ 'Issue'|trans }}</th>
                                        <th colspan="2" align="center">{{ 'Stock Balance'|trans }}</th>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Qty'|trans }}</th>
                                        <th>{{ 'Price'|trans }}</th>
                                        <th>{{ 'Qty'|trans }}</th>
                                        <th>{{ 'Price'|trans }}</th>
                                        <th>{{ 'Qty'|trans }}</th>
                                        <th>{{ 'Price'|trans }}</th>
                                        <th>{{ 'Qty'|trans }}</th>
                                        <th>{{ 'Price'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if entities is defined and entities is not empty %}
                                        {% for row in entities['receive'] %}
                                            {% set closingQty = 0 %}
                                            {% if entities['closing'] is not defined and entities['closing'][row.stockId] is defined and xentities['closing'][row.stockId] is not empty %}
                                                {% set closingQty = (entities['closing'][row.stockId].stockIn - entities['closing'][row.stockId].stockOut) %}
                                            {% endif %}
                                            <tr>
                                                <td> {{ row.itemCode }}</td>
                                                <td> {{ row.name }} </td>
                                                <td> {{ row.brandName }} </td>
                                                <td> {{ row.sizeName }} </td>
                                                <td> {{ row.colorName }} </td>
                                                <td> {{ row.uom }} </td>
                                                <td align="center"> {{ row.purchaseQuantity }} </td>
                                                <td align="right"> {{ row.purchaseQuantity * row.price }} </td>
                                                <td align="center"> {{ row.receiveQuantity }} </td>
                                                <td align="right"> {{ row.receiveQuantity * row.price }} </td>
                                                <td align="right">
                                                    {% if entities['closing'][row.stockId] is defined and entities['closing'][row.stockId] is not empty %}
                                                        {{ entities['closing'][row.stockId].stockOut }}
                                                    {% endif %}
                                                </td>
                                                <td align="right">
                                                    {% if entities['closing'][row.stockId] is defined and entities['closing'][row.stockId] is not empty %}
                                                        {{ (entities['closing'][row.stockId].stockOut * row.cmp) }}
                                                    {% endif %}
                                                </td>
                                                <td align="right">
                                                    {% if  entities['closing'][row.stockId] is defined and entities['closing'][row.stockId] is not empty %}
                                                        {{  entities['closing'][row.stockId].stockIn - entities['closing'][row.stockId].stockOut }}
                                                    {% endif %}
                                                </td>
                                                <td align="right">
                                                    {% if entities['closing'][row.stockId] is defined and entities['closing'][row.stockId] is not empty %}
                                                        {{ ((entities['closing'][row.stockId].stockIn - entities['closing'][row.stockId].stockOut|default(0)) * row.cmp) }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <script>
        function exportHtmlToExcel() {
            let table = document.querySelector("#htmlToExcel");
            TableToExcel.convert(table);
        }
    </script>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/report.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/garments.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}