{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Stock Report'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                            <a id="button-excel" onclick="exportHtmlToExcel()" href="javascript:" class="btn btn-sm yellow-bg  white-font"><i class="fa fa-file-excel"></i>Excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="px-0 py-3">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(searchForm) }}
                                <table class="table table-striped table-bordered table-hover display nowrap item-wise-pr-report-filter">
                                    <thead class="thead-transparent">
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.unit,'Company Unit') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.unit) }}</div></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.wearhouse,'Wearhouse') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.wearhouse) }}</div></th>
                                    </tr>
                                    <tr role="row">
                                        <th>{{ form_label(searchForm.startDate,'From Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{ form_label(searchForm.endDate,'To Date: ') }}</th>
                                        <th><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></th>
                                    </tr>
                                    <tr role="row">
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-right">{{ form_widget(searchForm.filter,{'label':'Search'}) }}</th>
                                        {{ form_widget(searchForm._token) }}
                                    </tr>
                                    </thead>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if filterBy is defined and filterBy is not empty %}
                        <div class="row">
                            <div class="col-md-12">
                                <table id="htmlToExcel" border="1" cellspacing="0" cellpadding="5" width="100%">
                                    <thead>
                                   {# <tr>
                                        <th>{{ 'S/N'|trans }}</th>
                                        <th>{{ 'Receive Ref'|trans }}</th>
                                        <th>{{ 'GRN No'|trans }}</th>
                                        <th>{{ 'Supplier'|trans }}</th>
                                        <th>{{ 'Item'|trans }}</th>
                                        <th>{{ 'Unit'|trans }}</th>
                                        <th>{{ 'W/O No'|trans }}</th>
                                        <th>{{ 'Challan No'|trans }}</th>
                                        <th>{{ 'Challan Date'|trans }}</th>
                                        <th>{{ 'Gate Pass'|trans }}</th>
                                        <th>{{ 'Received QTY'|trans }}</th>
                                        <th>{{ 'Rate'|trans }}</th>
                                        <th>{{ 'Amount'|trans }}</th>
                                        <th>{{ 'CAS No'|trans }}</th>
                                        <th>{{ 'Type'|trans }}</th>
                                        <th>{{ 'MSDS'|trans }}</th>
                                        <th>{{ 'Expire Date'|trans }}</th>
                                    </tr>#}
                                    <tr>
                                        <th>{{ 'S/N'|trans }}</th>
                                        <th>{{ 'GRN Date'|trans }}</th>
                                        <th>{{ 'GRN No'|trans }}</th>
                                        <th>{{ 'GRN Created By'|trans }}</th>
                                        <th>{{ 'W/O Sent Date'|trans }}</th>
                                        <th>{{ 'W/O No'|trans }}</th>
                                        <th>{{ 'Req No'|trans }}</th>
                                        <th>{{ 'Company Unit'|trans }}</th>
                                        <th>{{ 'Category'|trans }}</th>
                                        <th>{{ 'Item'|trans }}</th>
                                        <th>{{ 'Brand'|trans }}</th>
                                        <th>{{ 'Size'|trans }}</th>
                                        <th>{{ 'Color'|trans }}</th>
                                        <th>{{ 'UOM'|trans }}</th>
                                        <th>{{ 'WO Qty'|trans }}</th>
                                        <th>{{ 'WO Rate'|trans }}</th>
                                        <th>{{ 'WO Amount'|trans }}</th>
                                        <th>{{ 'Inhouse Qty'|trans }}</th>
                                        <th>{{ 'Inhouse Rate'|trans }}</th>
                                        <th>{{ 'Inhouse Amount'|trans }}</th>
                                        <th>{{ 'Gate Entry Date'|trans }}</th>
                                        <th>{{ 'Gate Entry No'|trans }}</th>
                                        <th>{{ 'Challan Date'|trans }}</th>
                                        <th>{{ 'Challan No'|trans }}</th>
                                        <th>{{ 'Store Receive Date'|trans }}</th>
                                        <th>{{ 'Store Name'|trans }}</th>
                                        <th>{{ 'Supplier'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if entities is defined and entities is not empty %}
                                        {% for row in entities %}
                                            <tr>
                                                <td> {{ loop.index }}</td>
                                                <td> {{ row.receiveDate|date('d-m-Y') }} </td>
                                                <td> {{ row.grn }} </td>
                                                <td> {{ row.grnCreatdBy }} </td>
                                                <td> {{ row.workorderDate|date('d-m-Y') }} </td>
                                                <td> {{ row.invoice }} </td>
                                                <td> {{ row.requisitionNo }} </td>
                                                <td> {{ row.unit }} </td>
                                                <td> {{ row.category }} </td>
                                                <td> {{ row.itemName }} </td>
                                                <td> {{ row.brandName }} </td>
                                                <td> {{ row.sizeName }} </td>
                                                <td> {{ row.colorName }} </td>
                                                <td> {{ row.uom }} </td>
                                                <td> {{ row.wiQuantity }} </td>
                                                <td> {{ row.wiPrice }} </td>
                                                <td> {{ row.wiSubTotal }} </td>
                                                <td> {{ row.wiReceive }} </td>
                                                <td> {{ row.wiPrice }} </td>
                                                <td> {{ (row.wiReceive * row.wiPrice) }} </td>
                                                <td> {{ row.created|date('d-m-Y') }} </td>
                                                <td> {{ row.gatePassNo }} </td>
                                                <td> {{ row.challanDate|date('d-m-Y') }} </td>
                                                <td> {{ row.challanNo }} </td>
                                                <td> </td>
                                                <td> {{ row.wearhouse }} </td>
                                                <td> {{ row.vendor }} </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <script>
        function exportHtmlToExcel() {
            let table = document.querySelector("#htmlToExcel");
            TableToExcel.convert(table);
        }
    </script>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdprocurement/css/report.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}