<table>
    <thead>
    <tr>
        <th colspan="10" align="center">
            {% if caption is defined and caption is not empty %}
                <strong>{{ caption }}</strong>
            {% endif %}
        </th>
    </tr>
    <tr>
        <th colspan="10" align="center">
            <strong>Name of Report : Item Wise PO Report</strong>
        </th>
    </tr>
    <tr>
        <th colspan="10" align="center">
            Start Date: {{ searchForm['startDate'] }} To End Date: {{ searchForm['startDate']}}
        </th>
    </tr>
    </thead>
</table>
<table>
    <thead>
    <tr>
        <th>S/N</th>
        <th>{{ 'PO Ref'|trans }}</th>
        <th>{{ 'PO Date'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Division Name'|trans }}</th>
        <th>{{ 'Branch/Dept. Name'|trans }}</th>
        <th>{{ 'Vendor'|trans }}</th>
        <th>{{ 'Unit Price'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'Total Value'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is defined and entities is not empty %}
        {% for row in entities %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td>{{ row.invoice }}</td>
                <td>{{ row.created|date('d-m-Y') }}</td>
                <td>{{ row.name }}</td>
                <td></td>
                <td>{{ row.department }}</td>
                <td>{{ row.vendor }}</td>
                <td>{{ row.unitPrice }}</td>
                <td>{{ row.quantity }}</td>
                <td>{{ (row.unitPrice * row.quantity)|number_format }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>