<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Item Wise Purchase Order</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
<div class="row">
    {% if caption is defined and caption is not empty %}
        <caption><h3>{{ caption }}</h3></caption>
    {% endif %}
    <caption><strong>Name of Report : Item Wise PO Report</strong></caption>
    <caption>Start Date: {{ searchForm['startDate'] }} To End Date: {{ searchForm['startDate']}} </caption>
</div>
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
    <tr>
        <th>S/N</th>
        <th>{{ 'PO Ref'|trans }}</th>
        <th>{{ 'PO Date'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Division Name'|trans }}</th>
        <th>{{ 'Branch/Dept. Name'|trans }}</th>
        <th>{{ 'Vendor'|trans }}</th>
        <th>{{ 'Unit Price'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'Total Value'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is defined and entities is not empty %}
    {% for row in entities %}
        <tr>
            <td>{{ loop.index }}.</td>
            <td>{{ row.invoice }}</td>
            <td>{{ row.created|date('d-m-Y') }}</td>
            <td>{{ row.name }}</td>
            <td></td>
            <td>{{ row.department }}</td>
            <td>{{ row.vendor }}</td>
            <td>{{ row.unitPrice }}</td>
            <td>{{ row.quantity }}</td>
            <td>{{ (row.unitPrice * row.quantity)|number_format }}</td>
        </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

</body>
</html>