<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Vendor Wise Purchase Order</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>

<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
    <tr>
        <th>S/N</th>
        <th>{{ 'PO Ref.'|trans }}</th>
        <th>{{ 'PO Date'|trans }}</th>
        <th>{{ 'Division Name'|trans }}</th>
        <th>{{ 'Branch/Dept. Name'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Unit Price'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'Total Value'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is defined and entities is not empty %}
        {% for row in entities %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td>{{ row.invoice }}</td>
                <td>{{ row.created|date('d-m-Y') }}</td>
                <td></td>
                <td>{{ row.department }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.unitPrice }}</td>
                <td>{{ row.quantity }}</td>
                <td>{{ (row.quantity * row.unitPrice)|number_format }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

</body>
</html>