<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Purchase Order Summary</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>

<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
    <tr>
        <th>  </th>
        {% for column in 1..12 %}
            {% set date = '01-' ~ column ~ '-' ~'now'|date('Y') %}
            <th>{{ date|date('M\'y') }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <td>PO Quantity</td>
            {% for column in 1..12 %}
                <td> Demo Data </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>