<table>
    <thead>
    <tr>
        <th>  </th>
        {% for column in 1..12 %}
            {% set date = '01-' ~ column ~ '-' ~'now'|date('Y') %}
            <th>{{ date|date('M\'y') }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <td>PO Quantity</td>
            {% for column in 1..12 %}
                <td> Demo Data </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>