<table>
    <thead>
    <tr>
        <th>{{ 'PO Ref.'|trans }}</th>
        <th>{{ 'PO Date'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Division Name'|trans }}</th>
        <th>{{ 'Branch/Dept. Name'|trans }}</th>
        <th>{{ 'Vendor'|trans }}</th>
        <th>{{ 'Unit Price'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'Total Value'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <td>PO Ref.</td>
            <td>PO Date</td>
            <td>Item Name</td>
            <td>Division Name</td>
            <td>Branch/Dept. Name</td>
            <td>Vendor</td>
            <td>Unit Price</td>
            <td>Quantity</td>
            <td>Total Value</td>
        </tr>
    {% endfor %}
    </tbody>
</table>